In [8]:
import pandas as pd
import pickle
import os

In [10]:
print(os.getcwd())

/Users/tax_k/Projects/AI-DL/KB

### pickle -> dictionary -> pandas frame

In [12]:
with open('./Dataset/Price/deal_whole_data.txt', 'rb') as f:
    data = pickle.load(f)
    
print(data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [15]:
print((data[0]))

{'거래금액': '29,500', '건축년도': '1983', '년': '2006', '법정동': '당주동', '아파트': '세종', '월': '1', '일': '11~20', '전용면적': '93.4', '지번': '100', '지역코드': '11110', '층': '6'}

In [20]:
whole_data_frame = pd.DataFrame(data)
whole_data_frame.columns = ['deal_price', 'build_y', 'deal_year', 'law_code', 'apt_name',
                            'deal_month','deal_day', 'area', 'ji_bun', 'loc_code', 'current_floor']

In [21]:
whole_data_frame

,deal_price,build_y,deal_year,law_code,apt_name,deal_month,deal_day,area,ji_bun,loc_code,current_floor
0,"29,500",1983,2006,당주동,세종,1,11~20,93.4,100,11110,6
1,"15,741",1998,2006,익선동,운현신화타워,1,1~10,57.18,30-6,11110,12
2,"23,198",1998,2006,익선동,운현신화타워,1,1~10,84.26,30-6,11110,6
3,"23,198",1998,2006,익선동,운현신화타워,1,11~20,84.26,30-6,11110,14
4,"21,535",1998,2006,익선동,운현신화타워,1,11~20,78.23,30-6,11110,15
5,"21,500",1999,2006,명륜2가,아남3,1,11~20,47.43,237,11110,6
6,"20,000",1999,2006,명륜2가,아남3,1,11~20,44.37,237,11110,8
7,"16,800",1992,2006,창신동,창신쌍용1,1,11~20,54.7,702,11110,8
8,"16,500",1993,2006,창신동,창신쌍용2,1,11~20,64.66,703,11110,11
9,"28,000",1993,2006,창신동,창신쌍용2,1,11~20,106.62,703,11110,7
10,"19,200",1993,2006,창신동,창신쌍용2,1,21~31,79.87,703,11110,12
11,"15,950",1992,2006,창신동,창신쌍용1,1,21~31,54.7,702,11110,9
12,"10,500",1998,2006,숭인동,하림빌라트,1,1~10,47.63,473,11110,4
13,"17,500",1996,2006,평창동,일성빌라트,1,21~31,59.82,145-5,11110,1
14,"27,000",1996,2006,평창동,일성빌라트,1,21~31,84.99,145-5,11110,1
15,"33,500",1996,2006,평창동,일성빌라트,1,21~31,84.99,145-5,11110,4
16,"16,500",1998,2006,신영동,대아파크빌,1,11~20,59.22,254,11110,13
17,"16,000",1998,2006,신영동,대아파크빌,1,11~20,59.22,254,11110,9
18,"42,500",2000,2006,무악동,현대,1,1~10,84.92,82,11110,20
19,"41,500",2000,2006,무악동,현대,1,11~20,84.92,82,11110,9
20,"26,700",2000,2006,무악동,현대,1,11~20,60,82,11110,13
21,"24,000",2000,2006,무악동,현대,1,21~31,60,82,11110,3
22,"56,500",2000,2006,무악동,현대,1,21~31,114.9,82,11110,9
23,"52,000",2000,2006,무악동,현대,1,21~31,114.9,82,11110,10
24,"9,000",1968,2006,인현동2가,신성상가,1,21~31,42.31,192-30,11140,7
25,"15,000",1999,2006,예장동,삼익,1,11~20,59.58,9,11140,4
26,"22,000",2002,2006,신당동,남산타운,1,1~10,59.94,844,11140,1
27,"52,000",2002,2006,신당동,남산타운,1,1~10,84.88,844,11140,15
28,"60,015",2005,2006,신당동,남산정은스카이,1,1~10,143.049,366-126,11140,2
29,"62,500",2005,2006,신당동,신당푸르지오,1,1~10,145.1,850,11140,2
...,...,...,...,...,...,...,...,...,...,...,...
1013420,"43,000",2004,2018,길동,예전이룸1차,10,1~10,77.15,242-6,11740,1
1013421,"13,870",2013,2018,길동,청광플러스원큐브2차,10,1~10,14.495,457,11740,8
1013422,"44,000",2004,2018,길동,장인이즈빌,10,1~10,72.77,475,11740,6
1013423,"89,000",2003,2018,길동,강동LG자이,10,1~10,84.88,474,11740,3
1013424,"55,000",2004,2018,길동,예다움,10,1~10,100.36,347-27,11740,10
1013425,"12,000",2013,2018,길동,강동큐브(2차),10,1~10,14.32,415-13,11740,9
1013426,"12,600",2014,2018,길동,강동렘브란트,10,11~20,15.86,457-1,11740,10
1013427,"48,000",2004,2018,길동,청원파크빌2,10,11~20,84.95,361-18,11740,4
1013428,"48,000",2002,2018,길동,희훈리치파크1,10,11~20,82.42,472,11740,13
1013429,"24,900",2002,2018,길동,신암가온,10,11~20,56.7,414-6,11740,3
1013430,"12,600",2014,2018,길동,강동렘브란트,10,11~20,15.86,457-1,11740,12
1013431,"77,000",1996,2018,둔촌동,현대4,10,1~10,84.94,89,11740,11
1013432,"54,000",2004,2018,둔촌동,광남캐스빌102동,10,1~10,83.97,435-8,11740,2
1013433,"83,000",2003,2018,둔촌동,한솔솔파크,10,1~10,106.79,611,11740,5
1013434,"100,000",2010,2018,둔촌동,둔촌푸르지오,10,1~10,84.9,630,11740,5
1013435,"38,000",2011,2018,암사동,다성이즈빌,10,11~20,84.91,488-10,11740,2
1013436,"106,000",2008,2018,암사동,롯데캐슬퍼스트,10,11~20,103.01,414-2,11740,21
1013437,"58,000",2001,2018,성내동,중앙하이츠,10,1~10,84.95,410-2,11740,3
1013438,"33,400",2001,2018,성내동,탑건위너빌,10,1~10,63,463-1,11740,5
1013439,"50,000",2003,2018,성내동,포레스(A동),10,1~10,77.34,111-64,11740,3
1013440,"41,800",2004,2018,성내동,라움,10,11~20,67.84,439-2,11740,3
1013441,"50,900",2018,2018,성내동,성내웰빙시티,10,11~20,59.63,410-15,11740,2
1013442,"49,700",2003,2018,성내동,하나플러스,10,11~20,59.86,448-14,11740,9
1013443,"110,000",2017,2018,천호동,래미안강동팰리스,10,1~10,84.97,571,11740,9
1013444,"58,000",2004,2018,천호동,이연아마빌레(293-8),10,11~20,114.85,293-8,11740,3
1013445,"35,000",2006,2018,천호동,부강,10,21~31,84.99,317-31,11740,2
1013446,"67,800",2009,2018,강일동,강일리버파크10단지,10,1~10,84.83,695,11740,6
1013447,"84,800",2009,2018,강일동,강일리버파크10단지,10,1~10,114.81,695,11740,10
1013448,"72,000",2009,2018,강일동,강일리버파크10단지,10,1~10,84.53,695,11740,7
1013449,"75,000",2009,2018,강일동,강일리버파크6단지,10,11~20,84.74,684,11740,13

### pandas dataframe -> pickle save

In [23]:
with open('w_pandas_data_frame.txt', 'wb') as f:
    pickle.dump(whole_data_frame, f)

### pickle -> pandas dataframe load

In [26]:
with open('w_pandas_data_frame.txt', 'rb') as f:
    t_data = pickle.load(f)

In [27]:
t_data

,deal_price,build_y,deal_year,law_code,apt_name,deal_month,deal_day,area,ji_bun,loc_code,current_floor
0,"29,500",1983,2006,당주동,세종,1,11~20,93.4,100,11110,6
1,"15,741",1998,2006,익선동,운현신화타워,1,1~10,57.18,30-6,11110,12
2,"23,198",1998,2006,익선동,운현신화타워,1,1~10,84.26,30-6,11110,6
3,"23,198",1998,2006,익선동,운현신화타워,1,11~20,84.26,30-6,11110,14
4,"21,535",1998,2006,익선동,운현신화타워,1,11~20,78.23,30-6,11110,15
5,"21,500",1999,2006,명륜2가,아남3,1,11~20,47.43,237,11110,6
6,"20,000",1999,2006,명륜2가,아남3,1,11~20,44.37,237,11110,8
7,"16,800",1992,2006,창신동,창신쌍용1,1,11~20,54.7,702,11110,8
8,"16,500",1993,2006,창신동,창신쌍용2,1,11~20,64.66,703,11110,11
9,"28,000",1993,2006,창신동,창신쌍용2,1,11~20,106.62,703,11110,7
10,"19,200",1993,2006,창신동,창신쌍용2,1,21~31,79.87,703,11110,12
11,"15,950",1992,2006,창신동,창신쌍용1,1,21~31,54.7,702,11110,9
12,"10,500",1998,2006,숭인동,하림빌라트,1,1~10,47.63,473,11110,4
13,"17,500",1996,2006,평창동,일성빌라트,1,21~31,59.82,145-5,11110,1
14,"27,000",1996,2006,평창동,일성빌라트,1,21~31,84.99,145-5,11110,1
15,"33,500",1996,2006,평창동,일성빌라트,1,21~31,84.99,145-5,11110,4
16,"16,500",1998,2006,신영동,대아파크빌,1,11~20,59.22,254,11110,13
17,"16,000",1998,2006,신영동,대아파크빌,1,11~20,59.22,254,11110,9
18,"42,500",2000,2006,무악동,현대,1,1~10,84.92,82,11110,20
19,"41,500",2000,2006,무악동,현대,1,11~20,84.92,82,11110,9
20,"26,700",2000,2006,무악동,현대,1,11~20,60,82,11110,13
21,"24,000",2000,2006,무악동,현대,1,21~31,60,82,11110,3
22,"56,500",2000,2006,무악동,현대,1,21~31,114.9,82,11110,9
23,"52,000",2000,2006,무악동,현대,1,21~31,114.9,82,11110,10
24,"9,000",1968,2006,인현동2가,신성상가,1,21~31,42.31,192-30,11140,7
25,"15,000",1999,2006,예장동,삼익,1,11~20,59.58,9,11140,4
26,"22,000",2002,2006,신당동,남산타운,1,1~10,59.94,844,11140,1
27,"52,000",2002,2006,신당동,남산타운,1,1~10,84.88,844,11140,15
28,"60,015",2005,2006,신당동,남산정은스카이,1,1~10,143.049,366-126,11140,2
29,"62,500",2005,2006,신당동,신당푸르지오,1,1~10,145.1,850,11140,2
...,...,...,...,...,...,...,...,...,...,...,...
1013420,"43,000",2004,2018,길동,예전이룸1차,10,1~10,77.15,242-6,11740,1
1013421,"13,870",2013,2018,길동,청광플러스원큐브2차,10,1~10,14.495,457,11740,8
1013422,"44,000",2004,2018,길동,장인이즈빌,10,1~10,72.77,475,11740,6
1013423,"89,000",2003,2018,길동,강동LG자이,10,1~10,84.88,474,11740,3
1013424,"55,000",2004,2018,길동,예다움,10,1~10,100.36,347-27,11740,10
1013425,"12,000",2013,2018,길동,강동큐브(2차),10,1~10,14.32,415-13,11740,9
1013426,"12,600",2014,2018,길동,강동렘브란트,10,11~20,15.86,457-1,11740,10
1013427,"48,000",2004,2018,길동,청원파크빌2,10,11~20,84.95,361-18,11740,4
1013428,"48,000",2002,2018,길동,희훈리치파크1,10,11~20,82.42,472,11740,13
1013429,"24,900",2002,2018,길동,신암가온,10,11~20,56.7,414-6,11740,3
1013430,"12,600",2014,2018,길동,강동렘브란트,10,11~20,15.86,457-1,11740,12
1013431,"77,000",1996,2018,둔촌동,현대4,10,1~10,84.94,89,11740,11
1013432,"54,000",2004,2018,둔촌동,광남캐스빌102동,10,1~10,83.97,435-8,11740,2
1013433,"83,000",2003,2018,둔촌동,한솔솔파크,10,1~10,106.79,611,11740,5
1013434,"100,000",2010,2018,둔촌동,둔촌푸르지오,10,1~10,84.9,630,11740,5
1013435,"38,000",2011,2018,암사동,다성이즈빌,10,11~20,84.91,488-10,11740,2
1013436,"106,000",2008,2018,암사동,롯데캐슬퍼스트,10,11~20,103.01,414-2,11740,21
1013437,"58,000",2001,2018,성내동,중앙하이츠,10,1~10,84.95,410-2,11740,3
1013438,"33,400",2001,2018,성내동,탑건위너빌,10,1~10,63,463-1,11740,5
1013439,"50,000",2003,2018,성내동,포레스(A동),10,1~10,77.34,111-64,11740,3
1013440,"41,800",2004,2018,성내동,라움,10,11~20,67.84,439-2,11740,3
1013441,"50,900",2018,2018,성내동,성내웰빙시티,10,11~20,59.63,410-15,11740,2
1013442,"49,700",2003,2018,성내동,하나플러스,10,11~20,59.86,448-14,11740,9
1013443,"110,000",2017,2018,천호동,래미안강동팰리스,10,1~10,84.97,571,11740,9
1013444,"58,000",2004,2018,천호동,이연아마빌레(293-8),10,11~20,114.85,293-8,11740,3
1013445,"35,000",2006,2018,천호동,부강,10,21~31,84.99,317-31,11740,2
1013446,"67,800",2009,2018,강일동,강일리버파크10단지,10,1~10,84.83,695,11740,6
1013447,"84,800",2009,2018,강일동,강일리버파크10단지,10,1~10,114.81,695,11740,10
1013448,"72,000",2009,2018,강일동,강일리버파크10단지,10,1~10,84.53,695,11740,7
1013449,"75,000",2009,2018,강일동,강일리버파크6단지,10,11~20,84.74,684,11740,13

In [3]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
# %load executionTimeCheck.py
from time import time, strftime, localtime
from datetime import timedelta


class checkExecution:
    def __init__(self):
        self.startTime = ''

    def secondsToStr(self, elapsed=None):
        if elapsed is None:
            return strftime("%Y-%m-%d %H:%M:%S", localtime())
        else:
            return str(timedelta(seconds=elapsed))

    def log(self, s, elapsed=None):
        line = "=" * 40
        print()
        print(line)
        print(self.secondsToStr(), '-', s)
        if elapsed:
            print("Elapsed time:", elapsed)
        print(line)
        print()

    def startLog(self):
        self.startTime = time()
        self.log("Start Program")

    def endLog(self):
        end = time()
        elapsed = end - self.startTime
        self.log("End Program", self.secondsToStr(elapsed))

### TestCode

In [5]:
L = [1, 2, 3]

In [3]:
L.insert?

Object `L.insert` not found.

In [6]:
L?