In [48]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import pickle

In [2]:
from matplotlib import rcParams
from matplotlib import cm, colors, _cm
rcParams['font.family'] = 'NanumGothic'

In [4]:
import urllib
import json
from time import time

In [89]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [5]:
import sqlite3

In [6]:
kb_db = sqlite3.connect("./KB.db")

In [8]:
def getAddrInfo( code, type='SGG'  ):
    response = urllib.request.urlopen("http://www.k-apt.go.kr/cmmn/bjd/getBjdList.do?bjd_code=%d&bjd_gbn=%s" %(code,type) )
    data = json.loads(response.read().decode('utf-8'))
    return pd.DataFrame(data[u'resultList'])

In [9]:
def getAptInfo(code):
    response = urllib.request.urlopen("http://www.k-apt.go.kr/kaptinfo/getKaptList.do?bjd_code=%d" % (code) )
    data = json.loads(response.read().decode('utf-8'))
    return pd.DataFrame(data[u'resultList'])

In [10]:
gu_info = getAddrInfo(11)

In [12]:
values=gu_info.apply(lambda x : u"(%d, %s, '%s')" % (11, x['CODE'], x['CODE_VALUE'] ), axis=1)
values

0      (11, 680, '강남구')
1      (11, 740, '강동구')
2      (11, 305, '강북구')
3      (11, 500, '강서구')
4      (11, 620, '관악구')
5      (11, 215, '광진구')
6      (11, 530, '구로구')
7      (11, 545, '금천구')
8      (11, 350, '노원구')
9      (11, 320, '도봉구')
10    (11, 230, '동대문구')
11     (11, 590, '동작구')
12     (11, 440, '마포구')
13    (11, 410, '서대문구')
14     (11, 650, '서초구')
15     (11, 200, '성동구')
16     (11, 290, '성북구')
17     (11, 710, '송파구')
18     (11, 470, '양천구')
19    (11, 560, '영등포구')
20     (11, 170, '용산구')
21     (11, 380, '은평구')
22     (11, 110, '종로구')
23      (11, 140, '중구')
24     (11, 260, '중랑구')
dtype: object

In [13]:
insert_sql = u"insert into addr_gu_code_tbl( si_code, gu_code, name) values %s ;" % (u",".join(values))

In [15]:
kb_db.execute(insert_sql)

In [16]:
kb_db.commit()

In [17]:
city_info=pd.read_sql("select * from addr_gu_code_tbl;",kb_db)

In [18]:
city_info.head()

   si_code  gu_code name
0       11      680  강남구
1       11      740  강동구
2       11      305  강북구
3       11      500  강서구
4       11      620  관악구

In [19]:
for si,gu in city_info[['si_code','gu_code']].itertuples(index=False):
    code = "%d%d" % (si,gu)
    info = getAddrInfo(int(code),'EMD')
    values=info.apply(lambda x : u"(%d, %d, %s, '%s')" % (si,gu, x['CODE'], x['CODE_VALUE'] ), axis=1)
    insert_sql = u"insert into addr_dong_code_tbl( si_code, gu_code, dong_code,name) values %s ;" % (u",".join(values))
    kb_db.execute(insert_sql)
    kb_db.commit()
    print ("%s code inserted(%d)" % (code, info.count()[0]))

11680 code inserted(14)
11740 code inserted(9)
11305 code inserted(4)
11500 code inserted(13)
11620 code inserted(3)
11215 code inserted(7)
11530 code inserted(10)
11545 code inserted(3)
11350 code inserted(5)
11320 code inserted(4)
11230 code inserted(10)
11590 code inserted(9)
11440 code inserted(26)
11410 code inserted(20)
11650 code inserted(10)
11200 code inserted(17)
11290 code inserted(39)
11710 code inserted(13)
11470 code inserted(3)
11560 code inserted(34)
11170 code inserted(36)
11380 code inserted(11)
11110 code inserted(87)
11140 code inserted(74)
11260 code inserted(6)

In [21]:
town_info=pd.read_sql("select * from addr_dong_code_tbl;",kb_db)
town_info.head()

   si_code  gu_code  dong_code name
0       11      680        103  개포동
1       11      680        108  논현동
2       11      680        106  대치동
3       11      680        118  도곡동
4       11      680        105  삼성동

In [22]:
def getAptDetailInfo(code):
    response = urllib.request.urlopen("http://www.k-apt.go.kr/kaptinfo/getKaptInfo_detail.do?kapt_code=%s" % (code) )
    data = json.loads(response.read().decode('utf-8'))
    return data

In [26]:
def extractAptInfo(a):
    info = []
    for name in ['KAPT_CODE', 'KAPT_DONG_CNT','KAPT_USEDATE', 'KAPTD_WTIMESUB', 'SUBWAY_STATION', 'SUBWAY_LINE', 'CODE_HALL', 'KAPT_BCOMPANY' ] :
        info.append(a[u'resultMap_kapt'][name]);
    cnt = 0
    for x in a[u'resultMap_kapt_areacnt']:
        if( type(x[u'KAPTDA_CNT']) is int ):
            info.append(x[u'KAPTDA_CNT'])
        else :
            info.append(0)
#           cnt = cnt + x[u'KAPTDA_CNT']
 #   info.append(cnt)
    return info

In [27]:
for code in town_info.apply(lambda x : x['si_code']*1000000+x['gu_code']*1000+x['dong_code'], axis=1):
    print("%d code insert start" % (code))
    apt = getAptInfo(code)
    print(apt)
    if apt.empty :
        continue
    apt.to_sql('apt_code_tbl2', kb_db, index=False, if_exists='append' )
    print("%d code insert rows are %d" % (code,apt.count()[0]))

11680103 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1168010300  서울특별시 강남구 개포동               0  A13593901   LG개포자이아파트
1   1168010300  서울특별시 강남구 개포동               0  A13593908   SH공사대치1단지
2   1168010300  서울특별시 강남구 개포동               0  A13524006  개포2차 현대아파트
3   1168010300  서울특별시 강남구 개포동               0  A13580602     개포경남아파트
4   1168010300  서울특별시 강남구 개포동               0  A13524009     개포대치2단지
5   1168010300  서울특별시 강남구 개포동               0  A13580801        개포시영
6   1168010300  서울특별시 강남구 개포동               0  A13524004      개포우성3차
7   1168010300  서울특별시 강남구 개포동               0  A13580002      개포우성8차
8   1168010300  서울특별시 강남구 개포동               0  A13580601      개포우성9차
9   1168010300  서울특별시 강남구 개포동               0  A13524011     개포주공1단지
10  1168010300  서울특별시 강남구 개포동               0  A13580204     개포주공2단지
11  1168010300  서울특별시 강남구 개포동               0  A13580103     개포주공3단지
12  1168010300  서울특별시 강남구 개포동               0  A13580003     개포주공4단지
13  1168010300  서울특별시 강남구 개포동               0  A13599402     개포주공5단지
14  1168010300  서울특별시 강남구 개포동               0  A13599303     개포주공6단지
15  1168010300  서울특별시 강남구 개포동               0  A13599301     개포주공7단지
16  1168010300  서울특별시 강남구 개포동               0  A13524005      개포현대1차
17  1168010300  서울특별시 강남구 개포동               0  A13580001      개포현대3차
18  1168010300  서울특별시 강남구 개포동               0  A13594007          대청

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0        200406          200407      None  206706.200  443790.735
1        199111          199112      None  206587.710  443561.235
2        198601          198602      None  204465.635  442258.960
3        198403          198404      None  204731.265  442478.655
4        199210          199211      None  206587.710  443561.235
5        198403          198404    201604  204713.550  441811.050
6        198412          198501      None  204881.660  442417.840
7        198709          198710      None  205448.260  442882.295
8        199101          199102      None  204987.545  442514.155
9        198206          198207      None  205105.090  442077.710
10       198211          198212      None  205632.695  442125.535
11       198211          198212      None  205876.560  442429.755
12       198211          198212    201802  206242.245  442613.540
13       198310          198311      None  206001.065  442828.835
14       198310          198311      None  206255.460  442983.485
15       198310          198311      None  206255.460  442983.485
16       198404          198405      None  204749.000  442273.510
17       198603          198604      None  205300.625  442851.230
18       199210          199211      None  206587.710  443561.235
11680103 code insert rows are 19
11680108 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1168010800  서울특별시 강남구 논현동               0  A13583301  논현동부센트레빌
1  1168010800  서울특별시 강남구 논현동               0  A13582002      논현동현
2  1168010800  서울특별시 강남구 논현동               0  A13501004     논현신동아
3  1168010800  서울특별시 강남구 논현동               0  A13501001     동양파라곤
4  1168010800  서울특별시 강남구 논현동               0  A13572601    동화히스토리
5  1168010800  서울특별시 강남구 논현동               0  A13501002    마일스디오빌
6  1168010800  서울특별시 강남구 논현동               0  A13501006   아크로힐스논현

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200312          200401      None  203257.755  445345.995
1       198508          198509      None  203159.445  446347.780
2       199707          199708      None  201933.390  445835.680
3       200406          200407      None  203301.325  445837.050
4       201208          201209      None  202010.175  445369.025
5       200411          200412      None  202484.050  445740.265
6       201412          201501      None  203369.810  445261.195
11680108 code insert rows are 7
11680106 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1168010600  서울특별시 강남구 대치동               0  A13528105    개포1차2차우성
1   1168010600  서울특별시 강남구 대치동               0  A10026924   대치SK VIEW
2   1168010600  서울특별시 강남구 대치동               0  A13528101        대치국제
3   1168010600  서울특별시 강남구 대치동               0  A13528001   대치대우아이빌4차
4   1168010600  서울특별시 강남구 대치동               0  A13528103    대치동부센트레빌
5   1168010600  서울특별시 강남구 대치동               0  A13528004      대치미도맨션
6   1168010600  서울특별시 강남구 대치동               0  A13528003        대치삼성
7   1168010600  서울특별시 강남구 대치동               0  A13583604        대치선경
8   1168010600  서울특별시 강남구 대치동               0  A13583402      대치쌍용2차
9   1168010600  서울특별시 강남구 대치동               0  A13528102      대치아이파크
10  1168010600  서울특별시 강남구 대치동               0  A13583403   대치우성1차아파트
11  1168010600  서울특별시 강남구 대치동               0  A13584101     대치포스코더샵
12  1168010600  서울특별시 강남구 대치동               0  A13583701        대치현대
13  1168010600  서울특별시 강남구 대치동               0  A10027800  래미안 대치 팰리스
14  1168010600  서울특별시 강남구 대치동               0  A13528007   래미안대치하이스턴
15  1168010600  서울특별시 강남구 대치동               0  A13583404      쌍용대치1차
16  1168010600  서울특별시 강남구 대치동               0  A13583507          은마
17  1168010600  서울특별시 강남구 대치동               0  A13528005   테헤란로대우아이빌

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        198312          198401      None  205000.5650  443181.0900
1        201706          201707      None          NaN          NaN
2        198311          198312      None  205279.0400  443723.2500
3        200402          200403      None  204663.2050  444764.0850
4        200501          200502      None  204862.2500  443409.7310
5        198311          198312      None  205886.9100  443477.9050
6        200007          200008      None  205089.5150  443794.7050
7        198312          198401      None  205443.6300  443318.1050
8        198311          198312      None  206162.0075  444142.4215
9        200806          200807      None  204751.5950  443637.0750
10       198401          198402      None  206060.5245  444218.5295
11       200409          200410      None  204980.4150  444639.4000
12       199906          199907      None  205318.2200  444296.5800
13       201509          201510      None  205084.2150  443563.9650
14       198912          199001      None  205730.8800  444318.6900
15       198303          198304      None  206214.4740  443996.3050
16       197908          197909      None  205722.7800  443916.1200
17       200404          200405      None  204705.2450  444831.3200
11680106 code insert rows are 18
11680118 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1168011800  서울특별시 강남구 도곡동               0  A13527018     SK양재허브프리모
1   1168011800  서울특별시 강남구 도곡동               0  A13527013        개포4차우성
2   1168011800  서울특별시 강남구 도곡동               0  A13585401        개포우성5차
3   1168011800  서울특별시 강남구 도곡동               0  A13527007      도곡1차아이파크
4   1168011800  서울특별시 강남구 도곡동               0  A13527016     도곡개포한신아파트
5   1168011800  서울특별시 강남구 도곡동               0  A13527008          도곡경남
6   1168011800  서울특별시 강남구 도곡동               0  A13586101          도곡대림
7   1168011800  서울특별시 강남구 도곡동               0  A13527014      도곡대림아크로빌
8   1168011800  서울특별시 강남구 도곡동               0  A13527001      도곡동양재디오빌
9   1168011800  서울특별시 강남구 도곡동               0  A13527203          도곡렉슬
10  1168011800  서울특별시 강남구 도곡동               0  A13527004          도곡삼성
11  1168011800  서울특별시 강남구 도곡동               0  A13550502       도곡삼성래미안
12  1168011800  서울특별시 강남구 도곡동               0  A13527019        도곡쌍용예가
13  1168011800  서울특별시 강남구 도곡동               0  A13550403          도곡한신
14  1168011800  서울특별시 강남구 도곡동               0  A13586102          도곡현대
15  1168011800  서울특별시 강남구 도곡동               0  A13527002        도곡현대그린
16  1168011800  서울특별시 강남구 도곡동               0  A13585404      래미안도곡카운티
17  1168011800  서울특별시 강남구 도곡동               0  A13527011       아카데미스위트
18  1168011800  서울특별시 강남구 도곡동               0  A13585804          역삼럭키
19  1168011800  서울특별시 강남구 도곡동               0  A13527006          역삼삼익
20  1168011800  서울특별시 강남구 도곡동               0  A13527010          역삼우성
21  1168011800  서울특별시 강남구 도곡동               0  A13527003  우성캐릭터199 아파트
22  1168011800  서울특별시 강남구 도곡동               0  A13527017       타워팰리스1차
23  1168011800  서울특별시 강남구 도곡동               0  A13585402       타워팰리스2차
24  1168011800  서울특별시 강남구 도곡동               0  A13585403       타워팰리스G동
25  1168011800  서울특별시 강남구 도곡동               0  A13527005        현대비전21

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200601          200602      None  202969.5500  442569.7950
1        198512          198601      None  204293.9300  442597.4300
2        198610          198611      None  204137.6700  442641.6800
3        200703          200704      None  203744.9250  443327.1000
4        198512          198601      None  204252.2100  442737.1900
5        200506          200507      None  203535.3205  442975.9225
6        199211          199212      None  203459.3050  442709.3950
7        199911          199912      None  204452.3200  442881.8200
8        200404          200405      None  202895.5650  442698.4400
9        200601          200602      None  204411.6115  443487.1195
10       199412          199501      None  204020.8350  442944.1000
11       200112          200201      None  204411.7800  443079.8100
12       197812          197901      None  203349.2760  442725.7670
13       198807          198808      None  203488.0135  442851.5310
14       199412          199501      None  203286.5800  442981.6900
15       200610          200611      None  203410.6650  442961.7550
16       201302          201303      None  204403.4800  443655.8200
17       200411          200412      None  204535.6450  442940.5600
18       199512          199601      None  203452.3400  443149.6850
19       198306          198307      None  203655.9535  443186.4430
20       198610          198611      None  203207.3315  442888.5900
21       199811          199812      None  204516.5850  442711.3850
22       200210          200211      None  204733.1400  442891.6200
23       200302          200303      None  204744.4800  443059.5500
24       200404          200405      None  204602.8750  442794.2600
25       199911          199912      None  204469.5150  442797.3600
11680118 code insert rows are 26
11680105 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1168010500  서울특별시 강남구 삼성동               0  A13550802   삼성 상아2차아파트
1   1168010500  서울특별시 강남구 삼성동               0  A10026350   삼성동센트럴아이파크
2   1168010500  서울특별시 강남구 삼성동               0  A13550701  삼성동중앙하이츠빌리지
3   1168010500  서울특별시 강남구 삼성동               0  A13570501  삼성동힐스테이트2단지
4   1168010500  서울특별시 강남구 삼성동               0  A13509005      삼성래미안2차
5   1168010500  서울특별시 강남구 삼성동               0  A13509007         삼성롯데
6   1168010500  서울특별시 강남구 삼성동               0  A13509010   삼성롯데캐슬프레미어
7   1168010500  서울특별시 강남구 삼성동               0  A13509006         삼성서광
8   1168010500  서울특별시 강남구 삼성동               0  A13509101       삼성청구타운
9   1168010500  서울특별시 강남구 삼성동               0  A13509003    삼성풍림아파트1차
10  1168010500  서울특별시 강남구 삼성동               0  A13509004         삼성한솔
11  1168010500  서울특별시 강남구 삼성동               0  A13509001         삼성현대
12  1168010500  서울특별시 강남구 삼성동               0  A13586602         삼성홍실
13  1168010500  서울특별시 강남구 삼성동               0  A13509012   삼성힐스테이트1단지
14  1168010500  서울특별시 강남구 삼성동               0  A13587603       선릉에클라트
15  1168010500  서울특별시 강남구 삼성동               0  A13509009      아이파크삼성동

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        198111          198112    201712  204352.765000  446142.865000
1        201803          201804      None  204437.509042  445940.564486
2        200412          200501      None  204018.065000  445976.105000
3        200812          200901      None  204477.800500  445737.730000
4        200705          200706      None  203767.065000  445991.880000
5        200004          200005      None  204234.065000  446171.535000
6        200703          200704      None  203880.925000  445905.895000
7        199811          199812      None  203709.870000  446092.515000
8        199008          199009      None  205089.910000  446396.055000
9        199807          199808      None  205382.325000  445933.980000
10       199811          199812      None  203953.000000  446130.035000
11       199904          199905      None  203881.720000  446060.290000
12       198110          198111      None  205202.400000  446417.675000
13       200812          200901      None  204218.900000  446005.295000
14       200406          200407      None  204432.770000  444882.220000
15       200403          200404      None  205162.755000  446224.665000
11680105 code insert rows are 16
11680111 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1168011100  서울특별시 강남구 세곡동               5  A13519005    강남데시앙파크
1  1168011100  서울특별시 강남구 세곡동               8  A13519007  강남엘에이치1단지
2  1168011100  서울특별시 강남구 세곡동               0  A10027558  강남효성해링턴코트
3  1168011100  서울특별시 강남구 세곡동               0  A13519001  세곡리엔파크1단지
4  1168011100  서울특별시 강남구 세곡동               0  A13519004  세곡리엔파크4단지
5  1168011100  서울특별시 강남구 세곡동               8  A13519006     세곡푸르지오
6  1168011100  서울특별시 강남구 세곡동               0  A13519002    신동아파밀리에

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201111          201112      None  208867.672296  439787.995277
1       201306          201307      None  209045.039785  440532.129666
2       201604          201605      None  208274.445722  440669.419496
3       201102          201103      None  208827.639861  440228.494972
4       201106          201107      None  208944.917052  439994.972455
5       201208          201209      None  208079.216100  440608.883179
6       201102          201103      None  209012.058160  440252.013243
11680111 code insert rows are 7
11680115 code insert start

     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0  1168011500  서울특별시 강남구 수서동               0  A10027446        강남더샵포레스트
1  1168011500  서울특별시 강남구 수서동               0  A13552002         강남데시앙포레
2  1168011500  서울특별시 강남구 수서동               0  A13552001  서울주택도시공사 수서6단지
3  1168011500  서울특별시 강남구 수서동               0  A13522007          수서까치마을
4  1168011500  서울특별시 강남구 수서동               0  A13588601            수서동익
5  1168011500  서울특별시 강남구 수서동               0  A13522004            수서삼성
6  1168011500  서울특별시 강남구 수서동               0  A13522003            수서삼익
7  1168011500  서울특별시 강남구 수서동               0  A13522006           수서신동아
8  1168011500  서울특별시 강남구 수서동               0  A13522008            수서주공
9  1168011500  서울특별시 강남구 수서동               0  A13588402           수서한아름

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       201607          201608      None  208354.3905  442097.3270
1       201408          201409      None  207995.3925  442088.3655
2       199212          199301      None  209230.4350  442807.7850
3       199309          199310      None  207690.9400  442513.2350
4       199311          199312      None  208468.2800  442590.5750
5       199711          199712      None  207969.1900  442518.8200
6       199210          199211      None  208846.5650  442999.7700
7       199210          199211      None  208657.9750  442767.4550
8       199210          199211      None  208822.9800  443211.8100
9       199311          199312      None  209087.8200  443043.1450
11680115 code insert rows are 10
11680107 code insert start
Empty DataFrame
Columns: []
Index: []
11680110 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE          KAPT_NAME  \
0  1168011000  서울특별시 강남구 압구정동               5  A13589802               구현대2
1  1168011000  서울특별시 강남구 압구정동               0  A13511101  압구정 현대(10,13,14차)
2  1168011000  서울특별시 강남구 압구정동               0  A13511001            압구정미성1차
3  1168011000  서울특별시 강남구 압구정동               0  A13511003            압구정미성2차
4  1168011000  서울특별시 강남구 압구정동               0  A13511004             압구정신현대
5  1168011000  서울특별시 강남구 압구정동               0  A13590204           압구정한양2단지
6  1168011000  서울특별시 강남구 압구정동               0  A13590602           압구정한양3단지
7  1168011000  서울특별시 강남구 압구정동               0  A13551103       압구정한양아파트제1단지
8  1168011000  서울특별시 강남구 압구정동               0  A13511201            압구정현대8차

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       197606          197607      None  202412.8025  447837.328
1       198206          198207      None  202146.5450  447649.980
2       198211          198212      None  201695.1200  446999.355
3       198712          198801      None  201535.3700  446862.295
4       198205          198206      None  202093.0500  447106.810
5       197811          197812      None  203118.1250  447504.095
6       197911          197912      None  203649.6950  447410.060
7       197712          197801      None  203356.0700  447550.560
8       198009          198010      None  203063.2800  447661.970
11680110 code insert rows are 9
11680101 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1168010100  서울특별시 강남구 역삼동               0  A13579506   개나리SKVIEW
1   1168010100  서울특별시 강남구 역삼동               0  A13592002     대우디오빌역삼
2   1168010100  서울특별시 강남구 역삼동               0  A13508003    대우디오빌플러스
3   1168010100  서울특별시 강남구 역삼동               0  A13508011     래미안그레이튼
4   1168010100  서울특별시 강남구 역삼동               0  A13579505   래미안그레이튼3차
5   1168010100  서울특별시 강남구 역삼동               0  A13579503    역삼2차아이파크
6   1168010100  서울특별시 강남구 역삼동               0  A13592605    역삼e-편한세상
7   1168010100  서울특별시 강남구 역삼동               0  A13591903       역삼개나리
8   1168010100  서울특별시 강남구 역삼동               0  A13592601    역삼개나리래미안
9   1168010100  서울특별시 강남구 역삼동               0  A13579501   역삼개나리푸르지오
10  1168010100  서울특별시 강남구 역삼동               0  A13508002        역삼경남
11  1168010100  서울특별시 강남구 역삼동               0  A13591402     역삼금호어울림
12  1168010100  서울특별시 강남구 역삼동               0  A13508004    역삼동부센트레빌
13  1168010100  서울특별시 강남구 역삼동               0  A13592706       역삼래미안
14  1168010100  서울특별시 강남구 역삼동               0  A13508006    역삼래미안팬타빌
15  1168010100  서울특별시 강남구 역삼동               0  A13508010  역삼쌍용플래티넘밸류
16  1168010100  서울특별시 강남구 역삼동               8  A13508009      역삼아이파크
17  1168010100  서울특별시 강남구 역삼동               0  A10027474     역삼자이아파트
18  1168010100  서울특별시 강남구 역삼동               0  A13592604      역삼푸르지오
19  1168010100  서울특별시 강남구 역삼동               0  A13508005    역삼한스빌아파트
20  1168010100  서울특별시 강남구 역삼동               0  A13508001     역삼휴먼터치빌
21  1168010100  서울특별시 강남구 역삼동               0  A13508012   테헤란 IPARK
22  1168010100  서울특별시 강남구 역삼동               0  A13579504      한화진넥스빌

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201208          201209      None  204337.719425  444346.048684
1        200206          200207      None  203704.580000  444361.370000
2        200405          200406      None  202679.613500  443931.706000
3        201006          201007      None  204112.129500  443659.729500
4        200912          201001      None  204184.300000  443809.620500
5        200812          200901      None  204486.040000  443841.430000
6        200512          200601      None  204333.590000  444067.379000
7        197902          197903      None  203955.960000  444387.250000
8        200608          200609      None  204038.594500  444042.010000
9        200608          200609      None  204346.420000  444167.275000
10       200205          200206      None  203668.700000  444260.145000
11       200312          200401      None  203013.585000  443314.435000
12       199804          199805      None  204294.870000  444469.935000
13       200510          200511      None  204357.465500  443924.545500
14       200711          200712      None  204134.245000  444276.805000
15       200701          200702      None  202618.500000  443689.255000
16       200609          200610      None  203978.335000  444125.300000
17       201606          201607      None  203865.320000  444231.275000
18       200601          200602      None  204068.725500  443950.115000
19       199611          199612      None  202849.180000  443308.090000
20       199906          199907      None  202919.870000  444917.895000
21       201401          201402      None  204069.170000  444470.255000
22       200101          200102      None  203844.311000  444416.130000
11680101 code insert rows are 23
11680113 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0  1168011300  서울특별시 강남구 율현동               0  A10027912  강남 한신휴플러스 6단지
1  1168011300  서울특별시 강남구 율현동               0  A10027909   강남한신휴플러스 8단지

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       201509          201510      None          NaN         NaN
1       201509          201510      None  209675.5425  440909.431
11680113 code insert rows are 2
11680114 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1168011400  서울특별시 강남구 일원동               0  A13594403      개포7차우성
1   1168011400  서울특별시 강남구 일원동               0  A13594402        개포한신
2   1168011400  서울특별시 강남구 일원동               0  A13594702      상록수아파트
3   1168011400  서울특별시 강남구 일원동               0  A13593802  수서1-1단지아파트
4   1168011400  서울특별시 강남구 일원동               0  A13523003        수서가람
5   1168011400  서울특별시 강남구 일원동               0  A13593801   일원동 수서아파트
6   1168011400  서울특별시 강남구 일원동               0  A13523005      일원목련타운
7   1168011400  서울특별시 강남구 일원동               0  A13523004      일원샘터마을
8   1168011400  서울특별시 강남구 일원동               0  A13523001     일원청솔빌리지
9   1168011400  서울특별시 강남구 일원동               0  A13594203     푸른마을아파트
10  1168011400  서울특별시 강남구 일원동               0  A13594701        한솔마을

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0        198712          198801      None  206853.590  443347.800
1        198403          198404      None  206944.435  443235.790
2        199303          199304      None  207190.965  442209.895
3        199211          199212      None  207967.610  443378.205
4        199303          199304      None  207485.115  442252.205
5        199211          199212      None  207967.610  443378.205
6        199309          199310      None  207448.420  442503.130
7        199402          199403      None  207235.485  442455.745
8        199312          199401      None  207218.485  442039.230
9        199401          199402      None  207082.505  442426.945
10       199406          199407      None  206815.210  442182.905
11680114 code insert rows are 11
11680112 code insert start

     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1168011200  서울특별시 강남구 자곡동               0  A13519008      LH강남3단지
1  1168011200  서울특별시 강남구 자곡동               0  A10028172  LH강남아이파크아파트
2  1168011200  서울특별시 강남구 자곡동               0  A10027985    LH강남힐스테이트
3  1168011200  서울특별시 강남구 자곡동               0  A13520002      강남한양수자인
4  1168011200  서울특별시 강남구 자곡동               0  A13520003      래미안강남힐즈
5  1168011200  서울특별시 강남구 자곡동               0  A13520001        래미안포레
6  1168011200  서울특별시 강남구 자곡동               0  A13520004   엘에이치강남브리즈힐

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201311          201312      None  207983.368490  440956.093805
1       201410          201411      None  208913.661335  441390.292135
2       201506          201507      None  207754.579798  441029.258984
3       201403          201404      None            NaN            NaN
4       201406          201407      None  208255.232834  441337.562748
5       201403          201404      None            NaN            NaN
6       201410          201411      None  207989.811748  441166.311903
11680112 code insert rows are 7
11680104 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0   1168010400  서울특별시 강남구 청담동               0  A13510103     삼성청담공원
1   1168010400  서울특별시 강남구 청담동               0  A13510202  청담2차현대아파트
2   1168010400  서울특별시 강남구 청담동               0  A13576201    청담건영아파트
3   1168010400  서울특별시 강남구 청담동               0  A13510006       청담대림
4   1168010400  서울특별시 강남구 청담동               0  A13510003  청담대우유로카운티
5   1168010400  서울특별시 강남구 청담동               0  A13510203      청담래미안
6   1168010400  서울특별시 강남구 청담동               0  A13510009   청담래미안로이뷰
7   1168010400  서울특별시 강남구 청담동               0  A13510001     청담삼성1차
8   1168010400  서울특별시 강남구 청담동               0  A13510005     청담삼성진흥
9   1168010400  서울특별시 강남구 청담동               0  A13510104       청담삼익
10  1168010400  서울특별시 강남구 청담동               0  A13510201       청담삼환
11  1168010400  서울특별시 강남구 청담동               0  A13510007       청담자이
12  1168010400  서울특별시 강남구 청담동               0  A13510102     청담현대3차
13  1168010400  서울특별시 강남구 청담동               0  A13510002    청담휴먼스타빌

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0        199908          199909      None  204400.485  446694.805
1        198805          198806      None  203521.790  446575.140
2        199409          199410      None  204557.265  447249.240
3        200212          200301      None  204165.300  446479.355
4        200404          200405      None  204332.990  446834.200
5        199910          199911      None  203712.965  446188.280
6        199201          199202      None  204898.385  446948.405
7        199712          199801      None  204160.925  446354.825
8        198407          198408      None  204477.270  446432.070
9        198004          198005      None  205161.755  446787.945
10       199911          199912      None  204139.405  446603.590
11       201110          201111      None  204993.100  446809.310
12       199906          199907      None  204624.235  447185.885
13       200510          200511      None  204001.275  446830.285
11680104 code insert rows are 14
11740110 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1174011000  서울특별시 강동구 강일동              13  A13410005  강일리버파크10단지
1   1174011000  서울특별시 강동구 강일동               0  A10027638  강일리버파크11단지
2   1174011000  서울특별시 강동구 강일동               0  A13410001   강일리버파크1단지
3   1174011000  서울특별시 강동구 강일동               0  A13410003   강일리버파크2단지
4   1174011000  서울특별시 강동구 강일동               0  A13410008   강일리버파크3단지
5   1174011000  서울특별시 강동구 강일동              12  A13410006   강일리버파크4단지
6   1174011000  서울특별시 강동구 강일동               8  A13410009   강일리버파크5단지
7   1174011000  서울특별시 강동구 강일동               4  A13410004   강일리버파크6단지
8   1174011000  서울특별시 강동구 강일동               4  A13410010   강일리버파크7단지
9   1174011000  서울특별시 강동구 강일동               0  A13410002   강일리버파크8단지
10  1174011000  서울특별시 강동구 강일동               0  A13410007   강일리버파크9단지
11  1174011000  서울특별시 강동구 강일동              14  A13410012   고덕리엔파크1단지
12  1174011000  서울특별시 강동구 강일동              16  A13410011   고덕리엔파크2단지

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200904          200905      None  215834.309405  450785.289232
1        201512          201601      None  215842.535679  451166.498749
2        200903          200904      None  215128.275145  451634.092590
3        200903          200904      None  215536.964584  451841.606902
4        200903          200904      None  215400.891606  451484.666768
5        200903          200904      None  215549.427133  451648.996336
6        200907          200908      None  215668.007963  451817.811764
7        200903          200904      None  215591.737719  451176.003994
8        200906          200907      None  215696.685704  451470.179259
9        200903          200904      None  215504.595559  450952.674675
10       200904          200905      None  215643.222191  450690.088007
11       201101          201102      None  215106.299795  450978.578125
12       201101          201102      None  215224.687811  450848.067537
11740110 code insert rows are 13
11740102 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1174010200  서울특별시 강동구 고덕동               0  A10027207  고덕래미안힐스테이트
1  1174010200  서울특별시 강동구 고덕동               0  A13480701    고덕삼익그린12차
2  1174010200  서울특별시 강동구 고덕동               0  A13480403         고덕아남
3  1174010200  서울특별시 강동구 고덕동               0  A13408003    고덕아이파크아파트
4  1174010200  서울특별시 강동구 고덕동               0  A13408001      고덕주공2단지
5  1174010200  서울특별시 강동구 고덕동               0  A13480402    고덕주공8단지상록
6  1174010200  서울특별시 강동구 고덕동               0  A13480401         고덕현대

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201612          201701      None  213110.352756  450900.484251
1       198606          198607    201605  214227.560000  450768.905000
2       199603          199604      None  212833.164500  450649.170000
3       201112          201201      None  213623.115000  450766.560000
4       198209          198210      None  214678.425000  450650.610000
5       198412          198501      None  213585.800000  450470.149000
6       199511          199512      None  213366.915000  450484.695000
11740102 code insert rows are 7
11740105 code insert start
     BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1174010500  서울특별시 강동구 길동               0  A13470102      강동QV2차
1  1174010500  서울특별시 강동구 길동               0  A13488104    길동GS강동자이
2  1174010500  서울특별시 강동구 길동              17  A13470101      길동삼익파크
3  1174010500  서울특별시 강동구 길동               0  A13480906       길동신동아
4  1174010500  서울특별시 강동구 길동               0  A13481001      길동우성1차
5  1174010500  서울특별시 강동구 길동               0  A13481305      길동우성2차
6  1174010500  서울특별시 강동구 길동               0  A13480803     길동현대아파트
7  1174010500  서울특별시 강동구 길동               0  A13470104  청광플러스원큐브3차

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       201304          201305      None  211965.4690  448276.5760
1       200311          200312      None  213113.8180  448395.4300
2       198209          198210      None  213060.8095  449040.2740
3       198306          198307      None  213091.5925  448570.3655
4       198910          198911      None  212671.2555  449019.9600
5       199410          199411      None  212673.7715  448331.6150
6       199608          199609      None  212951.7150  448266.7750
7       201410          201411      None  211976.6995  448247.0745
11740105 code insert rows are 8
11740106 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1174010600  서울특별시 강동구 둔촌동               0  A13406002       둔촌동동아
1   1174010600  서울특별시 강동구 둔촌동               0  A13406204       둔촌신동아
2   1174010600  서울특별시 강동구 둔촌동               7  A13406006        둔촌주공
3   1174010600  서울특별시 강동구 둔촌동               0  A13470503      둔촌푸르지오
4   1174010600  서울특별시 강동구 둔촌동               0  A13406005       둔촌프라자
5   1174010600  서울특별시 강동구 둔촌동               0  A13406003       둔촌하이츠
6   1174010600  서울특별시 강동구 둔촌동               0  A13406206      둔촌현대1차
7   1174010600  서울특별시 강동구 둔촌동               0  A13406201      둔촌현대2차
8   1174010600  서울특별시 강동구 둔촌동               0  A13470504      둔촌현대3차
9   1174010600  서울특별시 강동구 둔촌동               0  A13481802      둔촌현대4차
10  1174010600  서울특별시 강동구 둔촌동               0  A13406205  신성둔촌미소지움1차
11  1174010600  서울특별시 강동구 둔촌동               0  A13470502  신성둔촌미소지움2차

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        199712          199801      None  212823.9900  447891.6150
1        200211          200212      None  212461.4830  447451.8485
2        198001          198002    201801  212199.0310  447192.5150
3        201003          201004      None  212868.1100  447999.4450
4        198412          198501      None  213030.2835  448140.7795
5        199805          199806      None  212515.5100  447483.7600
6        198411          198412      None  212881.5700  447734.8680
7        198801          198802      None  212352.0225  447467.3085
8        198806          198807      None  212736.2675  447242.5385
9        199602          199603      None  212640.4250  447496.9100
10       199805          199806      None  212564.9850  447293.7750
11       200012          200101      None  212631.2600  447245.4610
11740106 code insert rows are 12
11740101 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1174010100  서울특별시 강동구 명일동               0  A13482706     고덕주공9단지
1   1174010100  서울특별시 강동구 명일동               0  A13478601        고덕현대
2   1174010100  서울특별시 강동구 명일동               0  A13482505       명일동우성
3   1174010100  서울특별시 강동구 명일동               1  A13407002  명일삼익가든1,2차
4   1174010100  서울특별시 강동구 명일동               0  A13407201   명일삼익그린11차
5   1174010100  서울특별시 강동구 명일동               0  A13407103    명일삼익그린1차
6   1174010100  서울특별시 강동구 명일동               0  A13407104    명일삼익그린2차
7   1174010100  서울특별시 강동구 명일동               0  A13407202     명일삼환아파트
8   1174010100  서울특별시 강동구 명일동               0  A13407204       명일신동아
9   1174010100  서울특별시 강동구 명일동               0  A13483002        명일엘지
10  1174010100  서울특별시 강동구 명일동               0  A13482603        명일한양
11  1174010100  서울특별시 강동구 명일동               0  A13482801        명일현대

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        198511          198512      None  213252.5750  449524.4850
1        198602          198603      None  213498.5450  449816.6600
2        198605          198606      None  213349.9480  449884.7000
3        198410          198411      None  212976.9865  449448.7045
4        198606          198607      None  213227.4840  449981.4930
5        198012          198101      None  212793.8770  449936.4385
6        198312          198401      None  213030.9730  450106.0435
7        199206          199207      None  213522.7350  450169.1700
8        198602          198603      None  213361.3100  450164.9300
9        199912          200001      None  212803.4290  449648.8010
10       198605          198606      None  213639.0950  449812.6630
11       198810          198811      None  213079.6290  449593.6080
11740101 code insert rows are 12
11740103 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1174010300  서울특별시 강동구 상일동              21  A13472701   고덕리엔파크3단지
1  1174010300  서울특별시 강동구 상일동               0  A10026403  고덕숲아이파크아파트
2  1174010300  서울특별시 강동구 상일동               0  A13409007     고덕주공3단지
3  1174010300  서울특별시 강동구 상일동               0  A13483602     고덕주공4단지
4  1174010300  서울특별시 강동구 상일동               0  A13483605     고덕주공5단지
5  1174010300  서울특별시 강동구 상일동               0  A13483803  명일중앙하이츠아파트
6  1174010300  서울특별시 강동구 상일동               0  A13409001        상일동아
7  1174010300  서울특별시 강동구 상일동               4  A13483706         주공7

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201101          201102      None  215422.682800  450048.976218
1       201803          201804      None  214183.506945  449932.483927
2       198312          198401      None  214830.535000  450355.290000
3       198312          198401      None  214448.060500  449894.225000
4       198312          198401    201604  214678.355000  449980.780000
5       199205          199206      None  214053.270000  449835.320000
6       199706          199707      None  214737.956500  449348.808000
7       198312          198401      None  214782.170000  449645.650000
11740103 code insert rows are 8
11740108 code insert start

     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1174010800  서울특별시 강동구 성내동               0  A13484004  SK허브진주상복합아파트
1  1174010800  서울특별시 강동구 성내동               0  A13484501      둔촌역청구아파트
2  1174010800  서울특별시 강동구 성내동               0  A13484201    성내1차e-편한세상
3  1174010800  서울특별시 강동구 성내동               0  A13403001    성내2차e-편한세상
4  1174010800  서울특별시 강동구 성내동               0  A13403101          성내삼성
5  1174010800  서울특별시 강동구 성내동               0  A13403002        성내성안청구
6  1174010800  서울특별시 강동구 성내동               0  A13484102         성내코오롱
7  1174010800  서울특별시 강동구 성내동               0  A13484003          성내현대
8  1174010800  서울특별시 강동구 성내동               0  A10027354    올림픽파크한양수자인

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200410          200411      None  211666.3200  448111.8660
1       199903          199904      None  211699.7050  447469.5300
2       200311          200312      None  211501.5350  447895.8590
3       200411          200412      None  211103.5675  448018.9180
4       199909          199910      None  211071.6745  447608.6225
5       200207          200208      None  210939.7990  447726.9625
6       199905          199906      None  211630.8520  448022.6245
7       198712          198801      None  211116.7940  448120.3595
8       201608          201609      None  211263.6600  447174.1685
11740108 code insert rows are 9
11740107 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1174010700  서울특별시 강동구 암사동               0  A13485302  강동롯데캐슬퍼스트아파트
1  1174010700  서울특별시 강동구 암사동               2  A13485301       강동현대홈타운
2  1174010700  서울특별시 강동구 암사동               0  A13485401      암사동한솔아파트
3  1174010700  서울특별시 강동구 암사동               0  A13405002       암사삼성광나루
4  1174010700  서울특별시 강동구 암사동               2  A13405201        암사선사현대
5  1174010700  서울특별시 강동구 암사동               0  A13471501        암사한강현대
6  1174010700  서울특별시 강동구 암사동               0  A13405003       프라이어팰리스

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200809          200810      None  212440.1540  450496.7110
1       200408          200409      None  212209.4070  450487.5210
2       200201          200202      None  212328.9980  449982.5350
3       200211          200212      None  211132.4040  450203.1645
4       200006          200007      None  211047.8700  450006.2370
5       199905          199906      None  211587.3800  450334.5815
6       200707          200708      None  212256.1845  450148.1045
11740107 code insert rows are 7
11740109 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1174010900  서울특별시 강동구 천호동               0  A10027948  강동역신동아파밀리에
1   1174010900  서울특별시 강동구 천호동               0  A13402204    강변그대가리버뷰
2   1174010900  서울특별시 강동구 천호동               0  A13402003    대우한강베네시티
3   1174010900  서울특별시 강동구 천호동               0  A10026852    래미안강동팰리스
4   1174010900  서울특별시 강동구 천호동               0  A13402202    천호e-편한세상
5   1174010900  서울특별시 강동구 천호동               0  A13486102        천호금호
6   1174010900  서울특별시 강동구 천호동               0  A13475001      천호동아코아
7   1174010900  서울특별시 강동구 천호동               0  A13486504     천호동아하이빌
8   1174010900  서울특별시 강동구 천호동               0  A13402001   천호두산위브센티움
9   1174010900  서울특별시 강동구 천호동               0  A13402305     천호삼성아파트
10  1174010900  서울특별시 강동구 천호동               0  A13472201      천호삼성임대
11  1174010900  서울특별시 강동구 천호동               0  A13486701        천호삼익
12  1174010900  서울특별시 강동구 천호동               0  A13402103        천호우성
13  1174010900  서울특별시 강동구 천호동               0  A13486703        천호유원
14  1174010900  서울특별시 강동구 천호동               0  A13486705     천호중앙하이츠
15  1174010900  서울특별시 강동구 천호동               0  A13487103       천호코오롱
16  1174010900  서울특별시 강동구 천호동               0  A13402002        천호태영
17  1174010900  서울특별시 강동구 천호동               0  A13402304      천호태영임대
18  1174010900  서울특별시 강동구 천호동               0  A13486601        천호한신
19  1174010900  서울특별시 강동구 천호동               0  A13486401        천호현대
20  1174010900  서울특별시 강동구 천호동               0  A13487102      천호현대타워

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201507          201508      None  211713.992500  448274.604000
1        200702          200703      None  210829.632500  449570.521500
2        200703          200704      None  210969.301500  448709.556500
3        201707          201708      None  211603.610426  448354.919071
4        200510          200511      None  210917.115000  449121.530000
5        198706          198707      None  212495.938500  449181.730500
6        199712          199801      None  211059.175000  448790.621000
7        200006          200007      None  211782.570000  449169.775000
8        200409          200410      None  211161.879000  448585.423500
9        199705          199706      None  211883.995000  448503.060000
10       199705          199706      None  211883.995000  448503.060000
11       199712          199801      None  211281.825500  449602.100500
12       198502          198503      None  212193.460000  449730.875000
13       199708          199709      None  211223.072500  449620.024500
14       199812          199901      None  211416.847500  449466.405000
15       198811          198812      None  211276.081000  448556.591000
16       199911          199912      None  211418.340000  448446.577500
17       199911          199912      None  211418.340000  448446.577500
18       199103          199104      None  211841.342500  449294.549000
19       199005          199006      None  211673.803500  448471.550000
20       199902          199903      None  211759.029500  448213.424000
11740109 code insert rows are 21
11305101 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0   1130510100  서울특별시 강북구 미아동               0  A14272304     SK북한산시티아파트
1   1130510100  서울특별시 강북구 미아동               0  A14272311      SK북한산시티임대
2   1130510100  서울특별시 강북구 미아동               0  A10026947     꿈의숲롯데캐슬아파트
3   1130510100  서울특별시 강북구 미아동               0  A14277601        래미안미아1차
4   1130510100  서울특별시 강북구 미아동               0  A14272309      래미안트리베라1차
5   1130510100  서울특별시 강북구 미아동               0  A14272308      래미안트리베라2차
6   1130510100  서울특별시 강북구 미아동               0  A14282301     미아2동경남아너스빌
7   1130510100  서울특별시 강북구 미아동               0  A14272306       미아경남아너스빌
8   1130510100  서울특별시 강북구 미아동               0  A14272314  미아뉴타운두산위브트레지움
9   1130510100  서울특별시 강북구 미아동               0  A14280502       미아동부센트레빌
10  1130510100  서울특별시 강북구 미아동               0  A14272307           미아현대
11  1130510100  서울특별시 강북구 미아동               0  A14272305        벽산라이브파크
12  1130510100  서울특별시 강북구 미아동               0  A14272310      벽산라이브파크2차
13  1130510100  서울특별시 강북구 미아동               0  A14210002         삼각산아이원
14  1130510100  서울특별시 강북구 미아동               0  A14210001       삼각산아이원임대
15  1130510100  서울특별시 강북구 미아동               0  A14272313         송천센트레빌
16  1130510100  서울특별시 강북구 미아동               0  A14272303         한일유앤아이
17  1130510100  서울특별시 강북구 미아동               0  A14281701           현대성우

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X             Y
0        200405          200406      None  201019.495000  457293.51500
1        200405          200406      None  201180.060000  457457.63150
2        201702          201703      None  203150.846098  457249.84474
3        200611          200612      None  201648.132000  458180.90000
4        201005          201006      None  201741.056000  456851.28000
5        201005          201006      None  201737.562000  457214.51750
6        200801          200802      None  201585.443500  458504.84900
7        200306          200307      None  203084.928000  456977.71150
8        201110          201111      None  201441.220000  457251.68850
9        200604          200605      None  202199.254000  456823.55450
10       199212          199301      None  202207.366000  458714.51500
11       200408          200409      None  200898.130000  457646.47700
12       200408          200409      None  200750.035000  457469.61450
13       200312          200401      None  201523.293500  456958.16000
14       200312          200401      None  201566.265000  457207.13200
15       201009          201010      None  202215.089000  456714.05100
16       200211          200212      None  203151.060000  456951.40000
17       199810          199811      None  201881.455000  457187.25500
11305101 code insert rows are 18
11305102 code insert start
      BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1130510200  서울특별시 강북구 번동               0  A14206003  번동1단지주공아파트
1   1130510200  서울특별시 강북구 번동               0  A14206002     번동금호어울림
2   1130510200  서울특별시 강북구 번동               0  A14206305      번동기산그린
3   1130510200  서울특별시 강북구 번동               0  A14206301     번동동문아파트
4   1130510200  서울특별시 강북구 번동               0  A14206001        번동삼성
5   1130510200  서울특별시 강북구 번동               0  A14206307       번동솔그린
6   1130510200  서울특별시 강북구 번동               0  A14206306        번동신원
7   1130510200  서울특별시 강북구 번동               0  A14206310     번동주공2단지
8   1130510200  서울특별시 강북구 번동               0  A14276311     번동주공3단지
9   1130510200  서울특별시 강북구 번동               0  A14206202     번동주공4단지
10  1130510200  서울특별시 강북구 번동               0  A14286203     번동주공5단지
11  1130510200  서울특별시 강북구 번동               0  A14206303     번동한솔솔파크
12  1130510200  서울특별시 강북구 번동               0  A14286104        번동한양
13  1130510200  서울특별시 강북구 번동               0  A14206302        번동한진
14  1130510200  서울특별시 강북구 번동               0  A14270301     수유역두산위브
15  1130510200  서울특별시 강북구 번동               0  A14206201   오동공원현대홈타운
16  1130510200  서울특별시 강북구 번동               0  A14286108         해모로

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        199105          199106      None  204087.3350  458041.9450
1        199806          199807      None  203054.9250  458694.5700
2        200002          200003      None  203776.6050  458351.1500
3        199808          199809      None  203302.0150  457954.2200
4        199812          199901      None  202754.7700  459905.8000
5        199909          199910      None  203406.6900  458196.4400
6        200006          200007      None  203757.0550  458162.5400
7        199105          199106      None  203958.2200  458261.4600
8        199011          199012      None  203632.0950  458523.9700
9        199104          199105      None  203402.5200  458736.5500
10       199105          199106      None  202892.9550  459001.4100
11       200509          200510      None  203366.8035  458342.8100
12       199211          199212      None  203557.8405  458263.6720
13       200012          200101      None  203870.1420  458037.9150
14       200906          200907      None  202757.2415  459283.0105
15       200109          200110      None  203073.2750  458785.0050
16       200307          200308      None  203254.1000  458216.7550

11305102 code insert rows are 17
11305103 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1130510300  서울특별시 강북구 수유동               0  A14207202         래미안수유
1  1130510300  서울특별시 강북구 수유동               0  A14207201  래미안수유제2관리사무소
2  1130510300  서울특별시 강북구 수유동               0  A14278101       수유극동아파트
3  1130510300  서울특별시 강북구 수유동               4  A14207203          수유벽산

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200111          200112      None  201534.3855  460262.1335
1       200111          200112      None  201534.3855  460262.1335
2       199203          199204      None  201002.1420  459941.4035
3       199311          199312      None  201601.1800  460024.5200
11305103 code insert rows are 4
11305104 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1130510400  서울특별시 강북구 우이동               0  A14209001      우이대우
1  1130510400  서울특별시 강북구 우이동               0  A14287102  우이동성원아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       200011          200012      None  200909.300  461436.15
1       199010          199011      None  201153.375  462166.32
11305104 code insert rows are 2
11500104 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE        KAPT_NAME  \
0   1150010400  서울특별시 강서구 가양동               0  A15780605            가양2단지
1   1150010400  서울특별시 강서구 가양동               0  A15780704        가양3단지(강변)
2   1150010400  서울특별시 강서구 가양동               0  A15780705            가양4단지
3   1150010400  서울특별시 강서구 가양동              28  A15780806            가양5단지
4   1150010400  서울특별시 강서구 가양동               0  A15780905            가양6단지
5   1150010400  서울특별시 강서구 가양동               0  A15774708            가양7단지
6   1150010400  서울특별시 강서구 가양동               0  A15781002            가양9-1
7   1150010400  서울특별시 강서구 가양동               0  A15781003            가양9-2
8   1150010400  서울특별시 강서구 가양동               3  A15780401          가양강나루현대
9   1150010400  서울특별시 강서구 가양동               0  A15780703           가양대림경동
10  1150010400  서울특별시 강서구 가양동               0  A15780904  가양도시개발공사8단지(임대)
11  1150010400  서울특별시 강서구 가양동               0  A15780603           가양동신대아
12  1150010400  서울특별시 강서구 가양동               0  A15780002             가양우성
13  1150010400  서울특별시 강서구 가양동               0  A15720101        가양일신건영휴먼빌
14  1150010400  서울특별시 강서구 가양동               0  A15780701          가양중앙하이츠
15  1150010400  서울특별시 강서구 가양동               0  A15780604           가양한강타운
16  1150010400  서울특별시 강서구 가양동               0  A15780602           가양한보구암
17  1150010400  서울특별시 강서구 가양동              10  A15720001           강서한강자이

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        199211          199212      None  186422.675000  452046.075000
1        199212          199301      None  187156.320000  451449.930000
2        199211          199212      None  186841.165000  451435.770000
3        199211          199212      None  187085.060000  451256.060000
4        199211          199212      None  187488.835000  451202.845000
5        199207          199208      None  187707.595000  451090.555000
6        199211          199212      None  187705.495000  450881.405000
7        199302          199303      None  187872.946000  450726.395000
8        199903          199904      None  187289.507500  450948.689500
9        199309          199310      None  187036.960000  451570.640000
10       199211          199212      None  187313.920000  451107.520000
11       199306          199307      None  186106.195000  452223.570000
12       199010          199011      None  187051.711500  451116.649500
13       200412          200501      None  185995.785000  451859.967500
14       199904          199905      None  186614.785000  451956.050000
15       199306          199307      None  186229.015000  452144.190000
16       199902          199903      None  186583.585000  451767.680000
17       201309          201310      None  186586.366856  451579.504787
11500104 code insert rows are 18
11500110 code insert start
Empty DataFrame
Columns: []
Index: []
11500108 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1150010800  서울특별시 강서구 공항동               0  A15781201  강서센트레빌4차

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X          Y
0       200911          200912      None  182978.5715  450944.35
11500108 code insert rows are 1
11500111 code insert start
Empty DataFrame
Columns: []
Index: []
11500106 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1150010600  서울특별시 강서구 내발산동               0  A15782501    강서월드메르디앙
1   1150010600  서울특별시 강서구 내발산동               0  A15779704   길성그랑프리텔1차
2   1150010600  서울특별시 강서구 내발산동               4  A15728008  마곡수명산파크1단지
3   1150010600  서울특별시 강서구 내발산동               0  A15728004  마곡수명산파크2단지
4   1150010600  서울특별시 강서구 내발산동               0  A15728003  마곡수명산파크3단지
5   1150010600  서울특별시 강서구 내발산동               0  A15728006  마곡수명산파크4단지
6   1150010600  서울특별시 강서구 내발산동               0  A15728007  마곡수명산파크5단지
7   1150010600  서울특별시 강서구 내발산동               0  A15728002  마곡수명산파크6단지
8   1150010600  서울특별시 강서구 내발산동               0  A15728005  마곡수명산파크7단지
9   1150010600  서울특별시 강서구 내발산동               0  A15728010     우장산롯데2차
10  1150010600  서울특별시 강서구 내발산동               0  A15728009    우장산힐스테이트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200603          200604      None  186059.9050  450518.3400
1        200312          200401      None  185732.9450  449986.9600
2        200711          200712      None  184919.8950  450234.6900
3        200707          200708      None  184685.4050  450262.4300
4        200709          200710      None  184454.7750  450060.5900
5        200802          200803      None  184326.0250  449893.1600
6        200806          200807      None  184634.7950  449990.8950
7        200710          200711      None  184532.9750  449800.7950
8        200810          200811      None  184266.4050  449564.2750
9        200309          200310      None  186037.1575  450282.7805
10       200505          200506      None  185812.4850  450422.8100
11500106 code insert rows are 11
11500102 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE        KAPT_NAME  \
0   1150010200  서울특별시 강서구 등촌동               7  A15703313          등촌1,2단지
1   1150010200  서울특별시 강서구 등촌동               0  A15703308       등촌3단지주공아파트
2   1150010200  서울특별시 강서구 등촌동               0  A15703301       등촌8단지주공아파트
3   1150010200  서울특별시 강서구 등촌동               0  A15703204          등촌IPARK
4   1150010200  서울특별시 강서구 등촌동               0  A15703002          등촌대동황토방
5   1150010200  서울특별시 강서구 등촌동               0  A15703005     등촌대동황토방2차아파트
6   1150010200  서울특별시 강서구 등촌동               0  A15783703        등촌대림e편한세상
7   1150010200  서울특별시 강서구 등촌동               0  A15703307          등촌대림아파트
8   1150010200  서울특별시 강서구 등촌동               0  A15703302             등촌동성
9   1150010200  서울특별시 강서구 등촌동               0  A15783806             등촌라인
10  1150010200  서울특별시 강서구 등촌동               0  A15703303           등촌미주진로
11  1150010200  서울특별시 강서구 등촌동               0  A15703004             등촌부영
12  1150010200  서울특별시 강서구 등촌동               0  A15783905          등촌삼성한사랑
13  1150010200  서울특별시 강서구 등촌동               0  A15784008             등촌서광
14  1150010200  서울특별시 강서구 등촌동               0  A15783701             등촌임광
15  1150010200  서울특별시 강서구 등촌동               0  A15703306         등촌주공10단지
16  1150010200  서울특별시 강서구 등촌동               0  A15703318         등촌주공11단지
17  1150010200  서울특별시 강서구 등촌동               7  A15703304          등촌주공2단지
18  1150010200  서울특별시 강서구 등촌동               0  A15776414          등촌주공4단지
19  1150010200  서울특별시 강서구 등촌동               0  A15703309          등촌주공5단지
20  1150010200  서울특별시 강서구 등촌동               0  A15776617          등촌주공6단지
21  1150010200  서울특별시 강서구 등촌동               0  A15776715          등촌주공7단지
22  1150010200  서울특별시 강서구 등촌동               0  A15776916          등촌주공9단지
23  1150010200  서울특별시 강서구 등촌동               0  A15784003       등촌코오롱오투빌1차
24  1150010200  서울특별시 강서구 등촌동               0  A15783902             등촌태영
25  1150010200  서울특별시 강서구 등촌동               0  A15784402           등촌태진아름
26  1150010200  서울특별시 강서구 등촌동               0  A15784201      등촌현대1차(한마음)
27  1150010200  서울특별시 강서구 등촌동               0  A15703001        코오롱하늘채아파트
28  1150010200  서울특별시 강서구 등촌동               0  A15783907  한사랑2차삼성아파트(등촌동)

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        199411          199412      None  186016.7900  451423.4650
1        199510          199511      None  185894.9250  451048.8900
2        199411          199412      None  186834.0250  450963.8550
3        200401          200402      None  187569.8590  449079.6735
4        200007          200008      None  187759.5055  450417.3550
5        200310          200311      None  187776.7530  450328.5410
6        200205          200206      None  187788.4850  448880.5810
7        199507          199508      None  186375.7400  451170.3150
8        199511          199512      None  186306.0300  451303.8800
9        199710          199711      None  187233.0600  450777.2850
10       199410          199411      None  186411.6700  450858.8050
11       199412          199501      None  186119.0300  451269.9550
12       199712          199801      None  187903.7555  450334.3255
13       199904          199905      None  187333.8150  450630.6050
14       200005          200006      None  187854.6600  448700.6250
15       199510          199511      None  186532.4700  451127.0850
16       200410          200411      None  186595.4650  450781.0000
17       199506          199507      None  186016.7900  451423.4650
18       199505          199506      None  186088.6150  451032.3550
19       199510          199511      None  186230.0000  450921.5750
20       199510          199511      None  186534.5050  450830.5450
21       199411          199412      None  186834.0250  450963.8550
22       199411          199412      None  186647.8050  451045.6650
23       199906          199907      None  187407.5350  450420.5360
24       199806          199807      None  187926.1195  450389.5650
25       199509          199510      None  187592.2750  449719.4550
26       199507          199508      None  187147.7940  450415.0645
27       200311          200312      None  187616.6760  450242.7700
28       199906          199907      None  187930.0400  450269.3250
11500102 code insert rows are 29
11500105 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE            KAPT_NAME  \
0   1150010500  서울특별시 강서구 마곡동               0  A10026879  마곡13단지 힐스테이트마스터 아파트
1   1150010500  서울특별시 강서구 마곡동               0  A15721001              마곡금호어울림
2   1150010500  서울특별시 강서구 마곡동               0  A15721003                 마곡신안
3   1150010500  서울특별시 강서구 마곡동               0  A10027452        마곡엠밸리10단지 아파트
4   1150010500  서울특별시 강서구 마곡동               0  A10027371            마곡엠밸리11단지
5   1150010500  서울특별시 강서구 마곡동               0  A10027403            마곡엠밸리12단지
6   1150010500  서울특별시 강서구 마곡동               0  A15721010            마곡엠밸리14단지
7   1150010500  서울특별시 강서구 마곡동               0  A15728011            마곡엠밸리15단지
8   1150010500  서울특별시 강서구 마곡동               0  A15722009             마곡엠밸리1단지
9   1150010500  서울특별시 강서구 마곡동               0  A15721009             마곡엠밸리2단지
10  1150010500  서울특별시 강서구 마곡동               0  A15721008             마곡엠밸리4단지
11  1150010500  서울특별시 강서구 마곡동               0  A15722010             마곡엠밸리5단지
12  1150010500  서울특별시 강서구 마곡동               0  A15721006             마곡엠밸리6단지
13  1150010500  서울특별시 강서구 마곡동               0  A15721007             마곡엠밸리7단지
14  1150010500  서울특별시 강서구 마곡동               0  A10027433             마곡엠밸리8단지
15  1150010500  서울특별시 강서구 마곡동               0  A15721004              마곡한솔솔파크
16  1150010500  서울특별시 강서구 마곡동               0  A10027687              마곡힐스테이트
17  1150010500  서울특별시 강서구 마곡동               0  A15721005                   벽산

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201704          201705      None  183838.506950  450531.491271
1        200511          200512      None  185586.722500  452493.165500
2        199312          199401      None  184329.635000  451850.215000
3        201608          201609      None  184015.848027  450757.443432
4        201609          201610      None  184103.291422  450801.559783
5        201609          201610      None  184308.509663  450778.947806
6        201405          201406      None  183880.755872  451547.380358
7        201405          201406      None            NaN            NaN
8        201406          201407      None  183907.119133  451789.891947
9        201406          201407      None            NaN            NaN
10       201406          201407      None            NaN            NaN
11       201406          201407      None  183848.855881  451514.451184
12       201406          201407      None            NaN            NaN
13       201406          201407      None  184311.046980  451441.096237
14       201607          201608      None  183952.902139  451358.419040
15       200502          200503      None  184326.217000  451946.578000
16       201708          201709      None  183836.481152  451322.123667
17       199906          199907      None  185591.210000  452613.560000
11500105 code insert rows are 18
11500109 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0   1150010900  서울특별시 강서구 방화동               0  A15785703          강서한숲대림
1   1150010900  서울특별시 강서구 방화동               0  A15722102       개화산동부센트레빌
2   1150010900  서울특별시 강서구 방화동               0  A15722106       마곡우림필유아파트
3   1150010900  서울특별시 강서구 방화동               0  A15722104         마곡청구아파트
4   1150010900  서울특별시 강서구 방화동               0  A15722004          마곡푸르지오
5   1150010900  서울특별시 강서구 방화동               0  A15722201            방신서광
6   1150010900  서울특별시 강서구 방화동               0  A15785005          방화11단지
7   1150010900  서울특별시 강서구 방화동               0  A15777501      방화12단지(중앙)
8   1150010900  서울특별시 강서구 방화동               0  A15722307       방화1단지(장미)
9   1150010900  서울특별시 강서구 방화동               0  A15785711        방화2-2 그린
10  1150010900  서울특별시 강서구 방화동               0  A15722314           방화2단지
11  1150010900  서울특별시 강서구 방화동               0  A15785002        방화3차우림필유
12  1150010900  서울특별시 강서구 방화동               0  A15785710     방화4단지(삼익삼환)
13  1150010900  서울특별시 강서구 방화동               0  A15785613           방화5단지
14  1150010900  서울특별시 강서구 방화동               0  A15785612           방화6단지
15  1150010900  서울특별시 강서구 방화동               0  A15785605           방화9단지
16  1150010900  서울특별시 강서구 방화동               0  A15722204       방화대림E편한세상
17  1150010900  서울특별시 강서구 방화동               0  A15785608       방화동 개화아파트
18  1150010900  서울특별시 강서구 방화동               0  A15722108        방화동부센트레빌
19  1150010900  서울특별시 강서구 방화동               0  A15778101         방화동성아파트
20  1150010900  서울특별시 강서구 방화동               0  A15722001            방화삼성
21  1150010900  서울특별시 강서구 방화동               0  A15722007         방화삼성꽃마을
22  1150010900  서울특별시 강서구 방화동               0  A15722306            방화서광
23  1150010900  서울특별시 강서구 방화동               0  A15722203           방화신동아
24  1150010900  서울특별시 강서구 방화동               0  A15722003    방화신안네트빌(1단지)
25  1150010900  서울특별시 강서구 방화동               0  A15773501        방화월드메르디앙
26  1150010900  서울특별시 강서구 방화동               0  A15785601            방화진로
27  1150010900  서울특별시 강서구 방화동               0  A15785709         방화청솔3단지
28  1150010900  서울특별시 강서구 방화동               0  A15722005         방화한진로즈힐
29  1150010900  서울특별시 강서구 방화동               0  A15785507          방화현대1차
30  1150010900  서울특별시 강서구 방화동               0  A15784601          방화현대2차
31  1150010900  서울특별시 강서구 방화동               0  A15722304  치현마을동일스위트리버아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        199908          199909      None  183809.940000  452788.640000
1        200302          200303      None  182799.426000  452342.015000
2        200312          200401      None  184139.368500  452182.645000
3        199802          199803      None  184157.252834  452313.099415
4        200806          200807      None  184178.433500  451975.898500
5        200306          200307      None  183202.553000  452211.297500
6        199405          199406      None  182750.510000  452002.234000
7        199405          199406      None  182848.175000  452061.500000
8        199407          199408      None  183814.805000  452479.940000
9        199310          199311      None  183918.045000  452513.960000
10       199310          199311      None  183918.045000  452513.960000
11       200506          200507      None  182997.351500  451787.866500
12       199408          199409      None  183579.695000  452796.875000
13       199408          199409      None  183179.535000  452798.570000
14       199408          199409      None  183221.035000  452917.705000
15       199609          199610      None  182916.435000  452527.865000
16       200310          200311      None  182995.894500  451994.893500
17       199403          199404      None  183371.825000  453176.850000
18       200311          200312      None  183590.862000  452506.597000
19       199312          199401      None  183341.050000  453051.730000
20       199801          199802      None  184219.640000  452216.680000
21       199710          199711      None  183447.810000  452242.705000
22       199808          199809      None  183966.577000  453010.550000
23       199512          199601      None  183668.245000  451996.945000
24       200209          200210      None  183163.633500  452100.329000
25       200406          200407      None  183078.970500  452547.941000
26       199409          199410      None  183008.170000  452770.820500
27       199407          199408      None  183399.795000  452610.770000
28       200405          200406      None  183441.546500  452152.914500
29       199311          199312      None  183523.980000  452030.855000
30       199912          200001      None  183946.413500  452320.252000
31       200412          200501      None  183664.517500  453011.962500
11500109 code insert rows are 32
11500101 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0   1150010100  서울특별시 강서구 염창동               0  A15704023        강변힐스테이트
1   1150010100  서울특별시 강서구 염창동               0  A10027541      강서쌍용예가아파트
2   1150010100  서울특별시 강서구 염창동               0  A15786104          삼성하나로
3   1150010100  서울특별시 강서구 염창동               0  A15786408         삼정그린코아
4   1150010100  서울특별시 강서구 염창동               0  A15704002  염창 일신건영휴먼빌아파트
5   1150010100  서울특별시 강서구 염창동               0  A15704007      염창1차보람더하임
6   1150010100  서울특별시 강서구 염창동               0  A15704001     염창2차한화꿈에그린
7   1150010100  서울특별시 강서구 염창동               0  A15704017         염창강변성원
8   1150010100  서울특별시 강서구 염창동               0  A15776001     염창강변월드메르디앙
9   1150010100  서울특별시 강서구 염창동               0  A15704025      염창강변한솔솔파크
10  1150010100  서울특별시 강서구 염창동               0  A15786321         염창관음삼성
11  1150010100  서울특별시 강서구 염창동               0  A15786111           염창극동
12  1150010100  서울특별시 강서구 염창동               0  A15786312        염창극동상록수
13  1150010100  서울특별시 강서구 염창동               0  A15786116           염창금호
14  1150010100  서울특별시 강서구 염창동               0  A15704028         염창동아1차
15  1150010100  서울특별시 강서구 염창동               0  A15786227         염창동아3차
16  1150010100  서울특별시 강서구 염창동               0  A15704015         염창롯데캐슬
17  1150010100  서울특별시 강서구 염창동               0  A15786213           염창무학
18  1150010100  서울특별시 강서구 염창동               0  A15704009        염창벽산늘푸른
19  1150010100  서울특별시 강서구 염창동               0  A15786420          염창신동아
20  1150010100  서울특별시 강서구 염창동               0  A15785919         염창우성1차
21  1150010100  서울특별시 강서구 염창동               0  A15786405         염창우성2차
22  1150010100  서울특별시 강서구 염창동               0  A15704006         염창우성3차
23  1150010100  서울특별시 강서구 염창동               0  A15704003       염창월드메르디앙
24  1150010100  서울특별시 강서구 염창동               0  A15786314         염창태영송화
25  1150010100  서울특별시 강서구 염창동               0  A15786222         염창태진한솔
26  1150010100  서울특별시 강서구 염창동               0  A15786510     염창한강동아(2차)
27  1150010100  서울특별시 강서구 염창동               0  A15786118        염창한마음삼성
28  1150010100  서울특별시 강서구 염창동               0  A15786424       염창한화꿈에그린
29  1150010100  서울특별시 강서구 염창동               0  A15786426         염창현대1차

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200506          200507      None  188836.871000  449893.104000
1        201406          201407      None  188138.423352  450356.364465
2        199402          199403      None  188612.210000  449934.960500
3        200105          200106      None  188856.048500  449527.900000
4        200411          200412      None  188750.925000  449994.005000
5        200801          200802      None  188467.655500  449930.605000
6        200604          200605      None  188165.299500  449934.800000
7        200106          200107      None  188628.027000  450374.154500
8        201003          201004      None  188038.120000  450623.237000
9        200509          200510      None  188148.676000  450508.515000
10       199708          199709      None  188365.250000  450050.525000
11       200005          200006      None  188549.383500  450080.605000
12       199910          199911      None  188627.645000  449627.084000
13       199904          199905      None  188006.039000  450454.785000
14       199806          199807      None  188720.290000  450304.510000
15       199901          199902      None  189098.805000  449777.660000
16       200503          200504      None  188304.695000  449854.440500
17       199903          199904      None  189014.350000  449913.705000
18       199811          199812      None  188110.740000  450646.605000
19       199512          199601      None  188365.375000  450330.435000
20       199011          199012      None  188469.160000  450387.158000
21       199205          199206      None  188395.385000  450388.377500
22       199301          199302      None  188215.905000  449897.740500
23       200407          200408      None  188687.010000  450064.875000
24       199911          199912      None  188200.005000  450128.816000
25       199410          199411      None  188800.155000  449663.226000
26       199807          199808      None  188817.965000  450197.615000
27       199507          199508      None  188292.800500  450253.026000
28       200504          200505      None  188718.675000  449561.290500
29       199404          199405      None  188898.875000  450073.780000
11500101 code insert rows are 30
11500112 code insert start
Empty DataFrame
Columns: []
Index: []
11500113 code insert start
Empty DataFrame
Columns: []
Index: []
11500107 code insert start
Empty DataFrame
Columns: []
Index: []
11500103 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1150010300  서울특별시 강서구 화곡동               0  A15701007    강서힐스테이트아파트
1   1150010300  서울특별시 강서구 화곡동               0  A15701601       우장산롯데3차
2   1150010300  서울특별시 강서구 화곡동               0  A15701602       우장산롯데캐슬
3   1150010300  서울특별시 강서구 화곡동               2  A15701003  우장산아이파크이편한세상
4   1150010300  서울특별시 강서구 화곡동               0  A15701002      우장산에스케이뷰
5   1150010300  서울특별시 강서구 화곡동               0  A15701004     우장산한화꿈에그린
6   1150010300  서울특별시 강서구 화곡동               0  A15770101        화곡2차보람
7   1150010300  서울특별시 강서구 화곡동               0  A15788302       화곡대림아파트
8   1150010300  서울특별시 강서구 화곡동               0  A15788901          화곡미성
9   1150010300  서울특별시 강서구 화곡동               0  A15791001     화곡유림노르웨이숲
10  1150010300  서울특별시 강서구 화곡동               0  A15788203       화곡중앙하이츠
11  1150010300  서울특별시 강서구 화곡동               0  A15770801          화곡초록
12  1150010300  서울특별시 강서구 화곡동               0  A15792602        화곡푸르지오

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        201508          201509      None  185514.9695  449368.6705
1        200408          200409      None  186364.1475  450034.6790
2        200309          200310      None  186503.1405  450385.8060
3        200801          200802      None  185711.8100  449717.4050
4        200610          200611      None  186063.8305  449557.7055
5        200411          200412      None  186444.1280  450207.7120
6        200411          200412      None  187085.6530  450206.6085
7        199208          199209      None  185555.7580  447944.9485
8        198705          198706      None  186216.1745  448182.9075
9        200409          200410      None  186137.1895  447556.6640
10       198812          198901      None  186124.8635  448179.6145
11       199811          199812      None  185240.4360  449287.5150
12       200210          200211      None  185028.3450  449156.4850
11500103 code insert rows are 13
11620103 code insert start

     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1162010300  서울특별시 관악구 남현동               0  A15108001  남현동한일유앤아이
1  1162010300  서울특별시 관악구 남현동               0  A15108003   남현우림루미아트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       200503          200504      None  197592.265  441056.4200
1       200412          200501      None  197759.256  441163.1425
11620103 code insert rows are 2
11620101 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE           KAPT_NAME  \
0   1162010100  서울특별시 관악구 봉천동               0  A15192201            관악동부센트레빌
1   1162010100  서울특별시 관악구 봉천동               0  A15180705              관악드림타운
2   1162010100  서울특별시 관악구 봉천동               0  A15105503            관악드림타운제2
3   1162010100  서울특별시 관악구 봉천동               0  A15178201             관악벽산블루밍
4   1162010100  서울특별시 관악구 봉천동               0  A15178204           관악벽산블루밍임대
5   1162010100  서울특별시 관악구 봉천동               0  A15105008            관악파크푸르지오
6   1162010100  서울특별시 관악구 봉천동               0  A15105302           관악푸르지오아파트
7   1162010100  서울특별시 관악구 봉천동               0  A15105301          관악푸르지오제2단지
8   1162010100  서울특별시 관악구 봉천동               0  A15105303                관악현대
9   1162010100  서울특별시 관악구 봉천동               0  A15181602               낙성대현대
10  1162010100  서울특별시 관악구 봉천동               0  A15105006            낙성대현대홈타운
11  1162010100  서울특별시 관악구 봉천동               0  A15105004               보라매삼성
12  1162010100  서울특별시 관악구 봉천동               0  A15176602           봉천건영6차아파트
13  1162010100  서울특별시 관악구 봉천동               0  A15192202              봉천동아제2
14  1162010100  서울특별시 관악구 봉천동               0  A15106901           봉천두산1,2단지
15  1162010100  서울특별시 관악구 봉천동               0  A15178203             봉천두산3단지
16  1162010100  서울특별시 관악구 봉천동               0  A15178202           봉천벽산블루밍3차
17  1162010100  서울특별시 관악구 봉천동               0  A15180701            봉천벽산타운2차
18  1162010100  서울특별시 관악구 봉천동               0  A15106001                봉천신봉
19  1162010100  서울특별시 관악구 봉천동               0  A15105603                봉천우성
20  1162010100  서울특별시 관악구 봉천동               0  A15105602              봉천우성제2
21  1162010100  서울특별시 관악구 봉천동               0  A15106101             봉천은천1단지
22  1162010100  서울특별시 관악구 봉천동               0  A15106103             봉천은천2단지
23  1162010100  서울특별시 관악구 봉천동               0  A15105002                봉천인헌
24  1162010100  서울특별시 관악구 봉천동               0  A15105005          서울대입구삼성아파트
25  1162010100  서울특별시 관악구 봉천동               0  A15184101  서울대입구아이원 (1560-61)
26  1162010100  서울특별시 관악구 봉천동               0  A15176202                성현동아
27  1162010100  서울특별시 관악구 봉천동               0  A10026710               프라비다2

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200405          200406      None  195576.986000  442774.356000
1        200309          200310      None  195568.415000  443061.170000
2        200309          200310      None  195340.630000  443262.525000
3        200506          200507      None  195023.203500  443025.901500
4        200507          200508      None  194871.490000  443273.494500
5        201409          201410      None  196520.701900  442282.899720
6        200408          200409      None  196457.692000  442798.055000
7        200408          200409      None  196433.100000  443056.565000
8        199204          199205      None  196247.930000  443340.405000
9        198803          198804      None  196953.900000  441137.615000
10       200202          200203      None  196700.375000  442050.990000
11       199604          199605      None  193605.670000  443550.010000
12       199905          199906      None  195674.655500  441654.653500
13       200005          200006      None  196053.289500  442856.830000
14       200012          200101      None  194865.021500  442485.437000
15       200012          200101      None  195144.418000  442575.268500
16       200412          200501      None  195020.530000  442914.660000
17       200306          200307      None  195161.435000  443364.763500
18       199905          199906      None  195474.515000  442531.335000
19       200012          200101      None  196327.545000  442510.415000
20       200012          200101      None  196496.810000  442482.735000
21       200106          200107      None  196830.265000  441023.145000
22       200009          200010      None  196794.090000  440871.695000
23       199810          199811      None  196619.321500  440651.739000
24       199910          199911      None  195691.070000  441554.086500
25       200611          200612      None  195065.090000  441796.220000
26       200005          200006      None  195989.160000  443035.580000
27       201302          201303      None  195549.896424  441943.464573
11620101 code insert rows are 28
11620102 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1162010200  서울특별시 관악구 신림동               0  A15101903       건영3차아파트
1   1162010200  서울특별시 관악구 신림동               0  A15176701        관악국제산장
2   1162010200  서울특별시 관악구 신림동               0  A15101504       관악산휴먼시아
3   1162010200  서울특별시 관악구 신림동               0  A15101702    관악산휴먼시아3단지
4   1162010200  서울특별시 관악구 신림동               0  A15186002  대학동현대(구신림9동)
5   1162010200  서울특별시 관악구 신림동               0  A15177101        라이프아파트
6   1162010200  서울특별시 관악구 신림동               0  A15101501         보라매갑을
7   1162010200  서울특별시 관악구 신림동               0  A15101506      삼성산주공3단지
8   1162010200  서울특별시 관악구 신림동               0  A15101503      신림2차푸르지오
9   1162010200  서울특별시 관악구 신림동               0  A15101509     신림SH빌(임대)
10  1162010200  서울특별시 관악구 신림동               0  A15185704        신림건영1차
11  1162010200  서울특별시 관악구 신림동               0  A15188101        신림건영2차
12  1162010200  서울특별시 관악구 신림동               0  A15102902        신림건영4차
13  1162010200  서울특별시 관악구 신림동               0  A15101901      신림금호타운1차
14  1162010200  서울특별시 관악구 신림동               2  A15101101          신림동부
15  1162010200  서울특별시 관악구 신림동               0  A15102202      신림동부센트레빌
16  1162010200  서울특별시 관악구 신림동               0  A15190301          신림미성
17  1162010200  서울특별시 관악구 신림동               0  A15101505       신림벽산블루밍
18  1162010200  서울특별시 관악구 신림동               0  A15101802       신림신도브래뉴
19  1162010200  서울특별시 관악구 신림동               0  A15102203          신림쌍용
20  1162010200  서울특별시 관악구 신림동               0  A15187101          신림우방
21  1162010200  서울특별시 관악구 신림동               0  A15101507       신림주공1단지
22  1162010200  서울특별시 관악구 신림동               0  A15179403       신림주공2단지
23  1162010200  서울특별시 관악구 신림동               0  A15188801          신림초원
24  1162010200  서울특별시 관악구 신림동               0  A15190705        신림푸르지오
25  1162010200  서울특별시 관악구 신림동               0  A15101508          신림현대
26  1162010200  서울특별시 관악구 신림동               0  A15185201        신림현대성우
27  1162010200  서울특별시 관악구 신림동               0  A15179701        임광관악파크

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        199606          199607      None  194851.2000  440596.3850
1        199308          199309      None  193556.1200  439852.0900
2        200803          200804      None  192824.3100  439694.4500
3        200803          200804      None  192719.9900  439825.0200
4        199110          199111      None  194372.1950  440196.8160
5        199603          199604      None  192249.9100  441658.3300
6        200312          200401      None  193011.5225  442987.9515
7        200008          200009      None  193398.8500  440048.6800
8        200702          200703      None  192857.6350  439922.3600
9        200711          200712      None  192830.4350  440035.7350
10       198410          198411      None  192176.5605  441575.4870
11       198801          198802      None  192577.1630  440976.1160
12       199705          199706      None  194015.6300  442018.0350
13       199705          199706      None  194416.2450  440335.6700
14       199307          199308      None  193673.1450  442045.4290
15       200604          200605      None  192523.3470  441231.4110
16       198210          198211      None  191388.9940  442256.7750
17       200509          200510      None  193832.1195  440191.9950
18       200304          200305      None  192105.9420  442391.8250
19       199802          199803      None  192130.4300  441123.9900
20       199911          199912      None  192756.8650  442962.0150
21       199510          199511      None  193569.8500  440418.2500
22       200008          200009      None  193434.2300  440210.3305
23       199907          199908      None  192341.2370  441257.0250
24       200506          200507      None  192028.4295  441893.8635
25       199305          199306      None  193948.5650  441417.9300
26       199810          199811      None  194381.8255  442386.4220
27       200309          200310      None  192766.5570  440845.6445
11620102 code insert rows are 28
11215104 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1121510400  서울특별시 광진구 광장동               0  A14321001   광장11현대홈타운
1   1121510400  서울특별시 광진구 광장동               0  A14380409      광장극동1차
2   1121510400  서울특별시 광진구 광장동               0  A14380414      광장극동2차
3   1121510400  서울특별시 광진구 광장동               0  A14381407   광장동 광나루현대
4   1121510400  서울특별시 광진구 광장동               0  A14381504   광장동금호베스트빌
5   1121510400  서울특별시 광진구 광장동               0  A14381506    광장삼성1,2차
6   1121510400  서울특별시 광진구 광장동               0  A14380605   광장신동아파밀리에
7   1121510400  서울특별시 광진구 광장동               0  A14381513        광장청구
8   1121510400  서울특별시 광진구 광장동               0  A14381415  광장현대3단지아파트
9   1121510400  서울특별시 광진구 광장동               0  A14381512     광장현대5단지
10  1121510400  서울특별시 광진구 광장동               0  A14381510     광장현대8단지
11  1121510400  서울특별시 광진구 광장동               0  A14381508      광장현대9차
12  1121510400  서울특별시 광진구 광장동               0  A14381516     광장현대파크빌
13  1121510400  서울특별시 광진구 광장동               0  A14375301     광장힐스테이트
14  1121510400  서울특별시 광진구 광장동               0  A10026162    상록타워 아파트
15  1121510400  서울특별시 광진구 광장동               0  A14380211      워커힐아파트
16  1121510400  서울특별시 광진구 광장동               0  A14375302     워커힐푸르지오

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X             Y
0        200310          200311      None  208545.805000  448987.01000
1        198509          198510      None  209145.440000  448993.81700
2        198903          198904      None  209145.440000  448993.81700
3        199604          199605      None  209513.245000  449434.49400
4        200106          200107      None  208239.525000  449056.98200
5        198712          198801      None  208950.335000  448913.03700
6        200710          200711      None  209195.015000  449415.04200
7        199607          199608      None  208439.180000  448919.09500
8        199010          199011      None  208635.369000  448702.28800
9        198904          198905      None  208776.653500  448618.00550
10       199503          199504      None  208742.840000  448858.74500
11       199904          199905      None  208564.660000  448921.00500
12       200008          200009      None  208899.640000  449121.08000
13       201203          201204      None  208738.625000  448993.64000
14       199701          199702      None  208854.670258  448904.24787
15       197811          197812      None  209345.536000  449806.73550
16       198703          198704      None  209547.049500  449718.25600
11215104 code insert rows are 17
11215103 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE         KAPT_NAME  \
0  1121510300  서울특별시 광진구 구의동               0  A10026874           강변에스케이뷰
1  1121510300  서울특별시 광진구 구의동               0  A14320302            구의강변우성
2  1121510300  서울특별시 광진구 구의동               0  A14320002         구의대림아크로리버
3  1121510300  서울특별시 광진구 구의동               0  A14382101           구의삼성쉐르빌
4  1121510300  서울특별시 광진구 구의동               0  A14383205           구의현대2단지
5  1121510300  서울특별시 광진구 구의동               0  A14383203           구의현대6단지
6  1121510300  서울특별시 광진구 구의동               0  A14320001           구의현대7단지
7  1121510300  서울특별시 광진구 구의동               0  A14320304           구의현대프라임
8  1121510300  서울특별시 광진구 구의동               0  A10025985  래미안 구의 파크스위트 아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X             Y
0       201707          201708      None  207903.482062  448493.68152
1       199212          199301      None  208144.208500  448137.14500
2       200401          200402      None  208132.655000  448203.89000
3       200111          200112      None  208307.903500  448636.67250
4       199612          199701      None  208399.075000  448496.41000
5       199404          199405      None  208290.660000  448470.03000
6       199712          199801      None  207971.230000  448287.99500
7       199703          199704      None  208542.325000  448357.06000
8       201809          201810      None            NaN           NaN
11215103 code insert rows are 9
11215109 code insert start

     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1121510900  서울특별시 광진구 군자동               0  A14383901    군자일성파크

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       199603          199604      None  206345.403  449901.856
11215109 code insert rows are 1
11215102 code insert start
Empty DataFrame
Columns: []
Index: []
11215105 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1121510500  서울특별시 광진구 자양동               0  A14319305       광진트라팰리스
1   1121510500  서울특별시 광진구 자양동               0  A10026720  래미안 프리미어 팰리스
2   1121510500  서울특별시 광진구 자양동               0  A14319306      이튼타워리버3차
3   1121510500  서울특별시 광진구 자양동               0  A14377402      이튼타워리버5차
4   1121510500  서울특별시 광진구 자양동               0  A14319006        자양2차현대
5   1121510500  서울특별시 광진구 자양동               0  A14388204     자양7차현대홈타운
6   1121510500  서울특별시 광진구 자양동               0  A14386802          자양경남
7   1121510500  서울특별시 광진구 자양동               0  A14319001      자양경남아너스빌
8   1121510500  서울특별시 광진구 자양동               0  A14319008          자양대동
9   1121510500  서울특별시 광진구 자양동               2  A14319012      자양더샵스타시티
10  1121510500  서울특별시 광진구 자양동               0  A14388208      자양동삼성아파트
11  1121510500  서울특별시 광진구 자양동               0  A14319009        자양로얄동아
12  1121510500  서울특별시 광진구 자양동               0  A14319302      자양우방리버파크
13  1121510500  서울특별시 광진구 자양동               0  A14319011        자양우성1차
14  1121510500  서울특별시 광진구 자양동               0  A14386109        자양우성2차
15  1121510500  서울특별시 광진구 자양동               0  A14386110        자양우성3차
16  1121510500  서울특별시 광진구 자양동               0  A14319311        자양우성7차
17  1121510500  서울특별시 광진구 자양동               0  A14319002        자양한강극동
18  1121510500  서울특별시 광진구 자양동               0  A14319005        자양한강현대
19  1121510500  서울특별시 광진구 자양동               0  A14319307          자양한라
20  1121510500  서울특별시 광진구 자양동               0  A14387605          자양한양
21  1121510500  서울특별시 광진구 자양동               0  A14319003          자양현대
22  1121510500  서울특별시 광진구 자양동               0  A14319204        자양현대3차
23  1121510500  서울특별시 광진구 자양동               0  A14319203        자양현대5차
24  1121510500  서울특별시 광진구 자양동               0  A14319301        자양현대6차
25  1121510500  서울특별시 광진구 자양동               0  A14319303    자양현대홈타운10차
26  1121510500  서울특별시 광진구 자양동               0  A14319007     자양현대홈타운8차
27  1121510500  서울특별시 광진구 자양동               0  A14319010       한강우성아파트
28  1121510500  서울특별시 광진구 자양동               0  A14376501         한솔리베르
29  1121510500  서울특별시 광진구 자양동               0  A14319201          현대강변

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200607          200608      None  205939.110500  447743.373500
1        201710          201711      None  207140.123886  448386.214313
2        200704          200705      None  205948.327000  447868.966500
3        200909          200910      None  206037.518000  447771.345000
4        199504          199505      None  206177.133000  447998.988000
5        200105          200106      None  206097.100000  447863.975000
6        199906          199907      None  206910.420000  447414.554500
7        199705          199706      None  207350.340000  447473.760000
8        199903          199904      None  205966.574000  448242.776500
9        200701          200702      None  206342.662500  448397.750000
10       199904          199905      None  206259.586500  447770.390500
11       199909          199910      None  207120.015000  447333.845000
12       200310          200311      None  206167.566000  447662.951000
13       198809          198810      None  206605.900000  448018.190000
14       198907          198908      None  206477.865500  447899.051000
15       198912          199001      None  206260.182000  448198.190500
16       199807          199808      None  206518.860000  448242.960000
17       199108          199109      None  205628.102500  447942.554500
18       199311          199312      None  205838.828000  447870.095500
19       199608          199609      None  206120.447000  448164.608000
20       198305          198306      None  207975.665000  447673.605000
21       199305          199306      None  207214.050000  447323.395000
22       199612          199701      None  207306.815000  447376.890000
23       199806          199807      None  206849.260000  447374.445000
24       199902          199903      None  206266.882500  447849.742500
25       200210          200211      None  206159.055000  447911.350000
26       200205          200206      None  206289.494000  447918.904000
27       199312          199401      None  205743.724000  447816.973500
28       200201          200202      None  207419.811500  447327.340000
29       199112          199201      None  207519.930000  447356.785000
11215105 code insert rows are 30
11215101 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1121510100  서울특별시 광진구 중곡동               0  A14322001      중곡SK

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       199911          199912      None  207573.415  451834.93
11215101 code insert rows are 1
11215107 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1121510700  서울특별시 광진구 화양동               0  A14313001      화양현대

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       199905          199906      None  205749.472  449140.174
11215107 code insert rows are 1
11530103 code insert start
Empty DataFrame
Columns: []
Index: []
11530107 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1153010700  서울특별시 구로구 개봉동               0  A15209007       개봉 푸르지오
1   1153010700  서울특별시 구로구 개봉동               0  A15280304     개봉거성푸르뫼1차
2   1153010700  서울특별시 구로구 개봉동               0  A15280303  개봉거성푸르뫼2차아피트
3   1153010700  서울특별시 구로구 개봉동               0  A15275101          개봉건영
4   1153010700  서울특별시 구로구 개봉동               0  A15209004       개봉동아이파크
5   1153010700  서울특별시 구로구 개봉동               0  A15209207      개봉동현대아파트
6   1153010700  서울특별시 구로구 개봉동               0  A15209203          개봉두산
7   1153010700  서울특별시 구로구 개봉동               0  A15209202  개봉삼호아파트관리사무소
8   1153010700  서울특별시 구로구 개봉동               0  A15209205          개봉삼환
9   1153010700  서울특별시 구로구 개봉동               0  A15209201          개봉상우
10  1153010700  서울특별시 구로구 개봉동               0  A15282105          개봉영화
11  1153010700  서울특별시 구로구 개봉동               0  A15209002         개봉한마을
12  1153010700  서울특별시 구로구 개봉동               0  A15209305          개봉한진
13  1153010700  서울특별시 구로구 개봉동               0  A15209206    개봉현대홈타운2단지
14  1153010700  서울특별시 구로구 개봉동               0  A15209303            대상
15  1153010700  서울특별시 구로구 개봉동               0  A15280602         신개봉삼환
16  1153010700  서울특별시 구로구 개봉동               0  A15209304       영화 아이닉스
17  1153010700  서울특별시 구로구 개봉동               0  A15209003         청실아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0        201405          201406      None       0.000       0.0000
1        199311          199312      None  186093.260  444305.9150
2        199407          199408      None  186087.200  444222.8250
3        199405          199406      None  185842.160  444373.7300
4        200606          200607      None  187525.022  443096.5780
5        200108          200109      None  187404.180  443329.2800
6        199709          199710      None  186903.352  443646.5700
7        199612          199701      None  187305.465  443581.5485
8        199511          199512      None  187048.690  443633.3150
9        199712          199801      None  187638.980  443511.4900
10       199809          199810      None  187550.320  443782.5200
11       199904          199905      None  187764.000  443684.5150
12       200001          200002      None  186846.030  442494.9400
13       200108          200109      None  187716.095  443265.4850
14       199906          199907      None  186643.205  442246.0400
15       200103          200104      None  187368.425  443835.2150
16       200509          200510      None  186599.076  442295.7150
17       198711          198712      None  187527.310  443705.0000
11530107 code insert rows are 18
11530106 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1153010600  서울특별시 구로구 고척동               0  A15279402  고척LIG리가아파트
1   1153010600  서울특별시 구로구 고척동               0  A15283701      고척경남1차
2   1153010600  서울특별시 구로구 고척동               0  A15283603      고척경남2차
3   1153010600  서울특별시 구로구 고척동               0  A15279404        고척대우
4   1153010600  서울특별시 구로구 고척동               0  A15283707      고척동센츄리
5   1153010600  서울특별시 구로구 고척동               0  A15283706      고척동아한신
6   1153010600  서울특별시 구로구 고척동               0  A15208005       고척마젤란
7   1153010600  서울특별시 구로구 고척동               0  A15208006  고척벽산베스트블루밍
8   1153010600  서울특별시 구로구 고척동               0  A15283711     고척벽산블루밍
9   1153010600  서울특별시 구로구 고척동               0  A15208202     고척삼익1단지
10  1153010600  서울특별시 구로구 고척동               0  A15208003     고척삼환로즈빌
11  1153010600  서울특별시 구로구 고척동               0  A15282810      고척서울가든
12  1153010600  서울특별시 구로구 고척동               0  A15208201        고척양우
13  1153010600  서울특별시 구로구 고척동               0  A15283702     고척우성꿈동산
14  1153010600  서울특별시 구로구 고척동               0  A15282608      고척우성현대
15  1153010600  서울특별시 구로구 고척동               0  A15208007    고척월드메르디앙
16  1153010600  서울특별시 구로구 고척동               0  A15283709     고척청구아파트
17  1153010600  서울특별시 구로구 고척동               0  A15279403    고척파크푸르지오
18  1153010600  서울특별시 구로구 고척동               0  A15208204    고척한일유앤아이
19  1153010600  서울특별시 구로구 고척동               0  A15282403        고척한효
20  1153010600  서울특별시 구로구 고척동               0  A15282405         산업인
21  1153010600  서울특별시 구로구 고척동               0  A15283704    삼익아파트2단지

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200907          200908      None  187679.9095  444833.7915
1        199801          199802      None  187798.6650  444803.5150
2        199901          199902      None  187267.2200  444691.5300
3        199902          199903      None  187150.6650  444538.1850
4        199403          199404      None  187757.8300  444698.7850
5        200004          200005      None  188009.0050  444321.8240
6        200805          200806      None  187907.4470  444681.8450
7        201012          201101      None  187472.2600  444741.1015
8        200303          200304      None  187929.0300  443722.7650
9        200109          200110      None  186932.5735  445173.3100
10       200412          200501      None  187386.7875  443974.9465
11       198907          198908      None  187606.7900  444485.4650
12       200006          200007      None  187251.4250  444744.9750
13       199602          199603      None  188105.7750  444548.0450
14       198711          198712      None  187791.4350  444080.0300
15       201107          201108      None  187831.5800  444533.8795
16       199906          199907      None  187886.1670  444370.2720
17       200905          200906      None  187376.0930  445081.3400
18       200512          200601      None  186764.2775  445101.3165
19       198512          198601      None  187675.1100  444381.1000
20       197607          197608      None  188169.0050  444735.5350
21       200111          200112      None  186922.1650  445045.1350
11530106 code insert rows are 22
11530102 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1153010200  서울특별시 구로구 구로동               0  A15283807      LG신도림자이
1   1153010200  서울특별시 구로구 구로동               0  A15284101   구로2차순영웰라이빌
2   1153010200  서울특별시 구로구 구로동               0  A15285004         구로극동
3   1153010200  서울특별시 구로구 구로동               0  A15283803      구로금호어울림
4   1153010200  서울특별시 구로구 구로동               0  A15283806       구로다솜금호
5   1153010200  서울특별시 구로구 구로동               0  A15284302    구로대성스카이렉스
6   1153010200  서울특별시 구로구 구로동               0  A15205405         구로두산
7   1153010200  서울특별시 구로구 구로동               0  A15205305       구로두산위브
8   1153010200  서울특별시 구로구 구로동               0  A15205002       구로두산제2
9   1153010200  서울특별시 구로구 구로동               0  A15284603         구로럭키
10  1153010200  서울특별시 구로구 구로동               0  A15205511         구로롯데
11  1153010200  서울특별시 구로구 구로동               0  A15285503         구로보광
12  1153010200  서울특별시 구로구 구로동               0  A15284906      구로삼성래미안
13  1153010200  서울특별시 구로구 구로동               0  A15284305       구로새솔금호
14  1153010200  서울특별시 구로구 구로동               0  A15284204     구로성호주상복합
15  1153010200  서울특별시 구로구 구로동               0  A15205301     구로신성미소지움
16  1153010200  서울특별시 구로구 구로동               0  A15286801         구로우방
17  1153010200  서울특별시 구로구 구로동               0  A15283809         구로우성
18  1153010200  서울특별시 구로구 구로동               0  A15205103     구로우성(1동)
19  1153010200  서울특별시 구로구 구로동               0  A15286602         구로월드
20  1153010200  서울특별시 구로구 구로동               0  A15288002       구로이화우성
21  1153010200  서울특별시 구로구 구로동               0  A15286809         구로주공
22  1153010200  서울특별시 구로구 구로동               0  A15285804   구로중앙하이츠아파트
23  1153010200  서울특별시 구로구 구로동               0  A15286805       구로한신1차
24  1153010200  서울특별시 구로구 구로동               0  A15205303     구로한신휴플러스
25  1153010200  서울특별시 구로구 구로동               0  A15205104     구로한일유엔아이
26  1153010200  서울특별시 구로구 구로동               0  A15288004         구로현대
27  1153010200  서울특별시 구로구 구로동               0  A15286802       구로현대상선
28  1153010200  서울특별시 구로구 구로동               0  A15286807      구로현대연예인
29  1153010200  서울특별시 구로구 구로동               0  A15205108      구일우성아파트
30  1153010200  서울특별시 구로구 구로동               0  A15205508        신구로자이
31  1153010200  서울특별시 구로구 구로동               0  A15283902        신구로현대
32  1153010200  서울특별시 구로구 구로동               0  A15283801  신도림쌍용플래티넘노블
33  1153010200  서울특별시 구로구 구로동               0  A15205513      신도림태영타운
34  1153010200  서울특별시 구로구 구로동               0  A15286210        신도림현대
35  1153010200  서울특별시 구로구 구로동               0  A15205001        우리유앤미
36  1153010200  서울특별시 구로구 구로동               0  A15286806      중앙구로하이츠

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200402          200403      None  190387.3300  444592.4650
1        200506          200507      None  190332.2750  443787.0000
2        198412          198501      None  190181.4200  443210.1300
3        199706          199707      None  190393.5000  444193.0100
4        199511          199512      None  190369.5000  444483.0250
5        200604          200605      None  190287.2250  444141.9900
6        199811          199812      None  190146.4450  443020.4350
7        200607          200608      None  190235.8480  442661.7850
8        199811          199812      None  190108.5100  442936.8750
9        199206          199207      None  190557.8300  443324.8800
10       199911          199912      None  189682.2400  444608.3950
11       198406          198407      None  189858.8100  443660.3950
12       200405          200406      None  190374.4690  442839.8515
13       199607          199608      None  190230.5650  444206.3550
14       200205          200206      None  190324.4550  443860.5450
15       200312          200401      None  190793.1050  441924.2200
16       199309          199310      None  188855.4650  443945.6400
17       198506          198507      None  190121.1700  444642.7750
18       199511          199512      None  188664.6600  443613.0900
19       199812          199901      None  188955.8300  444823.4585
20       199807          199808      None  190559.3500  443069.9800
21       198606          198607      None  188873.3250  443478.4900
22       200109          200110      None  189363.5700  444084.0100
23       198812          198901      None  188761.6050  443820.8150
24       200705          200706      None  190278.8775  442922.8580
25       200606          200607      None  188971.3225  442711.9400
26       199205          199206      None  190754.5650  442925.7050
27       198710          198711      None  188882.8250  443767.9700
28       198908          198909      None  189068.3600  443428.4750
29       199805          199806      None  189036.2450  443121.5900
30       200705          200706      None  189675.9715  444190.9800
31       198806          198807      None  190473.2650  443775.7100
32       200611          200612      None  190327.3250  444330.0400
33       200012          200101      None  190081.4680  444893.7300
34       199401          199402      None  189831.1750  444739.4100
35       200411          200412      None  189438.5275  443828.1140
36       198711          198712      None  188943.6250  443855.7250
11530102 code insert rows are 37
11530109 code insert start
     BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME KAPT_USEDATE  \
0  1153010900  서울특별시 구로구 궁동               0  A15288301    궁동우신빌라       198811

  OCCU_FIRST_DATE OPEN_TERM           X          Y
0          198812      None  184943.015  443581.24
11530109 code insert rows are 1
11530101 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0   1153010100  서울특별시 구로구 신도림동               0  A15288808        SK VIEW
1   1153010100  서울특별시 구로구 신도림동               0  A15288814      신도림대림1,2차
2   1153010100  서울특별시 구로구 신도림동               0  A15288802        신도림대림3차
3   1153010100  서울특별시 구로구 신도림동               0  A15288812   신도림대림4차e편한세상
4   1153010100  서울특별시 구로구 신도림동               0  A15288805  신도림대림5차e-편한세상
5   1153010100  서울특별시 구로구 신도림동               0  A15288807  신도림대림7차e-편한세상
6   1153010100  서울특별시 구로구 신도림동               0  A15288813        신도림동아1차
7   1153010100  서울특별시 구로구 신도림동               0  A15288809        신도림동아2차
8   1153010100  서울특별시 구로구 신도림동               0  A15288810        신도림동아3차
9   1153010100  서울특별시 구로구 신도림동               0  A15277302       신도림디큐브시티
10  1153010100  서울특별시 구로구 신도림동               0  A15288611          신도림미성
11  1153010100  서울특별시 구로구 신도림동               0  A10028063     신도림아이파크아파트
12  1153010100  서울특별시 구로구 신도림동               0  A15288806      신도림우성1,2차
13  1153010100  서울특별시 구로구 신도림동               0  A15288804        신도림우성3차
14  1153010100  서울특별시 구로구 신도림동               0  A15288801        신도림우성5차
15  1153010100  서울특별시 구로구 신도림동               0  A15288803          신도림현대

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0        200604          200605      None  189897.029  444988.0715
1        199911          199912      None  189350.680  444854.9300
2        200109          200110      None  189143.057  444962.5900
3        200305          200306      None  189927.420  445390.0500
4        200308          200309      None  189380.619  444985.1065
5        200406          200407      None  189576.972  445157.6115
6        199911          199912      None  189594.830  445422.7750
7        200005          200006      None  189851.575  445152.1650
8        200011          200012      None  189678.950  445269.3050
9        201107          201108      None  190107.999  445158.2945
10       198712          198801      None  189012.465  445015.1700
11       201502          201503      None  190060.660  445451.7700
12       199212          199301      None  189844.835  445490.8650
13       199312          199401      None  189701.850  445646.4000
14       199412          199501      None  189690.395  445605.8100
15       199904          199905      None  189682.245  445537.5200
11530101 code insert rows are 16
11530108 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1153010800  서울특별시 구로구 오류동               0  A15210207       경남아너스빌
1   1153010800  서울특별시 구로구 오류동               0  A15210103   동부(돌타운)아파트
2   1153010800  서울특별시 구로구 오류동               0  A10026434  서울 오류동 행복주택
3   1153010800  서울특별시 구로구 오류동               0  A15289508       서울가든빌라
4   1153010800  서울특별시 구로구 오류동               0  A15210206         오류금강
5   1153010800  서울특별시 구로구 오류동               0  A15210211      오류금강수목원
6   1153010800  서울특별시 구로구 오류동               0  A15210102      오류금호어울림
7   1153010800  서울특별시 구로구 오류동               0  A15210212   오류동 영풍마드레빌
8   1153010800  서울특별시 구로구 오류동               0  A15210107       오류동부골든
9   1153010800  서울특별시 구로구 오류동               0  A15278301   오류동부골든SH임대
10  1153010800  서울특별시 구로구 오류동               0  A15210105      오류동부덕고개
11  1153010800  서울특별시 구로구 오류동               0  A15210101         오류동선
12  1153010800  서울특별시 구로구 오류동               0  A15210104         오류라인
13  1153010800  서울특별시 구로구 오류동               0  A15210210        오류삼천리
14  1153010800  서울특별시 구로구 오류동               0  A15210209       오류푸르지오
15  1153010800  서울특별시 구로구 오류동               0  A15210106    오류한신플러스타운

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM             X              Y
0        200310          200311      None  185770.56650  443150.485000
1        199903          199904      None  186564.98000  443897.635000
2        201802          201803      None  186434.30155  443732.680925
3        198712          198801      None  184989.82100  443353.680000
4        199601          199602      None  186476.28500  443434.015000
5        200309          200310      None  185110.44100  442893.392500
6        200609          200610      None  185705.83100  444039.406500
7        200207          200208      None  185674.33000  443271.546500
8        199812          199901      None  185763.39000  444119.175000
9        199709          199710      None  185763.39000  444119.175000
10       199807          199808      None  186474.51000  443889.251500
11       200404          200405      None  185733.08500  443512.135000
12       199512          199601      None  186411.12850  443837.838500
13       199811          199812      None  185721.79000  443386.195000
14       200404          200405      None  185924.08000  443282.772500
15       200207          200208      None  185866.42850  444038.139500
11530108 code insert rows are 16
11530110 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1153011000  서울특별시 구로구 온수동               0  A15279101   온수힐스테이트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X          Y
0       201002          201003      None  184107.5355  443855.96
11530110 code insert rows are 1
11530111 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0   1153011100  서울특별시 구로구 천왕동               0  A10026729  천왕연지마을1단지 아파트
1   1153011100  서울특별시 구로구 천왕동              13  A15210001      천왕연지타운1단지
2   1153011100  서울특별시 구로구 천왕동               0  A15213007      천왕연지타운2단지
3   1153011100  서울특별시 구로구 천왕동               0  A15213006     천왕이펜하우스1단지
4   1153011100  서울특별시 구로구 천왕동               3  A15213003     천왕이펜하우스2단지
5   1153011100  서울특별시 구로구 천왕동               4  A15213005     천왕이펜하우스3단지
6   1153011100  서울특별시 구로구 천왕동               0  A15213004     천왕이펜하우스4단지
7   1153011100  서울특별시 구로구 천왕동               2  A15213001     천왕이펜하우스5단지
8   1153011100  서울특별시 구로구 천왕동               4  A15213002     천왕이펜하우스6단지
9   1153011100  서울특별시 구로구 천왕동               0  A10027764     천왕이펜하우스7단지
10  1153011100  서울특별시 구로구 천왕동               0  A10026039     천왕이펜하우스8단지

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201708          201709      None            NaN            NaN
1        201312          201401      None  185718.513448  442516.782849
2        201401          201402      None  185850.488081  442717.533825
3        201110          201111      None  185554.600931  442736.035320
4        201106          201107      None  185610.017082  442571.987268
5        201110          201111      None  185678.445000  442298.800000
6        201108          201109      None  185678.445000  442298.800000
7        201107          201108      None  185678.445000  442298.800000
8        201106          201107      None  185678.445000  442298.800000
9        201702          201703      None  185708.005000  441941.220000
10       201809          201810      None  185982.420504  441547.462600
11530111 code insert rows are 11
11530112 code insert start
     BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0  1153011200  서울특별시 구로구 항동               0  A15271601  서울수목원현대홈타운스위트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       200412          200501      None  184039.9805  442468.093
11530112 code insert rows are 1
11545101 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1154510100  서울특별시 금천구 가산동               0  A15380403       가산두산위브
1  1154510100  서울특별시 금천구 가산동               0  A15380101      가산삼익아파트
2  1154510100  서울특별시 금천구 가산동               0  A10025913  가산지웰에스테이트2차

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       199803          199804      None  190350.300000  441538.340000
1       199807          199808      None  190461.600000  441194.825000
2       201808          201809      None  190296.739068  441724.554841
11545101 code insert rows are 3
11545102 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE        KAPT_NAME  \
0   1154510200  서울특별시 금천구 독산동               0  A10027188  금천롯데캐슬골드파크1차아파트
1   1154510200  서울특별시 금천구 독산동               0  A10026626     금천롯데캐슬골드파크2차
2   1154510200  서울특별시 금천구 독산동               0  A10025946  금천롯데캐슬골드파크3차아파트
3   1154510200  서울특별시 금천구 독산동               0  A15375810         금천이랜드해가든
4   1154510200  서울특별시 금천구 독산동               0  A15381706             금천현대
5   1154510200  서울특별시 금천구 독산동               0  A15381402             독산계룡
6   1154510200  서울특별시 금천구 독산동               0  A15301105     독산동중앙하이츠빌아파트
7   1154510200  서울특별시 금천구 독산동               0  A15370301      독산동한양수자인아파트
8   1154510200  서울특별시 금천구 독산동               0  A15382301          독산신도브래뉴
9   1154510200  서울특별시 금천구 독산동               9  A15383308         독산주공13단지
10  1154510200  서울특별시 금천구 독산동               0  A15375809         독산주공14단지
11  1154510200  서울특별시 금천구 독산동               0  A15383601           독산진도2차
12  1154510200  서울특별시 금천구 독산동               0  A15383604           독산진도3차
13  1154510200  서울특별시 금천구 독산동               0  A15383307             독산한신
14  1154510200  서울특별시 금천구 독산동               0  A15381303             독산현대

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201611          201612      None  190590.185169  439736.590182
1        201709          201710      None  190569.109640  439564.772425
2        201810          201811      None            NaN            NaN
3        200804          200805      None  190470.224500  439869.416000
4        200209          200210      None  190233.786000  440019.135000
5        199809          199810      None  190445.621500  440558.335000
6        200410          200411      None  190074.623000  440298.919500
7        201109          201110      None  191024.505000  441532.491000
8        200210          200211      None  191109.513500  441689.289000
9        199011          199012      None  189918.990000  439536.420000
10       199011          199012      None  189894.945000  439777.580000
11       199710          199711      None  190392.240000  440870.785000
12       199912          200001      None  190487.905000  440693.080000
13       199108          199109      None  190136.700000  439259.445000
14       199908          199909      None  190643.075000  440592.050000
11545102 code insert rows are 15
11545103 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0   1154510300  서울특별시 금천구 시흥동               0  A15303202    관악벽산2단지
1   1154510300  서울특별시 금천구 시흥동               0  A15303205  관악벽산타운5단지
2   1154510300  서울특별시 금천구 시흥동               0  A15303502   관악산신도브래뉴
3   1154510300  서울특별시 금천구 시흥동               0  A15303203       관악우방
4   1154510300  서울특별시 금천구 시흥동               0  A15383905   남서울 무지개
5   1154510300  서울특별시 금천구 시흥동               0  A15384603    남서울건영2차
6   1154510300  서울특별시 금천구 시흥동               0  A15386404   남서울건영아파트
7   1154510300  서울특별시 금천구 시흥동               0  A15386506   남서울럭키아파트
8   1154510300  서울특별시 금천구 시흥동               0  A15370103   남서울힐스테이트
9   1154510300  서울특별시 금천구 시흥동               0  A15303204        벽산6
10  1154510300  서울특별시 금천구 시흥동               0  A15384501    벽산타운3단지
11  1154510300  서울특별시 금천구 시흥동               0  A15303401       시흥금강
12  1154510300  서울특별시 금천구 시흥동               0  A15303003       시흥목련
13  1154510300  서울특별시 금천구 시흥동               0  A15303102      시흥베르빌
14  1154510300  서울특별시 금천구 시흥동               0  A15303002    시흥벽산1단지
15  1154510300  서울특별시 금천구 시흥동               0  A15383702       시흥삼익
16  1154510300  서울특별시 금천구 시흥동               0  A15303103       시흥성지
17  1154510300  서울특별시 금천구 시흥동               0  A15378501   시흥월드메르디앙
18  1154510300  서울특별시 금천구 시흥동               0  A15386303     시흥현대빌라
19  1154510300  서울특별시 금천구 시흥동               0  A15384101      현대공무원

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200002          200003      None  192735.3100  438874.5200
1        200408          200409      None  192766.2400  438420.4200
2        200611          200612      None  192019.3725  438424.8595
3        200212          200301      None  192300.4455  438584.0050
4        198012          198101      None  190926.0345  439328.3360
5        198910          198911      None  192030.4520  438574.2615
6        198212          198301      None  190960.5640  438968.4055
7        198112          198201      None  191033.7200  438706.9150
8        201408          201409      None  191188.1325  438414.3000
9        200408          200409      None  192561.0850  438580.0900
10       199810          199811      None  192643.5250  439002.9400
11       200009          200010      None  191798.6200  440116.6250
12       199609          199610      None  190882.6100  439163.8500
13       200405          200406      None  190903.0265  439500.6545
14       200002          200003      None  192735.3100  438874.5200
15       199909          199910      None  191907.1600  440146.8650
16       198608          198609      None  190895.0335  438750.1850
17       200601          200602      None  191713.3800  439731.9700
18       198905          198906      None  191260.6375  437492.4755
19       199606          199607      None  192042.1745  439097.4080
11545103 code insert rows are 20
11350103 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1135010300  서울특별시 노원구 공릉동               0  A13980512        공릉1단지
1   1135010300  서울특별시 노원구 공릉동               0  A13980803       공릉1동삼익
2   1135010300  서울특별시 노원구 공릉동               0  A13980017        공릉2-6
3   1135010300  서울특별시 노원구 공릉동               0  A13980510     공릉2단지라이프
4   1135010300  서울특별시 노원구 공릉동               0  A13980511     공릉3단지라이프
5   1135010300  서울특별시 노원구 공릉동               0  A13980402       공릉건영장미
6   1135010300  서울특별시 노원구 공릉동               0  A13980801       공릉대동1차
7   1135010300  서울특별시 노원구 공릉동               0  A13980105       공릉대동2차
8   1135010300  서울특별시 노원구 공릉동               0  A13980604       공릉대아2차
9   1135010300  서울특별시 노원구 공릉동               0  A13980706      공릉대주파크빌
10  1135010300  서울특별시 노원구 공릉동               0  A13924205         공릉동부
11  1135010300  서울특별시 노원구 공릉동               0  A13980411         공릉동신
12  1135010300  서울특별시 노원구 공릉동               0  A13980415      공릉두산힐스빌
13  1135010300  서울특별시 노원구 공릉동               0  A13980018         공릉비선
14  1135010300  서울특별시 노원구 공릉동               0  A13924004    공릉삼익1차아파트
15  1135010300  서울특별시 노원구 공릉동               0  A13980403       공릉삼익2차
16  1135010300  서울특별시 노원구 공릉동               0  A13980509      공릉삼익4단지
17  1135010300  서울특별시 노원구 공릉동               0  A13980407       공릉신내효성
18  1135010300  서울특별시 노원구 공릉동               0  A13980107       공릉신도1차
19  1135010300  서울특별시 노원구 공릉동               0  A13980401     공릉신성미소지움
20  1135010300  서울특별시 노원구 공릉동               0  A13980102         공릉신원
21  1135010300  서울특별시 노원구 공릉동               0  A13980012      공릉우방4단지
22  1135010300  서울특별시 노원구 공릉동               0  A13980108         공릉우성
23  1135010300  서울특별시 노원구 공릉동               0  A13980006      공릉청솔9단지
24  1135010300  서울특별시 노원구 공릉동               0  A13980019         공릉태강
25  1135010300  서울특별시 노원구 공릉동               0  A13980009       공릉태릉우성
26  1135010300  서울특별시 노원구 공릉동               0  A13980513      공릉풍림아이원
27  1135010300  서울특별시 노원구 공릉동               0  A13924003      공릉한보아파트
28  1135010300  서울특별시 노원구 공릉동               0  A13994501       공릉현대성우
29  1135010300  서울특별시 노원구 공릉동               0  A13980010       공릉화랑타운
30  1135010300  서울특별시 노원구 공릉동               0  A13980413         공릉효성
31  1135010300  서울특별시 노원구 공릉동               0  A13980014  공릉효성화운트빌3단지
32  1135010300  서울특별시 노원구 공릉동               0  A10027622    노원프레미어스엠코
33  1135010300  서울특별시 노원구 공릉동               0  A13980004       청솔아파트8

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        199412          199501      None  206052.8300  458638.3900
1        199710          199711      None  206321.0685  457325.3065
2        199908          199909      None  207677.6850  458015.7300
3        199412          199501      None  205802.2500  458700.7900
4        199412          199501      None  205991.7000  458295.0600
5        199904          199905      None  206579.3600  458540.0100
6        199904          199905      None  206333.8200  457503.2755
7        199910          199911      None  206124.8900  458260.9005
8        200003          200004      None  206237.3460  457890.6615
9        200301          200302      None  206309.9150  457649.5715
10       199604          199605      None  206867.8700  458415.1000
11       199912          200001      None  206715.5900  458407.3700
12       200010          200011      None  206970.7900  457622.9600
13       199907          199908      None  207643.9550  458161.4800
14       199509          199510      None  207172.7650  458290.8550
15       200404          200405      None  207060.0695  458182.4445
16       199412          199501      None  206289.6300  458622.8200
17       199506          199507      None  207758.6800  457636.1900
18       200203          200204      None  206113.8150  458367.8750
19       200406          200407      None  207086.1575  458075.2075
20       200002          200003      None  206562.2850  458382.4250
21       200005          200006      None  207635.6500  458259.3800
22       199512          199601      None  206354.5895  458471.1800
23       200011          200012      None  207447.2700  457682.6050
24       199907          199908      None  207278.6600  457921.7250
25       198510          198511      None  207413.5650  458027.5630
26       200109          200110      None  205829.7850  458518.5150
27       200010          200011      None  207026.5500  458409.6250
28       200010          200011      None  206764.4370  458230.8320
29       200001          200002      None  207738.3100  457930.7900
30       199912          200001      None  207100.7540  457945.9870
31       200012          200101      None  207592.0600  458383.8750
32       201601          201602      None  206658.5400  457358.6900
33       200011          200012      None  207522.0400  457881.9750
11350103 code insert rows are 34
11350105 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1135010500  서울특별시 노원구 상계동               0  A13981604      노원현대아파트
1   1135010500  서울특별시 노원구 상계동               0  A13983801        대망드림힐
2   1135010500  서울특별시 노원구 상계동               1  A13983713        두산아파트
3   1135010500  서울특별시 노원구 상계동               0  A13981208         불암현대
4   1135010500  서울특별시 노원구 상계동               0  A13920207    상계1차중앙하이츠
5   1135010500  서울특별시 노원구 상계동               0  A13920106      상계극동늘푸른
6   1135010500  서울특별시 노원구 상계동               0  A13920501       상계금호타운
7   1135010500  서울특별시 노원구 상계동               0  A13981606      상계대동아파트
8   1135010500  서울특별시 노원구 상계동               0  A13983803   상계대림e-편한세상
9   1135010500  서울특별시 노원구 상계동               0  A13989701       상계동아불암
10  1135010500  서울특별시 노원구 상계동               0  A13989702     상계동아불암임대
11  1135010500  서울특별시 노원구 상계동               0  A13981608      상계동양메이저
12  1135010500  서울특별시 노원구 상계동               0  A13983101         상계마들
13  1135010500  서울특별시 노원구 상계동               0  A13982702       상계마들대림
14  1135010500  서울특별시 노원구 상계동               0  A13971501         상계미도
15  1135010500  서울특별시 노원구 상계동               0  A13920506         상계벽산
16  1135010500  서울특별시 노원구 상계동               0  A13982604         상계보람
17  1135010500  서울특별시 노원구 상계동               0  A13981006       상계불암대림
18  1135010500  서울특별시 노원구 상계동               0  A13981001     상계불암대림제2
19  1135010500  서울특별시 노원구 상계동               0  A13981204   상계불암현대(임대)
20  1135010500  서울특별시 노원구 상계동               0  A13980903    상계성림(미라보)
21  1135010500  서울특별시 노원구 상계동               0  A13982101         상계성원
22  1135010500  서울특별시 노원구 상계동               0  A13983810      상계수락파크빌
23  1135010500  서울특별시 노원구 상계동               0  A13920105       상계수락한신
24  1135010500  서울특별시 노원구 상계동               0  A13920102       상계수락현대
25  1135010500  서울특별시 노원구 상계동               0  A13982003        상계신동아
26  1135010500  서울특별시 노원구 상계동               0  A13920001         상계우방
27  1135010500  서울특별시 노원구 상계동               0  A13983816      상계은빛1단지
28  1135010500  서울특별시 노원구 상계동               0  A13983815      상계은빛2단지
29  1135010500  서울특별시 노원구 상계동               0  A13974103      상계은빛3단지
..         ...            ...             ...        ...          ...
37  1135010500  서울특별시 노원구 상계동               0  A13920802     상계주공15단지
38  1135010500  서울특별시 노원구 상계동               0  A13920803     상계주공16단지
39  1135010500  서울특별시 노원구 상계동               2  A13983105      상계주공1단지
40  1135010500  서울특별시 노원구 상계동               0  A13983004      상계주공2단지
41  1135010500  서울특별시 노원구 상계동               0  A13971502      상계주공3단지
42  1135010500  서울특별시 노원구 상계동               0  A13920706      상계주공4단지
43  1135010500  서울특별시 노원구 상계동               0  A13920703      상계주공5단지
44  1135010500  서울특별시 노원구 상계동               0  A13920707      상계주공6단지
45  1135010500  서울특별시 노원구 상계동               0  A13982704      상계주공7단지
46  1135010500  서울특별시 노원구 상계동               0  A13921003      상계주공8단지
47  1135010500  서울특별시 노원구 상계동               2  A13921005      상계주공9단지
48  1135010500  서울특별시 노원구 상계동               0  A13920209    상계중앙하이츠2차
49  1135010500  서울특별시 노원구 상계동               0  A13981402      상계청암1단지
50  1135010500  서울특별시 노원구 상계동               0  A13920202        상계코오롱
51  1135010500  서울특별시 노원구 상계동               0  A13983608         상계한신
52  1135010500  서울특별시 노원구 상계동               0  A13981304       상계한신1차
53  1135010500  서울특별시 노원구 상계동               0  A13982005       상계한신2차
54  1135010500  서울특별시 노원구 상계동               0  A13982002       상계한신3차
55  1135010500  서울특별시 노원구 상계동               0  A13994302         상계한양
56  1135010500  서울특별시 노원구 상계동               0  A13920205     상계한일유엔아이
57  1135010500  서울특별시 노원구 상계동               0  A13983707       상계현대1차
58  1135010500  서울특별시 노원구 상계동               0  A13983709       상계현대2차
59  1135010500  서울특별시 노원구 상계동               0  A13983712       상계현대3차
60  1135010500  서울특별시 노원구 상계동               1  A13974101   수락리버시티 4단지
61  1135010500  서울특별시 노원구 상계동               4  A13974102    수락리버시티3단지
62  1135010500  서울특별시 노원구 상계동               0  A13983811    수락산벨리체아파트
63  1135010500  서울특별시 노원구 상계동               0  A13982103           양우
64  1135010500  서울특별시 노원구 상계동               0  A13920104  우림루미아트1.2단지
65  1135010500  서울특별시 노원구 상계동               0  A10027601   중계센트럴파크아파트
66  1135010500  서울특별시 노원구 상계동               0  A13981405        청암2단지

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        199701          199702      None  205515.315000  461795.500000
1        200306          200307      None  205079.582000  463774.579000
2        199410          199411      None  204622.435000  463889.550000
3        199912          200001      None  207147.710000  462822.055000
4        199710          199711      None  206014.580000  461263.030000
5        200004          200005      None  204984.055000  463889.210000
6        199505          199506      None  206005.295000  462768.515000
7        200105          200106      None  206206.410000  461656.795000
8        200207          200208      None  204417.574500  463608.286000
9        199911          199912      None  206955.085000  462728.430000
10       199911          199912      None  206871.325000  462657.000000
11       200308          200309      None  205578.156500  461692.952500
12       198811          198812      None  204959.550000  459925.000000
13       198806          198807      None  205003.395000  461935.460000
14       198804          198805      None  205316.480000  460424.540000
15       198905          198906      None  206355.490000  462122.615000
16       198806          198807      None  205664.965000  462654.485000
17       200003          200004      None  206729.940000  462332.070000
18       200003          200004      None  206805.671000  462390.990000
19       199912          200001      None  207023.320000  462869.210000
20       200606          200607      None  207095.185000  463303.050000
21       199908          199909      None  205742.125000  461997.400000
22       200105          200106      None  204972.370000  464094.265000
23       199704          199705      None  205240.075000  463486.620000
24       199509          199510      None  205218.335000  463656.975000
25       199506          199507      None  205885.965000  462778.260000
26       200006          200007      None  204939.255000  463294.365000
27       199811          199812      None  204672.475000  464349.225000
28       199810          199811      None  204635.595000  464161.195000
29       199809          199810      None  204934.230000  464510.405000
..          ...             ...       ...            ...            ...
37       198807          198808      None  204674.680000  462945.415000
38       198809          198810      None  204674.680000  462945.415000
39       198805          198806      None  205295.755000  460615.275000
40       198711          198712      None  205099.400000  460794.335000
41       198711          198712      None  205280.754500  461114.405000
42       198805          198806      None  205421.346500  460854.665000
43       198711          198712      None  205620.615000  461162.165000
44       198805          198806      None  205630.145000  461248.255000
45       198807          198808      None  205442.230000  461982.965000
46       198805          198806    201706  205440.085000  462121.440000
47       198810          198811      None  205217.861500  462291.020000
48       199809          199810      None  205957.810000  461392.880000
49       200106          200107      None  206954.984500  462592.707000
50       199712          199801      None  206099.720000  461150.065000
51       199510          199511      None  205151.055000  463386.365000
52       198703          198704      None  205991.557500  462631.815000
53       198805          198806      None  205934.290000  462491.120000
54       199005          199006      None  205887.865000  462652.611000
55       198805          198806      None  205876.370000  461025.665000
56       200502          200503      None  206194.133000  461308.166000
57       199304          199305      None  204584.495000  463381.310000
58       199312          199401      None  204381.770000  463333.205000
59       199904          199905      None  204603.244500  463234.685000
60       200911          200912      None  204594.332100  464867.999716
61       200911          200912      None  204654.410886  465008.159655
62       200006          200007      None  204939.545000  464346.265000
63       200207          200208      None  206197.977000  461587.172000
64       200411          200412      None  204885.118500  463578.960000
65       201603          201604      None  205122.817381  460050.481512
66       200106          200107      None  206867.357000  462319.301000

[67 rows x 10 columns]
11350105 code insert rows are 67
11350102 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1135010200  서울특별시 노원구 월계동               0  A10027716  꿈의숲 SK뷰 아파트
1   1135010200  서울특별시 노원구 월계동               0  A10027121   녹천역두산위브아파트
2   1135010200  서울특별시 노원구 월계동               0  A13991018       롯데캐슬루나
3   1135010200  서울특별시 노원구 월계동               0  A13987501     성북역신도브래뉴
4   1135010200  서울특별시 노원구 월계동               0  A13905302      성원(사슴4)
5   1135010200  서울특별시 노원구 월계동               0  A13987503       월계2차한일
6   1135010200  서울특별시 노원구 월계동               0  A13905204      월계6-1초안
7   1135010200  서울특별시 노원구 월계동               0  A13905208      월계6-2초안
8   1135010200  서울특별시 노원구 월계동               0  A13984004        월계그랑빌
9   1135010200  서울특별시 노원구 월계동               0  A13985201         월계극동
10  1135010200  서울특별시 노원구 월계동               0  A13905102         월계대동
11  1135010200  서울특별시 노원구 월계동               0  A13985103      월계대우아파트
12  1135010200  서울특별시 노원구 월계동              14  A13984604         월계동신
13  1135010200  서울특별시 노원구 월계동               0  A13991016     월계동원베네스트
14  1135010200  서울특별시 노원구 월계동               0  A13905105        월계동현대
15  1135010200  서울특별시 노원구 월계동               0  A13995602      월계사슴1단지
16  1135010200  서울특별시 노원구 월계동               0  A13984409      월계사슴2단지
17  1135010200  서울특별시 노원구 월계동               0  A13984411      월계사슴3단지
18  1135010200  서울특별시 노원구 월계동               0  A13984603         월계삼창
19  1135010200  서울특별시 노원구 월계동               0  A13984003       월계삼호4차
20  1135010200  서울특별시 노원구 월계동               0  A13905301         월계서광
21  1135010200  서울특별시 노원구 월계동               0  A13984005       월계시영고층
22  1135010200  서울특별시 노원구 월계동               0  A13987502     월계역신도브래뉴
23  1135010200  서울특별시 노원구 월계동               0  A13991015         월계유원
24  1135010200  서울특별시 노원구 월계동               0  A13984813      월계주공1단지
25  1135010200  서울특별시 노원구 월계동               0  A13984814      월계주공2단지
26  1135010200  서울특별시 노원구 월계동               0  A13985106      월계청백1단지
27  1135010200  서울특별시 노원구 월계동               0  A13985105      월계청백3단지
28  1135010200  서울특별시 노원구 월계동               1  A13985107      월계청백4단지
29  1135010200  서울특별시 노원구 월계동               0  A13991017      월계초안산쌍용
30  1135010200  서울특별시 노원구 월계동               0  A13905003      월계풍림아이원
31  1135010200  서울특별시 노원구 월계동               0  A13905101       월계한일1차
32  1135010200  서울특별시 노원구 월계동               0  A13905202     월계흥화브라운빌

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201601          201602      None  204660.166928  457644.504613
1        201710          201711      None  204674.790954  459794.055616
2        200611          200612      None  204326.330000  458247.155500
3        200505          200506      None  205123.874000  457870.430000
4        199506          199507      None  205448.445000  458561.195000
5        200004          200005      None  205399.160000  457654.740000
6        199804          199805      None  203837.880000  458960.765000
7        199711          199712      None  203720.250000  458771.325000
8        200210          200211      None  205955.545000  457268.020000
9        199608          199609      None  203983.445000  458578.360000
10       199709          199710      None  205251.365000  457721.290000
11       199807          199808      None  204462.640000  458976.300000
12       198304          198305      None  205337.917000  457246.440500
13       200503          200504      None  205069.523000  458829.000000
14       200011          200012      None  205440.255000  457334.560000
15       199506          199507      None  205293.515000  458623.640000
16       199506          199507      None  205304.300000  458913.640000
17       199506          199507      None  205220.855000  458819.530000
18       198412          198501      None  205249.249500  457350.873000
19       198707          198708      None  205617.810000  458250.520000
20       199410          199411      None  205656.330000  457869.045000
21       198606          198607      None  205688.991000  458015.735000
22       200506          200507      None  205102.603000  458527.682500
23       199804          199805      None  203919.855000  458584.245000
24       199211          199212      None  204601.895000  458385.355000
25       199210          199211      None  204601.895000  458385.355000
26       199807          199808      None  204449.695000  459246.205000
27       199808          199809      None  204366.865000  458816.105000
28       199808          199809      None  204498.670000  458805.600000
29       200603          200604      None  203846.963000  458680.468500
30       200512          200601      None  205816.165000  457135.864500
31       199912          200001      None  205367.330000  457742.410000
32       200409          200410      None  203811.259500  458809.740500
11350102 code insert rows are 33
11350106 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0   1135010600  서울특별시 노원구 중계동               0  A13922907           동진신안
1   1135010600  서울특별시 노원구 중계동               0  A13986009           롯데우성
2   1135010600  서울특별시 노원구 중계동               0  A13986702        삼창타워프라자
3   1135010600  서울특별시 노원구 중계동               0  A13922103          중계3벽산
4   1135010600  서울특별시 노원구 중계동              12  A13972603        중계4단지목화
5   1135010600  서울특별시 노원구 중계동               0  A13972601         중계건영2차
6   1135010600  서울특별시 노원구 중계동               0  A13986013         중계건영3차
7   1135010600  서울특별시 노원구 중계동               0  A13986302       중계경남롯데상아
8   1135010600  서울특별시 노원구 중계동               0  A13986703       중계경남아너스빌
9   1135010600  서울특별시 노원구 중계동               0  A13986306           중계그린
10  1135010600  서울특별시 노원구 중계동               0  A13922904           중계금호
11  1135010600  서울특별시 노원구 중계동               0  A13922903         중계대림벽산
12  1135010600  서울특별시 노원구 중계동               0  A13986111  중계라이프신동아청구아파트
13  1135010600  서울특별시 노원구 중계동               0  A13986504       중계무지개아파트
14  1135010600  서울특별시 노원구 중계동               0  A13922908           중계삼성
15  1135010600  서울특별시 노원구 중계동               0  A13986606         중계성원1차
16  1135010600  서울특별시 노원구 중계동               0  A13986701         중계성원2차
17  1135010600  서울특별시 노원구 중계동               0  A13986505      중계시영3단지목련
18  1135010600  서울특별시 노원구 중계동               0  A13922102           중계신안
19  1135010600  서울특별시 노원구 중계동               0  A13986207    중계양지대림1-2임대
20  1135010600  서울특별시 노원구 중계동               0  A13922108       중계양지대림1차
21  1135010600  서울특별시 노원구 중계동               0  A13922105    중계양지대림2-2임대
22  1135010600  서울특별시 노원구 중계동               0  A13922110       중계양지대림2차
23  1135010600  서울특별시 노원구 중계동               0  A13985907        중계염광아름빌
24  1135010600  서울특별시 노원구 중계동               0  A13986201         중계우성3차
25  1135010600  서울특별시 노원구 중계동               0  A13986004       중계주공10단지
26  1135010600  서울특별시 노원구 중계동               0  A13986509        중계주공1단지
27  1135010600  서울특별시 노원구 중계동               0  A13985909        중계주공2단지
28  1135010600  서울특별시 노원구 중계동               0  A13985908        중계주공3단지
29  1135010600  서울특별시 노원구 중계동               0  A13922406        중계주공4단지
30  1135010600  서울특별시 노원구 중계동               0  A13922114        중계주공5단지
31  1135010600  서울특별시 노원구 중계동               0  A13922909        중계주공6단지
32  1135010600  서울특별시 노원구 중계동               0  A13922910        중계주공7단지
33  1135010600  서울특별시 노원구 중계동               0  A13922111        중계주공8단지
34  1135010600  서울특별시 노원구 중계동               0  A13985605        중계중앙하이츠
35  1135010600  서울특별시 노원구 중계동               0  A13986012         중계청구3차
36  1135010600  서울특별시 노원구 중계동               0  A13922001        중계청암3단지
37  1135010600  서울특별시 노원구 중계동               0  A13922905       중계한화꿈에그린
38  1135010600  서울특별시 노원구 중계동               0  A13922003   중계한화꿈에그린더퍼스트
39  1135010600  서울특별시 노원구 중계동               0  A13922901         중계현대1차
40  1135010600  서울특별시 노원구 중계동               0  A13985904     중계현대2차(4동)
41  1135010600  서울특별시 노원구 중계동               0  A13985406         중계현대6차
42  1135010600  서울특별시 노원구 중계동               0  A13985402         중계현대그린
43  1135010600  서울특별시 노원구 중계동               0  A13922002       진로유통조합대림

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        199305          199306      None  206854.8000  460828.9400
1        199307          199308      None  206347.5900  460481.3350
2        199703          199704      None  206342.8600  461849.9750
3        199909          199910      None  206421.3705  461330.4550
4        199111          199112      None  206077.1700  460133.0590
5        199101          199102      None  205731.8550  460523.1200
6        199512          199601      None  206450.7650  460681.1100
7        198906          198907      None  205451.9000  459604.0400
8        200212          200301      None  206733.8440  462187.5000
9        199009          199010      None  205503.8100  460214.4550
10       199701          199702      None  207104.6705  460528.3750
11       199306          199307      None  206798.5100  460533.8450
12       199308          199309      None  206964.9100  461079.4450
13       199111          199112      None  205804.7900  460041.8600
14       199910          199911      None  207281.4750  460733.1800
15       199601          199602      None  206115.3550  460857.0700
16       199507          199508      None  206568.6210  462101.7340
17       199111          199112      None  206023.2200  460484.1650
18       199906          199907      None  206276.3700  461007.9450
19       199902          199903      None  206233.4940  461077.3600
20       199812          199901      None  206140.1050  460989.4900
21       199903          199904      None  206358.7200  461375.0050
22       199902          199903      None  206305.8350  461230.9900
23       199606          199607      None  206376.4250  461534.5550
24       199906          199907      None  206372.9820  461122.5035
25       199504          199505      None  206387.6350  460636.1050
26       199012          199101      None  205681.2200  460550.9200
27       199206          199207      None  206900.1310  461683.6150
28       199109          199110      None  206674.3650  461594.3600
29       199109          199110      None  206717.2700  461458.5800
30       199204          199205      None  206621.0800  461144.6900
31       199303          199304      None  206851.1900  460693.9350
32       199303          199304      None  206960.5700  460527.1950
33       199303          199304      None  206579.1750  460450.7600
34       199806          199807      None  206659.9220  461945.3200
35       199607          199608      None  206457.3650  460840.1600
36       200309          200310      None  206913.8200  462001.6460
37       200503          200504      None  207282.6915  460536.7200
38       201408          201409      None  206506.4015  461847.9765
39       199311          199312      None  207433.0250  460704.6150
40       199102          199103      None  206459.3900  461507.2200
41       201806          201807      None  207193.3990  460379.9005
42       199812          199901      None  207353.0145  460504.2380
43       199206          199207      None  207174.4250  460717.3900
11350106 code insert rows are 44
11350104 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0   1135010400  서울특별시 노원구 하계동               0  A13977913    중계주공9단지
1   1135010400  서울특별시 노원구 하계동               0  A13923106  하계2차현대아파트
2   1135010400  서울특별시 노원구 하계동               0  A13987304  하계6단지(장미)
3   1135010400  서울특별시 노원구 하계동               0  A13987306   하계극동건영벽산
4   1135010400  서울특별시 노원구 하계동               0  A13923104       하계미성
5   1135010400  서울특별시 노원구 하계동               0  A13993501     하계삼익선경
6   1135010400  서울특별시 노원구 하계동               0  A13987302    하계시영5단지
7   1135010400  서울특별시 노원구 하계동               0  A13923102       하계우방
8   1135010400  서울특별시 노원구 하계동               0  A13923103       하계청구
9   1135010400  서울특별시 노원구 하계동               0  A13987205     하계청구1차
10  1135010400  서울특별시 노원구 하계동               0  A13923108       하계청솔
11  1135010400  서울특별시 노원구 하계동               0  A13987305    하계학여울청구
12  1135010400  서울특별시 노원구 하계동               0  A13993901   하계학여울청구A
13  1135010400  서울특별시 노원구 하계동               0  A13987301   하계학여울청구B
14  1135010400  서울특별시 노원구 하계동               0  A13993502     하계한신동성
15  1135010400  서울특별시 노원구 하계동               0  A13987303     하계현대우성
16  1135010400  서울특별시 노원구 하계동               0  A13993503        한신1

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        199209          199210      None  206484.095000  460063.335000
1        199707          199708      None  206287.590000  460246.515000
2        198910          198911      None  205924.805000  459050.185000
3        198806          198807      None  205584.347285  459221.543328
4        198906          198907      None  206072.120000  459158.875000
5        199306          199307      None  206720.902580  459633.136122
6        198910          198911      None  205723.585000  458997.230000
7        199912          200001      None  206748.825000  459461.140000
8        198810          198811      None  205993.025000  459493.855000
9        199706          199707      None  206244.545000  459681.140000
10       198910          198911      None  206219.595000  458914.120000
11       199902          199903      None  205368.290000  459347.045000
12       200106          200107      None  205532.680000  459056.385000
13       200203          200204      None  205626.495000  458928.435000
14       199303          199304      None  206545.350000  459797.400000
15       198809          198810      None  205785.720000  459376.285000
16       198810          198811      None  205993.025000  459493.855000
11350104 code insert rows are 17
11320108 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0   1132010800  서울특별시 도봉구 도봉동               0  A13201203   도봉극동아파트
1   1132010800  서울특별시 도봉구 도봉동               0  A13201206   도봉동아에코빌
2   1132010800  서울특별시 도봉구 도봉동               0  A13293505     도봉래미안
3   1132010800  서울특별시 도봉구 도봉동               0  A13281802      도봉럭키
4   1132010800  서울특별시 도봉구 도봉동               0  A13201207      도봉삼환
5   1132010800  서울특별시 도봉구 도봉동               0  A13201001      도봉서광
6   1132010800  서울특별시 도봉구 도봉동               0  A13281201    도봉서울가든
7   1132010800  서울특별시 도봉구 도봉동               0  A13275302    도봉서원제2
8   1132010800  서울특별시 도봉구 도봉동               0  A10027136  도봉숲 아뜨리움
9   1132010800  서울특별시 도봉구 도봉동               0  A13280104   도봉유원아파트
10  1132010800  서울특별시 도봉구 도봉동               0  A13201202  도봉파크빌3단지
11  1132010800  서울특별시 도봉구 도봉동               0  A13201209      도봉한신
12  1132010800  서울특별시 도봉구 도봉동               0  A13201201    도봉현대성우
13  1132010800  서울특별시 도봉구 도봉동               0  A13201002      서울도봉
14  1132010800  서울특별시 도봉구 도봉동               0  A13201208     서원아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0        199112          199201      None  204307.5950  464451.105
1        200303          200304      None  204069.8735  464347.180
2        200502          200503      None  204069.8870  464126.411
3        199209          199210      None  203851.5300  464102.650
4        198710          198711      None  204236.0000  464289.890
5        199909          199910      None  204321.2850  463959.769
6        198707          198708      None  203595.6150  464892.190
7        199610          199611      None  204183.3750  463526.035
8        201609          201610      None  203676.8050  463980.135
9        199011          199012      None  204369.1585  464379.030
10       200212          200301      None  204222.7005  465017.228
11       199509          199510      None  204187.9050  464837.210
12       199812          199901      None  204137.5150  463759.995
13       200211          200212      None  204403.0800  464511.250
14       199610          199611      None  204183.3750  463526.035
11320108 code insert rows are 15
11320106 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1132010600  서울특별시 도봉구 방학동               0  A13202002       대상타운현대
1   1132010600  서울특별시 도봉구 방학동               0  A13285507     방학4단지신동아
2   1132010600  서울특별시 도봉구 방학동               0  A13285305      방학거성학마을
3   1132010600  서울특별시 도봉구 방학동               0  A13202302         방학극동
4   1132010600  서울특별시 도봉구 방학동               0  A13202304       방학대원그린
5   1132010600  서울특별시 도봉구 방학동               0  A13272102     방학동부센트레빌
6   1132010600  서울특별시 도봉구 방학동               0  A13285503      방학동양크레오
7   1132010600  서울특별시 도봉구 방학동               0  A13285404   방학명품ESA1단지
8   1132010600  서울특별시 도봉구 방학동               0  A13272101   방학명품ESA2단지
9   1132010600  서울특별시 도봉구 방학동               0  A13283405       방학벽산2차
10  1132010600  서울특별시 도봉구 방학동               0  A13285406   방학삼성래미안1단지
11  1132010600  서울특별시 도봉구 방학동               0  A13202103   방학삼성래미안2단지
12  1132010600  서울특별시 도봉구 방학동               0  A13202308      방학삼익세라믹
13  1132010600  서울특별시 도봉구 방학동               0  A13202102         방학성원
14  1132010600  서울특별시 도봉구 방학동               0  A13202312     방학신동아1단지
15  1132010600  서울특별시 도봉구 방학동               0  A13283611     방학신동아2단지
16  1132010600  서울특별시 도봉구 방학동               0  A13276414     방학신동아3단지
17  1132010600  서울특별시 도봉구 방학동               0  A13285601     방학신동아5단지
18  1132010600  서울특별시 도봉구 방학동               0  A13276416       방학우성1차
19  1132010600  서울특별시 도봉구 방학동               0  A13282510       방학우성2차
20  1132010600  서울특별시 도봉구 방학동               0  A13276415         방학청구
21  1132010600  서울특별시 도봉구 방학동               0  A13202306       방학한화성원
22  1132010600  서울특별시 도봉구 방학동               0  A13276417          벽산1
23  1132010600  서울특별시 도봉구 방학동               0  A13285401  브라운스톤 방학아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0        200110          200111      None  204192.010  462526.165
1        199505          199506      None  202520.700  462269.610
2        199412          199501      None  203426.280  462692.735
3        199309          199310      None  202296.945  462457.260
4        198706          198707      None  202414.935  462276.910
5        200511          200512      None  203418.579  462323.042
6        200412          200501      None  202597.144  462447.784
7        200310          200311      None  203946.670  462918.145
8        200309          200310      None  203955.005  462676.005
9        199806          199807      None  202173.580  461837.430
10       200210          200211      None  204126.300  462734.540
11       200210          200211      None  203973.750  462524.775
12       198807          198808      None  202932.755  462086.425
13       199606          199607      None  203071.215  462158.790
14       198612          198701      None  202286.225  462059.090
15       199209          199210      None  202001.790  461864.065
16       199209          199210      None  201980.975  461996.275
17       199810          199811      None  202448.045  462334.375
18       199207          199208      None  202042.365  461729.750
19       199309          199310      None  201845.322  461598.565
20       199406          199407      None  202244.265  461736.495
21       199604          199605      None  202733.890  462096.855
22       199109          199110      None  202727.450  462009.300
23       200304          200305      None  203908.035  462391.015
11320106 code insert rows are 24
11320105 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1132010500  서울특별시 도봉구 쌍문동               0  A13203002     북한산코오롱하늘채
1   1132010500  서울특별시 도봉구 쌍문동               0  A13295201       브라운스톤쌍문
2   1132010500  서울특별시 도봉구 쌍문동               0  A13286203          쌍문경남
3   1132010500  서울특별시 도봉구 쌍문동               0  A13203102          쌍문극동
4   1132010500  서울특별시 도봉구 쌍문동               0  A13203408     쌍문금호1차아파트
5   1132010500  서울특별시 도봉구 쌍문동               0  A13203403        쌍문금호2차
6   1132010500  서울특별시 도봉구 쌍문동               0  A13203401    쌍문대우파크힐아파트
7   1132010500  서울특별시 도봉구 쌍문동               0  A13203001  쌍문동북한산월드메르디앙
8   1132010500  서울특별시 도봉구 쌍문동               0  A13287503        쌍문동익파크
9   1132010500  서울특별시 도봉구 쌍문동               0  A13203302       쌍문삼성래미안
10  1132010500  서울특별시 도봉구 쌍문동               0  A13286304          쌍문삼익
11  1132010500  서울특별시 도봉구 쌍문동               0  A13286106          쌍문성원
12  1132010500  서울특별시 도봉구 쌍문동               0  A13203202          쌍문청구
13  1132010500  서울특별시 도봉구 쌍문동               0  A13203303        쌍문한양1차
14  1132010500  서울특별시 도봉구 쌍문동               0  A13286110    쌍문한양2,3,4차
15  1132010500  서울특별시 도봉구 쌍문동               0  A13286105        쌍문한양5차
16  1132010500  서울특별시 도봉구 쌍문동               0  A13286107        쌍문한양6차
17  1132010500  서울특별시 도봉구 쌍문동               0  A13286904        쌍문한양7차
18  1132010500  서울특별시 도봉구 쌍문동               0  A13286109        쌍문현대1차
19  1132010500  서울특별시 도봉구 쌍문동               0  A13286002        쌍문현대2차
20  1132010500  서울특별시 도봉구 쌍문동               0  A13287801        쌍문현대3차

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201404          201405      None  202054.868882  460612.864309
1        200612          200701      None  202503.772500  460554.050000
2        198803          198804      None  203033.995000  461383.110000
3        199608          199609      None  202357.085000  460991.490000
4        199009          199010      None  202886.360000  461857.095000
5        199112          199201      None  202487.080000  461656.425000
6        200404          200405      None  202510.198000  461017.851000
7        200506          200507      None  201129.921000  461268.388000
8        198705          198706      None  202116.025000  460986.350000
9        200207          200208      None  202401.055000  460500.675000
10       198812          198901      None  203060.990000  461648.910000
11       198910          198911      None  202471.450000  461794.265000
12       199607          199608      None  202962.205000  461915.180000
13       198612          198701      None  202595.810000  460388.860000
14       198811          198812      None  202697.845000  461615.490000
15       199105          199106      None  202765.820000  461519.130000
16       200203          200204      None  202539.035000  461500.765000
17       199309          199310      None  202915.510000  461516.930000
18       199010          199011      None  202685.185000  461802.250000
19       199311          199312      None  202633.090000  461877.350000
20       199506          199507      None  201800.690000  461115.365000
11320105 code insert rows are 21
11320107 code insert start
      BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE         KAPT_NAME  \
0   1132010700  서울특별시 도봉구 창동               0  A13204502         북한산한신휴플러스
1   1132010700  서울특별시 도봉구 창동               0  A13204203           창동건영캐스빌
2   1132010700  서울특별시 도봉구 창동               0  A13204201              창동금용
3   1132010700  서울특별시 도봉구 창동               0  A13290404           창동금호어울림
4   1132010700  서울특별시 도봉구 창동               0  A13204501              창동대동
5   1132010700  서울특별시 도봉구 창동               0  A13204001              창동대림
6   1132010700  서울특별시 도봉구 창동               0  A13204204              창동대우
7   1132010700  서울특별시 도봉구 창동               0  A13272201         창동대우그린아파트
8   1132010700  서울특별시 도봉구 창동               0  A13290003              창동동아
9   1132010700  서울특별시 도봉구 창동               0  A13204506            창동동아그린
10  1132010700  서울특별시 도봉구 창동               0  A13204409            창동동아청솔
11  1132010700  서울특별시 도봉구 창동               0  A13204510         창동북한산아이파크
12  1132010700  서울특별시 도봉구 창동               0  A13204103              창동삼성
13  1132010700  서울특별시 도봉구 창동               0  A13204507            창동상아1차
14  1132010700  서울특별시 도봉구 창동               0  A13204505            창동상아2차
15  1132010700  서울특별시 도봉구 창동               0  A13292701              창동성원
16  1132010700  서울특별시 도봉구 창동               0  A13204002           창동신도브래뉴
17  1132010700  서울특별시 도봉구 창동               0  A13204302              창동신창
18  1132010700  서울특별시 도봉구 창동               0  A13204406              창동쌍용
19  1132010700  서울특별시 도봉구 창동               0  A13204404  창동아이파크(창동2.3차현대)
20  1132010700  서울특별시 도봉구 창동               0  A13204408          창동주공17단지
21  1132010700  서울특별시 도봉구 창동               0  A13290105          창동주공18단지
22  1132010700  서울특별시 도봉구 창동               0  A13290107          창동주공19단지
23  1132010700  서울특별시 도봉구 창동               0  A13290809           창동주공1단지
24  1132010700  서울특별시 도봉구 창동               0  A13204508           창동주공2단지
25  1132010700  서울특별시 도봉구 창동               0  A13204105           창동주공3단지
26  1132010700  서울특별시 도봉구 창동               0  A13204104           창동주공4단지
27  1132010700  서울특별시 도봉구 창동               0  A13204205           창동태영데시앙
28  1132010700  서울특별시 도봉구 창동               0  A13292002              창동한신
29  1132010700  서울특별시 도봉구 창동               0  A13204503              창동현대
30  1132010700  서울특별시 도봉구 창동               0  A13204402        창동현대4차아이파크
31  1132010700  서울특별시 도봉구 창동               0  A13292501        창동현대타운(주복)
32  1132010700  서울특별시 도봉구 창동               0  A13204301          초안산신도브래뉴

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200707          200708      None  203706.000000  461488.013000
1        200208          200209      None  202948.593329  459894.694431
2        199705          199706      None  203078.080000  459501.510000
3        200401          200402      None  203610.776500  461562.660000
4        199906          199907      None  203813.640000  462144.265000
5        200310          200311      None  203963.462500  461249.340000
6        199511          199512      None  203222.340000  460015.000000
7        200011          200012      None  204309.330000  460456.730000
8        198812          198901      None  204373.040000  460987.000000
9        199611          199612      None  204028.305000  461331.260000
10       199703          199704      None  204177.175000  461669.910000
11       200407          200408      None  203788.892500  461724.967500
12       199207          199208      None  204225.655000  460726.510000
13       198711          198712      None  203661.060000  461288.130000
14       198802          198803      None  203823.710000  461228.425000
15       200106          200107      None  204322.905000  462047.625000
16       200309          200310      None  203908.555000  461519.750500
17       199807          199808      None  203609.780000  459813.610000
18       199702          199703      None  204180.925000  461939.830000
19       200106          200107      None  204005.219000  462083.388000
20       198907          198908      None  204635.050000  460210.155000
21       198810          198811      None  204496.970000  460494.060000
22       198811          198812      None  204422.650000  460780.420000
23       199009          199010      None  203396.135000  461238.900000
24       199007          199008      None  203683.115000  461155.965000
25       199009          199010      None  203852.965000  460847.610000
26       199111          199112      None  204099.715000  460385.550000
27       200307          200308      None  202878.260000  460061.060000
28       200207          200208      None  203016.505000  460374.095000
29       200005          200006      None  203538.035000  461494.895000
30       200305          200306      None  204018.465000  461848.461500
31       199909          199910      None  203034.030000  460526.755000
32       200510          200511      None  203683.268500  459008.726000
11320107 code insert rows are 33
11230105 code insert start

      BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0   1123010500  서울특별시 동대문구 답십리동               0  A13080801      답십리대림
1   1123010500  서울특별시 동대문구 답십리동               0  A13080201      답십리대우
2   1123010500  서울특별시 동대문구 답십리동               0  A13003405    답십리동답한신
3   1123010500  서울특별시 동대문구 답십리동               0  A13003002   답십리동서울한양
4   1123010500  서울특별시 동대문구 답십리동               0  A13003406      답십리동아
5   1123010500  서울특별시 동대문구 답십리동               0  A13075404    답십리동아제2
6   1123010500  서울특별시 동대문구 답십리동               0  A13003201      답십리두산
7   1123010500  서울특별시 동대문구 답십리동               3  A13003003    답십리두산위브
8   1123010500  서울특별시 동대문구 답십리동               0  A13075405    답십리두산제2
9   1123010500  서울특별시 동대문구 답십리동               0  A13003404    답십리우성그린
10  1123010500  서울특별시 동대문구 답십리동               0  A13003202    답십리청솔우성
11  1123010500  서울특별시 동대문구 답십리동               0  A13075403  답십리청솔우성제2
12  1123010500  서울특별시 동대문구 답십리동               0  A10026232   래미안미드카운티
13  1123010500  서울특별시 동대문구 답십리동               0  A13075402     래미안엘파인
14  1123010500  서울특별시 동대문구 답십리동               0  A13003007      래미안위브
15  1123010500  서울특별시 동대문구 답십리동               0  A13003402      세양청마루
16  1123010500  서울특별시 동대문구 답십리동               0  A13080702    신답경남아파트
17  1123010500  서울특별시 동대문구 답십리동               0  A13080401    신답극동아파트
18  1123010500  서울특별시 동대문구 답십리동               0  A13003005   청계한신휴플러스
19  1123010500  서울특별시 동대문구 답십리동               0  A10027089    현대썬앤빌청계
20  1123010500  서울특별시 동대문구 답십리동               0  A10026104    힐스테이트청계

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200301          200302      None  205566.350000  452074.296500
1        200204          200205      None  204651.455000  452353.330000
2        199201          199202      None  205453.255000  452065.765000
3        198907          198908      None  205266.805000  452133.550000
4        200111          200112      None  205381.370000  451883.600000
5        200111          200112      None  205326.770000  451767.500000
6        200008          200009      None  205244.530000  451889.710000
7        200704          200705      None  205039.855000  451541.150000
8        200008          200009      None  205165.510000  451892.190000
9        199705          199706      None  205752.050000  452517.200000
10       200003          200004      None  205193.610000  452463.035000
11       200003          200004      None  205193.610000  452463.035000
12       201805          201806      None  204950.025552  452480.384520
13       201106          201107      None  205703.535000  452615.385000
14       201410          201411      None       0.000000       0.000000
15       200504          200505      None  205717.515000  452384.480000
16       199106          199107      None  203869.035000  452508.955000
17       198708          198709      None  203828.235000  452269.660000
18       201008          201009      None  204007.914500  452234.888000
19       201612          201701      None  204801.382229  451543.394571
20       201806          201807      None            NaN            NaN
11230105 code insert rows are 21
11230101 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1123010100  서울특별시 동대문구 신설동               0  A10026147  신설동 지웰홈스

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201711          201712      None  202015.893057  452322.231783
11230101 code insert rows are 1
11230102 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0  1123010200  서울특별시 동대문구 용두동               0  A10027274       동대문푸르지오시티
1  1123010200  서울특별시 동대문구 용두동               0  A13070302         래미안용두1차
2  1123010200  서울특별시 동대문구 용두동               0  A13070301         래미안허브리츠
3  1123010200  서울특별시 동대문구 용두동               0  A10028080  용두 롯데 캐슬리치 아파트
4  1123010200  서울특별시 동대문구 용두동               0  A13007001          용두두산위브
5  1123010200  서울특별시 동대문구 용두동               0  A13007002       용두롯데캐슬피렌체
6  1123010200  서울특별시 동대문구 용두동               0  A13007004           용두신동아

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201609          201610      None  202849.378500  452844.962500
1       201104          201105      None  203194.090000  452678.816500
2       201104          201105      None  203129.245000  452578.975000
3       201503          201504      None  202675.502772  452981.118389
4       200906          200907      None  203129.186500  452342.914000
5       200902          200903      None  203084.455000  452765.210000
6       199410          199411      None  202781.954500  452259.036000
11230102 code insert rows are 7
11230110 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1123011000  서울특별시 동대문구 이문동               0  A13079401   대림아파트201동
1   1123011000  서울특별시 동대문구 이문동               0  A13083102     래미안이문2차
2   1123011000  서울특별시 동대문구 이문동               0  A13082501          삼익
3   1123011000  서울특별시 동대문구 이문동               0  A13008001    신이문금호어울림
4   1123011000  서울특별시 동대문구 이문동               0  A13082805    이문e-편한세상
5   1123011000  서울특별시 동대문구 이문동               0  A13082702      이문대우1차
6   1123011000  서울특별시 동대문구 이문동               0  A13076801  이문삼성래미안아파트
7   1123011000  서울특별시 동대문구 이문동               0  A13082704        이문쌍용
8   1123011000  서울특별시 동대문구 이문동               0  A13079403      이문쌍용임대
9   1123011000  서울특별시 동대문구 이문동               0  A13082502    이문중앙하이츠빌
10  1123011000  서울특별시 동대문구 이문동               0  A13082703        이문현대
11  1123011000  서울특별시 동대문구 이문동               0  A13079402      이문현대임대

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0        200307          200308      None  205493.1750  455829.270
1        200404          200405      None  205234.2650  454583.580
2        199712          199801      None  205891.5250  454840.960
3        200811          200812      None  205489.6200  455709.550
4        200307          200308      None  205667.8850  455799.730
5        200112          200201      None  206095.1200  455594.015
6        200111          200112      None  204911.7850  455344.030
7        200011          200012      None  206005.2800  455238.100
8        200011          200012      None  205929.3125  455495.031
9        200205          200206      None  205637.2200  454908.000
10       200005          200006      None  206123.7100  455444.645
11       200005          200006      None  206162.8850  455556.055
11230110 code insert rows are 12
11230106 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1123010600  서울특별시 동대문구 장안동               0  A13010005    래미안장안2차
1  1123010600  서울특별시 동대문구 장안동               0  A13010001  장안2차현대홈타운
2  1123010600  서울특별시 동대문구 장안동               0  A13084101    장안래미안1차
3  1123010600  서울특별시 동대문구 장안동               0  A13010002    장안삼성쉐르빌
4  1123010600  서울특별시 동대문구 장안동               0  A13078701     장안위더스빌
5  1123010600  서울특별시 동대문구 장안동               0  A13084701       장안한신
6  1123010600  서울특별시 동대문구 장안동               0  A13010003       장안현대
7  1123010600  서울특별시 동대문구 장안동               0  A13010006    장안현대홈타운
8  1123010600  서울특별시 동대문구 장안동               9  A13010004  장안현대힐스테이트
9  1123010600  서울특별시 동대문구 장안동               0  A10027877   현대썬앤빌601

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200706          200707      None  206590.9185  452412.4810
1       200512          200601      None  206252.2795  451805.9050
2       200304          200305      None  206326.0310  451574.6355
3       200208          200209      None  206099.0000  452153.9520
4       201108          201109      None  205419.3085  451548.1335
5       199606          199607      None  206282.2405  453032.6350
6       198406          198407      None  206040.6365  453202.3275
7       200310          200311      None  206517.5390  451932.6355
8       200708          200709      None  206588.2540  452634.0450
9       201510          201511      None  206057.9855  451879.2205
11230106 code insert rows are 10
11230104 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1123010400  서울특별시 동대문구 전농동               0  A13002002        래미안아름숲
1  1123010400  서울특별시 동대문구 전농동               0  A13071302       래미안크레시티
2  1123010400  서울특별시 동대문구 전농동               0  A10026180      롯데캐슬노블레스
3  1123010400  서울특별시 동대문구 전농동               0  A13084804          전농SK
4  1123010400  서울특별시 동대문구 전농동               0  A13084802    전농SK제2(임대)
5  1123010400  서울특별시 동대문구 전농동               0  A13085902  전농동신성미소지움아파트
6  1123010400  서울특별시 동대문구 전농동               0  A13085901          전농동아
7  1123010400  서울특별시 동대문구 전농동               0  A13071301        전농동아임대
8  1123010400  서울특별시 동대문구 전농동               0  A13085301          전농삼성
9  1123010400  서울특별시 동대문구 전농동               0  A13084803          전농우성

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201207          201208      None  205341.811000  453181.158000
1       201410          201411      None  204484.866500  452587.109500
2       201806          201807      None  204295.052015  452740.272733
3       200007          200008      None  205291.915000  452704.035000
4       200005          200006      None  205477.780000  452785.735000
5       200510          200511      None  204216.202500  452882.612000
6       199712          199801      None  203969.535000  452507.165000
7       199712          199801      None  204013.425000  452514.805000
8       200005          200006      None  204832.135000  453280.960000
9       199203          199204      None  205653.060000  452782.810000
11230104 code insert rows are 10
11230103 code insert start

     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1123010300  서울특별시 동대문구 제기동               0  A13006001       제기경동미주
1  1123010300  서울특별시 동대문구 제기동               0  A13086101      제기안암골벽산
2  1123010300  서울특별시 동대문구 제기동               0  A13006003    제기이수브라운스톤
3  1123010300  서울특별시 동대문구 제기동               0  A13006101         제기한신
4  1123010300  서울특별시 동대문구 제기동               0  A13077201  제기한신제2임대아파트
5  1123010300  서울특별시 동대문구 제기동               0  A13006002         제기현대

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       197706          197707      None  203072.7470  452988.269
1       200306          200307      None  202745.4355  453467.785
2       200503          200504      None  202930.6050  453316.005
3       200405          200406      None  203394.0100  454061.340
4       200405          200406      None  203442.3150  454227.440
5       199911          199912      None  203084.3280  453102.157
11230103 code insert rows are 6
11230107 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1123010700  서울특별시 동대문구 청량리동               0  A13086705      청량리미주
1  1123010700  서울특별시 동대문구 청량리동               0  A13086704      청량리한신
2  1123010700  서울특별시 동대문구 청량리동               0  A13086703    청량리한신1차
3  1123010700  서울특별시 동대문구 청량리동               0  A13086701      청량리현대
4  1123010700  서울특별시 동대문구 청량리동               0  A13086802    청량리홍릉동부
5  1123010700  서울특별시 동대문구 청량리동               0  A13071201  청량리홍릉동부임대
6  1123010700  서울특별시 동대문구 청량리동               0  A13613201    하월곡샹그레빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       197809          197810      None  204050.2695  453522.5320
1       199712          199801      None  204293.4450  453960.2000
2       199712          199801      None  204133.0500  453889.7700
3       198706          198707      None  204021.1060  453626.0100
4       200109          200110      None  203996.6085  453756.5200
5       200109          200110      None  203909.7850  453683.3300
6       200407          200408      None  203546.8680  454756.5095
11230107 code insert rows are 7
11230108 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1123010800  서울특별시 동대문구 회기동               0  A13087201    청량리신현대
1  1123010800  서울특별시 동대문구 회기동               0  A13070101   회기힐스테이트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       198905          198906      None  204504.5950  454139.3265
1       201112          201201      None  204660.3455  454180.8875
11230108 code insert rows are 2
11230109 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1123010900  서울특별시 동대문구 휘경동               0  A13009003     브라운스톤휘경
1   1123010900  서울특별시 동대문구 휘경동               0  A13077702  휘경 미소지움아파트
2   1123010900  서울특별시 동대문구 휘경동               0  A13009001    휘경동양1.2차
3   1123010900  서울특별시 동대문구 휘경동               0  A13009206   휘경동일스위트리버
4   1123010900  서울특별시 동대문구 휘경동               0  A13009202     휘경동일하이빌
5   1123010900  서울특별시 동대문구 휘경동               0  A13077703      휘경롯데1차
6   1123010900  서울특별시 동대문구 휘경동               0  A13009101     휘경롯데낙천대
7   1123010900  서울특별시 동대문구 휘경동               0  A13087405    휘경베스트빌현대
8   1123010900  서울특별시 동대문구 휘경동               0  A13087401      휘경서울가든
9   1123010900  서울특별시 동대문구 휘경동               0  A13078301      휘경센트레빌
10  1123010900  서울특별시 동대문구 휘경동               0  A13009002     휘경주공1단지
11  1123010900  서울특별시 동대문구 휘경동               0  A13087407     휘경주공2단지

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201310          201311      None  205839.133091  454214.893204
1        199908          199909      None  205662.172000  454358.524000
2        200005          200006      None  205894.935000  454470.425000
3        200705          200706      None  205994.960500  453914.549000
4        200510          200511      None  206402.785000  453343.630000
5        200008          200009      None  205526.400000  454299.629000
6        200307          200308      None  205633.955500  454399.425000
7        200005          200006      None  206492.610000  453281.099500
8        198512          198601      None  206206.512000  453539.034000
9        201109          201110      None  205953.149000  454293.339000
10       200111          200112      None  206170.195000  453400.590000
11       200111          200112      None  206170.195000  453400.590000
11230109 code insert rows are 12
11590101 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0  1159010100  서울특별시 동작구 노량진동               0  A15605001           노량진삼익
1  1159010100  서울특별시 동작구 노량진동               0  A15605003         노량진쌍용예가
2  1159010100  서울특별시 동작구 노량진동               0  A15605002           노량진우성
3  1159010100  서울특별시 동작구 노량진동               0  A15603205            상도건영
4  1159010100  서울특별시 동작구 노량진동               0  A15605103         신동아리버파크
5  1159010100  서울특별시 동작구 노량진동               0  A15676701  신동아리버파크제2관리사무소

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200107          200108      None  195079.8915  445417.5810
1       201008          201009      None  194946.4805  445309.8385
2       199712          199801      None  195300.8100  445237.8700
3       199709          199710      None  195447.8650  445051.4350
4       200102          200103      None  195093.0300  445016.9600
5       200102          200103      None  194840.7300  444910.0100
11590101 code insert rows are 6
11590108 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1159010800  서울특별시 동작구 대방동               0  A15602007  대방1차e편한세상
1  1159010800  서울특별시 동작구 대방동               0  A15681104     대방2차현대
2  1159010800  서울특별시 동작구 대방동               0  A15602001   대방경남아너스빌
3  1159010800  서울특별시 동작구 대방동               0  A15681110       대방대림
4  1159010800  서울특별시 동작구 대방동               0  A15681105       대방성원
5  1159010800  서울특별시 동작구 대방동               0  A15681103       대방우정
6  1159010800  서울특별시 동작구 대방동               0  A15676512    대방주공1단지
7  1159010800  서울특별시 동작구 대방동               0  A15681108    대방주공2단지
8  1159010800  서울특별시 동작구 대방동               0  A15681106     대방현대1차
9  1159010800  서울특별시 동작구 대방동               0  A15602002  보라매코오롱하늘채

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200306          200307      None  193645.151  445550.565
1       199912          200001      None  193852.566  445400.630
2       200603          200604      None  193361.605  445469.855
3       199311          199312      None  193265.300  445014.885
4       199401          199402      None  193345.105  445244.950
5       199901          199902      None  193719.785  445777.345
6       199304          199305      None  193738.705  445292.025
7       199504          199505      None  193738.705  445292.025
8       199408          199409      None  193812.568  445608.620
9       200509          200510      None  193136.900  444032.160
11590108 code insert rows are 10
11590106 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1159010600  서울특별시 동작구 동작동               0  A15608002   동작금강KCC
1  1159010600  서울특별시 동작구 동작동               0  A15608001    이수교스위첸
2  1159010600  서울특별시 동작구 동작동               3  A15608003   이수힐스테이트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200310          200311      None  198018.6935  443532.6670
1       200603          200604      None  198256.1305  443938.7455
2       201302          201303      None       0.0000       0.0000
11590106 code insert rows are 3
11590104 code insert start
     BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1159010400  서울특별시 동작구 본동               0  A15606001      경동윈츠리버
1  1159010400  서울특별시 동작구 본동               0  A15606007     래미안트윈파크
2  1159010400  서울특별시 동작구 본동               0  A15676702  본동SH-ville
3  1159010400  서울특별시 동작구 본동               0  A15606003  본동삼성래미안아파트
4  1159010400  서울특별시 동작구 본동               0  A15606004       본동신동아
5  1159010400  서울특별시 동작구 본동               0  A15605102    본동한신휴플러스
6  1159010400  서울특별시 동작구 본동               0  A15606002        유원강변
7  1159010400  서울특별시 동작구 본동               0  A15606005        한강쌍용

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       200412          200501      None  195915.595  445294.0000
1       201111          201112      None  195579.369  445763.9250
2       200611          200612      None  195483.485  445397.4050
3       200410          200411      None  195512.885  445328.8500
4       199306          199307      None  195667.700  445281.6600
5       200408          200409      None  195501.535  445208.5300
6       200008          200009      None  195559.647  445857.4980
7       199904          199905      None  195772.975  445553.8615
11590104 code insert rows are 8
11590107 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0   1159010700  서울특별시 동작구 사당동               0  A15677501      남성두산위브트레지움
1   1159010700  서울특별시 동작구 사당동               0  A10026299      래미안로이파크아파트
2   1159010700  서울특별시 동작구 사당동               0  A15609005  사당 대림아파트 관리사무소
3   1159010700  서울특별시 동작구 사당동               0  A15681501         사당4-3우성
4   1159010700  서울특별시 동작구 사당동               0  A15609303        사당경남아너스빌
5   1159010700  서울특별시 동작구 사당동               0  A15681503            사당극동
6   1159010700  서울특별시 동작구 사당동               0  A15609306    사당동작삼성래미안아파트
7   1159010700  서울특별시 동작구 사당동               0  A15609301          사당롯데캐슬
8   1159010700  서울특별시 동작구 사당동               0  A15609305        사당롯데캐슬샤인
9   1159010700  서울특별시 동작구 사당동               0  A15609401         사당삼익그린뷰
10  1159010700  서울특별시 동작구 사당동               0  A15609002          사당삼호그린
11  1159010700  서울특별시 동작구 사당동               0  A15677204        사당신동아4단지
12  1159010700  서울특별시 동작구 사당동               0  A15681502         사당우성2단지
13  1159010700  서울특별시 동작구 사당동               0  A15609001           사당유니드
14  1159010700  서울특별시 동작구 사당동               0  A15609502            사당자이
15  1159010700  서울특별시 동작구 사당동               0  A15609501            사당제일
16  1159010700  서울특별시 동작구 사당동               0  A15681802         사당현대아파트
17  1159010700  서울특별시 동작구 사당동               0  A15609003          사당휴먼시아
18  1159010700  서울특별시 동작구 사당동               0  A15609006            신동아5
19  1159010700  서울특별시 동작구 사당동               0  A15609007           이수역리가

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201110          201111      None  197379.857500  442580.341500
1        201804          201805      None  196859.189000  443023.655475
2        199008          199009      None  197556.110000  442665.695000
3        199312          199401      None  197844.194000  443054.730000
4        199702          199703      None  197087.670000  442898.025000
5        199312          199401      None  197844.194000  443054.730000
6        200302          200303      None  197306.815000  442988.055000
7        200409          200410      None  197409.138000  443107.773500
8        200310          200311      None  197495.180000  443176.230000
9        200310          200311      None  197200.921500  441672.996000
10       199910          199911      None  196869.565000  442659.590000
11       199312          199401      None  197844.194000  443054.730000
12       199312          199401      None  197844.194000  443054.730000
13       200902          200903      None  197738.430500  443458.372000
14       199912          200001      None  196616.845000  442945.030000
15       198702          198703      None  197237.581500  442303.724500
16       199104          199105      None  197296.695000  442871.760000
17       200903          200904      None  197298.070000  441856.535500
18       199811          199812      None  197888.415000  443200.920000
19       201309          201310      None  197613.402479  443019.682796
11590107 code insert rows are 20
11590103 code insert start

Empty DataFrame
Columns: []
Index: []
11590102 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE          KAPT_NAME  \
0   1159010200  서울특별시 동작구 상도동               0  A15603502            래미안상도2차
1   1159010200  서울특별시 동작구 상도동               0  A15603006            래미안상도3차
2   1159010200  서울특별시 동작구 상도동               0  A15603002            브라운스톤상도
3   1159010200  서울특별시 동작구 상도동               0  A10027614    상도 휴엔하임 도시형생횔주택
4   1159010200  서울특별시 동작구 상도동               0  A15683601             상도1동대림
5   1159010200  서울특별시 동작구 상도동               0  A10027633  상도2차 두산위브트레지움 아파트
6   1159010200  서울특별시 동작구 상도동               0  A15603004         상도sh-ville
7   1159010200  서울특별시 동작구 상도동               0  A15603003       상도건영제2 관리사무소
8   1159010200  서울특별시 동작구 상도동               0  A15603401            상도경향렉스빌
9   1159010200  서울특별시 동작구 상도동               0  A15683102               상도대림
10  1159010200  서울특별시 동작구 상도동               0  A15603206               상도더샵
11  1159010200  서울특별시 동작구 상도동               0  A15603001           상도동원베네스트
12  1159010200  서울특별시 동작구 상도동               0  A15683402       상도동중앙하이츠빌아파트
13  1159010200  서울특별시 동작구 상도동               0  A15671801             상도두산위브
14  1159010200  서울특별시 동작구 상도동               0  A15603204            상도래미안1차
15  1159010200  서울특별시 동작구 상도동               0  A15603007          상도래미안1차제2
16  1159010200  서울특별시 동작구 상도동               0  A15678102               상도삼호
17  1159010200  서울특별시 동작구 상도동               0  A15683901               상도쌍용
18  1159010200  서울특별시 동작구 상도동               0  A15678103        상도엠코타운센트럴파크
19  1159010200  서울특별시 동작구 상도동               0  A15603008        상도엠코타운애스톤파크
20  1159010200  서울특별시 동작구 상도동               0  A10027424         상도파크자이 아파트
21  1159010200  서울특별시 동작구 상도동               0  A15678101               상도현대
22  1159010200  서울특별시 동작구 상도동               0  A10027472        상도효성해링턴플레이스
23  1159010200  서울특별시 동작구 상도동               0  A15603203            아이파크상도동

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200310          200311      None  196235.208500  443988.194500
1        200412          200501      None  195925.745000  444119.885500
2        200712          200801      None  194956.863500  444873.971500
3        201602          201603      None  194442.966500  444753.301000
4        199512          199601      None  195823.600000  443413.610000
5        201601          201602      None  194875.110940  444640.295986
6        200611          200612      None  195904.265000  444479.393000
7        199709          199710      None  195467.363500  444999.445000
8        200210          200211      None  194797.732500  443679.711000
9        198112          198201      None  195358.118500  444795.507000
10       200709          200710      None  194898.908500  444436.492000
11       200810          200811      None  195018.897500  444523.915000
12       200310          200311      None  195482.773000  444100.871500
13       201003          201004      None  194906.091000  444710.462500
14       200412          200501      None  194096.430000  444740.558000
15       200412          200501      None  194016.900500  444798.413500
16       199402          199403      None  196153.431500  443473.466000
17       200311          200312      None  193894.625000  444377.860000
18       201209          201210      None  195591.713500  443701.425500
19       201308          201309      None  195425.077563  443833.548185
20       201608          201609      None  194342.394505  444806.800150
21       200306          200307      None  196337.307500  443526.923500
22       201602          201603      None       0.000000       0.000000
23       200404          200405      None  194862.079000  444275.071500
11590102 code insert rows are 24
11590109 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1159010900  서울특별시 동작구 신대방동               1  A15670001     동작상떼빌주상복합
1   1159010900  서울특별시 동작구 신대방동               0  A15601003      보라매e편한세상
2   1159010900  서울특별시 동작구 신대방동               0  A15601104      보라매롯데낙천대
3   1159010900  서울특별시 동작구 신대방동               0  A15672002      보라매삼성쉐르빌
4   1159010900  서울특별시 동작구 신대방동               0  A15601002  보라매아카데미타워아파트
5   1159010900  서울특별시 동작구 신대방동               0  A15672001         보라매우성
6   1159010900  서울특별시 동작구 신대방동               0  A15685503        보라매파크빌
7   1159010900  서울특별시 동작구 신대방동               0  A15601102       신대방경남교수
8   1159010900  서울특별시 동작구 신대방동               0  A15601103     신대방경남아너스빌
9   1159010900  서울특별시 동작구 신대방동               0  A15601201        신대방신동아
10  1159010900  서울특별시 동작구 신대방동               0  A15685206       신대방우성1차
11  1159010900  서울특별시 동작구 신대방동               0  A15685201       신대방우성2차
12  1159010900  서울특별시 동작구 신대방동               0  A15601202         신대방한성
13  1159010900  서울특별시 동작구 신대방동               0  A15601105         신대방현대
14  1159010900  서울특별시 동작구 신대방동               0  A15183001       해태보라매타워

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200608          200609      None  191700.0050  442825.3850
1        201007          201008      None  193609.1600  443685.6790
2        200308          200309      None  192287.9625  443580.4650
3        200301          200302      None  193153.2650  443250.9930
4        199808          199809      None  193217.8435  443239.7805
5        199511          199512      None  193311.1900  443352.5500
6        200202          200203      None  192459.5890  443585.1640
7        200108          200109      None  192287.9050  443753.1800
8        200302          200303      None  191841.8265  443035.4470
9        199301          199302      None  193210.2440  443821.9360
10       198809          198810      None  192113.0500  443350.8130
11       199501          199502      None  192006.2325  443417.2225
12       199502          199503      None  192450.8285  443712.8950
13       199602          199603      None  192178.3300  443619.5300
14       199610          199611      None  193282.6400  443228.3750
11590109 code insert rows are 15
11590105 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1159010500  서울특별시 동작구 흑석동               0  A15679105       명수대현대
1  1159010500  서울특별시 동작구 흑석동               0  A15679103       우리유앤미
2  1159010500  서울특별시 동작구 흑석동               0  A15607001        흑석동양
3  1159010500  서울특별시 동작구 흑석동               0  A15679104        흑석청호
4  1159010500  서울특별시 동작구 흑석동               2  A15679107    흑석한강센트레빌
5  1159010500  서울특별시 동작구 흑석동               0  A15679109  흑석한강센트레빌2차
6  1159010500  서울특별시 동작구 흑석동               0  A15679108    흑석한강푸르지오
7  1159010500  서울특별시 동작구 흑석동               6  A15685702      흑석한강현대
8  1159010500  서울특별시 동작구 흑석동               0  A15679106       흑석해가든

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       198808          198809      None  196989.465000  445067.755000
1       200312          200401      None  196360.666000  444276.587500
2       200311          200312      None  196289.282000  444254.085000
3       199710          199711      None  196678.340000  444354.680000
4       201109          201110      None  196829.692822  444877.843951
5       201212          201301      None  196279.256741  444380.949912
6       201208          201209      None  196816.478833  444441.870105
7       198809          198810      None  197239.200000  444978.230000
8       201012          201101      None  196587.248000  444939.956000
11590105 code insert rows are 9
11440102 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1144010200  서울특별시 마포구 공덕동               0  A12170602     공덕2삼성임대
1   1144010200  서울특별시 마포구 공덕동               1  A12170603     공덕래미안5차
2   1144010200  서울특별시 마포구 공덕동               0  A12180407        공덕삼성
3   1144010200  서울특별시 마포구 공덕동               0  A12180506   공덕삼성래미안3차
4   1144010200  서울특별시 마포구 공덕동               0  A12180404      공덕삼성임대
5   1144010200  서울특별시 마포구 공덕동               0  A10027748  공덕파크자이 아파트
6   1144010200  서울특별시 마포구 공덕동               0  A12102002    공덕한화꿈에그린
7   1144010200  서울특별시 마포구 공덕동               0  A12180401        공덕현대
8   1144010200  서울특별시 마포구 공덕동               0  A12102005     마포현대아파트
9   1144010200  서울특별시 마포구 공덕동               0  A12102008   삼성래미안공덕2차
10  1144010200  서울특별시 마포구 공덕동               0  A12170601   삼성래미안공덕4차

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200406          200407      None  196356.668500  449853.375000
1        201108          201109      None  195700.865000  449821.002000
2        199910          199911      None  195590.870000  449385.120000
3        200408          200409      None  195671.025000  449547.590000
4        199910          199911      None  195593.275000  449532.305000
5        201508          201509      None  195333.219269  449181.538447
6        200408          200409      None  195992.224000  449426.763000
7        198908          198909      None  195524.728000  449554.703000
8        198805          198806      None  195516.293500  449774.427000
9        200406          200407      None  196356.668500  449853.375000
10       200511          200512      None  195635.956000  449810.910000
11440102 code insert rows are 11
11440113 code insert start
Empty DataFrame
Columns: []
Index: []
11440110 code insert start

     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1144011000  서울특별시 마포구 노고산동               0  A12172201     신촌포스빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       200407          200408      None  194826.0635  450441.769
11440110 code insert rows are 1
11440118 code insert start
Empty DataFrame
Columns: []
Index: []
11440108 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1144010800  서울특별시 마포구 대흥동               0  A12181101     동양엔파트
1  1144010800  서울특별시 마포구 대흥동               0  A12172401    마포자이2차
2  1144010800  서울특별시 마포구 대흥동               0  A12181103   마포태영아파트
3  1144010800  서울특별시 마포구 대흥동               0  A12181102    마포태영제2
4  1144010800  서울특별시 마포구 대흥동               0  A12172402    서희스타힐스

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       200704          200705      None  194684.008000  449497.957000
1       201403          201404      None  194811.348325  449654.145713
2       199911          199912      None  194844.645000  449147.400000
3       199911          199912      None  194844.645000  449147.400000
4       201407          201408      None  194928.706000  450456.876000
11440108 code insert rows are 5
11440104 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0  1144010400  서울특별시 마포구 도화동               0  A12181406         도화현대1차
1  1144010400  서울특별시 마포구 도화동               0  A12181403  도화현대2차아파트(임대)
2  1144010400  서울특별시 마포구 도화동               0  A12104001         도화현대소양
3  1144010400  서울특별시 마포구 도화동               0  A12181404        도화현대홈타운
4  1144010400  서울특별시 마포구 도화동               0  A12104007         마포도화우성
5  1144010400  서울특별시 마포구 도화동               0  A12170401       마포동원베네스트
6  1144010400  서울특별시 마포구 도화동               0  A12104005           마포삼성
7  1144010400  서울특별시 마포구 도화동               0  A12170402      마포한화오벨리스크

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       199609          199610      None  195858.205  448564.005
1       200003          200004      None  195582.615  448398.015
2       199809          199810      None  195855.525  448658.370
3       200003          200004      None  195668.090  448397.200
4       199103          199104      None  195261.185  448243.125
5       201004          201005      None  195717.390  448670.486
6       199705          199706      None  195536.250  448654.000
7       200410          200411      None  195114.255  448646.655
11440104 code insert rows are 8
11440121 code insert start
Empty DataFrame
Columns: []
Index: []
11440107 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1144010700  서울특별시 마포구 마포동               0  A12105001    마포쌍용황금

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       200008          200009      None  195126.265  448322.75
11440107 code insert rows are 1
11440123 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1144012300  서울특별시 마포구 망원동               0  A10026053  마포한강 아이파크
1  1144012300  서울특별시 마포구 망원동               0  A12182101     망원1차대림
2  1144012300  서울특별시 마포구 망원동               0  A12182401     망원2차대림
3  1144012300  서울특별시 마포구 망원동               0  A12123001      망원휴먼빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201808          201809      None  191462.529198  450016.987426
1       200210          200211      None  191523.355000  450135.910000
2       200212          200301      None  191041.971000  450559.826000
3       200407          200408      None  190986.306000  450714.330000
11440123 code insert rows are 4
11440115 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1144011500  서울특별시 마포구 상수동               0  A12170702  래미안밤섬리베뉴 2
1  1144011500  서울특별시 마포구 상수동               0  A10028177  래미안밤섬리베뉴 Ⅰ
2  1144011500  서울특별시 마포구 상수동               0  A12182901      상수두산위브

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201410          201411      None            NaN            NaN
1       201410          201411      None  193344.606195  449386.289008
2       200412          200501      None  193239.961500  449413.965000
11440115 code insert rows are 3
11440127 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1144012700  서울특별시 마포구 상암동               0  A12127007      상암월드컵1단지
1   1144012700  서울특별시 마포구 상암동               0  A12127008      상암월드컵8단지
2   1144012700  서울특별시 마포구 상암동               0  A12179508   상암월드컵파크10단지
3   1144012700  서울특별시 마포구 상암동               0  A12179503   상암월드컵파크11단지
4   1144012700  서울특별시 마포구 상암동               0  A12179505   상암월드컵파크12단지
5   1144012700  서울특별시 마포구 상암동               0  A12127004    상암월드컵파크2단지
6   1144012700  서울특별시 마포구 상암동               0  A12127003    상암월드컵파크3단지
7   1144012700  서울특별시 마포구 상암동               0  A12127006    상암월드컵파크4단지
8   1144012700  서울특별시 마포구 상암동               0  A12127001    상암월드컵파크5단지
9   1144012700  서울특별시 마포구 상암동               0  A12127002    상암월드컵파크6단지
10  1144012700  서울특별시 마포구 상암동               0  A12127005    상암월드컵파크7단지
11  1144012700  서울특별시 마포구 상암동               0  A12179504    상암월드컵파크9단지
12  1144012700  서울특별시 마포구 상암동               0  A12179502     상암휴먼시아1단지
13  1144012700  서울특별시 마포구 상암동               0  A12179501  상암휴먼시아2단지아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200309          200310      None  190518.498500  452551.793500
1        200802          200803      None  189574.530000  452811.745500
2        201007          201008      None  189520.228984  453690.770090
3        201006          201007      None  189452.291607  453911.610288
4        201010          201011      None       0.000000       0.000000
5        200311          200312      None  190346.075000  452523.305000
6        200309          200310      None  190187.656500  452274.310000
7        200610          200611      None  190115.938500  452816.884000
8        200509          200510      None  189863.167000  453109.275500
9        200507          200508      None  189696.691500  453028.851500
10       200506          200507      None  189436.222500  453289.654500
11       201010          201011      None  189239.511307  453483.430143
12       200906          200907      None  190762.876000  452453.362000
13       200906          200907      None  190836.490500  452520.534000
11440127 code insert rows are 14
11440120 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1144012000  서울특별시 마포구 서교동               0  A12174601     메세나폴리스
1  1144012000  서울특별시 마포구 서교동               0  A12184201  서교동대우미래사랑

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       201206          201207      None  192310.505  449845.8665
1       200508          200509      None  192574.567  450569.6910
11440120 code insert rows are 2
11440125 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1144012500  서울특별시 마포구 성산동               0  A12185003     SH성산아파트
1  1144012500  서울특별시 마포구 성산동               0  A10027157   서울가좌행복주택
2  1144012500  서울특별시 마포구 성산동               0  A12185001  성사1차 풍림아파트
3  1144012500  서울특별시 마포구 성산동               0  A12125001  성산2차e-편한세상
4  1144012500  서울특별시 마포구 성산동               0  A12185004        성산시영
5  1144012500  서울특별시 마포구 성산동               0  A12125202    성산월드타운대림
6  1144012500  서울특별시 마포구 성산동               0  A12171101  월드컵아이파크1단지

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       199107          199108      None  191223.3200  451346.780
1       201612          201701      None  192255.8550  451890.300
2       200004          200005      None  192190.7750  451801.470
3       200507          200508      None  191567.9060  451942.410
4       198606          198607      None  191282.8800  452193.615
5       200408          200409      None  191801.7550  451897.395
6       200903          200904      None  192377.9755  451695.082
11440125 code insert rows are 7
11440103 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1144010300  서울특별시 마포구 신공덕동               0  A12179005      공덕아이파크
1  1144010300  서울특별시 마포구 신공덕동               0  A12103006    대우메트로디오빌
2  1144010300  서울특별시 마포구 신공덕동               0  A12179004     마포펜트라우스
3  1144010300  서울특별시 마포구 신공덕동               0  A12179001     브라운스톤공덕
4  1144010300  서울특별시 마포구 신공덕동               0  A12185304  신공덕2차삼성래미안
5  1144010300  서울특별시 마포구 신공덕동               0  A12103002  신공덕3차삼성래미안
6  1144010300  서울특별시 마포구 신공덕동               0  A12185303     신공덕삼성1차
7  1144010300  서울특별시 마포구 신공덕동               0  A12179002     신공덕삼성임대

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201303          201304      None  196048.721546  449168.999208
1       200512          200601      None  195768.206500  449026.801000
2       201105          201106      None  195871.530500  449017.856000
3       200902          200903      None  195978.258000  448808.432500
4       200010          200011      None  196217.930000  449353.930000
5       200305          200306      None  196127.465000  449254.915000
6       200008          200009      None  196029.260000  449015.040000
7       200008          200009      None  196045.965000  448900.470000

11440103 code insert rows are 8
11440111 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1144011100  서울특별시 마포구 신수동               0  A12111001   마포경남아너스빌
1  1144011100  서울특별시 마포구 신수동               0  A12185606  마포신촌삼익아파트
2  1144011100  서울특별시 마포구 신수동               0  A12171201   밤섬경남아너스빌
3  1144011100  서울특별시 마포구 신수동               0  A12185605    신수대원칸타빌
4  1144011100  서울특별시 마포구 신수동               0  A12185504       신수성원
5  1144011100  서울특별시 마포구 신수동               0  A12185602    신수세양청마루
6  1144011100  서울특별시 마포구 신수동               0  A12185603       신수현대

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200705          200706      None  194128.1275  449653.0040
1       199704          199705      None  194234.7820  449893.6800
2       200912          201001      None  194289.3440  449375.6570
3       200407          200408      None  194061.2350  449528.9900
4       199812          199901      None  194423.2100  449399.1050
5       200312          200401      None  194344.9545  449509.4700
6       199609          199610      None  194364.0420  448979.8595
11440111 code insert rows are 7
11440117 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1144011700  서울특별시 마포구 신정동               0  A12114001      서강GS

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM          X           Y
0       199907          199908      None  193846.14  449072.585
11440117 code insert rows are 1
11440101 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1144010100  서울특별시 마포구 아현동               0  A10027906   공덕자이 아파트
1  1144010100  서울특별시 마포구 아현동               0  A10027951   공덕자이(임대)
2  1144010100  서울특별시 마포구 아현동               0  A12175203  마포래미안푸르지오
3  1144010100  서울특별시 마포구 아현동               0  A12101001   서서울삼성아파트
4  1144010100  서울특별시 마포구 아현동               0  A10027090     아현아이파크

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201504          201505      None  196370.326550  450108.834459
1       201504          201505      None  196293.213411  450268.005135
2       201409          201410      None  196308.725000  450020.685000
3       199810          199811      None  196319.460000  450466.310000
4       201711          201712      None  196209.773156  450210.184866
11440101 code insert rows are 5
11440124 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1144012400  서울특별시 마포구 연남동               0  A12186901    코오롱하늘채

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200306          200307      None  192896.499  451379.336
11440124 code insert rows are 1
11440109 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1144010900  서울특별시 마포구 염리동               0  A12109001       마포자이
1  1144010900  서울특별시 마포구 염리동               0  A10026036  마포자이3차아파트
2  1144010900  서울특별시 마포구 염리동               0  A12109002    염리삼성래미안
3  1144010900  서울특별시 마포구 염리동               0  A12187403       염리상록

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       200312          200401      None  195080.005000  449007.068500
1       201809          201810      None  195385.776436  449773.429655
2       200103          200104      None  195224.215000  449629.560000
3       199708          199709      None  195375.155000  449922.930000
11440109 code insert rows are 4
11440105 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1144010500  서울특별시 마포구 용강동               0  A10028006  e편한세상마포리버파크
1  1144010500  서울특별시 마포구 용강동               0  A12187501     래미안마포리버웰
2  1144010500  서울특별시 마포구 용강동               0  A12187602     래미안용강아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201610          201611      None  194959.415603  448836.661090
1       201502          201503      None  194798.451582  448887.904897
2       200303          200304      None  194751.410000  449010.100000
11440105 code insert rows are 3
11440126 code insert start
     BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME KAPT_USEDATE  \
0  1144012600  서울특별시 마포구 중동               0  A12187902     건영월드컵       200211
1  1144012600  서울특별시 마포구 중동               0  A12187904    마포중동청구       199409
2  1144012600  서울특별시 마포구 중동               0  A12187905    마포중동현대       200107
3  1144012600  서울특별시 마포구 중동               0  A12187703    성산2차현대       200012
4  1144012600  서울특별시 마포구 중동               0  A12187906    월드컵참누리       200605
5  1144012600  서울특별시 마포구 중동               0  A12187901      중동계룡       200009

  OCCU_FIRST_DATE OPEN_TERM            X           Y
0          200212      None  192136.4630  451838.735
1          199410      None  191274.5900  452425.924
2          200108      None  191706.5900  452094.980
3          200101      None  191853.2015  452025.752
4          200606      None  191602.5885  452157.169
5          200010      None  191614.7400  452022.725
11440126 code insert rows are 6
11440114 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1144011400  서울특별시 마포구 창전동               0  A12119006        서강쌍용예가
1  1144011400  서울특별시 마포구 창전동               0  A12177801  서강한화오벨리스크스위트
2  1144011400  서울특별시 마포구 창전동               0  A12119004         서강해모로
3  1144011400  서울특별시 마포구 창전동               0  A12188201          신촌금호
4  1144011400  서울특별시 마포구 창전동               0  A12188205       신촌태영데시앙
5  1144011400  서울특별시 마포구 창전동               0  A12119007          창전삼성
6  1144011400  서울특별시 마포구 창전동               0  A12177802        창전삼성임대
7  1144011400  서울특별시 마포구 창전동               0  A12188202       창전현대홈타운

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200711          200712      None  193692.1745  449579.3500
1       200704          200705      None  193905.1915  449367.1710
2       200712          200801      None  193713.7910  449331.3010
3       200103          200104      None  193927.2250  450059.6750
4       200311          200312      None  193830.0265  450120.0135
5       199806          199807      None  193803.7900  449883.4000
6       199806          199807      None  193803.7900  449883.4000
7       200508          200509      None  193906.8580  449865.4680
11440114 code insert rows are 8
11440106 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1144010600  서울특별시 마포구 토정동               0  A12106001    토정한강삼성

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       199710          199711      None  194745.715  448588.35
11440106 code insert rows are 1
11440116 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1144011600  서울특별시 마포구 하중동               0  A12115001  한강밤섬자이아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       201002          201003      None  193576.5705  449171.418
11440116 code insert rows are 1
11440122 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1144012200  서울특별시 마포구 합정동               0  A10027301  마포한강2차푸르지오
1  1144012200  서울특별시 마포구 합정동               0  A10027902    마포한강푸르지오

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201607          201608      None  192144.042574  449873.994875
1       201503          201504      None  192172.559436  449752.315484
11440122 code insert rows are 2
11440112 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1144011200  서울특별시 마포구 현석동               0  A10027714   래미안 웰스트림
1  1144011200  서울특별시 마포구 현석동               0  A12112002  마포강변힐스테이트
2  1144011200  서울특별시 마포구 현석동               0  A12112001       밤섬현대

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201607          201608      None  194247.364356  448990.648738
1       200402          200403      None  194022.356000  449007.327000
2       199907          199908      None  193977.980000  448932.400000
11440112 code insert rows are 3
11410120 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1141012000  서울특별시 서대문구 남가좌동               0  A10025976    DMC2차아이파크
1  1141012000  서울특별시 서대문구 남가좌동               0  A12072801      DMC센트레빌
2  1141012000  서울특별시 서대문구 남가좌동               0  A10027817  DMC파크뷰자이아파트
3  1141012000  서울특별시 서대문구 남가좌동               0  A12012202     남가좌삼성래미안
4  1141012000  서울특별시 서대문구 남가좌동               0  A12012201      남가좌삼성제2
5  1141012000  서울특별시 서대문구 남가좌동               0  A12012203     남가좌현대아파트
6  1141012000  서울특별시 서대문구 남가좌동               0  A12072802      남가좌현대제2
7  1141012000  서울특별시 서대문구 남가좌동               0  A12012101     래미안남가좌2차
8  1141012000  서울특별시 서대문구 남가좌동               0  A10027019      상암DMC엘가

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201810          201811      None  192878.929805  452946.979852
1       201001          201002      None  192482.301000  452655.386000
2       201510          201511      None  192770.299500  452342.746000
3       200012          200101      None  192561.839500  452859.100000
4       200012          200101      None  192516.250000  452922.985000
5       199905          199906      None  192880.600500  452515.475000
6       199905          199906      None  192875.230000  452390.560000
7       200510          200511      None  192203.768500  452182.552000
8       201702          201703      None  192668.321058  451960.963370
11410120 code insert rows are 9
11410105 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1141010500  서울특별시 서대문구 냉천동               0  A12005001  냉천동부센트레빌
1  1141010500  서울특별시 서대문구 냉천동               0  A12070101   돈의문센트레빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200203          200204      None  196405.1470  451586.2885
1       201104          201105      None  196515.7425  451544.1500
11410105 code insert rows are 2
11410113 code insert start

Empty DataFrame
Columns: []
Index: []
11410112 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1141011200  서울특별시 서대문구 대현동               0  A12017001      대현럭키

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X         Y
0       199902          199903      None  195319.083  450816.3
11410112 code insert rows are 1
11410104 code insert start
Empty DataFrame
Columns: []
Index: []
11410115 code insert start
Empty DataFrame
Columns: []
Index: []
11410119 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1141011900  서울특별시 서대문구 북가좌동               0  A12013003  DMC래미안e편한세상
1  1141011900  서울특별시 서대문구 북가좌동               0  A12013002      DMC아이파크
2  1141011900  서울특별시 서대문구 북가좌동               0  A12013201      북가좌두산위브
3  1141011900  서울특별시 서대문구 북가좌동               0  A12013202        북가좌삼호
4  1141011900  서울특별시 서대문구 북가좌동               0  A12076601      북가좌삼호제2
5  1141011900  서울특별시 서대문구 북가좌동               0  A12013101        북가좌현대
6  1141011900  서울특별시 서대문구 북가좌동               0  A12013001       북가좌휴먼빌
7  1141011900  서울특별시 서대문구 북가좌동               0  A12081703      연희한양아파트
8  1141011900  서울특별시 서대문구 북가좌동               0  A12081602        월드컵현대

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201210          201211      None  192016.686494  452255.159014
1       200903          200904      None  192376.899000  452677.373500
2       200702          200703      None  192622.733500  453104.268000
3       199602          199603      None  192259.335000  452687.395000
4       199602          199603      None  192159.565000  452722.990500
5       200009          200010      None  191798.655000  452716.729000
6       200812          200901      None  192151.805000  452801.207000
7       198708          198709      None  191899.535000  452632.740000
8       199811          199812      None  191485.865000  452668.185000
11410119 code insert rows are 9
11410110 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1141011000  서울특별시 서대문구 북아현동               0  A10026370    e편한세상신촌아파트
1  1141011000  서울특별시 서대문구 북아현동               0  A10027213    e편한세상신촌아파트
2  1141011000  서울특별시 서대문구 북아현동               0  A12079501         북아현두산
3  1141011000  서울특별시 서대문구 북아현동               0  A10027851  아현역 푸르지오 아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM             X              Y
0       201612          201712      None  195987.01099  450620.314023
1       201612          201701    201711  196072.70150  450871.153000
2       199903          199904      None  195526.66500  450766.150000
3       201510          201511      None  195726.72950  450902.180000
11410110 code insert rows are 4
11410114 code insert start
Empty DataFrame
Columns: []
Index: []
11410117 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1141011700  서울특별시 서대문구 연희동               0  A12071103   연희대림아파트
1  1141011700  서울특별시 서대문구 연희동               0  A12011002      연희대우
2  1141011700  서울특별시 서대문구 연희동               0  A12071101      연희성원
3  1141011700  서울특별시 서대문구 연희동               0  A12071102   연희임광아파트
4  1141011700  서울특별시 서대문구 연희동               0  A12071104    연희자이엘라

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       199309          199310      None  194302.960000  452572.220000
1       200207          200208      None  193706.677000  451040.712500
2       200105          200106      None  194485.598500  452647.475000
3       199902          199903      None  193492.340000  451435.725000
4       201401          201402      None  193579.770421  451318.040517
11410117 code insert rows are 5
11410108 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1141010800  서울특별시 서대문구 영천동               0  A12007001     독립문삼호

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       199506          199507      None  196245.475  451999.57
11410108 code insert rows are 1
11410107 code insert start
Empty DataFrame
Columns: []
Index: []
11410116 code insert start
Empty DataFrame
Columns: []
Index: []
11410106 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1141010600  서울특별시 서대문구 천연동               0  A12004001  서대문천연뜨란채아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM          X           Y
0       200603          200604      None  196260.61  451694.315
11410106 code insert rows are 1
11410101 code insert start
Empty DataFrame
Columns: []
Index: []
11410102 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1141010200  서울특별시 서대문구 충정로3가               0  A12070201     충정리시온

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       200409          200410      None  196826.316  450889.9425
11410102 code insert rows are 1
11410103 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0  1141010300  서울특별시 서대문구 합동               0  A12003001  충정로 skview 아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200810          200811      None  196918.4565  451071.8975
11410103 code insert rows are 1
11410109 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1141010900  서울특별시 서대문구 현저동               0  A12008003     독립문극동
1  1141010900  서울특별시 서대문구 현저동               0  A12079601   독립문극동임대
2  1141010900  서울특별시 서대문구 현저동               0  A12008001    독립문파크빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       199812          199901      None  196105.5900  452200.220
1       199812          199901      None  195901.7500  452267.055
2       200012          200101      None  195643.4365  452520.213
11410109 code insert rows are 3
11410118 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0   1141011800  서울특별시 서대문구 홍은동               0  A10026604    북한산 더샵
1   1141011800  서울특별시 서대문구 홍은동               0  A12010203      홍은극동
2   1141011800  서울특별시 서대문구 홍은동               0  A12071002  홍은동부센트레빌
3   1141011800  서울특별시 서대문구 홍은동               0  A12010001  홍은동원베네스트
4   1141011800  서울특별시 서대문구 홍은동               0  A12071001      홍은두산
5   1141011800  서울특별시 서대문구 홍은동               0  A12071003   홍은미성아파트
6   1141011800  서울특별시 서대문구 홍은동               0  A12010104      홍은벽산
7   1141011800  서울특별시 서대문구 홍은동               0  A12084302      홍은유원
8   1141011800  서울특별시 서대문구 홍은동               0  A12010101    홍은풍림1차
9   1141011800  서울특별시 서대문구 홍은동               0  A12010103    홍은풍림2차
10  1141011800  서울특별시 서대문구 홍은동               0  A12010202   홍은풍림아이원
11  1141011800  서울특별시 서대문구 홍은동               0  A12084504      홍은현대

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201712          201801      None  194991.529749  455194.532315
1        199511          199512      None  195590.440000  455586.315000
2        200908          200909      None  194437.739500  455002.325000
3        201209          201210      None  194990.985000  455181.793000
4        199710          199711      None  193899.013500  452984.355000
5        198503          198504      None  194229.465500  454611.959000
6        199709          199710      None  195056.085000  454790.675000
7        198710          198711      None  195042.735000  455019.940000
8        198802          198803      None  194802.445782  454708.297438
9        199012          199101      None  194926.625000  454563.350000
10       200211          200212      None  195354.861500  455704.205500
11       198807          198808      None  194433.113500  454219.171500
11410118 code insert rows are 12
11410111 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1141011100  서울특별시 서대문구 홍제동               0  A12009305       문화촌현대
1   1141011100  서울특별시 서대문구 홍제동               0  A12009302    인왕산벽산아파트
2   1141011100  서울특별시 서대문구 홍제동               0  A12078201       인왕산현대
3   1141011100  서울특별시 서대문구 홍제동               0  A10027681  홍제금호어울림아파트
4   1141011100  서울특별시 서대문구 홍제동               0  A12009101        홍제남양
5   1141011100  서울특별시 서대문구 홍제동               0  A12009203    홍제무악청구1차
6   1141011100  서울특별시 서대문구 홍제동               0  A12009202     홍제삼성래미안
7   1141011100  서울특별시 서대문구 홍제동               0  A12009201     홍제성원아파트
8   1141011100  서울특별시 서대문구 홍제동               0  A12078704      홍제원 현대
9   1141011100  서울특별시 서대문구 홍제동               0  A12078707     홍제원현대임대
10  1141011100  서울특별시 서대문구 홍제동               0  A12009304      홍제유원하나
11  1141011100  서울특별시 서대문구 홍제동               0  A12009001    홍제유원하나제2
12  1141011100  서울특별시 서대문구 홍제동               0  A12078705     홍제인왕산현대
13  1141011100  서울특별시 서대문구 홍제동               0  A12078706      홍제청구3차
14  1141011100  서울특별시 서대문구 홍제동               0  A12086001      홍제태영으뜸
15  1141011100  서울특별시 서대문구 홍제동               0  A12085303        홍제한양
16  1141011100  서울특별시 서대문구 홍제동               0  A12009303      홍제현대그린
17  1141011100  서울특별시 서대문구 홍제동               0  A12009102     홍제현대아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200211          200212      None  195464.8475  454432.1345
1        200306          200307      None  195369.7550  454456.7465
2        200007          200008      None  195658.1550  453504.0850
3        201602          201603      None  194679.0090  453570.0950
4        199909          199910      None  194465.8650  454054.3450
5        199406          199407      None  195709.2950  453300.5800
6        200106          200107      None  195636.1730  452897.8420
7        199805          199806      None  194876.1600  453490.1800
8        200006          200007      None  195480.0250  453921.5000
9        200006          200007      None  195595.2800  453818.3700
10       199608          199609      None  195720.4300  454759.0550
11       199608          199609      None  195720.4300  454759.0550
12       200007          200008      None  195574.0550  453669.1250
13       200105          200106      None  195767.6720  453128.2200
14       199807          199808      None  195217.4520  454576.9790
15       199305          199306      None  195296.4100  453447.7500
16       199607          199608      None  195467.2450  454105.5285
17       199207          199208      None  194760.7000  454067.3550
11410111 code insert rows are 18
11650109 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1165010900  서울특별시 서초구 내곡동               0  A13718001        서초더샵포레
1  1165010900  서울특별시 서초구 내곡동               0  A10028021  서초포레스타2단지아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       201408          201409      None  205636.0645  438773.3360
1       201506          201507      None  205523.9060  439212.2965
11650109 code insert rows are 2
11650107 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1165010700  서울특별시 서초구 반포동               0  A13776509     래미안퍼스티지
1   1165010700  서울특별시 서초구 반포동               0  A13780006        반포경남
2   1165010700  서울특별시 서초구 반포동               0  A10026051   반포래미안아이파크
3   1165010700  서울특별시 서초구 반포동               0  A13776301        반포리체
4   1165010700  서울특별시 서초구 반포동               0  A13770105      반포미도2차
5   1165010700  서울특별시 서초구 반포동               0  A13704404     반포미도아파트
6   1165010700  서울특별시 서초구 반포동               0  A13704901     반포본동아파트
7   1165010700  서울특별시 서초구 반포동               0  A13704001  반포삼호가든4차맨션
8   1165010700  서울특별시 서초구 반포동               0  A13704101  반포삼호가든맨션5차
9   1165010700  서울특별시 서초구 반포동               0  A10026015        반포써밋
10  1165010700  서울특별시 서초구 반포동               0  A13704104        반포자이
11  1165010700  서울특별시 서초구 반포동               0  A13776508      반포푸르지오
12  1165010700  서울특별시 서초구 반포동               0  A13780403      반포한신서래
13  1165010700  서울특별시 서초구 반포동               0  A13780402      반포현대동궁
14  1165010700  서울특별시 서초구 반포동               0  A13776510     반포힐스테이트
15  1165010700  서울특별시 서초구 반포동               0  A13704003        서초한양
16  1165010700  서울특별시 서초구 반포동               0  A13780001   신반포15차아파트
17  1165010700  서울특별시 서초구 반포동               0  A13780007       신반포3차
18  1165010700  서울특별시 서초구 반포동               0  A13780002    신반포한신23차
19  1165010700  서울특별시 서초구 반포동               0  A10027205     아크로리버파크
20  1165010700  서울특별시 서초구 반포동               0  A13780201      엠브이아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200907          200908      None  199843.958500  444481.618000
1        197811          197812      None  199837.549000  444964.531500
2        201808          201809      None  201087.647306  444350.094420
3        201010          201011      None  201109.816000  444608.680000
4        198905          198906      None  200594.780000  444445.590000
5        198706          198707      None  200703.070000  444323.920500
6        197301          197302      None  198964.597500  444781.186500
7        198311          198312      None  201466.547500  444473.290000
8        198602          198603      None  200948.535000  444632.890000
9        201809          201810      None  201516.948307  444345.228947
10       200903          200904      None  201140.110000  444902.530000
11       200010          200011      None  199616.915000  444631.381000
12       198712          198801      None  200000.775000  444101.540000
13       199107          199108      None  200106.229500  444244.380500
14       201204          201205      None  199643.745000  444335.330000
15       198209          198210      None  201087.644500  444350.095000
16       198206          198207      None  199371.509500  444620.425000
17       197810          197811      None  199684.535000  444948.286500
18       198312          198401      None  199730.733000  444719.480500
19       201608          201609      None  199298.853587  444805.017748
20       199407          199408      None  200838.436500  444108.350500
11650107 code insert rows are 21
11650101 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0   1165010100  서울특별시 서초구 방배동               0  A13785008        래미안방배아트힐
1   1165010100  서울특별시 서초구 방배동               0  A13784102       방배1차이편한세상
2   1165010100  서울특별시 서초구 방배동               0  A13785203          방배1차현대
3   1165010100  서울특별시 서초구 방배동               0  A13785201       방배2차현대홈타운
4   1165010100  서울특별시 서초구 방배동               0  A13783001       방배3차e편한세상
5   1165010100  서울특별시 서초구 방배동               0  A13785106            방배경남
6   1165010100  서울특별시 서초구 방배동               0  A13706303          방배대우효령
7   1165010100  서울특별시 서초구 방배동               0  A13783802           방배디오빌
8   1165010100  서울특별시 서초구 방배동               0  A13785301           방배래미안
9   1165010100  서울특별시 서초구 방배동               0  A13706302  방배래미안타워입주자대표회의
10  1165010100  서울특별시 서초구 방배동               5  A13771001       방배롯데캐슬아르떼
11  1165010100  서울특별시 서초구 방배동               0  A13782803        방배롯데캐슬헤론
12  1165010100  서울특별시 서초구 방배동               0  A13784401          방배브라운가
13  1165010100  서울특별시 서초구 방배동               0  A13785004            방배삼익
14  1165010100  서울특별시 서초구 방배동               0  A13771601      방배서리풀e편한세상
15  1165010100  서울특별시 서초구 방배동               0  A13784907           방배신동아
16  1165010100  서울특별시 서초구 방배동               0  A13782602           방배신삼호
17  1165010100  서울특별시 서초구 방배동               0  A13706001         방배아크로리버
18  1165010100  서울특별시 서초구 방배동               0  A10025927          방배아트자이
19  1165010100  서울특별시 서초구 방배동               0  A13785302            방배우성
20  1165010100  서울특별시 서초구 방배동               0  A13785005        방배임광1,2차
21  1165010100  서울특별시 서초구 방배동               0  A13785001          방배임광3차
22  1165010100  서울특별시 서초구 방배동               0  A13770801         방배한신트리플
23  1165010100  서울특별시 서초구 방배동               0  A13782804              삼호
24  1165010100  서울특별시 서초구 방배동               0  A13782601         쌍용예가클래식
25  1165010100  서울특별시 서초구 방배동               0  A13782902        현대멤피스아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200412          200501      None  200384.395000  441717.795500
1        200312          200401      None  199841.685000  442838.715000
2        199911          199912      None  198513.965000  442916.355000
3        200108          200109      None  198505.955000  443110.090000
4        200603          200604      None  199212.256000  443565.333000
5        198005          198006      None  199907.421000  441596.465000
6        199211          199212      None  199378.069500  441932.210000
7        200507          200508      None  198533.105000  442648.639500
8        200310          200311      None  198519.559500  441173.501000
9        200501          200502      None  199086.665000  441428.975000
10       201311          201312      None  198557.030862  442397.774984
11       200606          200607      None  198547.236000  443861.978500
12       200605          200606      None  199217.093000  442369.330000
13       198112          198201      None  200067.243000  441853.015000
14       201008          201009      None  199776.515500  442402.582500
15       198112          198201      None  200011.455000  442077.415000
16       198305          198306      None  199016.932500  443877.944500
17       200411          200412      None  198556.418500  443963.696500
18       201810          201811      None  200096.703880  442001.555757
19       199105          199106      None  198387.675000  441345.645000
20       198511          198512      None  200150.655000  441654.004000
21       198804          198805      None  200226.065000  441568.390000
22       200402          200403      None  198985.221500  443229.171500
23       197511          197512      None  198772.828000  443914.654000
24       197804          197805      None  198836.822500  443497.675000
25       200109          200110      None  198901.457500  443664.301000
11650101 code insert rows are 26
11650108 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0   1165010800  서울특별시 서초구 서초동               0  A13707006         대림서초리시온
1   1165010800  서울특별시 서초구 서초동               0  A13707009   래미안 서초스위트 아파트
2   1165010800  서울특별시 서초구 서초동               0  A10027221      래미안 서초에스티지
3   1165010800  서울특별시 서초구 서초동               0  A10026411  래미안서초에스티지에스아파트
4   1165010800  서울특별시 서초구 서초동               0  A13707010        래미안서초유니빌
5   1165010800  서울특별시 서초구 서초동               0  A13785607         롯데캐슬클래식
6   1165010800  서울특별시 서초구 서초동               0  A13786901       서초1차e편한세상
7   1165010800  서울특별시 서초구 서초동               0  A13787102       서초2차e편한세상
8   1165010800  서울특별시 서초구 서초동               0  A13770607       서초5차e편한세상
9   1165010800  서울특별시 서초구 서초동               0  A13707016       서초교대e편한세상
10  1165010800  서울특별시 서초구 서초동               0  A13707003         서초대우아이빌
11  1165010800  서울특별시 서초구 서초동               0  A13786606            서초더샵
12  1165010800  서울특별시 서초구 서초동               0  A13788208           서초래미안
13  1165010800  서울특별시 서초구 서초동               0  A10028146  서초롯데캐슬프레지던트아파트
14  1165010800  서울특별시 서초구 서초동               0  A13785908           서초무지개
15  1165010800  서울특별시 서초구 서초동               0  A13788003         서초삼성래미안
16  1165010800  서울특별시 서초구 서초동               0  A13775102        서초삼성쉐르빌2
17  1165010800  서울특별시 서초구 서초동               0  A13792001            서초삼풍
18  1165010800  서울특별시 서초구 서초동               0  A13788206        서초아크로비스타
19  1165010800  서울특별시 서초구 서초동               0  A13770610          서초아트자이
20  1165010800  서울특별시 서초구 서초동               0  A13785907          서초우성1차
21  1165010800  서울특별시 서초구 서초동               0  A13785904          서초우성2차
22  1165010800  서울특별시 서초구 서초동               0  A13785902          서초우성3차
23  1165010800  서울특별시 서초구 서초동               0  A13785705       서초우성5차아파트
24  1165010800  서울특별시 서초구 서초동               0  A13788203            서초유원
25  1165010800  서울특별시 서초구 서초동               0  A13770611           서초이오빌
26  1165010800  서울특별시 서초구 서초동               0  A13786601            서초자이
27  1165010800  서울특별시 서초구 서초동               0  A13785604            서초진흥
28  1165010800  서울특별시 서초구 서초동               0  A13792306       서초트라팰리스1차
29  1165010800  서울특별시 서초구 서초동               0  A10026941        서초푸르지오써밋
30  1165010800  서울특별시 서초구 서초동               0  A13787105          서초한빛삼성
31  1165010800  서울특별시 서초구 서초동               0  A13786704       서초한신플러스타운
32  1165010800  서울특별시 서초구 서초동               0  A13788002        서초현대1,2차
33  1165010800  서울특별시 서초구 서초동               0  A13788201          서초현대4차
34  1165010800  서울특별시 서초구 서초동               0  A13770608       서초현대ESA2차
35  1165010800  서울특별시 서초구 서초동               0  A13772801         서초현대아파트
36  1165010800  서울특별시 서초구 서초동              17  A13775101          신동아아파트
37  1165010800  서울특별시 서초구 서초동               0  A13707002              아남
38  1165010800  서울특별시 서초구 서초동               0  A13707203        풍림아이원플러스
39  1165010800  서울특별시 서초구 서초동               0  A13770609           현대슈퍼빌

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200304          200305      None  201297.425000  443474.390000
1        200904          200905      None  201743.849500  444448.045000
2        201612          201701      None  202158.594918  443399.639341
3        201801          201802      None  202327.226821  443430.746451
4        200308          200309      None  201429.450000  442498.300500
5        200606          200607      None  201828.025000  444199.914000
6        200408          200409      None  200526.759500  442106.784000
7        200502          200503      None  200729.765000  442676.250000
8        200512          200601      None  200575.360000  441954.045000
9        201005          201006      None  201454.043500  443819.324000
10       200303          200304      None  201481.033000  443559.930000
11       200601          200602      None  201493.550000  442373.019000
12       200305          200306      None  201599.569500  444057.280000
13       201411          201412      None  201672.236000  443834.792500
14       197812          197901    201706  202246.320000  442987.405000
15       200105          200106      None  201691.350000  443475.655500
16       200203          200204      None  202396.442500  443528.870000
17       198807          198808      None  201332.215000  444038.310000
18       200406          200407      None  201106.795000  443995.510000
19       200906          200907      None  200948.384500  442608.812500
20       197908          197909    201703  202444.710000  443112.940500
21       197909          197910      None  202326.795000  443422.660000
22       198001          198002      None  202146.125000  443430.005000
23       199805          199806      None  202288.635000  443627.550000
24       199311          199312      None  201532.718000  443793.184000
25       200308          200309      None  201071.764000  442705.785500
26       200604          200605      None  201717.170000  442518.031500
27       197908          197909      None  201935.195000  443905.000500
28       200511          200512      None  202436.620000  442735.945000
29       201706          201707      None  201945.172844  444423.339424
30       199911          199912      None  200633.920000  442894.286500
31       200112          200201      None  201197.605000  442298.965000
32       198912          199001      None  202199.410000  442712.295000
33       200011          200012      None  201507.544000  444235.500500
34       200301          200302      None  200688.458500  443208.080000
35       199911          199912      None  201712.630500  443199.456000
36       197812          197901      None  202046.635000  443328.520000
37       198911          198912      None  201764.546500  443422.731500
38       200404          200405      None  202557.594500  443135.424500
39       200310          200311      None  201358.702000  442307.083500
11650108 code insert rows are 40
11650111 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1165011100  서울특별시 서초구 신원동               0  A13716003    서초포레스타3단지
1  1165011100  서울특별시 서초구 신원동               0  A13716002    서초포레스타5단지
2  1165011100  서울특별시 서초구 신원동               0  A10028105    서초포레스타6단지
3  1165011100  서울특별시 서초구 신원동               0  A13716001    서초포레스타7단지
4  1165011100  서울특별시 서초구 신원동               0  A10028046  힐스테이트서초젠트리스

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201406          201407      None            NaN            NaN
1       201405          201406      None            NaN            NaN
2       201504          201505      None            NaN            NaN
3       201309          201310      None  205025.918500  438620.382000
4       201412          201501      None  204933.175547  439265.721607
11650111 code insert rows are 5
11650102 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0  1165010200  서울특별시 서초구 양재동               0  A13713001      양재리본타워1단지
1  1165010200  서울특별시 서초구 양재동               0  A13713002      양재리본타워2단지
2  1165010200  서울특별시 서초구 양재동               0  A13789002        양재신영체르니
3  1165010200  서울특별시 서초구 양재동               0  A13789203           양재우성
4  1165010200  서울특별시 서초구 양재동               0  A13789201  양재우성KBS(113동)

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201406          201407      None  202835.720000  441229.230000
1       201406          201407      None  203126.488000  440307.715000
2       200208          200209      None  203599.914500  441872.180000
3       199111          199112      None  202821.230317  441446.464942
4       199612          199701      None  202501.026000  441707.151000
11650102 code insert rows are 5
11650110 code insert start
Empty DataFrame
Columns: []
Index: []
11650103 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0   1165010300  서울특별시 서초구 우면동               8  A13778212    LH서초3단지
1   1165010300  서울특별시 서초구 우면동               0  A13778209    LH서초4단지
2   1165010300  서울특별시 서초구 우면동               0  A13778210    LH서초5단지
3   1165010300  서울특별시 서초구 우면동               0  A13778306       서울우면
4   1165010300  서울특별시 서초구 우면동               0  A13778208  서초네이처힐1단지
5   1165010300  서울특별시 서초구 우면동               6  A13778205  서초네이처힐3단지
6   1165010300  서울특별시 서초구 우면동               0  A13778201  서초네이처힐4단지
7   1165010300  서울특별시 서초구 우면동               2  A13778202  서초네이처힐5단지
8   1165010300  서울특별시 서초구 우면동               0  A13778207  서초네이처힐6단지
9   1165010300  서울특별시 서초구 우면동               0  A13778203  서초네이처힐7단지
10  1165010300  서울특별시 서초구 우면동               0  A13778211  서초참누리에코리치
11  1165010300  서울특별시 서초구 우면동               0  A13778204       서초힐스
12  1165010300  서울특별시 서초구 우면동               0  A13790004       우면대림
13  1165010300  서울특별시 서초구 우면동               0  A13790003      우면동동고
14  1165010300  서울특별시 서초구 우면동               0  A13790002      우면코오롱

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201311          201312      None  201890.230427  439593.847987
1        201312          201401      None  202026.115569  439590.292632
2        201312          201401      None  202155.984583  439631.097443
3        199407          199408      None  202072.410000  440886.890000
4        201211          201212      None  201685.596789  440153.420918
5        201301          201302      None  202372.321382  440208.370532
6        201112          201201      None  202251.719273  440170.421126
7        201112          201201      None  202120.654884  440047.599501
8        201302          201303      None  202269.394278  439933.750750
9        201112          201201      None  201982.180152  439971.442147
10       201310          201311      None  201105.747802  439362.954426
11       201212          201301      None  201484.058700  439471.947697
12       199503          199504      None  201965.105000  441170.210000
13       199503          199504      None  202025.360000  441018.305000
14       199410          199411      None  202374.835000  441151.720000
11650103 code insert rows are 15
11650104 code insert start
Empty DataFrame
Columns: []
Index: []
11650106 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  \
0   1165010600  서울특별시 서초구 잠원동               0  A13790714
1   1165010600  서울특별시 서초구 잠원동               0  A10027439
2   1165010600  서울특별시 서초구 잠원동               0  A13703019
3   1165010600  서울특별시 서초구 잠원동               0  A13790918
4   1165010600  서울특별시 서초구 잠원동               0  A13790910
5   1165010600  서울특별시 서초구 잠원동               0  A13790715
6   1165010600  서울특별시 서초구 잠원동               0  A13790716
7   1165010600  서울특별시 서초구 잠원동               0  A13790828
8   1165010600  서울특별시 서초구 잠원동               0  A13790723
9   1165010600  서울특별시 서초구 잠원동               0  A13790721
10  1165010600  서울특별시 서초구 잠원동               0  A10026004
11  1165010600  서울특별시 서초구 잠원동               0  A13790713
12  1165010600  서울특별시 서초구 잠원동               0  A13790905
13  1165010600  서울특별시 서초구 잠원동               0  A13790717
14  1165010600  서울특별시 서초구 잠원동               0  A13790709
15  1165010600  서울특별시 서초구 잠원동               0  A13790929
16  1165010600  서울특별시 서초구 잠원동               0  A13790726
17  1165010600  서울특별시 서초구 잠원동               0  A10026227
18  1165010600  서울특별시 서초구 잠원동               0  A13790708
19  1165010600  서울특별시 서초구 잠원동               0  A13790604
20  1165010600  서울특별시 서초구 잠원동               0  A13703027
21  1165010600  서울특별시 서초구 잠원동               0  A13703011
22  1165010600  서울특별시 서초구 잠원동               0  A13790703
23  1165010600  서울특별시 서초구 잠원동               0  A13790902
24  1165010600  서울특별시 서초구 잠원동               0  A13790722
25  1165010600  서울특별시 서초구 잠원동               0  A13790730
26  1165010600  서울특별시 서초구 잠원동               0  A13790701
27  1165010600  서울특별시 서초구 잠원동               0  A13790706
28  1165010600  서울특별시 서초구 잠원동               0  A13790707
29  1165010600  서울특별시 서초구 잠원동               0  A13790612
30  1165010600  서울특별시 서초구 잠원동               0  A13790620

               KAPT_NAME KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM  \
0                  강변아파트       198707          198708      None
1             래미안 신반포팰리스       201606          201607      None
2              롯데캐슬갤럭시2차       200404          200405      None
3                   반포우성       197811          197812      None
4                 반포한신타워       199608          199609      None
5                   반포한양       197912          198001      None
6   신반포 한신 25,26,27차 아파트       198411          198412      None
7                  신반포4차       197910          197911      None
8                  신반포5차       198001          198002      None
9                  신반포7차       198004          198005      None
10              신반포자이아파트       201807          201808      None
11                 신반포청구       199801          199802      None
12              신반포한신14차       198312          198401      None
13              신반포한신16차       198301          198302      None
14              신반포한신19차       198212          198301      None
15               신반포한신2차       197806          197807      None
16   신반포한신5지구(12,13,18차)       198112          198201      None
17           아크로리버뷰 신반포        201806          201807      None
18                잠원녹원한신       199509          199510      None
19              잠원동대우아이빌       200107          200108      None
20                  잠원동아       200207          200208      None
21           잠원롯데캐슬갤럭시1차       200207          200208      None
22                  잠원신화       199710          199711      None
23               잠원킴스빌리지       199612          199701      None
24                  잠원한신       199207          199208      None
25   잠원한신4지구(8차~11차,17차)       198102          198103      None
26                잠원한신그린       199301          199302      None
27                잠원한신로얄       199206          199207      None
28                  잠원현대       199304          199305      None
29             잠원훼미리 아파트       199211          199212      None
30                    한강       198906          198907      None

                X              Y
0   201012.596000  446175.475000
1   201007.400000  445846.065000
2   201343.227000  446311.675500
3   200198.486000  445031.815500
4   200462.609000  445406.674000
5   200671.890000  445321.656000
6   200794.798000  445946.690000
7   200485.673000  445141.075500
8   200553.775000  445806.715000
9   200625.395000  445574.330000
10  200671.892826  445321.655408
11  200680.998500  445770.536000
12  200132.607500  445170.184500
13  200776.990000  446078.615000
14  200830.405000  445776.730000
15  200162.765000  445372.290000
16  201112.225000  446421.970000
17  200553.777815  445806.714416
18  200936.225000  445532.160000
19  201553.219000  445465.545000
20  200813.235000  445168.899000
21  201383.164000  446436.675000
22  201116.941000  445939.750000
23  200503.147000  445400.809500
24  200889.030000  445963.330000
25  201171.415000  445594.025000
26  200626.320000  445686.630000
27  200753.195500  445702.824500
28  201045.350000  446252.725000
29  201229.037500  446331.026000
30  201250.895000  446572.650000
11650106 code insert rows are 31
11200109 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0  1120010900  서울특별시 성동구 금호동1가               0  A10026418     e편한세상금호아파트
1  1120010900  서울특별시 성동구 금호동1가               0  A13380104           금호벽산
2  1120010900  서울특별시 성동구 금호동1가               0  A13309103  금호벽산(임대,501동)
3  1120010900  서울특별시 성동구 금호동1가               0  A13309102        금호삼성래미안
4  1120010900  서울특별시 성동구 금호동1가               0  A13309101        신금호두산위브

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201802          201803      None  201940.819881  450263.272646
1       200112          200201      None  202306.840000  449931.145000
2       200112          200201      None  202226.945000  450247.955500
3       200110          200111      None  202363.779500  449655.295500
4       200603          200604      None  201906.101500  450409.187500
11200109 code insert rows are 5
11200110 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1120011000  서울특별시 성동구 금호동2가               0  A13380301       금호자이1차
1  1120011000  서울특별시 성동구 금호동2가               0  A13380302      래미안하이리버
2  1120011000  서울특별시 성동구 금호동2가               0  A13380303  래미안하이리버제2임대
3  1120011000  서울특별시 성동구 금호동2가               0  A10027602   신금호파크자이아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201205          201206      None  201826.564909  450106.340855
1       201205          201206      None  202096.345000  449897.635000
2       201205          201206      None  201988.531291  449977.500025
3       201604          201605      None  201593.835000  450367.709500
11200110 code insert rows are 4
11200111 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1120011100  서울특별시 성동구 금호동3가               0  A13380602  금호1차푸르지오
1  1120011100  서울특별시 성동구 금호동3가               0  A13380703      금호두산
2  1120011100  서울특별시 성동구 금호동3가               0  A13379001    금호자이2차
3  1120011100  서울특별시 성동구 금호동3가               0  A13309301  금호한신휴플러스

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       200505          200506      None  201760.7035  449813.495
1       199409          199410      None  201402.5400  449752.431
2       201207          201208      None  201842.7855  449794.952
3       200507          200508      None  201518.0200  449792.220
11200111 code insert rows are 4
11200112 code insert start

     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1120011200  서울특별시 성동구 금호동4가               0  A13309404          금호대우
1  1120011200  서울특별시 성동구 금호동4가               0  A13378101        금호대우임대
2  1120011200  서울특별시 성동구 금호동4가               0  A13309402      금호동롯데아파트
3  1120011200  서울특별시 성동구 금호동4가               0  A13380901    브라운스톤금호아파트
4  1120011200  서울특별시 성동구 금호동4가               0  A13378102     서울숲2차푸르지오
5  1120011200  서울특별시 성동구 금호동4가               0  A13380803       서울숲푸르지오
6  1120011200  서울특별시 성동구 금호동4가               0  A10026470  힐스테이트 서울숲 리버

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       200105          200106      None  201675.330000  449303.275000
1       200105          200106      None  201898.555000  449388.490000
2       200301          200302      None  201471.956000  449416.052000
3       200703          200704      None  201311.153500  449381.648500
4       201208          201209      None  202070.484000  449344.568000
5       200707          200708      None  201926.360000  449190.144000
6       201802          201803      None  201287.873944  449484.134629
11200112 code insert rows are 7
11200104 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1120010400  서울특별시 성동구 도선동               0  A13370801   성동삼성쉐르빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       200609          200610      None  203016.1275  451346.723
11200104 code insert rows are 1
11200105 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0  1120010500  서울특별시 성동구 마장동               0  A13305005    마장SH-vill임대
1  1120010500  서울특별시 성동구 마장동               0  A13305002  마장동 대성유니드 아파트
2  1120010500  서울특별시 성동구 마장동               0  A13381604       마장동금호어울림
3  1120010500  서울특별시 성동구 마장동               0  A13305006           마장삼성
4  1120010500  서울특별시 성동구 마장동               0  A13305007           마장세림
5  1120010500  서울특별시 성동구 마장동               0  A13305003       마장신성미소지움
6  1120010500  서울특별시 성동구 마장동               0  A13381601        마장중앙하이츠
7  1120010500  서울특별시 성동구 마장동               0  A13381608           마장현대

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200611          200612      None  203469.9460  451343.1120
1       200411          200412      None  203349.2050  451629.1100
2       200609          200610      None  203511.9995  451183.2750
3       199612          199701      None  203483.8800  451554.4300
4       198612          198701      None  203917.9265  451463.6845
5       200406          200407      None  203788.1960  451851.7075
6       199905          199906      None  203383.9250  451462.8200
7       199804          199805      None  203689.3150  451899.2050
11200105 code insert rows are 8
11200106 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1120010600  서울특별시 성동구 사근동               0  A13381701   사근중앙하이츠

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       198909          198910      None  204222.7315  451058.1965
11200106 code insert rows are 1
11200101 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0  1120010100  서울특별시 성동구 상왕십리동               0  A13373302  왕십리텐즈힐2구역214동
1  1120010100  서울특별시 성동구 상왕십리동               0  A13373301         텐즈힐2구역

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201406          201407      None  202125.447766  451862.332049
1       201406          201407      None  202125.447766  451862.332049
11200101 code insert rows are 2
11200114 code insert start
      BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0   1120011400  서울특별시 성동구 성수동1가               0  A13392307      강변건영
1   1120011400  서울특별시 성동구 성수동1가               0  A13384303  뚝섬중앙하이츠빌
2   1120011400  서울특별시 성동구 성수동1가               0  A13372101    성수2차대우
3   1120011400  서울특별시 성동구 성수동1가               0  A13379401  성수갤러리아포레
4   1120011400  서울특별시 성동구 성수동1가               0  A13311101    성수금호3차
5   1120011400  서울특별시 성동구 성수동1가               0  A13382104   성수대림로즈빌
6   1120011400  서울특별시 성동구 성수동1가               0  A13382106      성수동아
7   1120011400  서울특별시 성동구 성수동1가               0  A13384304    성수동아그린
8   1120011400  서울특별시 성동구 성수동1가               0  A13372102      성수쌍용
9   1120011400  서울특별시 성동구 성수동1가               0  A13376405    성수한진타운
10  1120011400  서울특별시 성동구 성수동1가               0  A13382502      성수현대
11  1120011400  서울특별시 성동구 성수동1가               0  A13381902    성수현대그린
12  1120011400  서울특별시 성동구 성수동1가               0  A10026988      트리마제
13  1120011400  서울특별시 성동구 성수동1가               0  A13384301   한양현대아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200202          200203      None  203921.7775  448680.4105
1        200310          200311      None  204145.7700  449513.6910
2        199907          199908      None  204365.7300  449580.5550
3        201107          201108      None  203683.9595  449280.9805
4        200309          200310      None  204383.3300  448854.7170
5        200010          200011      None  203931.0565  448862.3045
6        198309          198310      None  203996.7010  449121.9335
7        199906          199907      None  204172.8200  449849.3100
8        199710          199711      None  204088.7650  449702.0050
9        199404          199405      None  203936.7500  448762.2000
10       199009          199010      None  203550.6000  449550.4380
11       199402          199403      None  204380.6730  448720.8690
12       201705          201706      None       0.0000       0.0000
13       199901          199902      None  204173.1600  449250.0200
11200114 code insert rows are 14
11200115 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1120011500  서울특별시 성동구 성수동2가               0  A13378001  서울숲힐스테이트
1  1120011500  서울특별시 성동구 성수동2가               0  A13312101    성수두산위브
2  1120011500  서울특별시 성동구 성수동2가               0  A13312302    성수롯데캐슬
3  1120011500  서울특별시 성동구 성수동2가               0  A13312303    성수아이파크
4  1120011500  서울특별시 성동구 성수동2가               0  A13383301    성수우방2차
5  1120011500  서울특별시 성동구 성수동2가               0  A13383003   성수청구강변
6  1120011500  서울특별시 성동구 성수동2가               0  A13382802    성수한강한신

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200906          200907      None  204543.4950  448757.3350
1       200605          200606      None  205095.7045  448325.0685
2       200309          200310      None  204877.2810  449321.4535
3       200308          200309      None  204932.4495  449471.3725
4       199912          200001      None  204514.8250  449575.8600
5       199404          199405      None  204777.8870  448118.6900
6       200009          200010      None  204587.5600  448182.2250
11200115 code insert rows are 7
11200118 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1120011800  서울특별시 성동구 송정동               0  A13316001   서울숲아이파크
1  1120011800  서울특별시 성동구 송정동               0  A13383702      송정건영

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200903          200904      None  206042.688  450082.765
1       200005          200006      None  206200.855  450407.780
11200118 code insert rows are 2
11200113 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1120011300  서울특별시 성동구 옥수동               0  A13375907      래미안옥수리버젠
1   1120011300  서울특별시 성동구 옥수동               0  A13375908  래미안옥수리버젠제2임대
2   1120011300  서울특별시 성동구 옥수동               0  A13375906     어울림더리버아파트
3   1120011300  서울특별시 성동구 옥수동               0  A13375903     옥수강변풍림아이원
4   1120011300  서울특별시 성동구 옥수동               0  A13310004          옥수극동
5   1120011300  서울특별시 성동구 옥수동               0  A13384403     옥수극동그린아파트
6   1120011300  서울특별시 성동구 옥수동               0  A13375902          옥수삼성
7   1120011300  서울특별시 성동구 옥수동               0  A13375905        옥수삼성임대
8   1120011300  서울특별시 성동구 옥수동               0  A13383801       옥수중앙하이츠
9   1120011300  서울특별시 성동구 옥수동               0  A10026748     옥수파크힐스아파트
10  1120011300  서울특별시 성동구 옥수동               0  A13375904       옥수하이츠제2
11  1120011300  서울특별시 성동구 옥수동               0  A13376702          옥수현대
12  1120011300  서울특별시 성동구 옥수동               0  A13375901         한남하이츠

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201212          201301      None       0.000000       0.000000
1        201304          201305      None  201215.475000  449334.140000
2        201112          201201      None  201550.609000  448889.663000
3        200410          200411      None  201653.656500  448884.605000
4        198612          198701      None  200951.345000  448999.810000
5        199710          199711      None  200824.585000  448865.720000
6        199904          199905      None  201144.480000  448907.665000
7        199904          199905      None  201145.500000  448754.310000
8        199803          199804      None  201374.095000  448602.100000
9        201611          201612      None  200924.245439  449338.742498
10       199803          199804      None  201374.095000  448602.100000
11       199005          199006      None  201567.385000  449048.530000
12       198209          198210      None  201134.732000  448584.385500
11200113 code insert rows are 13
11200122 code insert start
Empty DataFrame
Columns: []
Index: []
11200108 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1120010800  서울특별시 성동구 응봉동               2  A13308004    응봉금호현대
1  1120010800  서울특별시 성동구 응봉동               0  A13308005    응봉대림1차
2  1120010800  서울특별시 성동구 응봉동               0  A13385202    응봉대림2차
3  1120010800  서울특별시 성동구 응봉동               0  A13376906    응봉대림강변
4  1120010800  서울특별시 성동구 응봉동               0  A13385301  응봉리버그린동아
5  1120010800  서울특별시 성동구 응봉동               0  A13385303     응봉신동아

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       199009          199010      None  202674.0350  449869.0400
1       198610          198611      None  202848.7500  449966.1400
2       198909          198910      None  202810.1500  450069.4650
3       200110          200111      None  203093.0425  450131.6475
4       200306          200307      None  203232.2335  450086.7000
5       199604          199605      None  202542.7905  449786.5300
11200108 code insert rows are 6
11200102 code insert start

      BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE          KAPT_NAME  \
0   1120010200  서울특별시 성동구 하왕십리동               0  A13377302  금호베스트빌아파트 제2관리사무소
1   1120010200  서울특별시 성동구 하왕십리동               0  A13385802               무학현대
2   1120010200  서울특별시 성동구 하왕십리동               0  A10027432   서울 왕십리 KCC스위첸아파트
3   1120010200  서울특별시 성동구 하왕십리동               0  A10027289               센트라스
4   1120010200  서울특별시 성동구 하왕십리동               0  A10026900         왕십리 자이 아파트
5   1120010200  서울특별시 성동구 하왕십리동               0  A10027969      왕십리텐즈힐1단지(임대)
6   1120010200  서울특별시 성동구 하왕십리동               0  A13302001               청계벽산
7   1120010200  서울특별시 성동구 하왕십리동               0  A13388001     청계벽산아파트제2관리사무소
8   1120010200  서울특별시 성동구 하왕십리동               0  A10027920             텐즈힐1단지
9   1120010200  서울특별시 성동구 하왕십리동               0  A13302203            하왕극동미라주
10  1120010200  서울특별시 성동구 하왕십리동               0  A13302204           하왕금호베스트빌
11  1120010200  서울특별시 성동구 하왕십리동               0  A13377301         하왕십리극동미라주2
12  1120010200  서울특별시 성동구 하왕십리동               0  A13385705               한신무학
13  1120010200  서울특별시 성동구 하왕십리동               0  A13302206            행당풍림아이원

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200110          200111      None  202179.805000  451074.075000
1        199603          199604      None  202388.515000  450989.670000
2        201604          201605      None  202222.016000  450909.597000
3        201611          201612      None  202168.738088  451503.290211
4        201707          201708      None  202168.738088  451503.290211
5        201504          201505      None  202394.496215  451846.554708
6        199606          199607      None  202748.495000  451826.115000
7        199606          199607      None  202748.495000  451826.115000
8        201504          201505      None  202394.496215  451846.554708
9        200112          200201      None  201995.545000  450694.250000
10       200110          200111      None  202222.886500  451007.212000
11       200112          200201      None  201979.630000  450797.545000
12       198903          198904      None  202454.135000  451124.970000
13       200411          200412      None  202184.925000  450760.429000
11200102 code insert rows are 14
11200107 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1120010700  서울특별시 성동구 행당동               0  A13307003        서울숲더샵
1   1120010700  서울특별시 성동구 행당동               0  A10026207  서울숲리버뷰자이아파트
2   1120010700  서울특별시 성동구 행당동               0  A13307002    서울숲행당푸르지오
3   1120010700  서울특별시 성동구 행당동               0  A13307202          신동아
4   1120010700  서울특별시 성동구 행당동               0  A13307204         행당대림
5   1120010700  서울특별시 성동구 행당동               0  A13377902       행당대림제2
6   1120010700  서울특별시 성동구 행당동               0  A13307001         행당두산
7   1120010700  서울특별시 성동구 행당동               0  A13377901    행당두산위브아파트
8   1120010700  서울특별시 성동구 행당동               0  A13307201      행당브라운스톤
9   1120010700  서울특별시 성동구 행당동               0  A13307101         행당삼부
10  1120010700  서울특별시 성동구 행당동               0  A13386702      행당한신아파트
11  1120010700  서울특별시 성동구 행당동               0  A13373101       행당한신임대
12  1120010700  서울특별시 성동구 행당동               0  A13377703       행당한진타운
13  1120010700  서울특별시 성동구 행당동               0  A13377903     행당한진타운제2

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201409          201410      None  203474.332000  450539.402000
1        201806          201807      None  202797.948125  450346.645139
2        201105          201106      None  202797.408500  450310.657500
3        199505          199506      None  202830.525500  450229.190000
4        200012          200101      None  202312.185000  450634.325000
5        200012          200101      None  202312.185000  450634.325000
6        199707          199708      None  203229.480000  451380.765000
7        200912          201001      None  202665.191184  450555.827923
8        200509          200510      None  202560.615000  450685.154500
9        199807          199808      None  203228.963000  450845.452500
10       200312          200401      None  203160.010000  450294.800000
11       200312          200401      None  203238.110000  450181.855000
12       200011          200012      None  202513.335000  450411.075000
13       200011          200012      None  202255.795000  450334.405000
11200107 code insert rows are 14
11200103 code insert start
Empty DataFrame
Columns: []
Index: []
11290134 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE          KAPT_NAME  \
0   1129013400  서울특별시 성북구 길음동               0  A13611102         길음뉴타운3단지임대
1   1129013400  서울특별시 성북구 길음동               0  A13611001         길음뉴타운4단지임대
2   1129013400  서울특별시 성북구 길음동               0  A13679403           길음뉴타운7단지
3   1129013400  서울특별시 성북구 길음동               0  A13611008           길음뉴타운8단지
4   1129013400  서울특별시 성북구 길음동               0  A13679402         길음뉴타운9단지제2
5   1129013400  서울특별시 성북구 길음동               0  A13611006         길음뉴타운대림4단지
6   1129013400  서울특별시 성북구 길음동               0  A13611011        길음뉴타운래미안9단지
7   1129013400  서울특별시 성북구 길음동               0  A13611007  길음뉴타운푸르지오아파트2,3단지
8   1129013400  서울특별시 성북구 길음동               0  A13611202           길음동부센트레빌
9   1129013400  서울특별시 성북구 길음동               0  A13611002             길음동부제2
10  1129013400  서울특별시 성북구 길음동               0  A13611201            길음래미안2차
11  1129013400  서울특별시 성북구 길음동               0  A13611005            길음래미안3차
12  1129013400  서울특별시 성북구 길음동               0  A13611004               길음삼부
13  1129013400  서울특별시 성북구 길음동               0  A13680701             길음신안파크
14  1129013400  서울특별시 성북구 길음동               0  A13611103            래미안길음1차

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200504          200505      None  201504.0350  456246.3570
1        200504          200505      None  201499.0550  456717.6750
2        201007          201008      None  201591.0485  456363.0045
3        201006          201007      None  201518.6660  456133.2140
4        201009          201010      None  201804.3400  455648.4470
5        200504          200505      None  201680.1400  456660.6800
6        201009          201010      None  201657.9895  455726.2980
7        200504          200505      None  201363.7980  456609.1080
8        200303          200304      None  202074.3015  456440.9295
9        200303          200304      None  202202.5230  456382.2065
10       200606          200607      None  201753.6385  456372.3000
11       200707          200708      None  201951.0350  455985.2100
12       199802          199803      None  202024.3350  455628.1750
13       198811          198812      None  201333.2460  456865.4865
14       200301          200302      None  201735.2855  455943.8880
11290134 code insert rows are 15
11290103 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1129010300  서울특별시 성북구 돈암동               0  A10028001  금호어울림센터힐아파트
1   1129010300  서울특별시 성북구 돈암동               0  A13681303     돈암동부센트레빌
2   1129010300  서울특별시 성북구 돈암동               0  A13606004   돈암동한신한진아파트
3   1129010300  서울특별시 성북구 돈암동               0  A13606102         돈암범양
4   1129010300  서울특별시 성북구 돈암동               0  A13606107         돈암삼성
5   1129010300  서울특별시 성북구 돈암동               0  A13606106       돈암삼성임대
6   1129010300  서울특별시 성북구 돈암동               0  A13679903     돈암신일해피트리
7   1129010300  서울특별시 성북구 돈암동               1  A13606003    돈암일신건영휴먼빌
8   1129010300  서울특별시 성북구 돈암동               0  A10027227  돈암코오롱하늘채아파트
9   1129010300  서울특별시 성북구 돈암동               0  A13606002      돈암포스코더샵
10  1129010300  서울특별시 성북구 돈암동               0  A13606101         돈암풍림
11  1129010300  서울특별시 성북구 돈암동               0  A13606105       돈암풍림임대
12  1129010300  서울특별시 성북구 돈암동               0  A13681304         돈암현대
13  1129010300  서울특별시 성북구 돈암동               0  A13679902      돈암힐스테이트
14  1129010300  서울특별시 성북구 돈암동               0  A13606005        동소문한진
15  1129010300  서울특별시 성북구 돈암동               0  A13606201     브라운스톤 돈암

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201410          201411      None  202030.239711  455424.998024
1        200309          200310      None  202266.133000  455518.017500
2        199807          199808      None  200835.626963  454650.546665
3        199812          199901      None  202420.455000  455667.945000
4        199904          199905      None  201982.865000  455235.109000
5        199904          199905      None  202089.620500  455201.965000
6        201301          201302      None  200962.349000  455073.213500
7        200506          200507      None  201038.176500  455382.042000
8        201612          201701      None  201959.794270  455369.005134
9        200603          200604      None  200873.132000  455040.010000
10       199905          199906      None  201999.525000  454838.495000
11       199905          199906      None  201879.760000  454964.060000
12       199106          199107      None  202243.900000  455655.445000
13       200704          200705      None  201253.181000  455142.576500
14       199807          199808      None  200834.433000  454649.969000
15       200412          200501      None  201496.390500  455065.204000
11290103 code insert rows are 16
11290116 code insert start
Empty DataFrame
Columns: []
Index: []
11290117 code insert start

Empty DataFrame
Columns: []
Index: []
11290118 code insert start
Empty DataFrame
Columns: []
Index: []
11290119 code insert start
Empty DataFrame
Columns: []
Index: []
11290120 code insert start
Empty DataFrame
Columns: []
Index: []
11290104 code insert start
Empty DataFrame
Columns: []
Index: []
11290105 code insert start
Empty DataFrame
Columns: []
Index: []
11290106 code insert start
Empty DataFrame
Columns: []
Index: []
11290107 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1129010700  서울특별시 성북구 동소문동4가               0  A13603401     동소문동송산
1  1129010700  서울특별시 성북구 동소문동4가               0  A13603701  동소문한신휴플러스

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       199806          199807      None  200829.785  454460.7905
1       200407          200408      None  200914.009  454569.7970
11290107 code insert rows are 2
11290108 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1129010800  서울특별시 성북구 동소문동5가               0  A13603501   돈암동일하이빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       200604          200605      None  201202.8665  454370.057
11290108 code insert rows are 1
11290109 code insert start
Empty DataFrame
Columns: []
Index: []
11290110 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1129011000  서울특별시 성북구 동소문동7가               0  A13603702   브라운스톤동선

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       201011          201012      None  201151.944  454890.097
11290110 code insert rows are 1
11290130 code insert start
Empty DataFrame
Columns: []
Index: []
11290131 code insert start
Empty DataFrame
Columns: []
Index: []
11290132 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1129013200  서울특별시 성북구 보문동3가               0  A13608301    보문아이파크
1  1129013200  서울특별시 성북구 보문동3가               0  A13677401   이편한세상보문

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       200308          200309      None  201392.095000  453703.020000
1       201312          201401      None  201471.798957  453499.114557
11290132 code insert rows are 2
11290126 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1129012600  서울특별시 성북구 보문동4가               0  A13608401  보문하우스토리주상복합

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM          X            Y
0       201108          201109      None  201780.77  453536.5525
11290126 code insert rows are 1
11290127 code insert start
Empty DataFrame
Columns: []
Index: []
11290128 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1129012800  서울특별시 성북구 보문동6가               0  A13608601        보문아남
1  1129012800  서울특별시 성북구 보문동6가               0  A10027189  보문파크뷰자이아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       199410          199411      None  201493.8905  453235.7235
1       201701          201702      None  201479.6610  453094.7465
11290128 code insert rows are 2
11290129 code insert start
Empty DataFrame
Columns: []
Index: []
11290111 code insert start
Empty DataFrame
Columns: []
Index: []
11290112 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1129011200  서울특별시 성북구 삼선동2가               0  A13672101  삼선푸르지오아파트
1  1129011200  서울특별시 성북구 삼선동2가               0  A13672102    삼선힐스테이트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200803          200804      None  201116.917  453448.102
1       200912          201001      None  201129.055  453317.564
11290112 code insert rows are 2
11290113 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1129011300  서울특별시 성북구 삼선동3가               0  A13604301  삼선1SH-VILLE
1  1129011300  서울특별시 성북구 삼선동3가               0  A13670801     삼선SKView

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200811          200812      None  201169.2055  453637.6945
1       201204          201205      None  200959.2375  453885.8675
11290113 code insert rows are 2
11290114 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1129011400  서울특별시 성북구 삼선동4가               0  A13604401  삼선코오롱아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       199911          199912      None  201049.145  454228.605
11290114 code insert rows are 1
11290115 code insert start
Empty DataFrame
Columns: []
Index: []
11290137 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1129013700  서울특별시 성북구 상월곡동               0  A13678401     동아에코빌
1  1129013700  서울특별시 성북구 상월곡동               0  A13612001     상월곡우남
2  1129013700  서울특별시 성북구 상월곡동               0  A13612002   상월동아에코빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       200306          200307      None  203919.810  456022.3600
1       199412          199501      None  204049.632  455948.9395
2       200306          200307      None  203948.865  456173.8880
11290137 code insert rows are 3
11290139 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1129013900  서울특별시 성북구 석관동               0  A13676101     래미안석관
1  1129013900  서울특별시 성북구 석관동               0  A13615003      석관두산
2  1129013900  서울특별시 성북구 석관동               0  A13681701   석관중앙하이츠
3  1129013900  서울특별시 성북구 석관동               0  A13615002     석관코오롱
4  1129013900  서울특별시 성북구 석관동               0  A13676103   신동아파밀리에

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200906          200907      None  204729.3435  456227.8325
1       199804          199805      None  205968.1250  456667.7000
2       199406          199407      None  205821.4535  456529.8080
3       199906          199907      None  205735.4000  456002.0450
4       201101          201102      None  204662.9770  456143.7985
11290139 code insert rows are 5
11290101 code insert start
Empty DataFrame
Columns: []
Index: []
11290102 code insert start
Empty DataFrame
Columns: []
Index: []
11290121 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1129012100  서울특별시 성북구 안암동1가               0  A13607101   안암삼성래미안

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       200506          200507      None  202039.225  454100.3075
11290121 code insert rows are 1
11290122 code insert start
Empty DataFrame
Columns: []
Index: []
11290123 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1129012300  서울특별시 성북구 안암동3가               0  A13607302      안암대광
1  1129012300  서울특별시 성북구 안암동3가               0  A13607301      안암삼익

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       197112          197201      None  202129.1445  453345.4445
1       198306          198307      None  202138.7375  453287.9435
11290123 code insert rows are 2
11290124 code insert start
Empty DataFrame
Columns: []
Index: []
11290125 code insert start
Empty DataFrame
Columns: []
Index: []
11290138 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0  1129013800  서울특별시 성북구 장위동               0  A13614001        꿈의숲대명루첸
1  1129013800  서울특별시 성북구 장위동               0  A10026571   꿈의숲코오롱하늘채아파트
2  1129013800  서울특별시 성북구 장위동               0  A13614301  장월SH-VILLE1단지
3  1129013800  서울특별시 성북구 장위동               0  A13614302          장위참누리

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X             Y
0       200812          200901      None  204084.097500  457585.14900
1       201710          201711      None  204011.279343  457467.27338
2       200604          200605      None  204152.645000  457790.01500
3       200604          200605      None  204297.320000  457873.19000
11290138 code insert rows are 4
11290133 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1129013300  서울특별시 성북구 정릉동               0  A13610102     길음뉴타운10단지
1   1129013300  서울특별시 성북구 정릉동               0  A13676703    정릉1차e-편한세상
2   1129013300  서울특별시 성북구 정릉동               0  A13677101    정릉2차 e편한세상
3   1129013300  서울특별시 성북구 정릉동               0  A13610201     정릉2차대주피오레
4   1129013300  서울특별시 성북구 정릉동               0  A13610107          정릉경남
5   1129013300  서울특별시 성북구 정릉동               0  A10028000     정릉꿈에그린아파트
6   1129013300  서울특별시 성북구 정릉동               0  A13676702          정릉대우
7   1129013300  서울특별시 성북구 정릉동               0  A13610004          정릉산장
8   1129013300  서울특별시 성북구 정릉동               0  A13610301          정릉성원
9   1129013300  서울특별시 성북구 정릉동               0  A13676504       정릉스카이쌍용
10  1129013300  서울특별시 성북구 정릉동               0  A13676501          정릉쌍용
11  1129013300  서울특별시 성북구 정릉동               0  A13610001       정릉우방아파트
12  1129013300  서울특별시 성북구 정릉동               0  A13677206          정릉우성
13  1129013300  서울특별시 성북구 정릉동               0  A13677807       정릉우정에쉐르
14  1129013300  서울특별시 성북구 정릉동               0  A13684701       정릉중앙하이츠
15  1129013300  서울특별시 성북구 정릉동               0  A13685104   정릉중앙하이츠빌1단지
16  1129013300  서울특별시 성북구 정릉동               0  A13684306   정릉중앙하이츠빌2단지
17  1129013300  서울특별시 성북구 정릉동               0  A13676605          정릉태영
18  1129013300  서울특별시 성북구 정릉동               0  A13610202        정릉푸르지오
19  1129013300  서울특별시 성북구 정릉동               0  A13684605      정릉푸른마을동아
20  1129013300  서울특별시 성북구 정릉동               0  A13610007       정릉풍림아이원
21  1129013300  서울특별시 성북구 정릉동               0  A13676704     정릉풍림아이원임대
22  1129013300  서울특별시 성북구 정릉동               0  A13610103       정릉힐스테이트
23  1129013300  서울특별시 성북구 정릉동               0  A13610003  정릉힐스테이트1차아파트
24  1129013300  서울특별시 성북구 정릉동               0  A13610005     정릉힐스테이트3차

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200810          200811      None  201543.253000  455654.747500
1        200606          200607      None  200827.784000  456966.176500
2        200906          200907      None  201640.492500  455290.821500
3        200805          200806      None  200729.828500  455503.699500
4        199906          199907      None  201446.330000  455781.079500
5        201504          201505      None  200878.835623  455479.356689
6        200106          200107      None  200238.798500  457298.195500
7        197712          197801      None  200119.544000  457157.897500
8        200001          200002      None  200669.280000  456020.024000
9        199902          199903      None  201386.415000  455256.285000
10       199911          199912      None  201543.025000  455244.110000
11       199907          199908      None  200818.435500  455338.298000
12       200002          200003      None  201315.850000  455399.025000
13       200904          200905      None  200842.889500  455300.190500
14       199905          199906      None  200108.060000  457452.625000
15       200404          200405      None  200758.884500  455593.425000
16       200511          200512      None  200858.500500  455712.938000
17       199911          199912      None  201354.104000  456008.856000
18       200511          200512      None  200817.976000  456009.958000
19       200310          200311      None  201198.257000  456133.000000
20       200512          200601      None  200568.460000  457348.105000
21       200512          200601      None  200581.050000  457072.920000
22       200412          200501      None  201304.464500  455612.440000
23       200705          200706      None  201481.452500  455319.705000
24       200806          200807      None  200593.249000  456900.758000
11290133 code insert rows are 25
11290135 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1129013500  서울특별시 성북구 종암동               0  A13671209      래미안라센트
1   1129013500  서울특별시 성북구 종암동               4  A13671208     래미안세레니티
2   1129013500  서울특별시 성북구 종암동               0  A13671212     래미안종암2차
3   1129013500  서울특별시 성북구 종암동               0  A13671211     래미안종암3차
4   1129013500  서울특별시 성북구 종암동               0  A13671213     종암2차SK뷰
5   1129013500  서울특별시 성북구 종암동               0  A13671204    종암2차아이파크
6   1129013500  서울특별시 성북구 종암동               0  A13671205        종암SK
7   1129013500  서울특별시 성북구 종암동               0  A13671210      종암SK제2
8   1129013500  서울특별시 성북구 종암동               0  A13671207     종암극동아파트
9   1129013500  서울특별시 성북구 종암동               0  A13686302     종암삼성래미안
10  1129013500  서울특별시 성북구 종암동               0  A13671203     종암선경아파트
11  1129013500  서울특별시 성북구 종암동               0  A13671206    종암아이파크1차
12  1129013500  서울특별시 성북구 종암동               0  A13609001  종암우림카이저팰리스

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        201101          201102      None  203311.0415  455225.3265
1        200910          200911      None  202673.9775  455219.4235
2        200910          200911      None  202569.4665  455111.5775
3        201101          201102      None  203358.5185  455427.3220
4        201010          201011      None  203001.6850  455481.6455
5        200509          200510      None  202736.9820  454945.9950
6        199904          199905      None  203194.5550  455426.4200
7        199904          199905      None  203278.1550  455315.6850
8        200012          200101      None  202906.1900  454774.1100
9        200409          200410      None  202588.3295  455418.6800
10       199609          199610      None  202916.8390  454678.8945
11       200409          200410      None  202560.6530  455577.1800
12       200805          200806      None  202886.8420  455512.3510
11290135 code insert rows are 13
11290136 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1129013600  서울특별시 성북구 하월곡동               0  A13613012      길음서희스타힐스
1   1129013600  서울특별시 성북구 하월곡동               0  A13613009       꿈의숲푸르지오
2   1129013600  서울특별시 성북구 하월곡동               0  A13613011      동일하이빌뉴시티
3   1129013600  서울특별시 성북구 하월곡동               0  A13613007         래미안월곡
4   1129013600  서울특별시 성북구 하월곡동               0  A13613004       성북힐스테이트
5   1129013600  서울특별시 성북구 하월곡동               0  A13613002  월곡2SHville임대
6   1129013600  서울특별시 성북구 하월곡동               0  A13613003    월곡3SH-vill
7   1129013600  서울특별시 성북구 하월곡동               0  A13613008     월곡두산위브아파트
8   1129013600  서울특별시 성북구 하월곡동               0  A13613010   월곡두산제2아파트임대
9   1129013600  서울특별시 성북구 하월곡동               0  A13613006     월곡래미안루나밸리
10  1129013600  서울특별시 성북구 하월곡동               0  A13613005         하월곡동신
11  1129013600  서울특별시 성북구 하월곡동               0  A13613001         하월곡아남

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        201106          201107      None  202342.0925  455896.2290
1        201004          201005      None  203379.8625  456482.7015
2        201111          201112      None  202677.1355  455867.2360
3        200607          200608      None  203181.1610  456466.8010
4        200708          200709      None  202615.2050  456022.7075
5        200810          200811      None  203622.0050  455024.6650
6        200806          200807      None  203292.7150  456638.9485
7        200304          200305      None  203323.0190  456079.1345
8        200304          200305      None  203399.8590  455869.2535
9        200710          200711      None  203652.1255  455198.4550
10       199807          199808      None  203054.7010  455804.7265
11       199612          199701      None  202995.0200  455929.6650
11290136 code insert rows are 12
11710107 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1171010700  서울특별시 송파구 가락동               0  A13880105   가락2차쌍용아파트
1   1171010700  서울특별시 송파구 가락동               0  A13895502      가락3차쌍용
2   1171010700  서울특별시 송파구 가락동               0  A13816202        가락극동
3   1171010700  서울특별시 송파구 가락동               0  A13880407        가락금호
4   1171010700  서울특별시 송파구 가락동               0  A13880204     가락대림아파트
5   1171010700  서울특별시 송파구 가락동               0  A13816002    가락동부센트레빌
6   1171010700  서울특별시 송파구 가락동               0  A13881005  가락래미안파크팰리스
7   1171010700  서울특별시 송파구 가락동               0  A13880701     가락미륭아파트
8   1171010700  서울특별시 송파구 가락동               3  A13816004      가락시영1차
9   1171010700  서울특별시 송파구 가락동               0  A13880806      가락쌍용1차
10  1171010700  서울특별시 송파구 가락동               0  A13880406      가락우성1차
11  1171010700  서울특별시 송파구 가락동               0  A13880602   가락우성2차아파트
12  1171010700  서울특별시 송파구 가락동               0  A13881204       가락프라자
13  1171010700  서울특별시 송파구 가락동               0  A13880603        가락한신
14  1171010700  서울특별시 송파구 가락동               0  A13816001      가락현대5차
15  1171010700  서울특별시 송파구 가락동               0  A13880201      가락현대6차
16  1171010700  서울특별시 송파구 가락동               0  A13881103        삼환가락
17  1171010700  서울특별시 송파구 가락동               0  A13816101    송파동부센트레빌
18  1171010700  서울특별시 송파구 가락동               0  A13895501     송파성원상떼빌
19  1171010700  서울특별시 송파구 가락동               0  A13895503     한화오벨리스크

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        199910          199911      None  210745.4700  444373.9895
1        200502          200503      None  210786.6600  443997.2000
2        198412          198501      None  211666.4950  443725.8400
3        199708          199709      None  210217.3350  443787.4250
4        198811          198812      None  210414.5310  444148.7250
5        200111          200112      None  210212.9945  443979.5750
6        200711          200712      None  211608.0450  443997.6300
7        198611          198612      None  211318.1200  443509.4200
8        198012          198101      None  209402.9550  443918.6495
9        199703          199704      None  211296.9200  443736.4050
10       198612          198701      None  210334.4900  443826.4550
11       200006          200007      None  211028.9300  443305.2750
12       198507          198508      None  211736.8200  443319.2050
13       199304          199305      None  210699.9600  443061.3650
14       198612          198701      None  211447.4750  444211.5050
15       199112          199201      None          NaN          NaN
16       198411          198412      None  212023.1100  443689.6850
17       200412          200501      None  209583.2150  444256.8250
18       200606          200607      None  210578.1900  443655.5600
19       200411          200412      None  210715.0700  443633.9600
11710107 code insert rows are 20
11710113 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1171011300  서울특별시 송파구 거여동               0  A13811206        거여1단지
1  1171011300  서울특별시 송파구 거여동               0  A13811202  거여2단지(동아효성)
2  1171011300  서울특별시 송파구 거여동               0  A13811204        거여3단지
3  1171011300  서울특별시 송파구 거여동               0  A13811203        거여4단지
4  1171011300  서울특별시 송파구 거여동               0  A13811205        거여5단지
5  1171011300  서울특별시 송파구 거여동               0  A13811001        거여6단지
6  1171011300  서울특별시 송파구 거여동               0  A13881601         거여우방
7  1171011300  서울특별시 송파구 거여동               0  A13881603       거여현대1차
8  1171011300  서울특별시 송파구 거여동               0  A13881401       거여현대2차
9  1171011300  서울특별시 송파구 거여동               0  A13881302       거여현대3차

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       199711          199712      None  212711.280  443210.125
1       199712          199801      None  212861.785  443132.065
2       200010          200011      None  212963.835  443093.425
3       199707          199708      None  212651.630  443012.970
4       199707          199708      None  212780.910  442976.235
5       199704          199705      None  212895.215  442943.750
6       199909          199910      None  212508.540  443403.830
7       199203          199204      None  212398.890  443414.235
8       199204          199205      None  212878.050  443612.141
9       199307          199308      None  212752.480  443868.605
11710113 code insert rows are 10
11710114 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1171011400  서울특별시 송파구 마천동               0  A13812003    금호어울림1차
1  1171011400  서울특별시 송파구 마천동               0  A13812002       마천금호
2  1171011400  서울특별시 송파구 마천동               0  A13812001  마천금호어울림2차
3  1171011400  서울특별시 송파구 마천동               0  A13812004       마천우방
4  1171011400  서울특별시 송파구 마천동               3  A13881701  송파파크데일1단지
5  1171011400  서울특별시 송파구 마천동               1  A13812005  송파파크데일2단지

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       200203          200204      None  213623.624500  444013.292500
1       199805          199806      None  213488.910000  443622.455000
2       200604          200605      None  213670.075000  443472.608500
3       200211          200212      None  213369.245000  444249.465000
4       201101          201102      None  214002.958087  444106.073424
5       201101          201102      None  213989.079774  443787.644904
11710114 code insert rows are 6
11710108 code insert start

     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1171010800  서울특별시 송파구 문정동               0  A13820004    가락1차현대아파트
1  1171010800  서울특별시 송파구 문정동               0  A13820001      문정3차푸르지오
2  1171010800  서울특별시 송파구 문정동               0  A13820005          문정건영
3  1171010800  서울특별시 송파구 문정동               0  A13820006         문정래미안
4  1171010800  서울특별시 송파구 문정동               0  A13820002       문정세양청마루
5  1171010800  서울특별시 송파구 문정동               0  A13820007          문정시영
6  1171010800  서울특별시 송파구 문정동               0  A13882402      문정푸르지오1차
7  1171010800  서울특별시 송파구 문정동               0  A13882401      문정푸르지오2차
8  1171010800  서울특별시 송파구 문정동               0  A13820201      올림픽훼밀리타운
9  1171010800  서울특별시 송파구 문정동               0  A10027346  파크하비오푸르지오아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       198411          198412      None  211253.930000  443269.735000
1       200208          200209      None  211715.325000  442776.202000
2       199610          199611      None  211042.550000  442165.860000
3       200409          200410      None  211449.500000  443181.935000
4       200405          200406      None  212037.305000  443368.545000
5       198903          198904      None  211907.820000  443156.500000
6       199910          199911      None  211260.430000  442747.325500
7       200105          200106      None  211191.245000  442747.235000
8       198812          198901      None  210023.210000  442930.125000
9       201609          201610      None  210871.650275  442054.961445
11710108 code insert rows are 10
11710111 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE            KAPT_NAME  \
0  1171011100  서울특별시 송파구 방이동               0  A13805001               방이대림가락
1  1171011100  서울특별시 송파구 방이동               0  A13883602                방이코오롱
2  1171011100  서울특별시 송파구 방이동               0  A13805002  올림픽선수기자촌아파트 입주자대표회의
3  1171011100  서울특별시 송파구 방이동               0  A13883601               잠실한양3차

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       198502          198503      None  210902.045  445052.790
1       199110          199111      None  210748.040  445160.430
2       198806          198807      None  211961.890  446180.100
3       198502          198503      None  210778.390  444889.875
11710111 code insert rows are 4
11710106 code insert start
Empty DataFrame
Columns: []
Index: []
11710105 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1171010500  서울특별시 송파구 석촌동               0  A10027881  석촌호수 효성해링턴타워
1  1171010500  서울특별시 송파구 석촌동               0  A13819001          잠실한솔

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       201508          201509      None  208814.166  444933.192
1       200010          200011      None  209183.389  444606.190
11710105 code insert rows are 2
11710104 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1171010400  서울특별시 송파구 송파동               0  A13885306    가락삼익맨션
1  1171010400  서울특별시 송파구 송파동               0  A13817001  래미안송파파인탑
2  1171010400  서울특별시 송파구 송파동               0  A13885303      송파미성
3  1171010400  서울특별시 송파구 송파동               0  A13877501   송파삼성래미안
4  1171010400  서울특별시 송파구 송파동               0  A13817202      송파성지
5  1171010400  서울특별시 송파구 송파동               0  A13885304    송파한양2차
6  1171010400  서울특별시 송파구 송파동               0  A13885301    송파현대1차
7  1171010400  서울특별시 송파구 송파동               0  A13817101    송파호수임광
8  1171010400  서울특별시 송파구 송파동               2  A13885102     한양아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       198412          198501      None  210636.720  444644.9800
1       201201          201202      None  210541.400  444490.4985
2       198501          198502      None  210477.625  444866.0100
3       200112          200201      None  210438.180  444715.7450
4       199212          199301      None  210270.365  444222.6345
5       198410          198411      None  210199.871  444771.6855
6       199705          199706      None  210348.340  444594.2350
7       199510          199511      None  209404.635  445353.1150
8       198312          198401      None  210030.300  444832.4060
11710104 code insert rows are 9
11710102 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1171010200  서울특별시 송파구 신천동               0  A13872502      롯데캐슬골드
1  1171010200  서울특별시 송파구 신천동               4  A13824005    신천장미1차2차
2  1171010200  서울특별시 송파구 신천동               0  A13824002    잠실더샵스타파크
3  1171010200  서울특별시 송파구 신천동               0  A13824004        잠실미성
4  1171010200  서울특별시 송파구 신천동               0  A13872501        잠실진주
5  1171010200  서울특별시 송파구 신천동               1  A13824006      잠실파크리오
6  1171010200  서울특별시 송파구 신천동               0  A13872503  잠실푸르지오월드마크
7  1171010200  서울특별시 송파구 신천동               0  A13824001   포스코더샵스타리버
8  1171010200  서울특별시 송파구 신천동               0  A13824003        한신코아

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200511          200512      None  208833.9850  445811.8450
1       197901          197902      None  208996.0200  446429.4500
2       200809          200810      None  208973.9555  446085.6500
3       198012          198101      None  209379.8680  446135.9555
4       198001          198002      None  209746.8245  446228.1050
5       200808          200809      None  209320.3400  446474.9900
6       201306          201307      None  209090.4100  446139.6300
7       200609          200610      None  209156.4030  446199.7250
8       198812          198901      None  209134.5385  446031.8195
11710102 code insert rows are 9
11710112 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1171011200  서울특별시 송파구 오금동               0  A13813004        가락상아1차
1   1171011200  서울특별시 송파구 오금동               0  A13813005          가락우창
2   1171011200  서울특별시 송파구 오금동               0  A13886009       상아2차아파트
3   1171011200  서울특별시 송파구 오금동               0  A10026249     송파레미니스2단지
4   1171011200  서울특별시 송파구 오금동               0  A10026734     송파레미니스아파트
5   1171011200  서울특별시 송파구 오금동               0  A10026362  송파호반베르디움더퍼스트
6   1171011200  서울특별시 송파구 오금동               0  A13813008          오금대림
7   1171011200  서울특별시 송파구 오금동               0  A13813003          오금삼성
8   1171011200  서울특별시 송파구 오금동               0  A13813007          오금아남
9   1171011200  서울특별시 송파구 오금동               0  A13813002          오금우방
10  1171011200  서울특별시 송파구 오금동               0  A13813006        오금현대백조
11  1171011200  서울특별시 송파구 오금동               0  A13873701    오금현대백조(임대)
12  1171011200  서울특별시 송파구 오금동               0  A13813010       오금현대아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        198412          198501      None  211901.465000  444045.320000
1        198510          198511      None  212038.135000  444125.940000
2        198811          198812      None  212007.655000  443970.185000
3        201806          201807      None  212133.543865  444911.915218
4        201711          201712      None  211939.453978  444974.932639
5        201802          201803      None  212276.235112  444766.784132
6        198812          198901      None  211294.305000  445113.436500
7        198905          198906      None  212226.305000  443817.155000
8        199209          199210      None  211947.920000  444511.820000
9        200103          200104      None  212273.520000  444367.600000
10       199701          199702      None  211360.615000  445248.916500
11       199701          199702      None  211360.615000  445248.916500
12       198412          198501      None  211153.640000  444936.670000
11710112 code insert rows are 13
11710101 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE         KAPT_NAME  \
0  1171010100  서울특별시 송파구 잠실동               0  A13822301           갤러리아팰리스
1  1171010100  서울특별시 송파구 잠실동               0  A13879102  잠실5단지아파트 입주자대표회의
2  1171010100  서울특별시 송파구 잠실동               6  A13822002           잠실동트리지움
3  1171010100  서울특별시 송파구 잠실동               0  A13822001          잠실레이크팰리스
4  1171010100  서울특별시 송파구 잠실동               0  A13822003             잠실리센츠
5  1171010100  서울특별시 송파구 잠실동               0  A13822701          잠실아시아선수촌
6  1171010100  서울특별시 송파구 잠실동               0  A13822004              잠실엘스
7  1171010100  서울특별시 송파구 잠실동               0  A13822702        잠실우성1,2,3차
8  1171010100  서울특별시 송파구 잠실동               0  A13822902            잠실우성4차
9  1171010100  서울특별시 송파구 잠실동               0  A13886701              잠실현대

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200501          200502      None  208224.7250  445433.9065
1       197804          197805      None  208337.1650  445916.5935
2       200708          200709      None  207844.1000  445276.7450
3       200612          200701      None  208265.8335  445138.7920
4       200807          200808      None  207747.5800  445794.6450
5       198606          198607      None  206710.6300  445102.4740
6       200809          200810      None  207132.3200  445774.2800
7       198112          198201      None  206398.4550  444963.3910
8       198308          198309      None  207269.5550  444510.2050
9       199008          199009      None  207473.1815  444642.5540
11710101 code insert rows are 10
11710109 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE      KAPT_NAME  \
0   1171010900  서울특별시 송파구 장지동               0  A10027632       송파 와이즈더샵
1   1171010900  서울특별시 송파구 장지동               0  A13876114      송파꿈에그린아파트
2   1171010900  서울특별시 송파구 장지동               4  A13821005     송파파인타운10단지
3   1171010900  서울특별시 송파구 장지동               0  A13821002     송파파인타운11단지
4   1171010900  서울특별시 송파구 장지동               0  A13876112     송파파인타운13단지
5   1171010900  서울특별시 송파구 장지동               0  A13876111      송파파인타운1단지
6   1171010900  서울특별시 송파구 장지동               0  A13876109      송파파인타운2단지
7   1171010900  서울특별시 송파구 장지동               0  A13876110      송파파인타운3단지
8   1171010900  서울특별시 송파구 장지동               0  A13821001      송파파인타운4단지
9   1171010900  서울특별시 송파구 장지동               0  A13821003      송파파인타운5단지
10  1171010900  서울특별시 송파구 장지동               0  A13876108      송파파인타운6단지
11  1171010900  서울특별시 송파구 장지동               0  A13821004      송파파인타운7단지
12  1171010900  서울특별시 송파구 장지동               0  A13821006      송파파인타운8단지
13  1171010900  서울특별시 송파구 장지동               1  A13821007      송파파인타운9단지
14  1171010900  서울특별시 송파구 장지동               0  A13876113     송파한라비발디아파트
15  1171010900  서울특별시 송파구 장지동               0  A10028086      위례 송파푸르지오
16  1171010900  서울특별시 송파구 장지동               0  A10027553    위례2차아이파크아파트
17  1171010900  서울특별시 송파구 장지동               0  A10027744      위례아이파크아파트
18  1171010900  서울특별시 송파구 장지동               0  A10027195    위례중앙푸르지오1단지
19  1171010900  서울특별시 송파구 장지동               0  A10026682      위례포레샤인아파트
20  1171010900  서울특별시 송파구 장지동               0  A10027461  힐스테이트 송파위례아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201602          201603      None  212638.626616  441663.197195
1        201311          201312      None  212156.356097  441635.912671
2        200708          200709      None  211476.890000  441720.175000
3        200707          200708      None  211709.300000  441949.670000
4        201101          201102      None  211356.549016  441642.326121
5        201001          201002      None  211843.050000  442753.720000
6        200809          200810      None  211537.640000  442438.060000
7        200807          200808      None  211668.703500  442417.480500
8        200804          200805      None  211393.460000  442182.815000
9        200808          200809      None  211423.215000  441993.340000
10       200808          200809      None  211606.865000  442020.720000
11       200712          200801      None  211503.240000  441895.470000
12       200810          200811      None  211277.420000  441906.965000
13       200712          200801      None  211316.820000  441784.980000
14       201311          201312      None  212253.659525  441947.264416
15       201501          201502      None  212281.110609  442010.245863
16       201605          201606      None  212646.213849  441828.536171
17       201511          201512      None  212511.334113  441668.533211
18       201612          201701      None  212457.420597  441431.493832
19       201709          201710      None  212010.475696  441427.955235
20       201607          201608      None            NaN            NaN
11710109 code insert rows are 21
11710103 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1171010300  서울특별시 송파구 풍납동               0  A13887901     송파현대힐스테이트
1   1171010300  서울특별시 송파구 풍납동               0  A13804001          풍납극동
2   1171010300  서울특별시 송파구 풍납동               0  A13887302       풍납동아한가람
3   1171010300  서울특별시 송파구 풍납동               0  A13887702          풍납미성
4   1171010300  서울특별시 송파구 풍납동               0  A13804003        풍납시티극동
5   1171010300  서울특별시 송파구 풍납동               0  A13887301       풍납신성노바빌
6   1171010300  서울특별시 송파구 풍납동               0  A13804002          풍납쌍용
7   1171010300  서울특별시 송파구 풍납동               0  A13887804          풍납우성
8   1171010300  서울특별시 송파구 풍납동               0  A13804206        풍납한강극동
9   1171010300  서울특별시 송파구 풍납동               0  A13804004          풍납현대
10  1171010300  서울특별시 송파구 풍납동               0  A13887405     풍납현대리버빌1차
11  1171010300  서울특별시 송파구 풍납동               0  A13887403  풍납현대리버빌2차아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200602          200603      None  210401.4920  447655.5575
1        198712          198801      None  210250.4505  447157.0000
2        199506          199507      None  210138.4850  448373.1000
3        198506          198507      None  209986.7080  447995.9635
4        199805          199806      None  210384.4200  448597.4200
5        200009          200010      None  210240.1300  448486.8600
6        199407          199408      None  210330.7305  447230.0495
7        198402          198403      None  210019.2660  447061.4720
8        199507          199508      None  209908.5550  447476.6100
9        199511          199512      None  210436.7660  447468.1200
10       199911          199912      None  210119.5950  447620.8250
11       199911          199912      None  210256.2800  447770.4800
11710103 code insert rows are 12
11470102 code insert start

      BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1147010200  서울특별시 양천구 목동               0  A15875101         목동1단지
1   1147010200  서울특별시 양천구 목동               0  A15875102      목동2단지아파트
2   1147010200  서울특별시 양천구 목동               0  A15805302     목동2차성원아파트
3   1147010200  서울특별시 양천구 목동               0  A15805003         목동3단지
4   1147010200  서울특별시 양천구 목동               0  A15805503         목동4단지
5   1147010200  서울특별시 양천구 목동               0  A15805504         목동5단지
6   1147010200  서울특별시 양천구 목동               0  A15875103         목동6단지
7   1147010200  서울특별시 양천구 목동               0  A15805115         목동7단지
8   1147010200  서울특별시 양천구 목동               0  A15805202      목동e-편한세상
9   1147010200  서울특별시 양천구 목동               0  A15805203          목동건영
10  1147010200  서울특별시 양천구 목동               0  A15881601       목동극동늘푸른
11  1147010200  서울특별시 양천구 목동               0  A15881701      목동금강에스쁘아
12  1147010200  서울특별시 양천구 목동               0  A15882107        목동금호1차
13  1147010200  서울특별시 양천구 목동               0  A15880905      목동금호베스트빌
14  1147010200  서울특별시 양천구 목동               0  A15805403       목동금호어울림
15  1147010200  서울특별시 양천구 목동               0  A15805109        목동대림2차
16  1147010200  서울특별시 양천구 목동               0  A15805101       목동대원칸타빌
17  1147010200  서울특별시 양천구 목동               0  A15805404  목동대원칸타빌2,3단지
18  1147010200  서울특별시 양천구 목동               0  A10026023  목동롯데캐슬 마에스트로
19  1147010200  서울특별시 양천구 목동               0  A15805303      목동롯데캐슬위너
20  1147010200  서울특별시 양천구 목동               0  A15805501    목동부영그린타운2차
21  1147010200  서울특별시 양천구 목동               0  A15805301    목동부영그린타운3차
22  1147010200  서울특별시 양천구 목동               0  A15882010          목동삼익
23  1147010200  서울특별시 양천구 목동               0  A15881702          목동성원
24  1147010200  서울특별시 양천구 목동               0  A15805105          목동성원
25  1147010200  서울특별시 양천구 목동               0  A10027849  목동센트럴푸르지오아파트
26  1147010200  서울특별시 양천구 목동               0  A15880204          목동우성
27  1147010200  서울특별시 양천구 목동               0  A15882104        목동진도1차
28  1147010200  서울특별시 양천구 목동               0  A15882103        목동진도2차
29  1147010200  서울특별시 양천구 목동               0  A15870101       목동트라팰리스
30  1147010200  서울특별시 양천구 목동               0  A15805502         목동트윈빌
31  1147010200  서울특별시 양천구 목동               0  A15805002        목동한신청구
32  1147010200  서울특별시 양천구 목동               0  A15882008        목동현대1차
33  1147010200  서울특별시 양천구 목동               0  A15882006        목동현대2차
34  1147010200  서울특별시 양천구 목동               0  A15870102         목동현대A
35  1147010200  서울특별시 양천구 목동               0  A15805102      목동현대아이파크
36  1147010200  서울특별시 양천구 목동               0  A15805114     목동현대하이페리온
37  1147010200  서울특별시 양천구 목동               0  A15805111   목동현대하이페리온2차

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        198511          198512      None  189245.570000  448612.115000
1        198609          198610      None  188990.850000  448391.485000
2        200012          200101      None  187865.565000  448951.945000
3        198609          198610      None  188713.515000  448021.070000
4        198609          198610      None  188578.330000  447740.575000
5        198609          198610      None  189493.480000  448004.885000
6        198609          198610      None  189797.930000  448045.040000
7        198610          198611      None  188234.810000  447400.425000
8        200607          200608      None  188596.740000  448554.354500
9        199412          199501      None  188681.580000  448853.760000
10       199810          199811      None  188569.100000  448482.620000
11       200208          200209      None  188546.043500  448443.110000
12       199710          199711      None  188854.945000  447021.035000
13       200203          200204      None            NaN            NaN
14       200411          200412      None  188249.060000  447945.555000
15       199406          199407      None  188821.515000  446808.645000
16       200109          200110      None  187980.294500  447379.609500
17       200306          200307      None  188161.855000  447772.770000
18       201806          201807      None            NaN            NaN
19       200506          200507      None  188201.675000  449402.110000
20       200005          200006      None  189421.840000  448240.355000
21       200011          200012      None  189519.720000  448283.870000
22       199706          199707      None  189019.060000  446741.650000
23       200006          200007      None  188431.140000  448185.060000
24       199701          199702      None  188380.035000  447136.675000
25       201506          201507      None  189029.295185  446839.361959
26       199204          199205      None  188939.135000  448807.230000
27       199809          199810      None  188313.505000  446915.210000
28       199903          199904      None  188773.955000  447054.340000
29       200901          200902      None  188473.327500  447091.141000
30       200004          200005      None  189042.240000  447778.025000
31       199712          199801      None  189472.740000  448799.905000
32       199712          199801      None  188676.545000  447090.265000
33       199607          199608      None  188592.220000  446817.270000
34       199707          199708      None  189126.525000  446779.725000
35       200306          200307      None  187996.460000  447425.935000
36       200307          200308      None  188883.925000  447186.485000
37       200611          200612      None  188436.609500  446902.586000
11470102 code insert rows are 38
11470103 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1147010300  서울특별시 양천구 신월동               0  A15878601         금하뜨라네
1   1147010300  서울특별시 양천구 신월동               0  A15809603  벽산블루밍1단지,2단지
2   1147010300  서울특별시 양천구 신월동               0  A15809502       수명산롯데캐슬
3   1147010300  서울특별시 양천구 신월동               0  A15809201        신도신월1차
4   1147010300  서울특별시 양천구 신월동               0  A15809401      신월2차보람쉬움
5   1147010300  서울특별시 양천구 신월동               0  A15883803          신월대림
6   1147010300  서울특별시 양천구 신월동               0  A15809001       신월대방샤인힐
7   1147010300  서울특별시 양천구 신월동               0  A15809403       신월대성유니드
8   1147010300  서울특별시 양천구 신월동               0  A15809601       신월대주파크빌
9   1147010300  서울특별시 양천구 신월동               0  A15809402       신월삼정그린뷰
10  1147010300  서울특별시 양천구 신월동               0  A15883702        신월서울가든
11  1147010300  서울특별시 양천구 신월동               0  A15883101          신월성원
12  1147010300  서울특별시 양천구 신월동               0  A15882201  신월수명산SK-VIEW
13  1147010300  서울특별시 양천구 신월동               0  A15884703       신월시영아파트
14  1147010300  서울특별시 양천구 신월동               0  A15884202        신월신안약수
15  1147010300  서울특별시 양천구 신월동               0  A15809702        신월신안파크
16  1147010300  서울특별시 양천구 신월동               0  A15883401     신정뉴타운두산위브
17  1147010300  서울특별시 양천구 신월동               0  A15883402     신정뉴타운롯데캐슬
18  1147010300  서울특별시 양천구 신월동               0  A15883202        양천롯데캐슬
19  1147010300  서울특별시 양천구 신월동               0  A15883201       양천벽산블루밍

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200801          200802      None          NaN          NaN
1        200312          200401      None  185981.8770  445730.1885
2        200806          200807      None  184768.4125  449166.7500
3        200406          200407      None  186355.2295  446213.2200
4        200503          200504      None  185538.2850  446940.8650
5        200110          200111      None  186217.4900  446842.1500
6        200309          200310      None  185653.8350  446482.7200
7        200412          200501      None  185844.1000  446492.3800
8        200407          200408      None  186014.6000  445809.7700
9        200512          200601      None  185657.1650  446736.0550
10       198505          198506      None  186552.6250  447011.9050
11       199612          199701      None  185253.5350  447347.9250
12       200903          200904      None  184850.7900  449106.7100
13       198804          198805      None  185287.1900  446198.3400
14       198512          198601      None  186436.6700  446042.3300
15       198712          198801      None  184870.0200  446808.2950
16       201211          201212      None  186292.7415  446323.1650
17       201402          201403      None          NaN          NaN
18       201010          201011      None  185794.7950  446800.2400
19       200609          200610      None  185738.6650  446910.2650
11470103 code insert rows are 20
11470101 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  \
0   1147010100  서울특별시 양천구 신정동               0  A15807001
1   1147010100  서울특별시 양천구 신정동               0  A15807205
2   1147010100  서울특별시 양천구 신정동               0  A15873701
3   1147010100  서울특별시 양천구 신정동               0  A15807705
4   1147010100  서울특별시 양천구 신정동               0  A15807706
5   1147010100  서울특별시 양천구 신정동               0  A15807605
6   1147010100  서울특별시 양천구 신정동               0  A15807606
7   1147010100  서울특별시 양천구 신정동               0  A15807702
8   1147010100  서울특별시 양천구 신정동               0  A15807704
9   1147010100  서울특별시 양천구 신정동               0  A15807604
10  1147010100  서울특별시 양천구 신정동               0  A15807101
11  1147010100  서울특별시 양천구 신정동               0  A15807208
12  1147010100  서울특별시 양천구 신정동               0  A15807601
13  1147010100  서울특별시 양천구 신정동               0  A15807703
14  1147010100  서울특별시 양천구 신정동               0  A15807211
15  1147010100  서울특별시 양천구 신정동               0  A10027375
16  1147010100  서울특별시 양천구 신정동               0  A15807603
17  1147010100  서울특별시 양천구 신정동               0  A15876401
18  1147010100  서울특별시 양천구 신정동               0  A15886504
19  1147010100  서울특별시 양천구 신정동               0  A15885514
20  1147010100  서울특별시 양천구 신정동               0  A15807306
21  1147010100  서울특별시 양천구 신정동               0  A15885303
22  1147010100  서울특별시 양천구 신정동               0  A15886402
23  1147010100  서울특별시 양천구 신정동               0  A15807315
24  1147010100  서울특별시 양천구 신정동               0  A15807202
25  1147010100  서울특별시 양천구 신정동               0  A15876402
26  1147010100  서울특별시 양천구 신정동               0  A15807701
27  1147010100  서울특별시 양천구 신정동               0  A10027396
28  1147010100  서울특별시 양천구 신정동               0  A15885306
29  1147010100  서울특별시 양천구 신정동               9  A15807707
30  1147010100  서울특별시 양천구 신정동               0  A15870701
31  1147010100  서울특별시 양천구 신정동               0  A15809002
32  1147010100  서울특별시 양천구 신정동               0  A15879502
33  1147010100  서울특별시 양천구 신정동              14  A15807004
34  1147010100  서울특별시 양천구 신정동               0  A15807003
35  1147010100  서울특별시 양천구 신정동               0  A15885307
36  1147010100  서울특별시 양천구 신정동               0  A15879501
37  1147010100  서울특별시 양천구 신정동               0  A15886508
38  1147010100  서울특별시 양천구 신정동               0  A15886507
39  1147010100  서울특별시 양천구 신정동               0  A15886505
40  1147010100  서울특별시 양천구 신정동               0  A15886512
41  1147010100  서울특별시 양천구 신정동               0  A15886510
42  1147010100  서울특별시 양천구 신정동               0  A15886501
43  1147010100  서울특별시 양천구 신정동               0  A15807204
44  1147010100  서울특별시 양천구 신정동               0  A15807210
45  1147010100  서울특별시 양천구 신정동               0  A15807002
46  1147010100  서울특별시 양천구 신정동               0  A15807313
47  1147010100  서울특별시 양천구 신정동               0  A15807311
48  1147010100  서울특별시 양천구 신정동               0  A15807316
49  1147010100  서울특별시 양천구 신정동               0  A15873902
50  1147010100  서울특별시 양천구 신정동               0  A15884901

               KAPT_NAME KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X  \
0                 경남아너스빌       200406          200407      None  188574.2100
1                   롯데캐슬       200411          200412      None  188861.7400
2                 목동10단지       198707          198708      None  187441.2750
3                 목동11단지       198810          198811      None  187414.2800
4                 목동12단지       198810          198811      None  187624.3100
5                 목동13단지       198707          198708      None  187996.0000
6                 목동14단지       198707          198708      None  188476.3050
7              목동2차삼성래미안       200111          200112      None  188284.6200
8               목동2차우성임대       200003          200004      None  188013.5350
9                  목동8단지       198709          198710      None  188222.5150
10                 목동9단지       198707          198708      None  187779.5400
11               목동삼성래미안       199609          199610      None  188987.0350
12             목동삼성쉐르빌2차       200403          200404      None  188477.5700
13                목동우성2차       200003          200004      None  188138.1100
14               목동현대아파트       199707          199708      None  189075.3150
15               목동힐스테이트       201605          201606      None  187763.0650
16            삼성쉐르빌1 아파트       200304          200305      None  188478.0550
17  서울주택도시공사 목동현대B 임대아파트       199707          199708      None  189027.0250
18                신정5차현대       199911          199912      None  187074.7550
19                신정6차현대       200010          200011      None  185923.6700
20              신정e-편한세상       200401          200402      None  186061.0500
21                  신정대림       199211          199212      None  188754.8550
22          신정대성유니드아파트2차       200407          200408      None  186567.8800
23               신정동일하이빌       200510          200511      None  185706.6650
24              신정명지해드는터       200311          200312      None  188675.6005
25              신정삼성SH임대       199609          199610      None  189015.1300
26               신정세양청마루       200607          200608      None  187872.5220
27             신정숲속마을아파트       201608          201609      None  185388.4150
28                  신정쌍용       199211          199212      None  188922.9300
29                  신정양천       199512          199601      None  188049.0300
30    신정이펜하우스1단지(총세대 기준)       201107          201108      None  184624.4910
31            신정이펜하우스2단지       201104          201105      None  184909.7760
32            신정이펜하우스3단지       201106          201107      None  184969.6110
33            신정이펜하우스4단지       201106          201107      None  184908.3260
34            신정이펜하우스5단지       201104          201105      None  185191.5210
35               신정청구아파트       199210          199211      None  188931.1500
36           신정푸른마을1단지임대       200101          200102      None  185449.3760
37             신정푸른마을2단지       200101          200102      None  185379.6775
38             신정푸른마을3단지       200101          200102      None  185506.2295
39             신정푸른마을4단지       200208          200209      None  185694.5100
40              신정학마을1단지       200010          200011      None  186162.3200
41              신정학마을2단지       200010          200011      None  186248.2550
42              신정학마을3단지       200208          200209      None  186383.3000
43                  신정현대       199507          199508      None  188835.6550
44              신정현대아이파크       200207          200208      None  188628.4650
45                신트리1단지       199905          199906      None  187048.6850
46                신트리2단지       200005          200006      None  186879.5700
47                신트리3단지       200010          200011      None  186929.8300
48                신트리4단지       200005          200006      None  186736.3550
49               양천중앙하이츠       201002          201003      None  187887.1100
50                  유원목동       199012          199101      None  188736.8580

              Y
0   446225.4250
1   446403.3600
2   446100.8500
3   445543.9600
4   445647.3500
5   445781.3900
6   446016.0850
7   445367.4200
8   444921.1350
9   446575.0350
10  446264.8350
11  445950.7400
12  446607.0650
13  445072.9500
14  446463.5300
15  446811.7725
16  446721.2700
17  446216.1400
18  445570.6950
19  445111.8600
20  445590.4070
21  446171.9950
22  446546.6750
23  445529.0800
24  446290.7840
25  446083.9200
26  445004.7945
27  444869.0250
28  446109.1800
29  445414.1400
30  445894.6230
31  446004.2630
32  445605.1630
33  445423.8680
34  445401.6830
35  446325.0050
36  445618.0150
37  445715.7950
38  445481.3650
39  445692.9010
40  445100.6050
41  445255.7650
42  445473.6550
43  446106.8950
44  446637.4750
45  445761.2850
46  445663.1100
47  445530.9950
48  445464.2100
49  444847.2155
50  446652.5150
11470101 code insert rows are 51
11560117 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1156011700  서울특별시 영등포구 당산동               0  A15081002   당산강변래미안3차
1  1156011700  서울특별시 영등포구 당산동               0  A15081001  래미안당산1차아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       200206          200207      None  191818.038  447513.5365
1       199505          199506      None  191597.515  447994.5550
11560117 code insert rows are 2
11560111 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1156011100  서울특별시 영등포구 당산동1가               0  A15004101  당산신동아파밀리에
1  1156011100  서울특별시 영등포구 당산동1가               0  A15080002       당산진로

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200801          200802      None  191120.9435  446398.1055
1       199708          199709      None  190766.1150  446495.5050
11560111 code insert rows are 2
11560112 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156011200  서울특별시 영등포구 당산동2가               0  A15004202    당산2가현대
1  1156011200  서울특별시 영등포구 당산동2가               0  A15004201     당산동대우

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       199406          199407      None  190639.245  446817.680
1       199901          199902      None  190473.200  446553.635

11560112 code insert rows are 2
11560113 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1156011300  서울특별시 영등포구 당산동3가               0  A15072002  당산SHVILLE
1  1156011300  서울특별시 영등포구 당산동3가               0  A15080205   당산동부센트레빌
2  1156011300  서울특별시 영등포구 당산동3가               0  A15080402       당산삼익
3  1156011300  서울특별시 영등포구 당산동3가               0  A15072001  당산쌍용예가클래식
4  1156011300  서울특별시 영등포구 당산동3가               0  A15080204       당산한양

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200506          200507      None  191226.3990  446889.5445
1       200306          200307      None  191160.0210  446907.7095
2       197905          197906      None  190680.2885  447307.4120
3       201007          201008      None  190527.1660  447269.7060
4       198602          198603      None  191145.1520  447018.0840
11560113 code insert rows are 5
11560114 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE        KAPT_NAME  \
0  1156011400  서울특별시 영등포구 당산동4가               0  A15004405           당산2차삼성
1  1156011400  서울특별시 영등포구 당산동4가               0  A15004403          당산금호어울림
2  1156011400  서울특별시 영등포구 당산동4가               0  A10026797  당산롯데캐슬프레스티지 아파트
3  1156011400  서울특별시 영등포구 당산동4가               0  A15072201          당산반도유보라
4  1156011400  서울특별시 영등포구 당산동4가               0  A10027684       당산브라운스톤아파트
5  1156011400  서울특별시 영등포구 당산동4가               0  A15080604         당산유원제일1차
6  1156011400  서울특별시 영등포구 당산동4가               0  A15004406           당산현대3차
7  1156011400  서울특별시 영등포구 당산동4가               0  A15080507           당산현대5차
8  1156011400  서울특별시 영등포구 당산동4가               0  A15080501            한강아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       199709          199710      None  190957.695500  447298.774000
1       200209          200210      None  191200.882000  447363.518500
2       201707          201708      None  191257.750531  447256.182672
3       201002          201003      None  191218.999500  447239.841000
4       201511          201512      None  191258.399821  447263.948749
5       198312          198401      None  190749.304000  447520.747500
6       198812          198901      None  190774.711000  447655.090500
7       200003          200004      None  191165.305000  447495.710000
8       199909          199910      None  191332.845000  447307.530000
11560114 code insert rows are 9
11560115 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156011500  서울특별시 영등포구 당산동5가               0  A15004503  당산2차효성타운
1  1156011500  서울특별시 영등포구 당산동5가               0  A15004502     당산디오빌
2  1156011500  서울특별시 영등포구 당산동5가               0  A15004507   당산삼성래미안
3  1156011500  서울특별시 영등포구 당산동5가               0  A15004504      당산상아
4  1156011500  서울특별시 영등포구 당산동5가               0  A15004501   당산성원아파트
5  1156011500  서울특별시 영등포구 당산동5가               0  A15004505  당산유원제일2차
6  1156011500  서울특별시 영등포구 당산동5가               0  A15004506    당산효성1차

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200110          200111      None  191150.6700  447649.8250
1       200502          200503      None  191287.5875  447887.4100
2       200312          200401      None  191354.1870  447743.9175
3       198307          198308    201704  191345.5280  447551.4025
4       199710          199711      None  191050.4400  448022.7600
5       198409          198410      None  190951.1400  447881.3920
6       199912          200001      None  191247.5400  447612.3400
11560115 code insert rows are 7
11560116 code insert start
Empty DataFrame
Columns: []
Index: []
11560133 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE          KAPT_NAME  \
0   1156013300  서울특별시 영등포구 대림동               0  A10026761       H하우스 대림 뉴스테이
1   1156013300  서울특별시 영등포구 대림동               0  A15081604          대림3동현대아파트
2   1156013300  서울특별시 영등포구 대림동               0  A15007101             대림갑을명가
3   1156013300  서울특별시 영등포구 대림동               0  A15095001              대림동현대
4   1156013300  서울특별시 영등포구 대림동               0  A15081201               대림성원
5   1156013300  서울특별시 영등포구 대림동               0  A15081606              대림신동아
6   1156013300  서울특별시 영등포구 대림동               0  A10027935          대림쌍용플래티넘S
7   1156013300  서울특별시 영등포구 대림동               0  A15081503               대림우성
8   1156013300  서울특별시 영등포구 대림동               0  A15081105              대림코오롱
9   1156013300  서울특별시 영등포구 대림동               0  A15081802             대림한신2차
10  1156013300  서울특별시 영등포구 대림동               0  A15081602             대림현대2차
11  1156013300  서울특별시 영등포구 대림동               0  A15081107             대림현대3차
12  1156013300  서울특별시 영등포구 대림동               0  A10027381  신대림2차 신동아파밀리에 아파트
13  1156013300  서울특별시 영등포구 대림동               0  A15095002         신대림신동아파밀리에
14  1156013300  서울특별시 영등포구 대림동               0  A15007201              신대림자이
15  1156013300  서울특별시 영등포구 대림동               0  A15007002           신대림한솔솔파크

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201706          201707      None  191374.055985  442664.510110
1        199204          199205      None  190631.819000  444447.444000
2        200510          200511      None  191412.049500  443719.103000
3        199902          199903      None  191807.215000  443428.520000
4        199510          199511      None  190785.875000  444634.744000
5        198701          198702      None  190615.475000  443855.765000
6        201306          201307      None  190917.438500  443681.336000
7        198511          198512      None  191169.227500  443806.973000
8        199810          199811      None  190652.960000  444986.580000
9        199903          199904      None  191471.450000  443619.695000
10       199211          199212      None  190614.652000  444505.798000
11       199710          199711      None  190699.490000  444816.111000
12       201607          201608      None  191564.738221  443452.793597
13       201307          201308      None  191328.317553  443657.624376
14       200709          200710      None  191305.283000  442715.676000
15       200809          200810      None  191037.130500  442804.339000
11560133 code insert rows are 16
11560118 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156011800  서울특별시 영등포구 도림동               0  A15083202   도림동아에코빌
1  1156011800  서울특별시 영등포구 도림동               0  A15083201      도림청구
2  1156011800  서울특별시 영등포구 도림동               0  A15076702   영등포아트자이

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200001          200002      None  190970.7500  445221.3950
1       199711          199712      None  190672.8250  445231.6600
2       201403          201404      None  191072.8565  445435.0645
11560118 code insert rows are 3
11560119 code insert start
Empty DataFrame
Columns: []
Index: []
11560120 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156012000  서울특별시 영등포구 문래동2가               0  A15009201      문래남성

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       198305          198306      None  190349.7825  445594.824
11560120 code insert rows are 1
11560121 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156012100  서울특별시 영등포구 문래동3가               0  A15083602    문래공원한신
1  1156012100  서울특별시 영등포구 문래동3가               0  A15083601      문래국화
2  1156012100  서울특별시 영등포구 문래동3가               0  A15083404   문래자이아파트
3  1156012100  서울특별시 영등포구 문래동3가               0  A15083603   문래힐스테이트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       198807          198808      None  190470.8475  446155.986
1       198312          198401      None  190453.8310  446013.382
2       200111          200112      None  190803.8300  445991.450
3       200306          200307      None  190272.1380  446265.270
11560121 code insert rows are 4
11560122 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156012200  서울특별시 영등포구 문래동4가               0  A15009401  리버뷰신안인스빌
1  1156012200  서울특별시 영등포구 문래동4가               0  A15009402      문래삼환

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       200805          200806      None  190079.4825  445781.060
1       200109          200110      None  190160.8950  445733.205

11560122 code insert rows are 2
11560123 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1156012300  서울특별시 영등포구 문래동5가               0  A15009503         문래대림
1  1156012300  서울특별시 영등포구 문래동5가               0  A10026197  문래동모아미래도아파트
2  1156012300  서울특별시 영등포구 문래동5가               0  A15009505       문래두산위브
3  1156012300  서울특별시 영등포구 문래동5가               0  A15009501         문래진주
4  1156012300  서울특별시 영등포구 문래동5가               0  A15009502       문래현대3차
5  1156012300  서울특별시 영등포구 문래동5가               0  A15009504    문래현대5차아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       200001          200002      None  190034.283500  446094.235000
1       201711          201712      None  189944.402415  446093.351615
2       198811          198812      None  189835.595500  446072.288500
3       198408          198409      None  189744.802000  446104.153000
4       199111          199112      None  189718.803500  445990.207000
5       199205          199206      None  189602.258500  446157.752500
11560123 code insert rows are 6
11560124 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1156012400  서울특별시 영등포구 문래동6가               0  A15009603       문래대원
1  1156012400  서울특별시 영등포구 문래동6가               0  A15009601    문래미원아파트
2  1156012400  서울특별시 영등포구 문래동6가               0  A15009606    문래베어스타운
3  1156012400  서울특별시 영등포구 문래동6가               0  A15009602       문래한신
4  1156012400  서울특별시 영등포구 문래동6가               0  A15009604     문래현대1차
5  1156012400  서울특별시 영등포구 문래동6가               0  A15009607     문래현대2차
6  1156012400  서울특별시 영등포구 문래동6가               0  A15009605  문래현대6차아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       199810          199811      None  189568.0400  446270.1150
1       199609          199610      None  189888.3980  446411.4395
2       199705          199706      None  189784.5800  446328.5800
3       198501          198502      None  189679.6120  446348.0910
4       198612          198701      None  189572.5640  446371.0590
5       198710          198711      None  189576.7415  446473.9015
6       199707          199708      None  189660.3050  446251.4000
11560124 code insert rows are 7
11560132 code insert start
      BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1156013200  서울특별시 영등포구 신길동               0  A10027073      래미안에스티움
1   1156013200  서울특별시 영등포구 신길동               0  A10027755      래미안프레비뉴
2   1156013200  서울특별시 영등포구 신길동               0  A15005002        레전드힐스
3   1156013200  서울특별시 영등포구 신길동               3  A15086006    보라매경남아너스빌
4   1156013200  서울특별시 영등포구 신길동               0  A15086001      보라매두산위브
5   1156013200  서울특별시 영등포구 신길동               0  A15005102         신기목련
6   1156013200  서울특별시 영등포구 신길동               0  A15005303    신길1차우성아파트
7   1156013200  서울특별시 영등포구 신길동               0  A15005302         신길건영
8   1156013200  서울특별시 영등포구 신길동               0  A15083703         신길경남
9   1156013200  서울특별시 영등포구 신길동               0  A15085805        신길남서울
10  1156013200  서울특별시 영등포구 신길동               0  A15005501  신길뉴타운한화꿈에그린
11  1156013200  서울특별시 영등포구 신길동               0  A15083701         신길삼두
12  1156013200  서울특별시 영등포구 신길동               0  A15005603         신길삼성
13  1156013200  서울특별시 영등포구 신길동               0  A15005402      신길삼성래미안
14  1156013200  서울특별시 영등포구 신길동               0  A15005401       신길삼성제2
15  1156013200  서울특별시 영등포구 신길동               0  A15005705         신길삼환
16  1156013200  서울특별시 영등포구 신길동               0  A15086007       신길우성2차
17  1156013200  서울특별시 영등포구 신길동               0  A15086004    신길우성3차아파트
18  1156013200  서울특별시 영등포구 신길동               0  A15005001       신길우성4차
19  1156013200  서울특별시 영등포구 신길동               0  A15005301       신길우성5차
20  1156013200  서울특별시 영등포구 신길동               0  A15005602         신길우창
21  1156013200  서울특별시 영등포구 신길동               0  A15096001         신길자이
22  1156013200  서울특별시 영등포구 신길동               0  A15085404         신길한성

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM             X              Y
0        201704          201705      None  191822.46722  443975.931717
1        201512          201601      None  191811.51900  444772.766500
2        201307          201308      None  191828.01100  444826.019000
3        200508          200509      None  191981.30150  443634.178500
4        200511          200512      None  192363.38600  443896.098000
5        200007          200008      None  192418.50700  445133.920500
6        198609          198610      None  191125.22450  444794.476500
7        198509          198510      None  191201.53950  444836.375000
8        199906          199907      None  192731.19000  445933.285000
9        197412          197501      None  192181.34750  444453.821000
10       200806          200807      None  191935.70300  444527.496500
11       198712          198801      None  193197.98950  445793.116500
12       198404          198405      None  192095.00550  443796.661000
13       200106          200107      None  192434.98500  444806.915000
14       200106          200107      None  192284.71000  445016.245000
15       199705          199706      None  192797.60500  445106.570000
16       198609          198610      None  192196.48850  444008.162000
17       198904          198905      None  191897.39450  443894.769500
18       199105          199106      None  192645.51250  445736.188000
19       199310          199311      None  191403.42500  444953.705000
20       198308          198309      None  192179.01350  443897.740500
21       201106          201107      None  192555.91900  444910.688500
22       199707          199708      None  192812.76500  444725.040000
11560132 code insert rows are 23
11560134 code insert start
Empty DataFrame
Columns: []
Index: []
11560125 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156012500  서울특별시 영등포구 양평동1가               0  A15086201    양평서통한신
1  1156012500  서울특별시 영등포구 양평동1가               0  A15086202  양평신동아아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       199612          199701      None  190039.9650  446606.510
1       198204          198205      None  189900.5805  446662.944
11560125 code insert rows are 2
11560126 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156012600  서울특별시 영등포구 양평동2가               0  A15010203      양평벽산
1  1156012600  서울특별시 영등포구 양평동2가               0  A15010202   양평삼성래미안
2  1156012600  서울특별시 영등포구 양평동2가               0  A15010201     양평상록수

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       199011          199012      None  189587.970  446677.48
1       199807          199808      None  189550.825  446914.33
2       199911          199912      None  189636.100  446843.16
11560126 code insert rows are 3
11560127 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1156012700  서울특별시 영등포구 양평동3가               0  A15010303         삼천리
1  1156012700  서울특별시 영등포구 양평동3가               0  A15010306     양평거성파스텔
2  1156012700  서울특별시 영등포구 양평동3가               0  A15010302      양평경남1차
3  1156012700  서울특별시 영등포구 양평동3가               0  A15010307  양평동6차현대아파트
4  1156012700  서울특별시 영등포구 양평동3가               0  A15010304        양평삼호
5  1156012700  서울특별시 영등포구 양평동3가               0  A15010301    양평우림루미아트
6  1156012700  서울특별시 영등포구 양평동3가               0  A15010305      양평현대2차

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200006          200007      None  189823.0650  447109.7800
1       199905          199906      None  190376.2200  447699.6400
2       199807          199808      None  190053.8400  447228.0750
3       200012          200101      None  190517.8350  447741.2050
4       199805          199806      None  190454.9150  447347.4300
5       200410          200411      None  190035.9785  447155.4795
6       199008          199009      None  190699.9620  447758.1045
11560127 code insert rows are 7
11560128 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1156012800  서울특별시 영등포구 양평동4가               0  A15086702        삼호한숲
1  1156012800  서울특별시 영등포구 양평동4가               0  A15086601  양평경남2차아너스빌
2  1156012800  서울특별시 영등포구 양평동4가               0  A15086603        양평성원

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200002          200003      None  190540.150  448296.355
1       200003          200004      None  190756.900  448163.745
2       199307          199308      None  190553.085  448010.005
11560128 code insert rows are 3
11560129 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156012900  서울특별시 영등포구 양평동5가               0  A15010501   양평동보아파트
1  1156012900  서울특별시 영등포구 양평동5가               0  A15010502      양평한신

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM          X          Y
0       199810          199811      None  190292.24  448419.20
1       199604          199605      None  190394.49  448656.64
11560129 code insert rows are 2
11560130 code insert start
     BJD_CODE          BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156013000  서울특별시 영등포구 양평동6가               0  A15010602      양평동양
1  1156013000  서울특별시 영등포구 양평동6가               0  A15010601      양평한솔

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200008          200009      None  190192.815  448895.825
1       199909          199910      None  190022.355  449128.750

11560130 code insert rows are 2
11560131 code insert start
Empty DataFrame
Columns: []
Index: []
11560110 code insert start
      BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0   1156011000  서울특별시 영등포구 여의도동               0  A15088915      롯데캐슬아이비
1   1156011000  서울특별시 영등포구 여의도동               0  A15088614     롯데캐슬엠파이어
2   1156011000  서울특별시 영등포구 여의도동               0  A15089307  여의대우트럼프월드2차
3   1156011000  서울특별시 영등포구 여의도동               0  A15001012        여의도공작
4   1156011000  서울특별시 영등포구 여의도동               0  A15001019        여의도광장
5   1156011000  서울특별시 영등포구 여의도동               0  A15001005    여의도금호리첸시아
6   1156011000  서울특별시 영등포구 여의도동               0  A15001016        여의도대교
7   1156011000  서울특별시 영등포구 여의도동               0  A15076301   여의도대우트럼프월드
8   1156011000  서울특별시 영등포구 여의도동               0  A15088208        여의도목화
9   1156011000  서울특별시 영등포구 여의도동               0  A15088717        여의도미성
10  1156011000  서울특별시 영등포구 여의도동               0  A15001020        여의도삼부
11  1156011000  서울특별시 영등포구 여의도동               0  A15089411        여의도삼익
12  1156011000  서울특별시 영등포구 여의도동               0  A15001003        여의도서울
13  1156011000  서울특별시 영등포구 여의도동               0  A15001009        여의도수정
14  1156011000  서울특별시 영등포구 여의도동               0  A15089421     여의도시범아파트
15  1156011000  서울특별시 영등포구 여의도동               0  A15089510        여의도은하
16  1156011000  서울특별시 영등포구 여의도동               0  A15076302        여의도자이
17  1156011000  서울특별시 영등포구 여의도동               0  A15001004        여의도장미
18  1156011000  서울특별시 영등포구 여의도동               0  A15089513        여의도진주
19  1156011000  서울특별시 영등포구 여의도동               0  A15001001        여의도초원
20  1156011000  서울특별시 영등포구 여의도동               0  A15088918        여의도한양
21  1156011000  서울특별시 영등포구 여의도동               0  A15088802        여의도화랑

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200512          200601      None  193895.3070  446440.0690
1        200505          200506      None  193421.5160  446449.4195
2        200307          200308      None  193481.2405  446139.4675
3        197608          197609      None  193725.4770  447142.2305
4        197805          197806      None  192919.3780  446512.1790
5        200311          200312      None  194590.8570  446272.8840
6        197509          197510      None  194066.4030  446659.5720
7        200210          200211      None  193949.6535  446157.5665
8        197710          197711      None  193977.4565  447084.0610
9        197805          197806      None  193213.4440  446469.5710
10       197512          197601      None  193926.8675  446970.8545
11       197410          197411      None  194121.2055  446390.8890
12       197609          197610      None  193844.8910  447193.4940
13       197607          197608      None  193816.0020  446762.1625
14       197112          197201      None  194378.8885  446494.9750
15       197412          197501      None  194204.0500  446285.6155
16       200804          200805      None  193382.0995  446225.3765
17       197806          197807      None  194120.3830  446801.2335
18       197706          197707      None  193981.9180  446281.4640
19       197108          197109      None  193209.7345  447622.0165
20       197511          197512      None  193970.4555  446584.0000
21       197712          197801      None  194234.2685  446660.3985
11560110 code insert rows are 22
11560101 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156010100  서울특별시 영등포구 영등포동               0  A15003001   영등포두산위브
1  1156010100  서울특별시 영등포구 영등포동               1  A15003002   영등포푸르지오

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200410          200411      None  192208.825  445852.082
1       200205          200206      None  191298.815  445482.335
11560101 code insert rows are 2
11560102 code insert start
Empty DataFrame
Columns: []
Index: []
11560103 code insert start
Empty DataFrame
Columns: []
Index: []
11560104 code insert start
Empty DataFrame
Columns: []
Index: []
11560105 code insert start
Empty DataFrame
Columns: []
Index: []
11560106 code insert start
Empty DataFrame
Columns: []
Index: []
11560107 code insert start
Empty DataFrame
Columns: []
Index: []
11560108 code insert start
     BJD_CODE           BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1156010800  서울특별시 영등포구 영등포동7가               0  A10026816   아크로타워스퀘어
1  1156010800  서울특별시 영등포구 영등포동7가               0  A15003701  영등포경남아너스빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201708          201709      None  191714.825772  446840.142747
1       199811          199812      None  191330.455000  446866.290000
11560108 code insert rows are 2
11560109 code insert start
     BJD_CODE           BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1156010900  서울특별시 영등포구 영등포동8가               0  A15003802    당산푸르지오
1  1156010900  서울특별시 영등포구 영등포동8가               0  A15003801     영등포삼환

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM          X           Y
0       200408          200409      None        NaN         NaN
1       199905          199906      None  191529.36  447463.355
11560109 code insert rows are 2
11170104 code insert start
Empty DataFrame
Columns: []
Index: []
11170105 code insert start
Empty DataFrame
Columns: []
Index: []
11170120 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117012000  서울특별시 용산구 도원동               0  A14007002   도원삼성래미안
1  1117012000  서울특별시 용산구 도원동               0  A14007001    도원삼성제2

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200108          200109      None  195992.125  448468.870
1       200108          200109      None  196048.890  448578.985
11170120 code insert rows are 2
11170132 code insert start
Empty DataFrame
Columns: []
Index: []
11170107 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1117010700  서울특별시 용산구 동자동               0  A14070901  동부센트레빌아스테리움

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X              Y
0       201309          201310      None  197564.5871  449938.601189
11170107 code insert rows are 1
11170122 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1117012200  서울특별시 용산구 문배동               0  A10027901  용산 KCC 웰츠타워
1  1117012200  서울특별시 용산구 문배동               0  A14010003     용산CJ나인파크
2  1117012200  서울특별시 용산구 문배동               0  A14010001      용산아크로타워
3  1117012200  서울특별시 용산구 문배동               0  A14010002     이안용산프리미어

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       201503          201504      None  197180.6615  448389.6810
1       200707          200708      None  197208.4605  448200.8955
2       200701          200702      None  197147.4955  448270.7050
3       200707          200708      None  197301.1765  448491.1730
11170122 code insert rows are 4
11170136 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117013600  서울특별시 용산구 보광동               0  A14082302   보광삼성리버빌
1  1117013600  서울특별시 용산구 보광동               0  A14082601    신동아아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200010          200011      None  200009.630  446893.195
1       199209          199210      None  200083.345  447061.125
11170136 code insert rows are 2
11170115 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117011500  서울특별시 용산구 산천동               0  A14004002  리버힐삼성아파트
1  1117011500  서울특별시 용산구 산천동               0  A14076401   산천리버힐제2
2  1117011500  서울특별시 용산구 산천동               0  A14004001      한강타운

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       200101          200102      None  195560.545  448083.57
1       200101          200102      None  195726.030  448118.61
2       200102          200103      None  195535.165  448165.05
11170115 code insert rows are 3
11170108 code insert start
Empty DataFrame
Columns: []
Index: []
11170133 code insert start

     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1117013300  서울특별시 용산구 서빙고동               0  A14024001  서빙고금호베스트빌
1  1117013300  서울특별시 용산구 서빙고동               0  A14024002     서빙고신동아

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200210          200211      None  199222.323  446735.175
1       198406          198407      None  198816.993  446204.349
11170133 code insert rows are 2
11170123 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117012300  서울특별시 용산구 신계동               7  A14009001  용산e-편한세상

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       201104          201105      None  197005.603  448182.789
11170123 code insert rows are 1
11170114 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1117011400  서울특별시 용산구 신창동               0  A14006001  신창세방리버하이빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X          Y
0       200504          200505      None  195864.2025  448218.76
11170114 code insert rows are 1
11170121 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117012100  서울특별시 용산구 용문동               0  A14083101   브라운스톤용산

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       201107          201108      None  196326.408  448228.871
11170121 code insert rows are 1
11170106 code insert start
Empty DataFrame
Columns: []
Index: []
11170102 code insert start
Empty DataFrame
Columns: []
Index: []
11170126 code insert start
Empty DataFrame
Columns: []
Index: []
11170103 code insert start
Empty DataFrame
Columns: []
Index: []
11170127 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117012700  서울특별시 용산구 용산동5가               0  A14002501      파크타워

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200905          200906      None  197350.9235  446911.9595
11170127 code insert rows are 1
11170135 code insert start
Empty DataFrame
Columns: []
Index: []
11170112 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117011200  서울특별시 용산구 원효로1가               0  A14070301    리첸시아용산
1  1117011200  서울특별시 용산구 원효로1가               0  A14070302    용산더프라임

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       201004          201005      None  197045.035  448454.2005
1       201402          201403      None       0.000       0.0000
11170112 code insert rows are 2
11170113 code insert start
Empty DataFrame
Columns: []
Index: []
11170117 code insert start
Empty DataFrame
Columns: []
Index: []
11170118 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1117011800  서울특별시 용산구 원효로4가               0  A14085101  원효로강변삼성스위트
1  1117011800  서울특별시 용산구 원효로4가               3  A14085002        원효산호

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       199912          200001      None  195386.235  447986.630
1       197704          197705      None  195557.919  447833.468
11170118 code insert rows are 2
11170129 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1117012900  서울특별시 용산구 이촌동               0  A14003007      LG한강자이
1   1117012900  서울특별시 용산구 이촌동               0  A14003001     동부이촌동우성
2   1117012900  서울특별시 용산구 이촌동               0  A10027908     래미안첼리투스
3   1117012900  서울특별시 용산구 이촌동               0  A14072901    북한강성원아파트
4   1117012900  서울특별시 용산구 이촌동               0  A14072702          이촌
5   1117012900  서울특별시 용산구 이촌동               0  A14003106        이촌강촌
6   1117012900  서울특별시 용산구 이촌동               0  A14090902        이촌대림
7   1117012900  서울특별시 용산구 이촌동               0  A14003004    이촌동부센트레빌
8   1117012900  서울특별시 용산구 이촌동               0  A14003104  이촌동삼성리버스위트
9   1117012900  서울특별시 용산구 이촌동               0  A14003006   이촌동아그린아파트
10  1117012900  서울특별시 용산구 이촌동               0  A14003101        이촌반도
11  1117012900  서울특별시 용산구 이촌동               0  A14003002        이촌왕궁
12  1117012900  서울특별시 용산구 이촌동               0  A14003008      이촌한강맨션
13  1117012900  서울특별시 용산구 이촌동               0  A14003103        이촌현대
14  1117012900  서울특별시 용산구 이촌동               0  A14072701      한가람아파트
15  1117012900  서울특별시 용산구 이촌동               0  A14003105        한강대우
16  1117012900  서울특별시 용산구 이촌동               0  A14003003        한강삼익
17  1117012900  서울특별시 용산구 이촌동               0  A14085501        현대한강

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        200304          200305      None  197374.1860  446411.5550
1        199512          199601      None  197131.1050  446608.2600
2        201507          201508      None  198151.6185  446103.3050
3        200108          200109      None  195846.4500  447230.6100
4        199911          199912      None  197978.6050  446423.0700
5        199801          199802      None  197938.3950  446333.8650
6        199411          199412      None  195957.2700  447003.8300
7        200106          200107      None  196970.0050  446545.0900
8        200204          200205      None  197870.9600  446121.0400
9        199905          199906      None  196215.7300  446857.6950
10       197701          197702      None  198335.0935  446093.7820
11       197412          197501      None  198004.5055  446109.9905
12       197103          197104      None  197542.5970  446181.0020
13       197412          197501      None  198216.8015  446278.7985
14       199809          199810      None  197303.9050  446596.0750
15       200003          200004      None  197215.6450  446657.7450
16       197912          198001      None  197811.9720  446248.2500
17       199703          199704      None  196177.6550  446791.7950
11170129 code insert rows are 18
11170130 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117013000  서울특별시 용산구 이태원동               0  A14086101   이태원남산대림
1  1117013000  서울특별시 용산구 이태원동               0  A14086001     청화아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       199412          199501      None  198931.1200  448719.2520
1       198209          198210      None  199463.9305  447537.1025
11170130 code insert rows are 2
11170134 code insert start
Empty DataFrame
Columns: []
Index: []
11170116 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117011600  서울특별시 용산구 청암동               0  A14005001      청암자이

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       200508          200509      None  195274.598  448097.2635
11170116 code insert rows are 1
11170109 code insert start
Empty DataFrame
Columns: []
Index: []
11170110 code insert start
Empty DataFrame
Columns: []
Index: []
11170111 code insert start
Empty DataFrame
Columns: []
Index: []
11170124 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117012400  서울특별시 용산구 한강로1가               0  A14001101  대우월드마크용산
1  1117012400  서울특별시 용산구 한강로1가               0  A14075201    용산파크자이

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200710          200711      None  197540.1195  448325.6285
1       200512          200601      None  197518.4925  448274.5580
11170124 code insert rows are 2
11170125 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1117012500  서울특별시 용산구 한강로2가               0  A10026922    래미안용산아파트
1  1117012500  서울특별시 용산구 한강로2가               0  A10026759    용산푸르지오써밋
2  1117012500  서울특별시 용산구 한강로2가               0  A14001201  한강로벽산메가트리움

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201705          201706      None            NaN            NaN
1       201708          201709      None  196858.785084  447247.917196
2       200505          200506      None  197260.171000  447772.319500
11170125 code insert rows are 3
11170128 code insert start
     BJD_CODE         BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1117012800  서울특별시 용산구 한강로3가               0  A14088201    시티파크2단지
1  1117012800  서울특별시 용산구 한강로3가               0  A14001303  용산시티파크1단지

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       200708          200709      None  197264.664  447095.8080
1       200708          200709      None  197199.812  446986.9265
11170128 code insert rows are 2
11170131 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117013100  서울특별시 용산구 한남동               0  A14077902      한남더힐
1  1117013100  서울특별시 용산구 한남동               0  A14021001   한남동리첸시아
2  1117013100  서울특별시 용산구 한남동               0  A10027071    한남아이파크
3  1117013100  서울특별시 용산구 한남동               0  A14077901   한남힐스테이트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201101          201102      None  200759.260000  448304.762500
1       200404          200405      None  200634.370500  448023.962000
2       201703          201704      None  200586.020459  447785.192438
3       200310          200311      None  200268.610000  447358.637500
11170131 code insert rows are 4
11170119 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117011900  서울특별시 용산구 효창동               0  A14074101  효창파크푸르지오

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       201008          201009      None  196234.182  448655.2965
11170119 code insert rows are 1
11170101 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1117010100  서울특별시 용산구 후암동               0  A14019001      후암미주

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM          X           Y
0       198007          198008      None  197799.27  449941.115

11170101 code insert rows are 1
11380104 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1138010400  서울특별시 은평구 갈현동               0  A12205001          갈현미미
1  1138010400  서울특별시 은평구 갈현동               0  A12271402  갈현베르빌주상복합아파트
2  1138010400  서울특별시 은평구 갈현동               0  A12281801       갈현한솔아파트
3  1138010400  서울특별시 은평구 갈현동               0  A12281702        갈현현대1차
4  1138010400  서울특별시 은평구 갈현동               0  A12281701     코오롱하늘채아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       199705          199706      None  192298.7800  457410.240
1       200406          200407      None  192580.7425  456656.140
2       199712          199801      None  191985.2250  457298.960
3       199705          199706      None  192361.6900  457765.630
4       200309          200310      None  192100.9950  457862.105
11380104 code insert rows are 5
11380105 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1138010500  서울특별시 은평구 구산동               0  A12205003  갈현1단지e-편한세상
1  1138010500  서울특별시 은평구 구산동               0  A12205004      갈현현대아파트
2  1138010500  서울특별시 은평구 구산동               0  A12282203     구산경남아너스빌
3  1138010500  서울특별시 은평구 구산동               0  A12282201       구산경향파크
4  1138010500  서울특별시 은평구 구산동               0  A12276901        구산그린빌
5  1138010500  서울특별시 은평구 구산동               0  A12282102      브라운스톤구산

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200410          200411      None  191643.6745  456630.8970
1       199811          199812      None  191598.5800  456735.2650
2       200408          200409      None  191583.2850  455921.5645
3       198911          198912      None  191625.6140  456473.7355
4       200902          200903      None  191484.8095  455905.8140
5       200603          200604      None  191919.3950  456582.5250
11380105 code insert rows are 6
11380102 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1138010200  서울특별시 은평구 녹번동               0  A12283602       녹번JR아파트
1  1138010200  서울특별시 은평구 녹번동               0  A12283603          녹번대림
2  1138010200  서울특별시 은평구 녹번동               0  A12283601        녹번현대2차
3  1138010200  서울특별시 은평구 녹번동               0  A10027816  북한산 푸르지오 아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       200209          200210      None  194454.020000  455311.740000
1       199309          199310      None  194366.604500  455308.870000
2       200105          200106      None  193271.275000  455864.535000
3       201507          201508      None  194329.397116  456056.599162
11380102 code insert rows are 4
11380106 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1138010600  서울특별시 은평구 대조동               0  A12284501    대조삼성타운

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       199711          199712      None  193020.255  456300.99
11380106 code insert rows are 1
11380103 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE          KAPT_NAME  \
0   1138010300  서울특별시 은평구 불광동               0  A12204002           북한산대창센시티
1   1138010300  서울특별시 은평구 불광동               0  A12275201             북한산래미안
2   1138010300  서울특별시 은평구 불광동               0  A12204001             북한산수자인
3   1138010300  서울특별시 은평구 불광동               0  A12204102           북한산현대홈타운
4   1138010300  서울특별시 은평구 불광동               0  A12204003         북한산힐스테이트1차
5   1138010300  서울특별시 은평구 불광동               0  A12204004         북한산힐스테이트3차
6   1138010300  서울특별시 은평구 불광동               0  A12275202         북한산힐스테이트7차
7   1138010300  서울특별시 은평구 불광동               0  A10028056  북한산힐스테이트7차제2 (임대)
8   1138010300  서울특별시 은평구 불광동               0  A12284701             불광대호2차
9   1138010300  서울특별시 은평구 불광동               0  A12204006             불광롯데캐슬
10  1138010300  서울특별시 은평구 불광동               0  A12285703               불광미성

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        200406          200407      None  193704.640000  458105.625000
1        201008          201009      None  194398.140000  456532.359500
2        200609          200610      None  193946.880000  457704.271000
3        200405          200406      None  194129.937000  456592.420000
4        200907          200908      None  194375.156000  456699.040000
5        201008          201009      None  194179.920000  457338.605000
6        201107          201108      None  193465.380500  457122.160000
7        201107          201108      None  193487.699500  457028.933500
8        200009          200010      None  194003.040000  456937.205000
9        201309          201310      None  193968.640294  456751.745369
10       198810          198811      None  193608.890000  456949.090000
11380103 code insert rows are 11
11380101 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1138010100  서울특별시 은평구 수색동               0  A12275501    DMC자이1단지
1  1138010100  서울특별시 은평구 수색동               0  A12209001       DMC청구
2  1138010100  서울특별시 은평구 수색동               0  A12287204    수색대림한숲타운
3  1138010100  서울특별시 은평구 수색동               0  A12287203  수색대림한숲타운제2
4  1138010100  서울특별시 은평구 수색동               0  A12287202     수색진흥엣세벨

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200909          200910      None  190978.7380  453036.7880
1       200003          200004      None  191196.9050  453159.7500
2       200307          200308      None  191112.5245  453835.5805
3       200307          200308      None  191217.3155  453825.5935
4       200307          200308      None  191118.3500  453675.9315
11380101 code insert rows are 5
11380109 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0   1138010900  서울특별시 은평구 신사동               0  A12289401     뉴신사신성
1   1138010900  서울특별시 은평구 신사동               0  A12208001    신사두산위브
2   1138010900  서울특별시 은평구 신사동               0  A12208104   신사라이프씨티
3   1138010900  서울특별시 은평구 신사동               0  A12208205      신사미성
4   1138010900  서울특별시 은평구 신사동               0  A12208101      신사성원
5   1138010900  서울특별시 은평구 신사동               0  A12208203      신사신성
6   1138010900  서울특별시 은평구 신사동               0  A12208102      신사씨티
7   1138010900  서울특별시 은평구 신사동               0  A12208002   신사이랜드타운
8   1138010900  서울특별시 은평구 신사동               0  A12208103  신사한신휴플러스
9   1138010900  서울특별시 은평구 신사동               0  A12208204    신사현대1차
10  1138010900  서울특별시 은평구 신사동               0  A12208105    신사현대2차
11  1138010900  서울특별시 은평구 신사동               0  A12289402      신성수정

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0        199311          199312      None  191686.8700  454576.6600
1        200611          200612      None  191598.7655  455302.0145
2        199212          199301      None  191573.6150  455566.7800
3        198711          198712      None  191813.1945  454126.1065
4        200004          200005      None  192272.6350  455351.1600
5        198806          198807      None  191542.7470  454177.2995
6        199311          199312      None  191467.0750  455330.2350
7        200405          200406      None  191438.2350  454255.5330
8        200311          200312      None  191659.8535  455168.2340
9        199709          199710      None  191865.7800  454583.2150
10       199404          199405      None  191713.6800  455063.9750
11       199612          199701      None  191661.2700  454505.5850
11380109 code insert rows are 12
11380108 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1138010800  서울특별시 은평구 역촌동               0  A12289501    역촌센트레빌

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       201101          201102      None  191623.121  455633.6605
11380108 code insert rows are 1
11380107 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE        KAPT_NAME  \
0   1138010700  서울특별시 은평구 응암동               0  A12201005          녹번역센트레빌
1   1138010700  서울특별시 은평구 응암동               0  A12201001         대주피오레아파트
2   1138010700  서울특별시 은평구 응암동               0  A12201003       백련산힐스테이트1차
3   1138010700  서울특별시 은평구 응암동               0  A12201002       백련산힐스테이트2차
4   1138010700  서울특별시 은평구 응암동               0  A12290901       백련산힐스테이트3차
5   1138010700  서울특별시 은평구 응암동               0  A12201004       백련산힐스테이트임대
6   1138010700  서울특별시 은평구 응암동               0  A12201301             응암경남
7   1138010700  서울특별시 은평구 응암동               0  A12201102             응암금호
8   1138010700  서울특별시 은평구 응암동               0  A12201101            응암신동아
9   1138010700  서울특별시 은평구 응암동               0  A12293002             응암우성
10  1138010700  서울특별시 은평구 응암동               0  A12201103           응암푸르지오
11  1138010700  서울특별시 은평구 응암동               0  A10026834  힐스테이트 백련산4차 아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201309          201310      None  193454.268339  455162.879438
1        200311          200312      None  193162.140000  453805.004500
2        201112          201201      None  193335.390803  454449.480556
3        201112          201201      None  193193.354244  454282.867056
4        201112          201201      None  193236.370000  453977.105000
5        201112          201201      None  193330.034130  454142.836470
6        199512          199601      None  192891.435000  453448.500000
7        199807          199808      None  193065.755000  455212.845000
8        199009          199010      None  193174.610000  454968.375000
9        198807          198808      None  192700.105000  453524.280000
10       200807          200808      None  193401.353000  455006.599500
11       201708          201709      None            NaN            NaN
11380107 code insert rows are 12
11380110 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1138011000  서울특별시 은평구 증산동               0  A12294102      증산우방

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM         X           Y
0       200003          200004      None  191348.4  453304.735
11380110 code insert rows are 1
11380114 code insert start

      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE           KAPT_NAME  \
0   1138011400  서울특별시 은평구 진관동               0  A41279927     은평뉴타운구파발10단지1관리
1   1138011400  서울특별시 은평구 진관동               0  A41279928     은평뉴타운구파발10단지2관리
2   1138011400  서울특별시 은평구 진관동               7  A41279931     은평뉴타운구파발10단지3관리
3   1138011400  서울특별시 은평구 진관동               0  A41279920       은평뉴타운구파발9-2단지
4   1138011400  서울특별시 은평구 진관동               0  A41279921      은평뉴타운구파발9단지1관리
5   1138011400  서울특별시 은평구 진관동               0  A41279932        은평뉴타운기자촌11단지
6   1138011400  서울특별시 은평구 진관동               0  A41279913        은평뉴타운마고정11단지
7   1138011400  서울특별시 은평구 진관동               0  A41279914         은평뉴타운마고정2단지
8   1138011400  서울특별시 은평구 진관동               4  A41279912         은평뉴타운마고정3단지
9   1138011400  서울특별시 은평구 진관동               0  A41279909    은평뉴타운박석고개13단지아파트
10  1138011400  서울특별시 은평구 진관동               0  A41279910        은평뉴타운박석고개1단지
11  1138011400  서울특별시 은평구 진관동               0  A41279911   은평뉴타운박석고개제12단지아파트
12  1138011400  서울특별시 은평구 진관동               0  A41279906       은평뉴타운상림마을10단지
13  1138011400  서울특별시 은평구 진관동               0  A41279907       은평뉴타운상림마을11단지
14  1138011400  서울특별시 은평구 진관동               0  A12220004       은평뉴타운상림마을12단지
15  1138011400  서울특별시 은평구 진관동               0  A12220002       은평뉴타운상림마을13단지
16  1138011400  서울특별시 은평구 진관동               0  A41279901       은평뉴타운상림마을14단지
17  1138011400  서울특별시 은평구 진관동               0  A12220005        은평뉴타운상림마을1단지
18  1138011400  서울특별시 은평구 진관동               0  A12220003        은평뉴타운상림마을2단지
19  1138011400  서울특별시 은평구 진관동               0  A41279905        은평뉴타운상림마을4단지
20  1138011400  서울특별시 은평구 진관동               0  A41279902        은평뉴타운상림마을5단지
21  1138011400  서울특별시 은평구 진관동               0  A41279904        은평뉴타운상림마을6단지
22  1138011400  서울특별시 은평구 진관동               0  A12220001      은평뉴타운상림마을6제1구역
23  1138011400  서울특별시 은평구 진관동               0  A41279903        은평뉴타운상림마을7단지
24  1138011400  서울특별시 은평구 진관동               0  A41279908       은평뉴타운상림마을제3단지
25  1138011400  서울특별시 은평구 진관동               0  A10026414            은평뉴타운솔하임
26  1138011400  서울특별시 은평구 진관동               0  A41279916         은평뉴타운우물골5단지
27  1138011400  서울특별시 은평구 진관동               0  A41279917         은평뉴타운우물골6단지
28  1138011400  서울특별시 은평구 진관동               0  A41279918         은평뉴타운우물골7단지
29  1138011400  서울특별시 은평구 진관동               0  A41279915         은평뉴타운우물골8단지
30  1138011400  서울특별시 은평구 진관동               0  A41279923       은평뉴타운제각말5단지제1
31  1138011400  서울특별시 은평구 진관동               0  A41279922       은평뉴타운제각말5단지제2
32  1138011400  서울특별시 은평구 진관동               0  A41279925  은평뉴타운제각말5단지제3관리사무소
33  1138011400  서울특별시 은평구 진관동               0  A41279929       은평뉴타운제각말5단지제4
34  1138011400  서울특별시 은평구 진관동               0  A41279930       은평뉴타운폭포동4단지제1
35  1138011400  서울특별시 은평구 진관동               0  A41279924       은평뉴타운폭포동4단지제2
36  1138011400  서울특별시 은평구 진관동               0  A10026842             은평지웰테라스

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        201011          201012      None  193184.552000  460184.790000
1        201011          201012      None  193202.060000  460289.980000
2        201202          201203      None  193049.100000  460106.980000
3        201007          201008      None  193210.205500  460164.748000
4        201007          201008      None  193055.220000  459903.281000
5        201501          201502      None  194162.744500  459331.145000
6        200911          200912      None  192417.267000  459044.085000
7        200911          200912      None  192853.359000  458840.100000
8        200911          200912      None  192457.545000  459051.135000
9        200812          200901      None  192408.880000  459258.466500
10       200901          200902      None  192940.706500  459067.943500
11       200901          200902      None  192961.578500  459073.000500
12       200805          200806      None  193634.939500  460637.349000
13       200805          200806      None  193583.295000  460201.875000
14       200805          200806      None  193042.655000  459861.757500
15       200806          200807      None  193566.540000  460571.972000
16       200806          200807      None  193672.982000  460677.723500
17       200805          200806      None  193114.130000  459911.940000
18       200805          200806      None  193450.430000  460480.695000
19       200805          200806      None  193692.324500  460661.286500
20       200805          200806      None  193859.725000  460622.015000
21       200805          200806      None  193771.004883  460747.140974
22       200805          200806      None  194013.265000  460845.780000
23       200805          200806      None  194241.520000  460917.555000
24       200805          200806      None  193735.191000  460728.536000
25       201709          201710      None  192633.635296  459660.321630
26       200912          201001      None  192561.290000  459360.469500
27       200912          201001      None  192700.627500  459418.337500
28       201001          201002      None  192549.463500  459339.440000
29       200912          201001      None  192818.830000  459122.590000
30       201009          201010      None  193939.515000  458455.238500
31       201009          201010      None  193823.155000  458767.125000
32       201009          201010      None  192593.580000  459079.445000
33       201009          201010      None  192579.440000  459158.875000
34       201006          201007      None            NaN            NaN
35       201006          201007      None  194169.671500  459507.248500
36       201707          201708      None  193801.032889  460739.544902
11380114 code insert rows are 37
11110146 code insert start
Empty DataFrame
Columns: []
Index: []
11110129 code insert start
Empty DataFrame
Columns: []
Index: []
11110134 code insert start
Empty DataFrame
Columns: []
Index: []
11110148 code insert start
Empty DataFrame
Columns: []
Index: []
11110127 code insert start
Empty DataFrame
Columns: []
Index: []
11110155 code insert start
Empty DataFrame
Columns: []
Index: []
11110135 code insert start
Empty DataFrame
Columns: []
Index: []
11110128 code insert start
Empty DataFrame
Columns: []
Index: []
11110176 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1111017600  서울특별시 종로구 교남동               0  A10027118  경희궁자이2단지 아파트
1  1111017600  서울특별시 종로구 교남동               0  A10027105      경희궁자이3단지
2  1111017600  서울특별시 종로구 교남동               0  A10026940  경희궁자이4단지주상복합

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM             X              Y
0       201702          201703      None  196733.01699  451864.009056
1       201702          201703      None  196733.01699  451864.009056
2       201706          201707      None  196733.01699  451864.009056
11110176 code insert rows are 3
11110180 code insert start
Empty DataFrame
Columns: []
Index: []
11110182 code insert start
Empty DataFrame
Columns: []
Index: []
11110103 code insert start
Empty DataFrame
Columns: []
Index: []
11110131 code insert start
Empty DataFrame
Columns: []
Index: []
11110137 code insert start
Empty DataFrame
Columns: []
Index: []
11110118 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1111011800  서울특별시 종로구 내수동               0  A11007001  경희궁의아침3단지

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200405          200406      None  197511.883  452430.721
11110118 code insert rows are 1
11110114 code insert start
Empty DataFrame
Columns: []
Index: []
11110109 code insert start
Empty DataFrame
Columns: []
Index: []
11110110 code insert start
Empty DataFrame
Columns: []
Index: []
11110117 code insert start
Empty DataFrame
Columns: []
Index: []
11110116 code insert start
Empty DataFrame
Columns: []
Index: []
11110153 code insert start
Empty DataFrame
Columns: []
Index: []
11110168 code insert start
Empty DataFrame
Columns: []
Index: []
11110170 code insert start
Empty DataFrame
Columns: []
Index: []
11110171 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1111017100  서울특별시 종로구 명륜2가               0  A11052201    명륜아남1차

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM          X          Y
0       199512          199601      None  199983.25  453774.61
11110171 code insert rows are 1
11110173 code insert start
Empty DataFrame
Columns: []
Index: []
11110172 code insert start
Empty DataFrame
Columns: []
Index: []
11110151 code insert start
Empty DataFrame
Columns: []
Index: []
11110187 code insert start

     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1111018700  서울특별시 종로구 무악동               0  A11081503          무악현대
1  1111018700  서울특별시 종로구 무악동               0  A11008001        무악현대임대
2  1111018700  서울특별시 종로구 무악동               0  A10027708  인왕산2차아이파크아파트
3  1111018700  서울특별시 종로구 무악동               0  A11081302       인왕산아이파크

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       200010          200011      None  196604.720  452785.07
1       200010          200011      None  196361.059  452642.57
2       201508          201509      None  196341.110  452648.85
3       200807          200808      None  196394.830  452859.55
11110187 code insert rows are 4
11110152 code insert start
Empty DataFrame
Columns: []
Index: []
11110184 code insert start
Empty DataFrame
Columns: []
Index: []
11110144 code insert start
Empty DataFrame
Columns: []
Index: []
11110115 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0  1111011500  서울특별시 종로구 사직동               0  A11005401  광화문풍림스페이스본 아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM          X          Y
0       200807          200808      None  197296.23  452522.25
11110115 code insert rows are 1
11110140 code insert start
Empty DataFrame
Columns: []
Index: []
11110123 code insert start
Empty DataFrame
Columns: []
Index: []
11110119 code insert start
Empty DataFrame
Columns: []
Index: []
11110142 code insert start
Empty DataFrame
Columns: []
Index: []
11110178 code insert start
Empty DataFrame
Columns: []
Index: []
11110145 code insert start
Empty DataFrame
Columns: []
Index: []
11110124 code insert start
Empty DataFrame
Columns: []
Index: []
11110175 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0  1111017500  서울특별시 종로구 숭인동               0  A11087601    롯데캐슬천지인
1  1111017500  서울특별시 종로구 숭인동               0  A11087602     종로센트레빌
2  1111017500  서울특별시 종로구 숭인동               0  A11055002  종로청계힐스테이트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200409          200410      None  201406.510  452456.790
1       200811          200812      None  201415.300  453277.861
2       200903          200904      None  201857.734  452702.724
11110175 code insert rows are 3
11110102 code insert start
Empty DataFrame
Columns: []
Index: []
11110120 code insert start
Empty DataFrame
Columns: []
Index: []
11110121 code insert start
Empty DataFrame
Columns: []
Index: []
11110186 code insert start
Empty DataFrame
Columns: []
Index: []
11110141 code insert start
Empty DataFrame
Columns: []
Index: []
11110166 code insert start
Empty DataFrame
Columns: []
Index: []
11110160 code insert start
Empty DataFrame
Columns: []
Index: []
11110158 code insert start
Empty DataFrame
Columns: []
Index: []
11110111 code insert start
Empty DataFrame
Columns: []
Index: []
11110130 code insert start
Empty DataFrame
Columns: []
Index: []
11110132 code insert start
Empty DataFrame
Columns: []
Index: []
11110159 code insert start
Empty DataFrame
Columns: []
Index: []
11110149 code insert start
Empty DataFrame
Columns: []
Index: []
11110165 code insert start
Empty DataFrame
Columns: []
Index: []
11110133 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1111013300  서울특별시 종로구 익선동               0  A11034001    현대뜨레비앙

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200311          200312      None  199090.467  452582.605
11110133 code insert rows are 1
11110136 code insert start
Empty DataFrame
Columns: []
Index: []
11110157 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1111015700  서울특별시 종로구 인의동               0  A11041001  효성주얼리시티아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200610          200611      None  199893.277  452188.917
11110157 code insert rows are 1
11110154 code insert start
Empty DataFrame
Columns: []
Index: []
11110147 code insert start
Empty DataFrame
Columns: []
Index: []
11110107 code insert start
Empty DataFrame
Columns: []
Index: []
11110126 code insert start
Empty DataFrame
Columns: []
Index: []
11110138 code insert start
Empty DataFrame
Columns: []
Index: []
11110156 code insert start
Empty DataFrame
Columns: []
Index: []
11110161 code insert start
Empty DataFrame
Columns: []
Index: []
11110163 code insert start
Empty DataFrame
Columns: []
Index: []
11110164 code insert start
Empty DataFrame
Columns: []
Index: []
11110125 code insert start
Empty DataFrame
Columns: []
Index: []
11110105 code insert start
Empty DataFrame
Columns: []
Index: []
11110174 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1111017400  서울특별시 종로구 창신동               0  A11054101      창신두산
1  1111017400  서울특별시 종로구 창신동               0  A11054301   창신쌍용1단지
2  1111017400  서울특별시 종로구 창신동               0  A11077101   창신쌍용2단지

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X          Y
0       199904          199905      None  201266.290  452513.73
1       199211          199212      None  201257.025  453250.58
2       199310          199311      None  201078.650  453241.32
11110174 code insert rows are 3
11110101 code insert start
Empty DataFrame
Columns: []
Index: []
11110122 code insert start
Empty DataFrame
Columns: []
Index: []
11110112 code insert start
Empty DataFrame
Columns: []
Index: []
11110167 code insert start
Empty DataFrame
Columns: []
Index: []
11110106 code insert start
Empty DataFrame
Columns: []
Index: []
11110108 code insert start
Empty DataFrame
Columns: []
Index: []
11110139 code insert start
Empty DataFrame
Columns: []
Index: []
11110177 code insert start
Empty DataFrame
Columns: []
Index: []
11110183 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1111018300  서울특별시 종로구 평창동               0  A11084601      평창롯데
1  1111018300  서울특별시 종로구 평창동               0  A11001203      평창삼성

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM          X           Y
0       200104          200105      None  197847.71  456386.087
1       199805          199806      None  198112.16  456565.230
11110183 code insert rows are 2
11110113 code insert start
Empty DataFrame
Columns: []
Index: []
11110181 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE        KAPT_NAME  \
0  1111018100  서울특별시 종로구 행촌동               0  A10026946  경희궁자이1단지(임대아파트)

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM     X     Y
0       201706          201707      None  None  None
11110181 code insert rows are 1
11110169 code insert start
Empty DataFrame
Columns: []
Index: []
11110185 code insert start
Empty DataFrame
Columns: []
Index: []
11110179 code insert start
Empty DataFrame
Columns: []
Index: []
11110143 code insert start
Empty DataFrame
Columns: []
Index: []
11110104 code insert start
Empty DataFrame
Columns: []
Index: []
11110162 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1111016200  서울특별시 종로구 효제동               0  A10027162   포레스트힐시티

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       201701          201702      None  200103.366  452446.095
11110162 code insert rows are 1
11110150 code insert start
Empty DataFrame
Columns: []
Index: []
11140145 code insert start
Empty DataFrame
Columns: []
Index: []
11140146 code insert start
Empty DataFrame
Columns: []
Index: []
11140106 code insert start
Empty DataFrame
Columns: []
Index: []
11140115 code insert start
Empty DataFrame
Columns: []
Index: []
11140116 code insert start
Empty DataFrame
Columns: []
Index: []
11140117 code insert start
Empty DataFrame
Columns: []
Index: []
11140118 code insert start
Empty DataFrame
Columns: []
Index: []
11140128 code insert start
Empty DataFrame
Columns: []
Index: []
11140129 code insert start
Empty DataFrame
Columns: []
Index: []
11140130 code insert start
Empty DataFrame
Columns: []
Index: []
11140112 code insert start
Empty DataFrame
Columns: []
Index: []
11140140 code insert start
Empty DataFrame
Columns: []
Index: []
11140102 code insert start
Empty DataFrame
Columns: []
Index: []
11140173 code insert start

     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1114017300  서울특별시 중구 만리동1가               0  A10080701  LIG서울역리가

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       201201          201202      None  197011.6145  450397.732
11140173 code insert rows are 1
11140174 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE       KAPT_NAME  \
0  1114017400  서울특별시 중구 만리동2가               0  A10026881     서울역센트럴자이아파트
1  1114017400  서울특별시 중구 만리동2가               0  A10026517  서울역한라비발디센트럴아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201708          201709      None  196725.552959  450035.031803
1       201801          201802      None            NaN            NaN
11140174 code insert rows are 2
11140126 code insert start
Empty DataFrame
Columns: []
Index: []
11140127 code insert start
Empty DataFrame
Columns: []
Index: []
11140101 code insert start
Empty DataFrame
Columns: []
Index: []
11140164 code insert start
Empty DataFrame
Columns: []
Index: []
11140136 code insert start
Empty DataFrame
Columns: []
Index: []
11140153 code insert start
Empty DataFrame
Columns: []
Index: []
11140119 code insert start
Empty DataFrame
Columns: []
Index: []
11140120 code insert start
Empty DataFrame
Columns: []
Index: []
11140113 code insert start
Empty DataFrame
Columns: []
Index: []
11140157 code insert start
Empty DataFrame
Columns: []
Index: []
11140107 code insert start
Empty DataFrame
Columns: []
Index: []
11140166 code insert start
Empty DataFrame
Columns: []
Index: []
11140111 code insert start
Empty DataFrame
Columns: []
Index: []
11140110 code insert start
Empty DataFrame
Columns: []
Index: []
11140108 code insert start
Empty DataFrame
Columns: []
Index: []
11140168 code insert start
     BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1114016800  서울특별시 중구 순화동               0  A10027364  덕수궁롯데캐슬아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201607          201608      None  197310.883798  451287.205576
11140168 code insert rows are 1
11140162 code insert start
      BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0   1114016200  서울특별시 중구 신당동               0  A10078901     래미안신당하이베르
1   1114016200  서울특별시 중구 신당동               0  A10078902   래미안신당하이베르임대
2   1114016200  서울특별시 중구 신당동               0  A10045302    신당남산타운(분양)
3   1114016200  서울특별시 중구 신당동               0  A10045301      신당남산타운임대
4   1114016200  서울특별시 중구 신당동               0  A10045403      신당삼성(분양)
5   1114016200  서울특별시 중구 신당동               0  A10045401        신당삼성임대
6   1114016200  서울특별시 중구 신당동               0  A10045404       신당약수하이츠
7   1114016200  서울특별시 중구 신당동               0  A10045001        신당푸르지오
8   1114016200  서울특별시 중구 신당동               0  A10045601          신당현대
9   1114016200  서울특별시 중구 신당동               0  A10045402  약수하이츠아파트(임대)
10  1114016200  서울특별시 중구 신당동               0  A10045002   청구e편한세상(분양)
11  1114016200  서울특별시 중구 신당동               0  A10078103     청구e편한세상임대
12  1114016200  서울특별시 중구 신당동               0  A13302201       하왕한진그랑빌

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0        201110          201111      None       0.0000       0.000
1        201110          201111      None  201782.1315  450970.895
2        200205          200206      None  200750.9050  449601.355
3        200205          200206      None  200750.9050  449601.355
4        199912          200001      None  201514.3700  450653.915
5        199912          200001      None  201514.3700  450653.915
6        199907          199908      None  201211.2850  450276.285
7        200512          200601      None  201662.2900  450761.405
8        199309          199310      None  201842.6600  450854.070
9        199907          199908      None  201211.2850  450276.285
10       201112          201201      None  201402.8845  450919.837
11       201112          201201      None  201577.9880  450919.179
12       200106          200107      None  202225.2150  451244.325
11140162 code insert rows are 13
11140147 code insert start
Empty DataFrame
Columns: []
Index: []
11140135 code insert start
Empty DataFrame
Columns: []
Index: []
11140142 code insert start
Empty DataFrame
Columns: []
Index: []
11140154 code insert start
Empty DataFrame
Columns: []
Index: []
11140104 code insert start
Empty DataFrame
Columns: []
Index: []
11140105 code insert start
Empty DataFrame
Columns: []
Index: []
11140155 code insert start
Empty DataFrame
Columns: []
Index: []
11140150 code insert start
Empty DataFrame
Columns: []
Index: []
11140151 code insert start
Empty DataFrame
Columns: []
Index: []
11140148 code insert start
Empty DataFrame
Columns: []
Index: []
11140149 code insert start
Empty DataFrame
Columns: []
Index: []
11140169 code insert start
Empty DataFrame
Columns: []
Index: []
11140172 code insert start
Empty DataFrame
Columns: []
Index: []
11140160 code insert start
Empty DataFrame
Columns: []
Index: []
11140134 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1114013400  서울특별시 중구 인현동2가               0  A10028201      인현신성

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       196805          196806      None  199559.8835  451275.1715
11140134 code insert rows are 1
11140156 code insert start
Empty DataFrame
Columns: []
Index: []
11140109 code insert start
Empty DataFrame
Columns: []
Index: []
11140143 code insert start
Empty DataFrame
Columns: []
Index: []
11140144 code insert start
Empty DataFrame
Columns: []
Index: []
11140131 code insert start
Empty DataFrame
Columns: []
Index: []
11140161 code insert start
Empty DataFrame
Columns: []
Index: []
11140167 code insert start
Empty DataFrame
Columns: []
Index: []
11140152 code insert start
Empty DataFrame
Columns: []
Index: []
11140141 code insert start
Empty DataFrame
Columns: []
Index: []
11140171 code insert start
     BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1114017100  서울특별시 중구 중림동               0  A10085902  중림삼성래미안아파트
1  1114017100  서울특별시 중구 중림동               0  A10085903  중림삼성사이버빌리지

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X           Y
0       200107          200108      None  196811.345  450549.355
1       200107          200108      None  196883.660  450638.545
11140171 code insert rows are 2
11140159 code insert start
Empty DataFrame
Columns: []
Index: []
11140124 code insert start
Empty DataFrame
Columns: []
Index: []
11140125 code insert start
Empty DataFrame
Columns: []
Index: []
11140158 code insert start
Empty DataFrame
Columns: []
Index: []
11140132 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1114013200  서울특별시 중구 충무로4가               0  A10071301   남산센트럴자이
1  1114013200  서울특별시 중구 충무로4가               0  A10086301     충무로진양

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200912          201001      None  199738.1595  451140.1090
1       197005          197006      None  199571.6095  451128.4065
11140132 code insert rows are 2
11140133 code insert start
Empty DataFrame
Columns: []
Index: []
11140170 code insert start
Empty DataFrame
Columns: []
Index: []
11140103 code insert start
Empty DataFrame
Columns: []
Index: []
11140114 code insert start
Empty DataFrame
Columns: []
Index: []
11140137 code insert start
Empty DataFrame
Columns: []
Index: []
11140138 code insert start
Empty DataFrame
Columns: []
Index: []
11140139 code insert start
Empty DataFrame
Columns: []
Index: []
11140165 code insert start
     BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE     KAPT_NAME  \
0  1114016500  서울특별시 중구 황학동               2  A10044001  SH황학롯데캐슬베네치아
1  1114016500  서울특별시 중구 황학동               2  A10044002      롯데캐슬베네치아
2  1114016500  서울특별시 중구 황학동               0  A10086801       황학아크로타워

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       200804          200805      None  201806.985  452073.9650
1       200804          200805      None  201806.985  452073.9650
2       201003          201004      None  201857.465  451541.4565
11140165 code insert rows are 3
11140121 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1114012100  서울특별시 중구 회현동1가               0  A10088101    남산SK리더스뷰
1  1114012100  서울특별시 중구 회현동1가               0  A10088102  남산롯데캐슬아이리스

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       201001          201002      None  198215.3350  450757.415
1       201111          201112      None  198339.5375  450668.285
11140121 code insert rows are 2
11140122 code insert start
     BJD_CODE        BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1114012200  서울특별시 중구 회현동2가               0  A10072501  쌍용남산플래티넘

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X           Y
0       201008          201009      None  198444.4915  450792.942
11140122 code insert rows are 1
11140123 code insert start
Empty DataFrame
Columns: []
Index: []
11140163 code insert start
     BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE    KAPT_NAME  \
0  1114016300  서울특별시 중구 흥인동               0  A10095501     동대문와이즈캐슬
1  1114016300  서울특별시 중구 흥인동               0  A10095502  청계천두산위브더제니스

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0       201410          201411      None  201295.360500  451506.985500
1       201412          201501      None  201441.686292  451618.788223

11140163 code insert rows are 2
11260105 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0  1126010500  서울특별시 중랑구 망우동               1  A13123102     망우금호어울림
1  1126010500  서울특별시 중랑구 망우동               0  A13123101        망우신원
2  1126010500  서울특별시 중랑구 망우동               0  A13123001   예성그린캐슬아파트
3  1126010500  서울특별시 중랑구 망우동               0  A13123002  중랑숲Liga아파트
4  1126010500  서울특별시 중랑구 망우동               0  A13176102       중랑해모로

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM            X            Y
0       200604          200605      None  209567.3380  455555.6500
1       199903          199904      None  209508.6700  455300.7050
2       200405          200406      None  208943.3900  454970.7770
3       201208          201209      None  209201.3835  455558.7555
4       200705          200706      None  209654.0950  455614.7300
11260105 code insert rows are 5
11260101 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1126010100  서울특별시 중랑구 면목동               0  A13177701          면목
1   1126010100  서울특별시 중랑구 면목동               0  A13120403    면목경남아너스빌
2   1126010100  서울특별시 중랑구 면목동               0  A13120704     면목금호어울림
3   1126010100  서울특별시 중랑구 면목동               0  A13183504  면목늘푸른동아아파트
4   1126010100  서울특별시 중랑구 면목동               0  A13183405     면목대원칸타빌
5   1126010100  서울특별시 중랑구 면목동               0  A13188406    면목두산2.3차
6   1126010100  서울특별시 중랑구 면목동               0  A13184107   면목두산4,5단지
7   1126010100  서울특별시 중랑구 면목동               0  A13120001       면목마젤란
8   1126010100  서울특별시 중랑구 면목동               0  A13183502        면목삼익
9   1126010100  서울특별시 중랑구 면목동               0  A13184401        면목삼호
10  1126010100  서울특별시 중랑구 면목동               0  A13184502        면목성원
11  1126010100  서울특별시 중랑구 면목동               0  A13181201    면목신성미소지움
12  1126010100  서울특별시 중랑구 면목동               0  A13184301     면목신성은하수
13  1126010100  서울특별시 중랑구 면목동               0  A13175103        면목한신
14  1126010100  서울특별시 중랑구 면목동               0  A13184208        면목현대
15  1126010100  서울특별시 중랑구 면목동               0  A13183701     아남리치카운티
16  1126010100  서울특별시 중랑구 면목동               0  A13183202   용마2차한신아파트
17  1126010100  서울특별시 중랑구 면목동               0  A13181203      용마금호타운
18  1126010100  서울특별시 중랑구 면목동               0  A13183303        용마동아
19  1126010100  서울특별시 중랑구 면목동               0  A13120701    용마산금호어울림
20  1126010100  서울특별시 중랑구 면목동               0  A10028033   용마산하늘채아파트
21  1126010100  서울특별시 중랑구 면목동               0  A13183204        용마한신

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        199110          199111      None  207682.185000  452405.335000
1        200611          200612      None  207037.358000  452603.006000
2        200510          200511      None  207812.985000  452768.120000
3        200211          200212      None  207051.709500  452292.071000
4        200304          200305      None  207890.937000  452862.425000
5        199504          199505      None  207309.925000  453140.020000
6        200009          200010      None  207196.890000  452954.925000
7        200703          200704      None  207361.492500  453836.079500
8        199712          199801      None  206960.950000  452546.505000
9        200005          200006      None  207739.900000  452680.915000
10       199706          199707      None  207939.510000  452807.100000
11       200411          200412      None  208420.964500  453880.236000
12       199810          199811      None  206373.310000  454065.625000
13       198712          198801      None  206573.084500  453916.200500
14       199409          199410      None  207866.575000  452658.190000
15       200412          200501      None  207435.240000  454110.115000
16       199805          199806      None  208263.670000  453204.150000
17       199212          199301      None  208263.960000  453396.165000
18       199303          199304      None  208308.340000  452957.605000
19       200606          200607      None  208005.357500  452809.651000
20       201510          201511      None  207627.227796  452243.285628
21       199006          199007      None  208408.745000  453226.730000
11260101 code insert rows are 22
11260104 code insert start
      BJD_CODE      BJD_NAME  ENERGY_B_COUNT  KAPT_CODE   KAPT_NAME  \
0   1126010400  서울특별시 중랑구 묵동               0  A13176801  묵동극동늘푸른아파트
1   1126010400  서울특별시 중랑구 묵동               0  A13114103     묵동금호어울림
2   1126010400  서울특별시 중랑구 묵동               0  A13114201      묵동동구햇살
3   1126010400  서울특별시 중랑구 묵동               0  A13185508   묵동브라운스톤태릉
4   1126010400  서울특별시 중랑구 묵동               0  A13185501        묵동세방
5   1126010400  서울특별시 중랑구 묵동               0  A13184804        묵동신도
6   1126010400  서울특별시 중랑구 묵동               0  A13185507      묵동신안1차
7   1126010400  서울특별시 중랑구 묵동               0  A13185502      묵동신안2차
8   1126010400  서울특별시 중랑구 묵동               0  A13114106      묵동신안3차
9   1126010400  서울특별시 중랑구 묵동               0  A13114002      묵동아이파크
10  1126010400  서울특별시 중랑구 묵동               0  A13177501        묵동자이
11  1126010400  서울특별시 중랑구 묵동               0  A10026469  묵동자이2단지아파트
12  1126010400  서울특별시 중랑구 묵동               0  A13185402        묵동한국
13  1126010400  서울특별시 중랑구 묵동               0  A13184609       신내4단지
14  1126010400  서울특별시 중랑구 묵동               0  A13184610   신내5단지대림두산

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X             Y
0        199904          199905      None  206651.960000  456922.37500
1        200312          200401      None  206995.747500  456715.74650
2        200405          200406      None  206502.991500  456776.81650
3        200403          200404      None  207195.558500  457392.55600
4        200007          200008      None  207306.710500  457008.70000
5        199810          199811      None  206763.155000  457170.98500
6        199910          199911      None  207082.940000  456726.13000
7        200002          200003      None  206995.460000  456866.16000
8        200009          200010      None  207152.810000  456682.90500
9        200206          200207      None  206441.447000  456469.38700
10       201012          201101    201603  206809.967500  456954.34500
11       201012          201604      None  206776.933926  456834.77325
12       199906          199907      None  206422.150000  456894.25000
13       199606          199607      None  207444.500000  457094.54500
14       199512          199601      None  207717.700000  457179.08500
11260104 code insert rows are 15
11260102 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0   1126010200  서울특별시 중랑구 상봉동               0  A13122001    상봉건영캐스빌
1   1126010200  서울특별시 중랑구 상봉동               0  A13186401       상봉동부
2   1126010200  서울특별시 중랑구 상봉동               0  A10027670    상봉듀오트리스
3   1126010200  서울특별시 중랑구 상봉동               0  A13185602       상봉우정
4   1126010200  서울특별시 중랑구 상봉동               0  A13122104    상봉태영데시앙
5   1126010200  서울특별시 중랑구 상봉동               0  A13122002  상봉프레미어스엠코
6   1126010200  서울특별시 중랑구 상봉동               0  A13186306     신내12단지
7   1126010200  서울특별시 중랑구 상봉동               0  A13185603     신내건영1차
8   1126010200  서울특별시 중랑구 상봉동               0  A13185607  신내건영2차아파트
9   1126010200  서울특별시 중랑구 상봉동               0  A13186305     신내엘지쌍용
10  1126010200  서울특별시 중랑구 상봉동               0  A13170401  한일써너스빌아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM             X              Y
0        200602          200603      None  207974.39150  455582.124500
1        199904          199905      None  208215.93500  455526.825000
2        201601          201602      None  208101.31450  455066.449000
3        200205          200206      None  207764.12000  455230.810000
4        200308          200309      None  208115.07500  455658.735000
5        201311          201312      None  207912.36477  455088.602679
6        199511          199512      None  207983.54500  455898.100000
7        199708          199709      None  208183.83500  455749.285000
8        199611          199612      None  208151.97000  455435.765500
9        199603          199604      None  207857.29500  455690.600000
10       200312          200401      None  207982.85800  454976.364500
11260102 code insert rows are 11
11260106 code insert start
      BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE  KAPT_NAME  \
0   1126010600  서울특별시 중랑구 신내동               0  A13187306     신내10단지
1   1126010600  서울특별시 중랑구 신내동               0  A13176901      신내6단지
2   1126010600  서울특별시 중랑구 신내동               0  A13187201  신내8단지두산화성
3   1126010600  서울특별시 중랑구 신내동               0  A13187305      신내9단지
4   1126010600  서울특별시 중랑구 신내동               0  A13176902    신내9단지임대
5   1126010600  서울특별시 중랑구 신내동               0  A13113006   신내경남아너스빌
6   1126010600  서울특별시 중랑구 신내동               0  A13186801    신내다우훼미리
7   1126010600  서울특별시 중랑구 신내동               0  A13187302   신내대명11단지
8   1126010600  서울특별시 중랑구 신내동               0  A13178101      신내데시앙
9   1126010600  서울특별시 중랑구 신내동               0  A13186708   신내동성1차2차
10  1126010600  서울특별시 중랑구 신내동               0  A13113004  신내동성3차아파트
11  1126010600  서울특별시 중랑구 신내동               0  A13113003     신내동성4차
12  1126010600  서울특별시 중랑구 신내동               0  A13113001     신내동성7차
13  1126010600  서울특별시 중랑구 신내동               0  A13186905    신내라이프미성
14  1126010600  서울특별시 중랑구 신내동               0  A13113002       신내벽산
15  1126010600  서울특별시 중랑구 신내동               0  A13187406    신내새한아파트
16  1126010600  서울특별시 중랑구 신내동               0  A13186503       신내석탑
17  1126010600  서울특별시 중랑구 신내동               0  A13187004       신내성원
18  1126010600  서울특별시 중랑구 신내동               0  A13186504   신내영풍마드레빌
19  1126010600  서울특별시 중랑구 신내동               0  A13186502   신내우남푸르미아
20  1126010600  서울특별시 중랑구 신내동               0  A13113008   신내우디안1단지
21  1126010600  서울특별시 중랑구 신내동              32  A13113007   신내우디안2단지
22  1126010600  서울특별시 중랑구 신내동               0  A10027775   신내의료안심주택
23  1126010600  서울특별시 중랑구 신내동               0  A13186907    신내중앙하이츠
24  1126010600  서울특별시 중랑구 신내동               0  A13187203    신내진로아파트

   KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM              X              Y
0        199603          199604      None  208271.725000  456340.755000
1        199603          199604      None  207972.695000  456987.075000
2        199512          199601      None  208327.735000  456827.355000
3        199606          199607      None  208282.955000  456636.917500
4        199606          199607      None  208282.955000  456636.917500
5        200702          200703      None  208471.233000  455699.095500
6        199901          199902      None  208430.550000  455348.285000
7        199603          199604      None  208230.560000  456128.890000
8        201001          201002      None  208710.810000  456511.530000
9        199302          199303      None  208555.299500  456395.359500
10       199705          199706      None  208435.800000  456251.205000
11       199707          199708      None  208449.980000  456050.268000
12       199904          199905      None  208505.930000  455984.880000
13       199204          199205      None  208675.615000  455623.745000
14       200006          200007      None  208754.915000  455648.013000
15       199811          199812      None  208903.545000  455879.491500
16       199701          199702      None  208871.159000  455715.700000
17       199409          199410      None  208292.590000  455852.435000
18       200402          200403      None  208774.926500  455933.196500
19       200504          200505      None  208650.400000  456000.800000
20       201406          201407      None  209352.333298  457397.318744
21       201312          201401      None  209606.036739  457147.645537
22       201510          201511      None  208562.384500  456864.769500
23       199603          199604      None  208593.930000  455676.619000
24       199512          199601      None  208175.800000  456839.835000

11260106 code insert rows are 25
11260103 code insert start
     BJD_CODE       BJD_NAME  ENERGY_B_COUNT  KAPT_CODE KAPT_NAME  \
0  1126010300  서울특별시 중랑구 중화동               0  A13187501      중화극동
1  1126010300  서울특별시 중랑구 중화동               0  A13187702   중화한신아파트

  KAPT_USEDATE OCCU_FIRST_DATE OPEN_TERM           X            Y
0       199104          199105      None  207328.264  455699.3135
1       199710          199711      None  207156.330  454997.5050
11260103 code insert rows are 2

In [31]:
apt_info=pd.read_sql("select * from apt_code_tbl2;",kb_db)
apt_info

,BJD_CODE,BJD_NAME,ENERGY_B_COUNT,KAPT_CODE,KAPT_NAME,KAPT_USEDATE,OCCU_FIRST_DATE,OPEN_TERM,X,Y
0,1168010300,서울특별시 강남구 개포동,0,A13593901,LG개포자이아파트,200406,200407,None,206706.200000,443790.735000
1,1168010300,서울특별시 강남구 개포동,0,A13593908,SH공사대치1단지,199111,199112,None,206587.710000,443561.235000
2,1168010300,서울특별시 강남구 개포동,0,A13524006,개포2차 현대아파트,198601,198602,None,204465.635000,442258.960000
3,1168010300,서울특별시 강남구 개포동,0,A13580602,개포경남아파트,198403,198404,None,204731.265000,442478.655000
4,1168010300,서울특별시 강남구 개포동,0,A13524009,개포대치2단지,199210,199211,None,206587.710000,443561.235000
5,1168010300,서울특별시 강남구 개포동,0,A13580801,개포시영,198403,198404,201604,204713.550000,441811.050000
6,1168010300,서울특별시 강남구 개포동,0,A13524004,개포우성3차,198412,198501,None,204881.660000,442417.840000
7,1168010300,서울특별시 강남구 개포동,0,A13580002,개포우성8차,198709,198710,None,205448.260000,442882.295000
8,1168010300,서울특별시 강남구 개포동,0,A13580601,개포우성9차,199101,199102,None,204987.545000,442514.155000
9,1168010300,서울특별시 강남구 개포동,0,A13524011,개포주공1단지,198206,198207,None,205105.090000,442077.710000
10,1168010300,서울특별시 강남구 개포동,0,A13580204,개포주공2단지,198211,198212,None,205632.695000,442125.535000
11,1168010300,서울특별시 강남구 개포동,0,A13580103,개포주공3단지,198211,198212,None,205876.560000,442429.755000
12,1168010300,서울특별시 강남구 개포동,0,A13580003,개포주공4단지,198211,198212,201802,206242.245000,442613.540000
13,1168010300,서울특별시 강남구 개포동,0,A13599402,개포주공5단지,198310,198311,None,206001.065000,442828.835000
14,1168010300,서울특별시 강남구 개포동,0,A13599303,개포주공6단지,198310,198311,None,206255.460000,442983.485000
15,1168010300,서울특별시 강남구 개포동,0,A13599301,개포주공7단지,198310,198311,None,206255.460000,442983.485000
16,1168010300,서울특별시 강남구 개포동,0,A13524005,개포현대1차,198404,198405,None,204749.000000,442273.510000
17,1168010300,서울특별시 강남구 개포동,0,A13580001,개포현대3차,198603,198604,None,205300.625000,442851.230000
18,1168010300,서울특별시 강남구 개포동,0,A13594007,대청,199210,199211,None,206587.710000,443561.235000
19,1168010800,서울특별시 강남구 논현동,0,A13583301,논현동부센트레빌,200312,200401,None,203257.755000,445345.995000
20,1168010800,서울특별시 강남구 논현동,0,A13582002,논현동현,198508,198509,None,203159.445000,446347.780000
21,1168010800,서울특별시 강남구 논현동,0,A13501004,논현신동아,199707,199708,None,201933.390000,445835.680000
22,1168010800,서울특별시 강남구 논현동,0,A13501001,동양파라곤,200406,200407,None,203301.325000,445837.050000
23,1168010800,서울특별시 강남구 논현동,0,A13572601,동화히스토리,201208,201209,None,202010.175000,445369.025000
24,1168010800,서울특별시 강남구 논현동,0,A13501002,마일스디오빌,200411,200412,None,202484.050000,445740.265000
25,1168010800,서울특별시 강남구 논현동,0,A13501006,아크로힐스논현,201412,201501,None,203369.810000,445261.195000
26,1168010600,서울특별시 강남구 대치동,0,A13528105,개포1차2차우성,198312,198401,None,205000.565000,443181.090000
27,1168010600,서울특별시 강남구 대치동,0,A10026924,대치SK VIEW,201706,201707,None,NaN,NaN
28,1168010600,서울특별시 강남구 대치동,0,A13528101,대치국제,198311,198312,None,205279.040000,443723.250000
29,1168010600,서울특별시 강남구 대치동,0,A13528001,대치대우아이빌4차,200402,200403,None,204663.205000,444764.085000
...,...,...,...,...,...,...,...,...,...,...
2362,1126010200,서울특별시 중랑구 상봉동,0,A13185607,신내건영2차아파트,199611,199612,None,208151.970000,455435.765500
2363,1126010200,서울특별시 중랑구 상봉동,0,A13186305,신내엘지쌍용,199603,199604,None,207857.295000,455690.600000
2364,1126010200,서울특별시 중랑구 상봉동,0,A13170401,한일써너스빌아파트,200312,200401,None,207982.858000,454976.364500
2365,1126010600,서울특별시 중랑구 신내동,0,A13187306,신내10단지,199603,199604,None,208271.725000,456340.755000
2366,1126010600,서울특별시 중랑구 신내동,0,A13176901,신내6단지,199603,199604,None,207972.695000,456987.075000
2367,1126010600,서울특별시 중랑구 신내동,0,A13187201,신내8단지두산화성,199512,199601,None,208327.735000,456827.355000
2368,1126010600,서울특별시 중랑구 신내동,0,A13187305,신내9단지,199606,199607,None,208282.955000,456636.917500
2369,1126010600,서울특별시 중랑구 신내동,0,A13176902,신내9단지임대,199606,199607,None,208282.955000,456636.917500
2370,1126010600,서울특별시 중랑구 신내동,0,A13113006,신내경남아너스빌,200702,200703,None,208471.233000,455699.095500
2371,1126010600,서울특별시 중랑구 신내동,0,A13186801,신내다우훼미리,199901,199902,None,208430.550000,455348.285000
2372,1126010600,서울특별시 중랑구 신내동,0,A13187302,신내대명11단지,199603,199604,None,208230.560000,456128.890000
2373,1126010600,서울특별시 중랑구 신내동,0,A13178101,신내데시앙,201001,201002,None,208710.810000,456511.530000
2374,1126010600,서울특별시 중랑구 신내동,0,A13186708,신내동성1차2차,199302,199303,None,208555.299500,456395.359500
2375,1126010600,서울특별시 중랑구 신내동,0,A13113004,신내동성3차아파트,199705,199706,None,208435.800000,456251.205000
2376,1126010600,서울특별시 중랑구 신내동,0,A13113003,신내동성4차,199707,199708,None,208449.980000,456050.268000
2377,1126010600,서울특별시 중랑구 신내동,0,A13113001,신내동성7차,199904,199905,None,208505.930000,455984.880000
2378,1126010600,서울특별시 중랑구 신내동,0,A13186905,신내라이프미성,199204,199205,None,208675.615000,455623.745000
2379,1126010600,서울특별시 중랑구 신내동,0,A13113002,신내벽산,200006,200007,None,208754.915000,455648.013000
2380,1126010600,서울특별시 중랑구 신내동,0,A13187406,신내새한아파트,199811,199812,None,208903.545000,455879.491500
2381,1126010600,서울특별시 중랑구 신내동,0,A13186503,신내석탑,199701,199702,None,208871.159000,455715.700000
2382,1126010600,서울특별시 중랑구 신내동,0,A13187004,신내성원,199409,199410,None,208292.590000,455852.435000
2383,1126010600,서울특별시 중랑구 신내동,0,A13186504,신내영풍마드레빌,200402,200403,None,208774.926500,455933.196500
2384,1126010600,서울특별시 중랑구 신내동,0,A13186502,신내우남푸르미아,200504,200505,None,208650.400000,456000.800000
2385,1126010600,서울특별시 중랑구 신내동,0,A13113008,신내우디안1단지,201406,201407,None,209352.333298,457397.318744
2386,1126010600,서울특별시 중랑구 신내동,32,A13113007,신내우디안2단지,201312,201401,None,209606.036739,457147.645537
2387,1126010600,서울특별시 중랑구 신내동,0,A10027775,신내의료안심주택,201510,201511,None,208562.384500,456864.769500
2388,1126010600,서울특별시 중랑구 신내동,0,A13186907,신내중앙하이츠,199603,199604,None,208593.930000,455676.619000
2389,1126010600,서울특별시 중랑구 신내동,0,A13187203,신내진로아파트,199512,199601,None,208175.800000,456839.835000
2390,1126010300,서울특별시 중랑구 중화동,0,A13187501,중화극동,199104,199105,None,207328.264000,455699.313500
2391,1126010300,서울특별시 중랑구 중화동,0,A13187702,중화한신아파트,199710,199711,None,207156.330000,454997.505000

In [35]:
len(apt_info)

2392

In [37]:
apt_info[78:]['KAPT_CODE']

78      A13509101
79      A13509003
80      A13509004
81      A13509001
82      A13586602
83      A13509012
84      A13587603
85      A13509009
86      A13519005
87      A13519007
88      A10027558
89      A13519001
90      A13519004
91      A13519006
92      A13519002
93      A10027446
94      A13552002
95      A13552001
96      A13522007
97      A13588601
98      A13522004
99      A13522003
100     A13522006
101     A13522008
102     A13588402
103     A13589802
104     A13511101
105     A13511001
106     A13511003
107     A13511004
          ...
2362    A13185607
2363    A13186305
2364    A13170401
2365    A13187306
2366    A13176901
2367    A13187201
2368    A13187305
2369    A13176902
2370    A13113006
2371    A13186801
2372    A13187302
2373    A13178101
2374    A13186708
2375    A13113004
2376    A13113003
2377    A13113001
2378    A13186905
2379    A13113002
2380    A13187406
2381    A13186503
2382    A13187004
2383    A13186504
2384    A13186502
2385    A13113008
2386    A13113007
2387    A10027775
2388    A13186907
2389    A13187203
2390    A13187501
2391    A13187702
Name: KAPT_CODE, Length: 2314, dtype: object

In [38]:
# apt_details = pd.DataFrame(columns=['KAPT_CODE', 'KAPT_DONG_CNT','KAPT_USEDATE', 'KAPTD_WTIMESUB', 'SUBWAY_STATION', 'SUBWAY_LINE', 'CODE_HALL','KAPT_BCOMPANY', 'KAPTDA_CNT1', 'KAPTDA_CNT2', 'KAPTDA_CNT3', 'KAPTDA_CNT4'])

for code in apt_info[78:]['KAPT_CODE']:
    a = getAptDetailInfo(code)
    if not bool(a):
        continue
    info = extractAptInfo(a)
    if not bool(info):
        continue
    n=len(apt_details)
    apt_details.loc[n] = info
    print ("%s apt data collection completed(%d)" % (code,n))

A13509101 apt data collection completed(79)
A13509003 apt data collection completed(80)
A13509004 apt data collection completed(81)
A13509001 apt data collection completed(82)
A13586602 apt data collection completed(83)
A13509012 apt data collection completed(84)
A13587603 apt data collection completed(85)
A13509009 apt data collection completed(86)
A13519005 apt data collection completed(87)
A13519007 apt data collection completed(88)
A10027558 apt data collection completed(89)
A13519001 apt data collection completed(90)
A13519004 apt data collection completed(91)
A13519006 apt data collection completed(92)
A13519002 apt data collection completed(93)
A10027446 apt data collection completed(94)
A13552002 apt data collection completed(95)
A13552001 apt data collection completed(96)
A13522007 apt data collection completed(97)
A13588601 apt data collection completed(98)
A13522004 apt data collection completed(99)
A13522003 apt data collection completed(100)
A13522006 apt data collection completed(101)
A13522008 apt data collection completed(102)
A13588402 apt data collection completed(103)
A13589802 apt data collection completed(104)
A13511101 apt data collection completed(105)
A13511001 apt data collection completed(106)
A13511003 apt data collection completed(107)
A13511004 apt data collection completed(108)
A13590204 apt data collection completed(109)
A13590602 apt data collection completed(110)
A13551103 apt data collection completed(111)
A13511201 apt data collection completed(112)
A13579506 apt data collection completed(113)
A13592002 apt data collection completed(114)
A13508003 apt data collection completed(115)
A13508011 apt data collection completed(116)
A13579505 apt data collection completed(117)
A13579503 apt data collection completed(118)
A13592605 apt data collection completed(119)
A13591903 apt data collection completed(120)
A13592601 apt data collection completed(121)
A13579501 apt data collection completed(122)
A13508002 apt data collection completed(123)
A13591402 apt data collection completed(124)
A13508004 apt data collection completed(125)
A13592706 apt data collection completed(126)
A13508006 apt data collection completed(127)
A13508010 apt data collection completed(128)
A13508009 apt data collection completed(129)
A10027474 apt data collection completed(130)
A13592604 apt data collection completed(131)
A13508005 apt data collection completed(132)
A13508001 apt data collection completed(133)
A13508012 apt data collection completed(134)
A13579504 apt data collection completed(135)
A10027912 apt data collection completed(136)
A10027909 apt data collection completed(137)
A13594403 apt data collection completed(138)
A13594402 apt data collection completed(139)
A13594702 apt data collection completed(140)
A13593802 apt data collection completed(141)
A13523003 apt data collection completed(142)
A13593801 apt data collection completed(143)
A13523005 apt data collection completed(144)
A13523004 apt data collection completed(145)
A13523001 apt data collection completed(146)
A13594203 apt data collection completed(147)
A13594701 apt data collection completed(148)
A13519008 apt data collection completed(149)
A10028172 apt data collection completed(150)
A10027985 apt data collection completed(151)
A13520002 apt data collection completed(152)
A13520003 apt data collection completed(153)
A13520001 apt data collection completed(154)
A13520004 apt data collection completed(155)
A13510103 apt data collection completed(156)
A13510202 apt data collection completed(157)
A13576201 apt data collection completed(158)
A13510006 apt data collection completed(159)
A13510003 apt data collection completed(160)
A13510203 apt data collection completed(161)
A13510009 apt data collection completed(162)
A13510001 apt data collection completed(163)
A13510005 apt data collection completed(164)
A13510104 apt data collection completed(165)
A13510201 apt data collection completed(166)
A13510007 apt data collection completed(167)
A13510102 apt data collection completed(168)
A13510002 apt data collection completed(169)
A13410005 apt data collection completed(170)
A10027638 apt data collection completed(171)
A13410001 apt data collection completed(172)
A13410003 apt data collection completed(173)
A13410008 apt data collection completed(174)
A13410006 apt data collection completed(175)
A13410009 apt data collection completed(176)
A13410004 apt data collection completed(177)
A13410010 apt data collection completed(178)
A13410002 apt data collection completed(179)
A13410007 apt data collection completed(180)
A13410012 apt data collection completed(181)
A13410011 apt data collection completed(182)
A10027207 apt data collection completed(183)
A13480701 apt data collection completed(184)
A13480403 apt data collection completed(185)
A13408003 apt data collection completed(186)
A13408001 apt data collection completed(187)
A13480402 apt data collection completed(188)
A13480401 apt data collection completed(189)
A13470102 apt data collection completed(190)
A13488104 apt data collection completed(191)
A13470101 apt data collection completed(192)
A13480906 apt data collection completed(193)
A13481001 apt data collection completed(194)
A13481305 apt data collection completed(195)
A13480803 apt data collection completed(196)
A13470104 apt data collection completed(197)
A13406002 apt data collection completed(198)
A13406204 apt data collection completed(199)
A13406006 apt data collection completed(200)
A13470503 apt data collection completed(201)
A13406005 apt data collection completed(202)
A13406003 apt data collection completed(203)
A13406206 apt data collection completed(204)
A13406201 apt data collection completed(205)
A13470504 apt data collection completed(206)
A13481802 apt data collection completed(207)
A13406205 apt data collection completed(208)
A13470502 apt data collection completed(209)
A13482706 apt data collection completed(210)
A13478601 apt data collection completed(211)
A13482505 apt data collection completed(212)
A13407002 apt data collection completed(213)
A13407201 apt data collection completed(214)
A13407103 apt data collection completed(215)
A13407104 apt data collection completed(216)
A13407202 apt data collection completed(217)
A13407204 apt data collection completed(218)
A13483002 apt data collection completed(219)
A13482603 apt data collection completed(220)
A13482801 apt data collection completed(221)
A13472701 apt data collection completed(222)
A10026403 apt data collection completed(223)
A13409007 apt data collection completed(224)
A13483602 apt data collection completed(225)
A13483605 apt data collection completed(226)
A13483803 apt data collection completed(227)
A13409001 apt data collection completed(228)
A13483706 apt data collection completed(229)
A13484004 apt data collection completed(230)
A13484501 apt data collection completed(231)
A13484201 apt data collection completed(232)
A13403001 apt data collection completed(233)
A13403101 apt data collection completed(234)
A13403002 apt data collection completed(235)
A13484102 apt data collection completed(236)
A13484003 apt data collection completed(237)
A10027354 apt data collection completed(238)
A13485302 apt data collection completed(239)
A13485301 apt data collection completed(240)
A13485401 apt data collection completed(241)
A13405002 apt data collection completed(242)
A13405201 apt data collection completed(243)
A13471501 apt data collection completed(244)
A13405003 apt data collection completed(245)
A10027948 apt data collection completed(246)
A13402204 apt data collection completed(247)
A13402003 apt data collection completed(248)
A10026852 apt data collection completed(249)
A13402202 apt data collection completed(250)
A13486102 apt data collection completed(251)
A13475001 apt data collection completed(252)
A13486504 apt data collection completed(253)
A13402001 apt data collection completed(254)
A13402305 apt data collection completed(255)
A13472201 apt data collection completed(256)
A13486701 apt data collection completed(257)
A13402103 apt data collection completed(258)
A13486703 apt data collection completed(259)
A13486705 apt data collection completed(260)
A13487103 apt data collection completed(261)

A13402002 apt data collection completed(262)
A13402304 apt data collection completed(263)
A13486601 apt data collection completed(264)
A13486401 apt data collection completed(265)
A13487102 apt data collection completed(266)
A14272304 apt data collection completed(267)
A14272311 apt data collection completed(268)
A10026947 apt data collection completed(269)
A14277601 apt data collection completed(270)
A14272309 apt data collection completed(271)
A14272308 apt data collection completed(272)
A14282301 apt data collection completed(273)
A14272306 apt data collection completed(274)
A14272314 apt data collection completed(275)
A14280502 apt data collection completed(276)
A14272307 apt data collection completed(277)
A14272305 apt data collection completed(278)
A14272310 apt data collection completed(279)
A14210002 apt data collection completed(280)
A14210001 apt data collection completed(281)
A14272313 apt data collection completed(282)
A14272303 apt data collection completed(283)
A14281701 apt data collection completed(284)
A14206003 apt data collection completed(285)
A14206002 apt data collection completed(286)
A14206305 apt data collection completed(287)
A14206301 apt data collection completed(288)
A14206001 apt data collection completed(289)
A14206307 apt data collection completed(290)
A14206306 apt data collection completed(291)
A14206310 apt data collection completed(292)
A14276311 apt data collection completed(293)
A14206202 apt data collection completed(294)
A14286203 apt data collection completed(295)
A14206303 apt data collection completed(296)
A14286104 apt data collection completed(297)
A14206302 apt data collection completed(298)
A14270301 apt data collection completed(299)
A14206201 apt data collection completed(300)
A14286108 apt data collection completed(301)
A14207202 apt data collection completed(302)
A14207201 apt data collection completed(303)
A14278101 apt data collection completed(304)
A14207203 apt data collection completed(305)
A14209001 apt data collection completed(306)
A14287102 apt data collection completed(307)
A15780605 apt data collection completed(308)
A15780704 apt data collection completed(309)
A15780705 apt data collection completed(310)
A15780806 apt data collection completed(311)
A15780905 apt data collection completed(312)
A15774708 apt data collection completed(313)
A15781002 apt data collection completed(314)
A15781003 apt data collection completed(315)
A15780401 apt data collection completed(316)
A15780703 apt data collection completed(317)
A15780904 apt data collection completed(318)
A15780603 apt data collection completed(319)
A15780002 apt data collection completed(320)
A15720101 apt data collection completed(321)
A15780701 apt data collection completed(322)
A15780604 apt data collection completed(323)
A15780602 apt data collection completed(324)
A15720001 apt data collection completed(325)
A15781201 apt data collection completed(326)
A15782501 apt data collection completed(327)
A15779704 apt data collection completed(328)
A15728008 apt data collection completed(329)
A15728004 apt data collection completed(330)
A15728003 apt data collection completed(331)
A15728006 apt data collection completed(332)
A15728007 apt data collection completed(333)
A15728002 apt data collection completed(334)
A15728005 apt data collection completed(335)
A15728010 apt data collection completed(336)
A15728009 apt data collection completed(337)
A15703313 apt data collection completed(338)
A15703308 apt data collection completed(339)
A15703301 apt data collection completed(340)
A15703204 apt data collection completed(341)
A15703002 apt data collection completed(342)
A15703005 apt data collection completed(343)
A15783703 apt data collection completed(344)
A15703307 apt data collection completed(345)
A15703302 apt data collection completed(346)
A15783806 apt data collection completed(347)
A15703303 apt data collection completed(348)
A15703004 apt data collection completed(349)
A15783905 apt data collection completed(350)
A15784008 apt data collection completed(351)
A15783701 apt data collection completed(352)
A15703306 apt data collection completed(353)
A15703318 apt data collection completed(354)
A15703304 apt data collection completed(355)
A15776414 apt data collection completed(356)
A15703309 apt data collection completed(357)
A15776617 apt data collection completed(358)
A15776715 apt data collection completed(359)
A15776916 apt data collection completed(360)
A15784003 apt data collection completed(361)
A15783902 apt data collection completed(362)
A15784402 apt data collection completed(363)
A15784201 apt data collection completed(364)
A15703001 apt data collection completed(365)
A15783907 apt data collection completed(366)
A10026879 apt data collection completed(367)
A15721001 apt data collection completed(368)
A15721003 apt data collection completed(369)
A10027452 apt data collection completed(370)
A10027371 apt data collection completed(371)
A10027403 apt data collection completed(372)
A15721010 apt data collection completed(373)
A15728011 apt data collection completed(374)
A15722009 apt data collection completed(375)
A15721009 apt data collection completed(376)
A15721008 apt data collection completed(377)
A15722010 apt data collection completed(378)
A15721006 apt data collection completed(379)
A15721007 apt data collection completed(380)
A10027433 apt data collection completed(381)
A15721004 apt data collection completed(382)
A10027687 apt data collection completed(383)
A15721005 apt data collection completed(384)
A15785703 apt data collection completed(385)
A15722102 apt data collection completed(386)
A15722106 apt data collection completed(387)
A15722104 apt data collection completed(388)
A15722004 apt data collection completed(389)
A15722201 apt data collection completed(390)
A15785005 apt data collection completed(391)
A15777501 apt data collection completed(392)
A15722307 apt data collection completed(393)
A15785711 apt data collection completed(394)
A15722314 apt data collection completed(395)
A15785002 apt data collection completed(396)
A15785710 apt data collection completed(397)
A15785613 apt data collection completed(398)
A15785612 apt data collection completed(399)
A15785605 apt data collection completed(400)
A15722204 apt data collection completed(401)
A15785608 apt data collection completed(402)
A15722108 apt data collection completed(403)
A15778101 apt data collection completed(404)
A15722001 apt data collection completed(405)
A15722007 apt data collection completed(406)
A15722306 apt data collection completed(407)
A15722203 apt data collection completed(408)
A15722003 apt data collection completed(409)
A15773501 apt data collection completed(410)
A15785601 apt data collection completed(411)
A15785709 apt data collection completed(412)
A15722005 apt data collection completed(413)
A15785507 apt data collection completed(414)
A15784601 apt data collection completed(415)
A15722304 apt data collection completed(416)
A15704023 apt data collection completed(417)
A10027541 apt data collection completed(418)
A15786104 apt data collection completed(419)
A15786408 apt data collection completed(420)
A15704002 apt data collection completed(421)
A15704007 apt data collection completed(422)
A15704001 apt data collection completed(423)
A15704017 apt data collection completed(424)
A15776001 apt data collection completed(425)
A15704025 apt data collection completed(426)
A15786321 apt data collection completed(427)
A15786111 apt data collection completed(428)
A15786312 apt data collection completed(429)
A15786116 apt data collection completed(430)
A15704028 apt data collection completed(431)
A15786227 apt data collection completed(432)
A15704015 apt data collection completed(433)
A15786213 apt data collection completed(434)
A15704009 apt data collection completed(435)
A15786420 apt data collection completed(436)
A15785919 apt data collection completed(437)
A15786405 apt data collection completed(438)
A15704006 apt data collection completed(439)
A15704003 apt data collection completed(440)
A15786314 apt data collection completed(441)
A15786222 apt data collection completed(442)
A15786510 apt data collection completed(443)
A15786118 apt data collection completed(444)

A15786424 apt data collection completed(445)
A15786426 apt data collection completed(446)
A15701007 apt data collection completed(447)
A15701601 apt data collection completed(448)
A15701602 apt data collection completed(449)
A15701003 apt data collection completed(450)
A15701002 apt data collection completed(451)
A15701004 apt data collection completed(452)
A15770101 apt data collection completed(453)
A15788302 apt data collection completed(454)
A15788901 apt data collection completed(455)
A15791001 apt data collection completed(456)
A15788203 apt data collection completed(457)
A15770801 apt data collection completed(458)
A15792602 apt data collection completed(459)
A15108001 apt data collection completed(460)
A15108003 apt data collection completed(461)
A15192201 apt data collection completed(462)
A15180705 apt data collection completed(463)
A15105503 apt data collection completed(464)
A15178201 apt data collection completed(465)
A15178204 apt data collection completed(466)
A15105008 apt data collection completed(467)
A15105302 apt data collection completed(468)
A15105301 apt data collection completed(469)
A15105303 apt data collection completed(470)
A15181602 apt data collection completed(471)
A15105006 apt data collection completed(472)
A15105004 apt data collection completed(473)
A15176602 apt data collection completed(474)
A15192202 apt data collection completed(475)
A15106901 apt data collection completed(476)
A15178203 apt data collection completed(477)
A15178202 apt data collection completed(478)
A15180701 apt data collection completed(479)
A15106001 apt data collection completed(480)
A15105603 apt data collection completed(481)
A15105602 apt data collection completed(482)
A15106101 apt data collection completed(483)
A15106103 apt data collection completed(484)
A15105002 apt data collection completed(485)
A15105005 apt data collection completed(486)
A15184101 apt data collection completed(487)
A15176202 apt data collection completed(488)
A10026710 apt data collection completed(489)
A15101903 apt data collection completed(490)
A15176701 apt data collection completed(491)
A15101504 apt data collection completed(492)
A15101702 apt data collection completed(493)
A15186002 apt data collection completed(494)
A15177101 apt data collection completed(495)
A15101501 apt data collection completed(496)
A15101506 apt data collection completed(497)
A15101503 apt data collection completed(498)
A15101509 apt data collection completed(499)
A15185704 apt data collection completed(500)
A15188101 apt data collection completed(501)
A15102902 apt data collection completed(502)
A15101901 apt data collection completed(503)
A15101101 apt data collection completed(504)
A15102202 apt data collection completed(505)
A15190301 apt data collection completed(506)
A15101505 apt data collection completed(507)
A15101802 apt data collection completed(508)
A15102203 apt data collection completed(509)
A15187101 apt data collection completed(510)
A15101507 apt data collection completed(511)
A15179403 apt data collection completed(512)
A15188801 apt data collection completed(513)
A15190705 apt data collection completed(514)
A15101508 apt data collection completed(515)
A15185201 apt data collection completed(516)
A15179701 apt data collection completed(517)
A14321001 apt data collection completed(518)
A14380409 apt data collection completed(519)
A14380414 apt data collection completed(520)
A14381407 apt data collection completed(521)
A14381504 apt data collection completed(522)
A14381506 apt data collection completed(523)
A14380605 apt data collection completed(524)
A14381513 apt data collection completed(525)
A14381415 apt data collection completed(526)
A14381512 apt data collection completed(527)
A14381510 apt data collection completed(528)
A14381508 apt data collection completed(529)
A14381516 apt data collection completed(530)
A14375301 apt data collection completed(531)
A10026162 apt data collection completed(532)
A14380211 apt data collection completed(533)
A14375302 apt data collection completed(534)
A10026874 apt data collection completed(535)
A14320302 apt data collection completed(536)
A14320002 apt data collection completed(537)
A14382101 apt data collection completed(538)
A14383205 apt data collection completed(539)
A14383203 apt data collection completed(540)
A14320001 apt data collection completed(541)
A14320304 apt data collection completed(542)
A10025985 apt data collection completed(543)
A14383901 apt data collection completed(544)
A14319305 apt data collection completed(545)
A10026720 apt data collection completed(546)
A14319306 apt data collection completed(547)
A14377402 apt data collection completed(548)
A14319006 apt data collection completed(549)
A14388204 apt data collection completed(550)
A14386802 apt data collection completed(551)
A14319001 apt data collection completed(552)
A14319008 apt data collection completed(553)
A14319012 apt data collection completed(554)
A14388208 apt data collection completed(555)
A14319009 apt data collection completed(556)
A14319302 apt data collection completed(557)
A14319011 apt data collection completed(558)
A14386109 apt data collection completed(559)
A14386110 apt data collection completed(560)
A14319311 apt data collection completed(561)
A14319002 apt data collection completed(562)
A14319005 apt data collection completed(563)
A14319307 apt data collection completed(564)
A14387605 apt data collection completed(565)
A14319003 apt data collection completed(566)
A14319204 apt data collection completed(567)
A14319203 apt data collection completed(568)
A14319301 apt data collection completed(569)
A14319303 apt data collection completed(570)
A14319007 apt data collection completed(571)
A14319010 apt data collection completed(572)
A14376501 apt data collection completed(573)
A14319201 apt data collection completed(574)
A14322001 apt data collection completed(575)
A14313001 apt data collection completed(576)
A15209007 apt data collection completed(577)
A15280304 apt data collection completed(578)
A15280303 apt data collection completed(579)
A15275101 apt data collection completed(580)
A15209004 apt data collection completed(581)
A15209207 apt data collection completed(582)
A15209203 apt data collection completed(583)
A15209202 apt data collection completed(584)
A15209205 apt data collection completed(585)
A15209201 apt data collection completed(586)
A15282105 apt data collection completed(587)
A15209002 apt data collection completed(588)
A15209305 apt data collection completed(589)
A15209206 apt data collection completed(590)
A15209303 apt data collection completed(591)
A15280602 apt data collection completed(592)
A15209304 apt data collection completed(593)
A15209003 apt data collection completed(594)
A15279402 apt data collection completed(595)
A15283701 apt data collection completed(596)
A15283603 apt data collection completed(597)
A15279404 apt data collection completed(598)
A15283707 apt data collection completed(599)
A15283706 apt data collection completed(600)
A15208005 apt data collection completed(601)
A15208006 apt data collection completed(602)
A15283711 apt data collection completed(603)
A15208202 apt data collection completed(604)
A15208003 apt data collection completed(605)
A15282810 apt data collection completed(606)
A15208201 apt data collection completed(607)
A15283702 apt data collection completed(608)
A15282608 apt data collection completed(609)
A15208007 apt data collection completed(610)
A15283709 apt data collection completed(611)
A15279403 apt data collection completed(612)
A15208204 apt data collection completed(613)
A15282403 apt data collection completed(614)
A15282405 apt data collection completed(615)
A15283704 apt data collection completed(616)
A15283807 apt data collection completed(617)
A15284101 apt data collection completed(618)
A15285004 apt data collection completed(619)
A15283803 apt data collection completed(620)
A15283806 apt data collection completed(621)
A15284302 apt data collection completed(622)
A15205405 apt data collection completed(623)
A15205305 apt data collection completed(624)
A15205002 apt data collection completed(625)
A15284603 apt data collection completed(626)
A15205511 apt data collection completed(627)

A15285503 apt data collection completed(628)
A15284906 apt data collection completed(629)
A15284305 apt data collection completed(630)
A15284204 apt data collection completed(631)
A15205301 apt data collection completed(632)
A15286801 apt data collection completed(633)
A15283809 apt data collection completed(634)
A15205103 apt data collection completed(635)
A15286602 apt data collection completed(636)
A15288002 apt data collection completed(637)
A15286809 apt data collection completed(638)
A15285804 apt data collection completed(639)
A15286805 apt data collection completed(640)
A15205303 apt data collection completed(641)
A15205104 apt data collection completed(642)
A15288004 apt data collection completed(643)
A15286802 apt data collection completed(644)
A15286807 apt data collection completed(645)
A15205108 apt data collection completed(646)
A15205508 apt data collection completed(647)
A15283902 apt data collection completed(648)
A15283801 apt data collection completed(649)
A15205513 apt data collection completed(650)
A15286210 apt data collection completed(651)
A15205001 apt data collection completed(652)
A15286806 apt data collection completed(653)
A15288301 apt data collection completed(654)
A15288808 apt data collection completed(655)
A15288814 apt data collection completed(656)
A15288802 apt data collection completed(657)
A15288812 apt data collection completed(658)
A15288805 apt data collection completed(659)
A15288807 apt data collection completed(660)
A15288813 apt data collection completed(661)
A15288809 apt data collection completed(662)
A15288810 apt data collection completed(663)
A15277302 apt data collection completed(664)
A15288611 apt data collection completed(665)
A10028063 apt data collection completed(666)
A15288806 apt data collection completed(667)
A15288804 apt data collection completed(668)
A15288801 apt data collection completed(669)
A15288803 apt data collection completed(670)
A15210207 apt data collection completed(671)
A15210103 apt data collection completed(672)
A10026434 apt data collection completed(673)
A15289508 apt data collection completed(674)
A15210206 apt data collection completed(675)
A15210211 apt data collection completed(676)
A15210102 apt data collection completed(677)
A15210212 apt data collection completed(678)
A15210107 apt data collection completed(679)
A15278301 apt data collection completed(680)
A15210105 apt data collection completed(681)
A15210101 apt data collection completed(682)
A15210104 apt data collection completed(683)
A15210210 apt data collection completed(684)
A15210209 apt data collection completed(685)
A15210106 apt data collection completed(686)
A15279101 apt data collection completed(687)
A10026729 apt data collection completed(688)
A15210001 apt data collection completed(689)
A15213007 apt data collection completed(690)
A15213006 apt data collection completed(691)
A15213003 apt data collection completed(692)
A15213005 apt data collection completed(693)
A15213004 apt data collection completed(694)
A15213001 apt data collection completed(695)
A15213002 apt data collection completed(696)
A10027764 apt data collection completed(697)
A10026039 apt data collection completed(698)
A15271601 apt data collection completed(699)
A15380403 apt data collection completed(700)
A15380101 apt data collection completed(701)
A10025913 apt data collection completed(702)
A10027188 apt data collection completed(703)
A10026626 apt data collection completed(704)
A10025946 apt data collection completed(705)
A15375810 apt data collection completed(706)
A15381706 apt data collection completed(707)
A15381402 apt data collection completed(708)
A15301105 apt data collection completed(709)
A15370301 apt data collection completed(710)
A15382301 apt data collection completed(711)
A15383308 apt data collection completed(712)
A15375809 apt data collection completed(713)
A15383601 apt data collection completed(714)
A15383604 apt data collection completed(715)
A15383307 apt data collection completed(716)
A15381303 apt data collection completed(717)
A15303202 apt data collection completed(718)
A15303205 apt data collection completed(719)
A15303502 apt data collection completed(720)
A15303203 apt data collection completed(721)
A15383905 apt data collection completed(722)
A15384603 apt data collection completed(723)
A15386404 apt data collection completed(724)
A15386506 apt data collection completed(725)
A15370103 apt data collection completed(726)
A15303204 apt data collection completed(727)
A15384501 apt data collection completed(728)
A15303401 apt data collection completed(729)
A15303003 apt data collection completed(730)
A15303102 apt data collection completed(731)
A15303002 apt data collection completed(732)
A15383702 apt data collection completed(733)
A15303103 apt data collection completed(734)
A15378501 apt data collection completed(735)
A15386303 apt data collection completed(736)
A15384101 apt data collection completed(737)
A13980512 apt data collection completed(738)
A13980803 apt data collection completed(739)
A13980017 apt data collection completed(740)
A13980510 apt data collection completed(741)
A13980511 apt data collection completed(742)
A13980402 apt data collection completed(743)
A13980801 apt data collection completed(744)
A13980105 apt data collection completed(745)
A13980604 apt data collection completed(746)
A13980706 apt data collection completed(747)
A13924205 apt data collection completed(748)
A13980411 apt data collection completed(749)
A13980415 apt data collection completed(750)
A13980018 apt data collection completed(751)
A13924004 apt data collection completed(752)
A13980403 apt data collection completed(753)
A13980509 apt data collection completed(754)
A13980407 apt data collection completed(755)
A13980107 apt data collection completed(756)
A13980401 apt data collection completed(757)
A13980102 apt data collection completed(758)
A13980012 apt data collection completed(759)
A13980108 apt data collection completed(760)
A13980006 apt data collection completed(761)
A13980019 apt data collection completed(762)
A13980009 apt data collection completed(763)
A13980513 apt data collection completed(764)
A13924003 apt data collection completed(765)
A13994501 apt data collection completed(766)
A13980010 apt data collection completed(767)
A13980413 apt data collection completed(768)
A13980014 apt data collection completed(769)
A10027622 apt data collection completed(770)
A13980004 apt data collection completed(771)
A13981604 apt data collection completed(772)
A13983801 apt data collection completed(773)
A13983713 apt data collection completed(774)
A13981208 apt data collection completed(775)
A13920207 apt data collection completed(776)
A13920106 apt data collection completed(777)
A13920501 apt data collection completed(778)
A13981606 apt data collection completed(779)
A13983803 apt data collection completed(780)
A13989701 apt data collection completed(781)
A13989702 apt data collection completed(782)
A13981608 apt data collection completed(783)
A13983101 apt data collection completed(784)
A13982702 apt data collection completed(785)
A13971501 apt data collection completed(786)
A13920506 apt data collection completed(787)
A13982604 apt data collection completed(788)
A13981006 apt data collection completed(789)
A13981001 apt data collection completed(790)
A13981204 apt data collection completed(791)
A13980903 apt data collection completed(792)
A13982101 apt data collection completed(793)
A13983810 apt data collection completed(794)
A13920105 apt data collection completed(795)
A13920102 apt data collection completed(796)
A13982003 apt data collection completed(797)
A13920001 apt data collection completed(798)
A13983816 apt data collection completed(799)
A13983815 apt data collection completed(800)
A13974103 apt data collection completed(801)
A13982701 apt data collection completed(802)
A13981407 apt data collection completed(803)
A13920804 apt data collection completed(804)
A13982301 apt data collection completed(805)
A13982202 apt data collection completed(806)
A13981901 apt data collection completed(807)
A13981903 apt data collection completed(808)
A13920802 apt data collection completed(809)
A13920803 apt data collection completed(810)

A13983105 apt data collection completed(811)
A13983004 apt data collection completed(812)
A13971502 apt data collection completed(813)
A13920706 apt data collection completed(814)
A13920703 apt data collection completed(815)
A13920707 apt data collection completed(816)
A13982704 apt data collection completed(817)
A13921003 apt data collection completed(818)
A13921005 apt data collection completed(819)
A13920209 apt data collection completed(820)
A13981402 apt data collection completed(821)
A13920202 apt data collection completed(822)
A13983608 apt data collection completed(823)
A13981304 apt data collection completed(824)
A13982005 apt data collection completed(825)
A13982002 apt data collection completed(826)
A13994302 apt data collection completed(827)
A13920205 apt data collection completed(828)
A13983707 apt data collection completed(829)
A13983709 apt data collection completed(830)
A13983712 apt data collection completed(831)
A13974101 apt data collection completed(832)
A13974102 apt data collection completed(833)
A13983811 apt data collection completed(834)
A13982103 apt data collection completed(835)
A13920104 apt data collection completed(836)
A10027601 apt data collection completed(837)
A13981405 apt data collection completed(838)
A10027716 apt data collection completed(839)
A10027121 apt data collection completed(840)
A13991018 apt data collection completed(841)
A13987501 apt data collection completed(842)
A13905302 apt data collection completed(843)
A13987503 apt data collection completed(844)
A13905204 apt data collection completed(845)
A13905208 apt data collection completed(846)
A13984004 apt data collection completed(847)
A13985201 apt data collection completed(848)
A13905102 apt data collection completed(849)
A13985103 apt data collection completed(850)
A13984604 apt data collection completed(851)
A13991016 apt data collection completed(852)
A13905105 apt data collection completed(853)
A13995602 apt data collection completed(854)
A13984409 apt data collection completed(855)
A13984411 apt data collection completed(856)
A13984603 apt data collection completed(857)
A13984003 apt data collection completed(858)
A13905301 apt data collection completed(859)
A13984005 apt data collection completed(860)
A13987502 apt data collection completed(861)
A13991015 apt data collection completed(862)
A13984813 apt data collection completed(863)
A13984814 apt data collection completed(864)
A13985106 apt data collection completed(865)
A13985105 apt data collection completed(866)
A13985107 apt data collection completed(867)
A13991017 apt data collection completed(868)
A13905003 apt data collection completed(869)
A13905101 apt data collection completed(870)
A13905202 apt data collection completed(871)
A13922907 apt data collection completed(872)
A13986009 apt data collection completed(873)
A13986702 apt data collection completed(874)
A13922103 apt data collection completed(875)
A13972603 apt data collection completed(876)
A13972601 apt data collection completed(877)
A13986013 apt data collection completed(878)
A13986302 apt data collection completed(879)
A13986703 apt data collection completed(880)
A13986306 apt data collection completed(881)
A13922904 apt data collection completed(882)
A13922903 apt data collection completed(883)
A13986111 apt data collection completed(884)
A13986504 apt data collection completed(885)
A13922908 apt data collection completed(886)
A13986606 apt data collection completed(887)
A13986701 apt data collection completed(888)
A13986505 apt data collection completed(889)
A13922102 apt data collection completed(890)
A13986207 apt data collection completed(891)
A13922108 apt data collection completed(892)
A13922105 apt data collection completed(893)
A13922110 apt data collection completed(894)
A13985907 apt data collection completed(895)
A13986201 apt data collection completed(896)
A13986004 apt data collection completed(897)
A13986509 apt data collection completed(898)
A13985909 apt data collection completed(899)
A13985908 apt data collection completed(900)
A13922406 apt data collection completed(901)
A13922114 apt data collection completed(902)
A13922909 apt data collection completed(903)
A13922910 apt data collection completed(904)
A13922111 apt data collection completed(905)
A13985605 apt data collection completed(906)
A13986012 apt data collection completed(907)
A13922001 apt data collection completed(908)
A13922905 apt data collection completed(909)
A13922003 apt data collection completed(910)
A13922901 apt data collection completed(911)
A13985904 apt data collection completed(912)
A13985406 apt data collection completed(913)
A13985402 apt data collection completed(914)
A13922002 apt data collection completed(915)
A13977913 apt data collection completed(916)
A13923106 apt data collection completed(917)
A13987304 apt data collection completed(918)
A13987306 apt data collection completed(919)
A13923104 apt data collection completed(920)
A13993501 apt data collection completed(921)
A13987302 apt data collection completed(922)
A13923102 apt data collection completed(923)
A13923103 apt data collection completed(924)
A13987205 apt data collection completed(925)
A13923108 apt data collection completed(926)
A13987305 apt data collection completed(927)
A13993901 apt data collection completed(928)
A13987301 apt data collection completed(929)
A13993502 apt data collection completed(930)
A13987303 apt data collection completed(931)
A13993503 apt data collection completed(932)
A13201203 apt data collection completed(933)
A13201206 apt data collection completed(934)
A13293505 apt data collection completed(935)
A13281802 apt data collection completed(936)
A13201207 apt data collection completed(937)
A13201001 apt data collection completed(938)
A13281201 apt data collection completed(939)
A13275302 apt data collection completed(940)
A10027136 apt data collection completed(941)
A13280104 apt data collection completed(942)
A13201202 apt data collection completed(943)
A13201209 apt data collection completed(944)
A13201201 apt data collection completed(945)
A13201002 apt data collection completed(946)
A13201208 apt data collection completed(947)
A13202002 apt data collection completed(948)
A13285507 apt data collection completed(949)
A13285305 apt data collection completed(950)
A13202302 apt data collection completed(951)
A13202304 apt data collection completed(952)
A13272102 apt data collection completed(953)
A13285503 apt data collection completed(954)
A13285404 apt data collection completed(955)
A13272101 apt data collection completed(956)
A13283405 apt data collection completed(957)
A13285406 apt data collection completed(958)
A13202103 apt data collection completed(959)
A13202308 apt data collection completed(960)
A13202102 apt data collection completed(961)
A13202312 apt data collection completed(962)
A13283611 apt data collection completed(963)
A13276414 apt data collection completed(964)
A13285601 apt data collection completed(965)
A13276416 apt data collection completed(966)
A13282510 apt data collection completed(967)
A13276415 apt data collection completed(968)
A13202306 apt data collection completed(969)
A13276417 apt data collection completed(970)
A13285401 apt data collection completed(971)
A13203002 apt data collection completed(972)
A13295201 apt data collection completed(973)
A13286203 apt data collection completed(974)
A13203102 apt data collection completed(975)
A13203408 apt data collection completed(976)
A13203403 apt data collection completed(977)
A13203401 apt data collection completed(978)
A13203001 apt data collection completed(979)
A13287503 apt data collection completed(980)
A13203302 apt data collection completed(981)
A13286304 apt data collection completed(982)
A13286106 apt data collection completed(983)
A13203202 apt data collection completed(984)
A13203303 apt data collection completed(985)
A13286110 apt data collection completed(986)
A13286105 apt data collection completed(987)
A13286107 apt data collection completed(988)
A13286904 apt data collection completed(989)
A13286109 apt data collection completed(990)
A13286002 apt data collection completed(991)
A13287801 apt data collection completed(992)
A13204502 apt data collection completed(993)

A13204203 apt data collection completed(994)
A13204201 apt data collection completed(995)
A13290404 apt data collection completed(996)
A13204501 apt data collection completed(997)
A13204001 apt data collection completed(998)
A13204204 apt data collection completed(999)
A13272201 apt data collection completed(1000)
A13290003 apt data collection completed(1001)
A13204506 apt data collection completed(1002)
A13204409 apt data collection completed(1003)
A13204510 apt data collection completed(1004)
A13204103 apt data collection completed(1005)
A13204507 apt data collection completed(1006)
A13204505 apt data collection completed(1007)
A13292701 apt data collection completed(1008)
A13204002 apt data collection completed(1009)
A13204302 apt data collection completed(1010)
A13204406 apt data collection completed(1011)
A13204404 apt data collection completed(1012)
A13204408 apt data collection completed(1013)
A13290105 apt data collection completed(1014)
A13290107 apt data collection completed(1015)
A13290809 apt data collection completed(1016)
A13204508 apt data collection completed(1017)
A13204105 apt data collection completed(1018)
A13204104 apt data collection completed(1019)
A13204205 apt data collection completed(1020)
A13292002 apt data collection completed(1021)
A13204503 apt data collection completed(1022)
A13204402 apt data collection completed(1023)
A13292501 apt data collection completed(1024)
A13204301 apt data collection completed(1025)
A13080801 apt data collection completed(1026)
A13080201 apt data collection completed(1027)
A13003405 apt data collection completed(1028)
A13003002 apt data collection completed(1029)
A13003406 apt data collection completed(1030)
A13075404 apt data collection completed(1031)
A13003201 apt data collection completed(1032)
A13003003 apt data collection completed(1033)
A13075405 apt data collection completed(1034)
A13003404 apt data collection completed(1035)
A13003202 apt data collection completed(1036)
A13075403 apt data collection completed(1037)
A10026232 apt data collection completed(1038)
A13075402 apt data collection completed(1039)
A13003007 apt data collection completed(1040)
A13003402 apt data collection completed(1041)
A13080702 apt data collection completed(1042)
A13080401 apt data collection completed(1043)
A13003005 apt data collection completed(1044)
A10027089 apt data collection completed(1045)
A10026104 apt data collection completed(1046)
A10026147 apt data collection completed(1047)
A10027274 apt data collection completed(1048)
A13070302 apt data collection completed(1049)
A13070301 apt data collection completed(1050)
A10028080 apt data collection completed(1051)
A13007001 apt data collection completed(1052)
A13007002 apt data collection completed(1053)
A13007004 apt data collection completed(1054)
A13079401 apt data collection completed(1055)
A13083102 apt data collection completed(1056)
A13082501 apt data collection completed(1057)
A13008001 apt data collection completed(1058)
A13082805 apt data collection completed(1059)
A13082702 apt data collection completed(1060)
A13076801 apt data collection completed(1061)
A13082704 apt data collection completed(1062)
A13079403 apt data collection completed(1063)
A13082502 apt data collection completed(1064)
A13082703 apt data collection completed(1065)
A13079402 apt data collection completed(1066)
A13010005 apt data collection completed(1067)
A13010001 apt data collection completed(1068)
A13084101 apt data collection completed(1069)
A13010002 apt data collection completed(1070)
A13078701 apt data collection completed(1071)
A13084701 apt data collection completed(1072)
A13010003 apt data collection completed(1073)
A13010006 apt data collection completed(1074)
A13010004 apt data collection completed(1075)
A10027877 apt data collection completed(1076)
A13002002 apt data collection completed(1077)
A13071302 apt data collection completed(1078)
A10026180 apt data collection completed(1079)
A13084804 apt data collection completed(1080)
A13084802 apt data collection completed(1081)
A13085902 apt data collection completed(1082)
A13085901 apt data collection completed(1083)
A13071301 apt data collection completed(1084)
A13085301 apt data collection completed(1085)
A13084803 apt data collection completed(1086)
A13006001 apt data collection completed(1087)
A13086101 apt data collection completed(1088)
A13006003 apt data collection completed(1089)
A13006101 apt data collection completed(1090)
A13077201 apt data collection completed(1091)
A13006002 apt data collection completed(1092)
A13086705 apt data collection completed(1093)
A13086704 apt data collection completed(1094)
A13086703 apt data collection completed(1095)
A13086701 apt data collection completed(1096)
A13086802 apt data collection completed(1097)
A13071201 apt data collection completed(1098)
A13613201 apt data collection completed(1099)
A13087201 apt data collection completed(1100)
A13070101 apt data collection completed(1101)
A13009003 apt data collection completed(1102)
A13077702 apt data collection completed(1103)
A13009001 apt data collection completed(1104)
A13009206 apt data collection completed(1105)
A13009202 apt data collection completed(1106)
A13077703 apt data collection completed(1107)
A13009101 apt data collection completed(1108)
A13087405 apt data collection completed(1109)
A13087401 apt data collection completed(1110)
A13078301 apt data collection completed(1111)
A13009002 apt data collection completed(1112)
A13087407 apt data collection completed(1113)
A15605001 apt data collection completed(1114)
A15605003 apt data collection completed(1115)
A15605002 apt data collection completed(1116)
A15603205 apt data collection completed(1117)
A15605103 apt data collection completed(1118)
A15676701 apt data collection completed(1119)
A15602007 apt data collection completed(1120)
A15681104 apt data collection completed(1121)
A15602001 apt data collection completed(1122)
A15681110 apt data collection completed(1123)
A15681105 apt data collection completed(1124)
A15681103 apt data collection completed(1125)
A15676512 apt data collection completed(1126)
A15681108 apt data collection completed(1127)
A15681106 apt data collection completed(1128)
A15602002 apt data collection completed(1129)
A15608002 apt data collection completed(1130)
A15608001 apt data collection completed(1131)
A15608003 apt data collection completed(1132)
A15606001 apt data collection completed(1133)
A15606007 apt data collection completed(1134)
A15676702 apt data collection completed(1135)
A15606003 apt data collection completed(1136)
A15606004 apt data collection completed(1137)
A15605102 apt data collection completed(1138)
A15606002 apt data collection completed(1139)
A15606005 apt data collection completed(1140)
A15677501 apt data collection completed(1141)
A10026299 apt data collection completed(1142)
A15609005 apt data collection completed(1143)
A15681501 apt data collection completed(1144)
A15609303 apt data collection completed(1145)
A15681503 apt data collection completed(1146)
A15609306 apt data collection completed(1147)
A15609301 apt data collection completed(1148)
A15609305 apt data collection completed(1149)
A15609401 apt data collection completed(1150)
A15609002 apt data collection completed(1151)
A15677204 apt data collection completed(1152)
A15681502 apt data collection completed(1153)
A15609001 apt data collection completed(1154)
A15609502 apt data collection completed(1155)
A15609501 apt data collection completed(1156)
A15681802 apt data collection completed(1157)
A15609003 apt data collection completed(1158)
A15609006 apt data collection completed(1159)
A15609007 apt data collection completed(1160)
A15603502 apt data collection completed(1161)
A15603006 apt data collection completed(1162)
A15603002 apt data collection completed(1163)
A10027614 apt data collection completed(1164)
A15683601 apt data collection completed(1165)
A10027633 apt data collection completed(1166)
A15603004 apt data collection completed(1167)
A15603003 apt data collection completed(1168)
A15603401 apt data collection completed(1169)
A15683102 apt data collection completed(1170)
A15603206 apt data collection completed(1171)
A15603001 apt data collection completed(1172)

A15683402 apt data collection completed(1173)
A15671801 apt data collection completed(1174)
A15603204 apt data collection completed(1175)
A15603007 apt data collection completed(1176)
A15678102 apt data collection completed(1177)
A15683901 apt data collection completed(1178)
A15678103 apt data collection completed(1179)
A15603008 apt data collection completed(1180)
A10027424 apt data collection completed(1181)
A15678101 apt data collection completed(1182)
A10027472 apt data collection completed(1183)
A15603203 apt data collection completed(1184)
A15670001 apt data collection completed(1185)
A15601003 apt data collection completed(1186)
A15601104 apt data collection completed(1187)
A15672002 apt data collection completed(1188)
A15601002 apt data collection completed(1189)
A15672001 apt data collection completed(1190)
A15685503 apt data collection completed(1191)
A15601102 apt data collection completed(1192)
A15601103 apt data collection completed(1193)
A15601201 apt data collection completed(1194)
A15685206 apt data collection completed(1195)
A15685201 apt data collection completed(1196)
A15601202 apt data collection completed(1197)
A15601105 apt data collection completed(1198)
A15183001 apt data collection completed(1199)
A15679105 apt data collection completed(1200)
A15679103 apt data collection completed(1201)
A15607001 apt data collection completed(1202)
A15679104 apt data collection completed(1203)
A15679107 apt data collection completed(1204)
A15679109 apt data collection completed(1205)
A15679108 apt data collection completed(1206)
A15685702 apt data collection completed(1207)
A15679106 apt data collection completed(1208)
A12170602 apt data collection completed(1209)
A12170603 apt data collection completed(1210)
A12180407 apt data collection completed(1211)
A12180506 apt data collection completed(1212)
A12180404 apt data collection completed(1213)
A10027748 apt data collection completed(1214)
A12102002 apt data collection completed(1215)
A12180401 apt data collection completed(1216)
A12102005 apt data collection completed(1217)
A12102008 apt data collection completed(1218)
A12170601 apt data collection completed(1219)
A12172201 apt data collection completed(1220)
A12181101 apt data collection completed(1221)
A12172401 apt data collection completed(1222)
A12181103 apt data collection completed(1223)
A12181102 apt data collection completed(1224)
A12172402 apt data collection completed(1225)
A12181406 apt data collection completed(1226)
A12181403 apt data collection completed(1227)
A12104001 apt data collection completed(1228)
A12181404 apt data collection completed(1229)
A12104007 apt data collection completed(1230)
A12170401 apt data collection completed(1231)
A12104005 apt data collection completed(1232)
A12170402 apt data collection completed(1233)
A12105001 apt data collection completed(1234)
A10026053 apt data collection completed(1235)
A12182101 apt data collection completed(1236)
A12182401 apt data collection completed(1237)
A12123001 apt data collection completed(1238)
A12170702 apt data collection completed(1239)
A10028177 apt data collection completed(1240)
A12182901 apt data collection completed(1241)
A12127007 apt data collection completed(1242)
A12127008 apt data collection completed(1243)
A12179508 apt data collection completed(1244)
A12179503 apt data collection completed(1245)
A12179505 apt data collection completed(1246)
A12127004 apt data collection completed(1247)
A12127003 apt data collection completed(1248)
A12127006 apt data collection completed(1249)
A12127001 apt data collection completed(1250)
A12127002 apt data collection completed(1251)
A12127005 apt data collection completed(1252)
A12179504 apt data collection completed(1253)
A12179502 apt data collection completed(1254)
A12179501 apt data collection completed(1255)
A12174601 apt data collection completed(1256)
A12184201 apt data collection completed(1257)
A12185003 apt data collection completed(1258)
A10027157 apt data collection completed(1259)
A12185001 apt data collection completed(1260)
A12125001 apt data collection completed(1261)
A12185004 apt data collection completed(1262)
A12125202 apt data collection completed(1263)
A12171101 apt data collection completed(1264)
A12179005 apt data collection completed(1265)
A12103006 apt data collection completed(1266)
A12179004 apt data collection completed(1267)
A12179001 apt data collection completed(1268)
A12185304 apt data collection completed(1269)
A12103002 apt data collection completed(1270)
A12185303 apt data collection completed(1271)
A12179002 apt data collection completed(1272)
A12111001 apt data collection completed(1273)
A12185606 apt data collection completed(1274)
A12171201 apt data collection completed(1275)
A12185605 apt data collection completed(1276)
A12185504 apt data collection completed(1277)
A12185602 apt data collection completed(1278)
A12185603 apt data collection completed(1279)
A12114001 apt data collection completed(1280)
A10027906 apt data collection completed(1281)
A10027951 apt data collection completed(1282)
A12175203 apt data collection completed(1283)
A12101001 apt data collection completed(1284)
A10027090 apt data collection completed(1285)
A12186901 apt data collection completed(1286)
A12109001 apt data collection completed(1287)
A10026036 apt data collection completed(1288)
A12109002 apt data collection completed(1289)
A12187403 apt data collection completed(1290)
A10028006 apt data collection completed(1291)
A12187501 apt data collection completed(1292)
A12187602 apt data collection completed(1293)
A12187902 apt data collection completed(1294)
A12187904 apt data collection completed(1295)
A12187905 apt data collection completed(1296)
A12187703 apt data collection completed(1297)
A12187906 apt data collection completed(1298)
A12187901 apt data collection completed(1299)
A12119006 apt data collection completed(1300)
A12177801 apt data collection completed(1301)
A12119004 apt data collection completed(1302)
A12188201 apt data collection completed(1303)
A12188205 apt data collection completed(1304)
A12119007 apt data collection completed(1305)
A12177802 apt data collection completed(1306)
A12188202 apt data collection completed(1307)
A12106001 apt data collection completed(1308)
A12115001 apt data collection completed(1309)
A10027301 apt data collection completed(1310)
A10027902 apt data collection completed(1311)
A10027714 apt data collection completed(1312)
A12112002 apt data collection completed(1313)
A12112001 apt data collection completed(1314)
A10025976 apt data collection completed(1315)
A12072801 apt data collection completed(1316)
A10027817 apt data collection completed(1317)
A12012202 apt data collection completed(1318)
A12012201 apt data collection completed(1319)
A12012203 apt data collection completed(1320)
A12072802 apt data collection completed(1321)
A12012101 apt data collection completed(1322)
A10027019 apt data collection completed(1323)
A12005001 apt data collection completed(1324)
A12070101 apt data collection completed(1325)
A12017001 apt data collection completed(1326)
A12013003 apt data collection completed(1327)
A12013002 apt data collection completed(1328)
A12013201 apt data collection completed(1329)
A12013202 apt data collection completed(1330)
A12076601 apt data collection completed(1331)
A12013101 apt data collection completed(1332)
A12013001 apt data collection completed(1333)
A12081703 apt data collection completed(1334)
A12081602 apt data collection completed(1335)
A10026370 apt data collection completed(1336)
A10027213 apt data collection completed(1337)
A12079501 apt data collection completed(1338)
A10027851 apt data collection completed(1339)
A12071103 apt data collection completed(1340)
A12011002 apt data collection completed(1341)
A12071101 apt data collection completed(1342)
A12071102 apt data collection completed(1343)
A12071104 apt data collection completed(1344)
A12007001 apt data collection completed(1345)
A12004001 apt data collection completed(1346)
A12070201 apt data collection completed(1347)
A12003001 apt data collection completed(1348)
A12008003 apt data collection completed(1349)
A12079601 apt data collection completed(1350)
A12008001 apt data collection completed(1351)

A10026604 apt data collection completed(1352)
A12010203 apt data collection completed(1353)
A12071002 apt data collection completed(1354)
A12010001 apt data collection completed(1355)
A12071001 apt data collection completed(1356)
A12071003 apt data collection completed(1357)
A12010104 apt data collection completed(1358)
A12084302 apt data collection completed(1359)
A12010101 apt data collection completed(1360)
A12010103 apt data collection completed(1361)
A12010202 apt data collection completed(1362)
A12084504 apt data collection completed(1363)
A12009305 apt data collection completed(1364)
A12009302 apt data collection completed(1365)
A12078201 apt data collection completed(1366)
A10027681 apt data collection completed(1367)
A12009101 apt data collection completed(1368)
A12009203 apt data collection completed(1369)
A12009202 apt data collection completed(1370)
A12009201 apt data collection completed(1371)
A12078704 apt data collection completed(1372)
A12078707 apt data collection completed(1373)
A12009304 apt data collection completed(1374)
A12009001 apt data collection completed(1375)
A12078705 apt data collection completed(1376)
A12078706 apt data collection completed(1377)
A12086001 apt data collection completed(1378)
A12085303 apt data collection completed(1379)
A12009303 apt data collection completed(1380)
A12009102 apt data collection completed(1381)
A13718001 apt data collection completed(1382)
A10028021 apt data collection completed(1383)
A13776509 apt data collection completed(1384)
A13780006 apt data collection completed(1385)
A10026051 apt data collection completed(1386)
A13776301 apt data collection completed(1387)
A13770105 apt data collection completed(1388)
A13704404 apt data collection completed(1389)
A13704901 apt data collection completed(1390)
A13704001 apt data collection completed(1391)
A13704101 apt data collection completed(1392)
A10026015 apt data collection completed(1393)
A13704104 apt data collection completed(1394)
A13776508 apt data collection completed(1395)
A13780403 apt data collection completed(1396)
A13780402 apt data collection completed(1397)
A13776510 apt data collection completed(1398)
A13704003 apt data collection completed(1399)
A13780001 apt data collection completed(1400)
A13780007 apt data collection completed(1401)
A13780002 apt data collection completed(1402)
A10027205 apt data collection completed(1403)
A13780201 apt data collection completed(1404)
A13785008 apt data collection completed(1405)
A13784102 apt data collection completed(1406)
A13785203 apt data collection completed(1407)
A13785201 apt data collection completed(1408)
A13783001 apt data collection completed(1409)
A13785106 apt data collection completed(1410)
A13706303 apt data collection completed(1411)
A13783802 apt data collection completed(1412)
A13785301 apt data collection completed(1413)
A13706302 apt data collection completed(1414)
A13771001 apt data collection completed(1415)
A13782803 apt data collection completed(1416)
A13784401 apt data collection completed(1417)
A13785004 apt data collection completed(1418)
A13771601 apt data collection completed(1419)
A13784907 apt data collection completed(1420)
A13782602 apt data collection completed(1421)
A13706001 apt data collection completed(1422)
A10025927 apt data collection completed(1423)
A13785302 apt data collection completed(1424)
A13785005 apt data collection completed(1425)
A13785001 apt data collection completed(1426)
A13770801 apt data collection completed(1427)
A13782804 apt data collection completed(1428)
A13782601 apt data collection completed(1429)
A13782902 apt data collection completed(1430)
A13707006 apt data collection completed(1431)
A13707009 apt data collection completed(1432)
A10027221 apt data collection completed(1433)
A10026411 apt data collection completed(1434)
A13707010 apt data collection completed(1435)
A13785607 apt data collection completed(1436)
A13786901 apt data collection completed(1437)
A13787102 apt data collection completed(1438)
A13770607 apt data collection completed(1439)
A13707016 apt data collection completed(1440)
A13707003 apt data collection completed(1441)
A13786606 apt data collection completed(1442)
A13788208 apt data collection completed(1443)
A10028146 apt data collection completed(1444)
A13785908 apt data collection completed(1445)
A13788003 apt data collection completed(1446)
A13775102 apt data collection completed(1447)
A13792001 apt data collection completed(1448)
A13788206 apt data collection completed(1449)
A13770610 apt data collection completed(1450)
A13785907 apt data collection completed(1451)
A13785904 apt data collection completed(1452)
A13785902 apt data collection completed(1453)
A13785705 apt data collection completed(1454)
A13788203 apt data collection completed(1455)
A13770611 apt data collection completed(1456)
A13786601 apt data collection completed(1457)
A13785604 apt data collection completed(1458)
A13792306 apt data collection completed(1459)
A10026941 apt data collection completed(1460)
A13787105 apt data collection completed(1461)
A13786704 apt data collection completed(1462)
A13788002 apt data collection completed(1463)
A13788201 apt data collection completed(1464)
A13770608 apt data collection completed(1465)
A13772801 apt data collection completed(1466)
A13775101 apt data collection completed(1467)
A13707002 apt data collection completed(1468)
A13707203 apt data collection completed(1469)
A13770609 apt data collection completed(1470)
A13716003 apt data collection completed(1471)
A13716002 apt data collection completed(1472)
A10028105 apt data collection completed(1473)
A13716001 apt data collection completed(1474)
A10028046 apt data collection completed(1475)
A13713001 apt data collection completed(1476)
A13713002 apt data collection completed(1477)
A13789002 apt data collection completed(1478)
A13789203 apt data collection completed(1479)
A13789201 apt data collection completed(1480)
A13778212 apt data collection completed(1481)
A13778209 apt data collection completed(1482)
A13778210 apt data collection completed(1483)
A13778306 apt data collection completed(1484)
A13778208 apt data collection completed(1485)
A13778205 apt data collection completed(1486)
A13778201 apt data collection completed(1487)
A13778202 apt data collection completed(1488)
A13778207 apt data collection completed(1489)
A13778203 apt data collection completed(1490)
A13778211 apt data collection completed(1491)
A13778204 apt data collection completed(1492)
A13790004 apt data collection completed(1493)
A13790003 apt data collection completed(1494)
A13790002 apt data collection completed(1495)
A13790714 apt data collection completed(1496)
A10027439 apt data collection completed(1497)
A13703019 apt data collection completed(1498)
A13790918 apt data collection completed(1499)
A13790910 apt data collection completed(1500)
A13790715 apt data collection completed(1501)
A13790716 apt data collection completed(1502)
A13790828 apt data collection completed(1503)
A13790723 apt data collection completed(1504)
A13790721 apt data collection completed(1505)
A10026004 apt data collection completed(1506)
A13790713 apt data collection completed(1507)
A13790905 apt data collection completed(1508)
A13790717 apt data collection completed(1509)
A13790709 apt data collection completed(1510)
A13790929 apt data collection completed(1511)
A13790726 apt data collection completed(1512)
A10026227 apt data collection completed(1513)
A13790708 apt data collection completed(1514)
A13790604 apt data collection completed(1515)
A13703027 apt data collection completed(1516)
A13703011 apt data collection completed(1517)
A13790703 apt data collection completed(1518)
A13790902 apt data collection completed(1519)
A13790722 apt data collection completed(1520)
A13790730 apt data collection completed(1521)
A13790701 apt data collection completed(1522)
A13790706 apt data collection completed(1523)
A13790707 apt data collection completed(1524)
A13790612 apt data collection completed(1525)
A13790620 apt data collection completed(1526)
A10026418 apt data collection completed(1527)
A13380104 apt data collection completed(1528)
A13309103 apt data collection completed(1529)
A13309102 apt data collection completed(1530)

A13309101 apt data collection completed(1531)
A13380301 apt data collection completed(1532)
A13380302 apt data collection completed(1533)
A13380303 apt data collection completed(1534)
A10027602 apt data collection completed(1535)
A13380602 apt data collection completed(1536)
A13380703 apt data collection completed(1537)
A13379001 apt data collection completed(1538)
A13309301 apt data collection completed(1539)
A13309404 apt data collection completed(1540)
A13378101 apt data collection completed(1541)
A13309402 apt data collection completed(1542)
A13380901 apt data collection completed(1543)
A13378102 apt data collection completed(1544)
A13380803 apt data collection completed(1545)
A10026470 apt data collection completed(1546)
A13370801 apt data collection completed(1547)
A13305005 apt data collection completed(1548)
A13305002 apt data collection completed(1549)
A13381604 apt data collection completed(1550)
A13305006 apt data collection completed(1551)
A13305007 apt data collection completed(1552)
A13305003 apt data collection completed(1553)
A13381601 apt data collection completed(1554)
A13381608 apt data collection completed(1555)
A13381701 apt data collection completed(1556)
A13373302 apt data collection completed(1557)
A13373301 apt data collection completed(1558)
A13392307 apt data collection completed(1559)
A13384303 apt data collection completed(1560)
A13372101 apt data collection completed(1561)
A13379401 apt data collection completed(1562)
A13311101 apt data collection completed(1563)
A13382104 apt data collection completed(1564)
A13382106 apt data collection completed(1565)
A13384304 apt data collection completed(1566)
A13372102 apt data collection completed(1567)
A13376405 apt data collection completed(1568)
A13382502 apt data collection completed(1569)
A13381902 apt data collection completed(1570)
A10026988 apt data collection completed(1571)
A13384301 apt data collection completed(1572)
A13378001 apt data collection completed(1573)
A13312101 apt data collection completed(1574)
A13312302 apt data collection completed(1575)
A13312303 apt data collection completed(1576)
A13383301 apt data collection completed(1577)
A13383003 apt data collection completed(1578)
A13382802 apt data collection completed(1579)
A13316001 apt data collection completed(1580)
A13383702 apt data collection completed(1581)
A13375907 apt data collection completed(1582)
A13375908 apt data collection completed(1583)
A13375906 apt data collection completed(1584)
A13375903 apt data collection completed(1585)
A13310004 apt data collection completed(1586)
A13384403 apt data collection completed(1587)
A13375902 apt data collection completed(1588)
A13375905 apt data collection completed(1589)
A13383801 apt data collection completed(1590)
A10026748 apt data collection completed(1591)
A13375904 apt data collection completed(1592)
A13376702 apt data collection completed(1593)
A13375901 apt data collection completed(1594)
A13308004 apt data collection completed(1595)
A13308005 apt data collection completed(1596)
A13385202 apt data collection completed(1597)
A13376906 apt data collection completed(1598)
A13385301 apt data collection completed(1599)
A13385303 apt data collection completed(1600)
A13377302 apt data collection completed(1601)
A13385802 apt data collection completed(1602)
A10027432 apt data collection completed(1603)
A10027289 apt data collection completed(1604)
A10026900 apt data collection completed(1605)
A10027969 apt data collection completed(1606)
A13302001 apt data collection completed(1607)
A13388001 apt data collection completed(1608)
A10027920 apt data collection completed(1609)
A13302203 apt data collection completed(1610)
A13302204 apt data collection completed(1611)
A13377301 apt data collection completed(1612)
A13385705 apt data collection completed(1613)
A13302206 apt data collection completed(1614)
A13307003 apt data collection completed(1615)
A10026207 apt data collection completed(1616)
A13307002 apt data collection completed(1617)
A13307202 apt data collection completed(1618)
A13307204 apt data collection completed(1619)
A13377902 apt data collection completed(1620)
A13307001 apt data collection completed(1621)
A13377901 apt data collection completed(1622)
A13307201 apt data collection completed(1623)
A13307101 apt data collection completed(1624)
A13386702 apt data collection completed(1625)
A13373101 apt data collection completed(1626)
A13377703 apt data collection completed(1627)
A13377903 apt data collection completed(1628)
A13611102 apt data collection completed(1629)
A13611001 apt data collection completed(1630)
A13679403 apt data collection completed(1631)
A13611008 apt data collection completed(1632)
A13679402 apt data collection completed(1633)
A13611006 apt data collection completed(1634)
A13611011 apt data collection completed(1635)
A13611007 apt data collection completed(1636)
A13611202 apt data collection completed(1637)
A13611002 apt data collection completed(1638)
A13611201 apt data collection completed(1639)
A13611005 apt data collection completed(1640)
A13611004 apt data collection completed(1641)
A13680701 apt data collection completed(1642)
A13611103 apt data collection completed(1643)
A10028001 apt data collection completed(1644)
A13681303 apt data collection completed(1645)
A13606004 apt data collection completed(1646)
A13606102 apt data collection completed(1647)
A13606107 apt data collection completed(1648)
A13606106 apt data collection completed(1649)
A13679903 apt data collection completed(1650)
A13606003 apt data collection completed(1651)
A10027227 apt data collection completed(1652)
A13606002 apt data collection completed(1653)
A13606101 apt data collection completed(1654)
A13606105 apt data collection completed(1655)
A13681304 apt data collection completed(1656)
A13679902 apt data collection completed(1657)
A13606005 apt data collection completed(1658)
A13606201 apt data collection completed(1659)
A13603401 apt data collection completed(1660)
A13603701 apt data collection completed(1661)
A13603501 apt data collection completed(1662)
A13603702 apt data collection completed(1663)
A13608301 apt data collection completed(1664)
A13677401 apt data collection completed(1665)
A13608401 apt data collection completed(1666)
A13608601 apt data collection completed(1667)
A10027189 apt data collection completed(1668)
A13672101 apt data collection completed(1669)
A13672102 apt data collection completed(1670)
A13604301 apt data collection completed(1671)
A13670801 apt data collection completed(1672)
A13604401 apt data collection completed(1673)
A13678401 apt data collection completed(1674)
A13612001 apt data collection completed(1675)
A13612002 apt data collection completed(1676)
A13676101 apt data collection completed(1677)
A13615003 apt data collection completed(1678)
A13681701 apt data collection completed(1679)
A13615002 apt data collection completed(1680)
A13676103 apt data collection completed(1681)
A13607101 apt data collection completed(1682)
A13607302 apt data collection completed(1683)
A13607301 apt data collection completed(1684)
A13614001 apt data collection completed(1685)
A10026571 apt data collection completed(1686)
A13614301 apt data collection completed(1687)
A13614302 apt data collection completed(1688)
A13610102 apt data collection completed(1689)
A13676703 apt data collection completed(1690)
A13677101 apt data collection completed(1691)
A13610201 apt data collection completed(1692)
A13610107 apt data collection completed(1693)
A10028000 apt data collection completed(1694)
A13676702 apt data collection completed(1695)
A13610004 apt data collection completed(1696)
A13610301 apt data collection completed(1697)
A13676504 apt data collection completed(1698)
A13676501 apt data collection completed(1699)
A13610001 apt data collection completed(1700)
A13677206 apt data collection completed(1701)
A13677807 apt data collection completed(1702)
A13684701 apt data collection completed(1703)
A13685104 apt data collection completed(1704)
A13684306 apt data collection completed(1705)
A13676605 apt data collection completed(1706)
A13610202 apt data collection completed(1707)
A13684605 apt data collection completed(1708)
A13610007 apt data collection completed(1709)

A13676704 apt data collection completed(1710)
A13610103 apt data collection completed(1711)
A13610003 apt data collection completed(1712)
A13610005 apt data collection completed(1713)
A13671209 apt data collection completed(1714)
A13671208 apt data collection completed(1715)
A13671212 apt data collection completed(1716)
A13671211 apt data collection completed(1717)
A13671213 apt data collection completed(1718)
A13671204 apt data collection completed(1719)
A13671205 apt data collection completed(1720)
A13671210 apt data collection completed(1721)
A13671207 apt data collection completed(1722)
A13686302 apt data collection completed(1723)
A13671203 apt data collection completed(1724)
A13671206 apt data collection completed(1725)
A13609001 apt data collection completed(1726)
A13613012 apt data collection completed(1727)
A13613009 apt data collection completed(1728)
A13613011 apt data collection completed(1729)
A13613007 apt data collection completed(1730)
A13613004 apt data collection completed(1731)
A13613002 apt data collection completed(1732)
A13613003 apt data collection completed(1733)
A13613008 apt data collection completed(1734)
A13613010 apt data collection completed(1735)
A13613006 apt data collection completed(1736)
A13613005 apt data collection completed(1737)
A13613001 apt data collection completed(1738)
A13880105 apt data collection completed(1739)
A13895502 apt data collection completed(1740)
A13816202 apt data collection completed(1741)
A13880407 apt data collection completed(1742)
A13880204 apt data collection completed(1743)
A13816002 apt data collection completed(1744)
A13881005 apt data collection completed(1745)
A13880701 apt data collection completed(1746)
A13816004 apt data collection completed(1747)
A13880806 apt data collection completed(1748)
A13880406 apt data collection completed(1749)
A13880602 apt data collection completed(1750)
A13881204 apt data collection completed(1751)
A13880603 apt data collection completed(1752)
A13816001 apt data collection completed(1753)
A13880201 apt data collection completed(1754)
A13881103 apt data collection completed(1755)
A13816101 apt data collection completed(1756)
A13895501 apt data collection completed(1757)
A13895503 apt data collection completed(1758)
A13811206 apt data collection completed(1759)
A13811202 apt data collection completed(1760)
A13811204 apt data collection completed(1761)
A13811203 apt data collection completed(1762)
A13811205 apt data collection completed(1763)
A13811001 apt data collection completed(1764)
A13881601 apt data collection completed(1765)
A13881603 apt data collection completed(1766)
A13881401 apt data collection completed(1767)
A13881302 apt data collection completed(1768)
A13812003 apt data collection completed(1769)
A13812002 apt data collection completed(1770)
A13812001 apt data collection completed(1771)
A13812004 apt data collection completed(1772)
A13881701 apt data collection completed(1773)
A13812005 apt data collection completed(1774)
A13820004 apt data collection completed(1775)
A13820001 apt data collection completed(1776)
A13820005 apt data collection completed(1777)
A13820006 apt data collection completed(1778)
A13820002 apt data collection completed(1779)
A13820007 apt data collection completed(1780)
A13882402 apt data collection completed(1781)
A13882401 apt data collection completed(1782)
A13820201 apt data collection completed(1783)
A10027346 apt data collection completed(1784)
A13805001 apt data collection completed(1785)
A13883602 apt data collection completed(1786)
A13805002 apt data collection completed(1787)
A13883601 apt data collection completed(1788)
A10027881 apt data collection completed(1789)
A13819001 apt data collection completed(1790)
A13885306 apt data collection completed(1791)
A13817001 apt data collection completed(1792)
A13885303 apt data collection completed(1793)
A13877501 apt data collection completed(1794)
A13817202 apt data collection completed(1795)
A13885304 apt data collection completed(1796)
A13885301 apt data collection completed(1797)
A13817101 apt data collection completed(1798)
A13885102 apt data collection completed(1799)
A13872502 apt data collection completed(1800)
A13824005 apt data collection completed(1801)
A13824002 apt data collection completed(1802)
A13824004 apt data collection completed(1803)
A13872501 apt data collection completed(1804)
A13824006 apt data collection completed(1805)
A13872503 apt data collection completed(1806)
A13824001 apt data collection completed(1807)
A13824003 apt data collection completed(1808)
A13813004 apt data collection completed(1809)
A13813005 apt data collection completed(1810)
A13886009 apt data collection completed(1811)
A10026249 apt data collection completed(1812)
A10026734 apt data collection completed(1813)
A10026362 apt data collection completed(1814)
A13813008 apt data collection completed(1815)
A13813003 apt data collection completed(1816)
A13813007 apt data collection completed(1817)
A13813002 apt data collection completed(1818)
A13813006 apt data collection completed(1819)
A13873701 apt data collection completed(1820)
A13813010 apt data collection completed(1821)
A13822301 apt data collection completed(1822)
A13879102 apt data collection completed(1823)
A13822002 apt data collection completed(1824)
A13822001 apt data collection completed(1825)
A13822003 apt data collection completed(1826)
A13822701 apt data collection completed(1827)
A13822004 apt data collection completed(1828)
A13822702 apt data collection completed(1829)
A13822902 apt data collection completed(1830)
A13886701 apt data collection completed(1831)
A10027632 apt data collection completed(1832)
A13876114 apt data collection completed(1833)
A13821005 apt data collection completed(1834)
A13821002 apt data collection completed(1835)
A13876112 apt data collection completed(1836)
A13876111 apt data collection completed(1837)
A13876109 apt data collection completed(1838)
A13876110 apt data collection completed(1839)
A13821001 apt data collection completed(1840)
A13821003 apt data collection completed(1841)
A13876108 apt data collection completed(1842)
A13821004 apt data collection completed(1843)
A13821006 apt data collection completed(1844)
A13821007 apt data collection completed(1845)
A13876113 apt data collection completed(1846)
A10028086 apt data collection completed(1847)
A10027553 apt data collection completed(1848)
A10027744 apt data collection completed(1849)
A10027195 apt data collection completed(1850)
A10026682 apt data collection completed(1851)
A10027461 apt data collection completed(1852)
A13887901 apt data collection completed(1853)
A13804001 apt data collection completed(1854)
A13887302 apt data collection completed(1855)
A13887702 apt data collection completed(1856)
A13804003 apt data collection completed(1857)
A13887301 apt data collection completed(1858)
A13804002 apt data collection completed(1859)
A13887804 apt data collection completed(1860)
A13804206 apt data collection completed(1861)
A13804004 apt data collection completed(1862)
A13887405 apt data collection completed(1863)
A13887403 apt data collection completed(1864)
A15875101 apt data collection completed(1865)
A15875102 apt data collection completed(1866)
A15805302 apt data collection completed(1867)
A15805003 apt data collection completed(1868)
A15805503 apt data collection completed(1869)
A15805504 apt data collection completed(1870)
A15875103 apt data collection completed(1871)
A15805115 apt data collection completed(1872)
A15805202 apt data collection completed(1873)
A15805203 apt data collection completed(1874)
A15881601 apt data collection completed(1875)
A15881701 apt data collection completed(1876)
A15882107 apt data collection completed(1877)
A15880905 apt data collection completed(1878)
A15805403 apt data collection completed(1879)
A15805109 apt data collection completed(1880)
A15805101 apt data collection completed(1881)
A15805404 apt data collection completed(1882)
A10026023 apt data collection completed(1883)
A15805303 apt data collection completed(1884)
A15805501 apt data collection completed(1885)
A15805301 apt data collection completed(1886)
A15882010 apt data collection completed(1887)
A15881702 apt data collection completed(1888)

A15805105 apt data collection completed(1889)
A10027849 apt data collection completed(1890)
A15880204 apt data collection completed(1891)
A15882104 apt data collection completed(1892)
A15882103 apt data collection completed(1893)
A15870101 apt data collection completed(1894)
A15805502 apt data collection completed(1895)
A15805002 apt data collection completed(1896)
A15882008 apt data collection completed(1897)
A15882006 apt data collection completed(1898)
A15870102 apt data collection completed(1899)
A15805102 apt data collection completed(1900)
A15805114 apt data collection completed(1901)
A15805111 apt data collection completed(1902)
A15878601 apt data collection completed(1903)
A15809603 apt data collection completed(1904)
A15809502 apt data collection completed(1905)
A15809201 apt data collection completed(1906)
A15809401 apt data collection completed(1907)
A15883803 apt data collection completed(1908)
A15809001 apt data collection completed(1909)
A15809403 apt data collection completed(1910)
A15809601 apt data collection completed(1911)
A15809402 apt data collection completed(1912)
A15883702 apt data collection completed(1913)
A15883101 apt data collection completed(1914)
A15882201 apt data collection completed(1915)
A15884703 apt data collection completed(1916)
A15884202 apt data collection completed(1917)
A15809702 apt data collection completed(1918)
A15883401 apt data collection completed(1919)
A15883402 apt data collection completed(1920)
A15883202 apt data collection completed(1921)
A15883201 apt data collection completed(1922)
A15807001 apt data collection completed(1923)
A15807205 apt data collection completed(1924)
A15873701 apt data collection completed(1925)
A15807705 apt data collection completed(1926)
A15807706 apt data collection completed(1927)
A15807605 apt data collection completed(1928)
A15807606 apt data collection completed(1929)
A15807702 apt data collection completed(1930)
A15807704 apt data collection completed(1931)
A15807604 apt data collection completed(1932)
A15807101 apt data collection completed(1933)
A15807208 apt data collection completed(1934)
A15807601 apt data collection completed(1935)
A15807703 apt data collection completed(1936)
A15807211 apt data collection completed(1937)
A10027375 apt data collection completed(1938)
A15807603 apt data collection completed(1939)
A15876401 apt data collection completed(1940)
A15886504 apt data collection completed(1941)
A15885514 apt data collection completed(1942)
A15807306 apt data collection completed(1943)
A15885303 apt data collection completed(1944)
A15886402 apt data collection completed(1945)
A15807315 apt data collection completed(1946)
A15807202 apt data collection completed(1947)
A15876402 apt data collection completed(1948)
A15807701 apt data collection completed(1949)
A10027396 apt data collection completed(1950)
A15885306 apt data collection completed(1951)
A15807707 apt data collection completed(1952)
A15870701 apt data collection completed(1953)
A15809002 apt data collection completed(1954)
A15879502 apt data collection completed(1955)
A15807004 apt data collection completed(1956)
A15807003 apt data collection completed(1957)
A15885307 apt data collection completed(1958)
A15879501 apt data collection completed(1959)
A15886508 apt data collection completed(1960)
A15886507 apt data collection completed(1961)
A15886505 apt data collection completed(1962)
A15886512 apt data collection completed(1963)
A15886510 apt data collection completed(1964)
A15886501 apt data collection completed(1965)
A15807204 apt data collection completed(1966)
A15807210 apt data collection completed(1967)
A15807002 apt data collection completed(1968)
A15807313 apt data collection completed(1969)
A15807311 apt data collection completed(1970)
A15807316 apt data collection completed(1971)
A15873902 apt data collection completed(1972)
A15884901 apt data collection completed(1973)
A15081002 apt data collection completed(1974)
A15081001 apt data collection completed(1975)
A15004101 apt data collection completed(1976)
A15080002 apt data collection completed(1977)
A15004202 apt data collection completed(1978)
A15004201 apt data collection completed(1979)
A15072002 apt data collection completed(1980)
A15080205 apt data collection completed(1981)
A15080402 apt data collection completed(1982)
A15072001 apt data collection completed(1983)
A15080204 apt data collection completed(1984)
A15004405 apt data collection completed(1985)
A15004403 apt data collection completed(1986)
A10026797 apt data collection completed(1987)
A15072201 apt data collection completed(1988)
A10027684 apt data collection completed(1989)
A15080604 apt data collection completed(1990)
A15004406 apt data collection completed(1991)
A15080507 apt data collection completed(1992)
A15080501 apt data collection completed(1993)
A15004503 apt data collection completed(1994)
A15004502 apt data collection completed(1995)
A15004507 apt data collection completed(1996)
A15004504 apt data collection completed(1997)
A15004501 apt data collection completed(1998)
A15004505 apt data collection completed(1999)
A15004506 apt data collection completed(2000)
A10026761 apt data collection completed(2001)
A15081604 apt data collection completed(2002)
A15007101 apt data collection completed(2003)
A15095001 apt data collection completed(2004)
A15081201 apt data collection completed(2005)
A15081606 apt data collection completed(2006)
A10027935 apt data collection completed(2007)
A15081503 apt data collection completed(2008)
A15081105 apt data collection completed(2009)
A15081802 apt data collection completed(2010)
A15081602 apt data collection completed(2011)
A15081107 apt data collection completed(2012)
A10027381 apt data collection completed(2013)
A15095002 apt data collection completed(2014)
A15007201 apt data collection completed(2015)
A15007002 apt data collection completed(2016)
A15083202 apt data collection completed(2017)
A15083201 apt data collection completed(2018)
A15076702 apt data collection completed(2019)
A15009201 apt data collection completed(2020)
A15083602 apt data collection completed(2021)
A15083601 apt data collection completed(2022)
A15083404 apt data collection completed(2023)
A15083603 apt data collection completed(2024)
A15009401 apt data collection completed(2025)
A15009402 apt data collection completed(2026)
A15009503 apt data collection completed(2027)
A10026197 apt data collection completed(2028)
A15009505 apt data collection completed(2029)
A15009501 apt data collection completed(2030)
A15009502 apt data collection completed(2031)
A15009504 apt data collection completed(2032)
A15009603 apt data collection completed(2033)
A15009601 apt data collection completed(2034)
A15009606 apt data collection completed(2035)
A15009602 apt data collection completed(2036)
A15009604 apt data collection completed(2037)
A15009607 apt data collection completed(2038)
A15009605 apt data collection completed(2039)
A10027073 apt data collection completed(2040)
A10027755 apt data collection completed(2041)
A15005002 apt data collection completed(2042)
A15086006 apt data collection completed(2043)
A15086001 apt data collection completed(2044)
A15005102 apt data collection completed(2045)
A15005303 apt data collection completed(2046)
A15005302 apt data collection completed(2047)
A15083703 apt data collection completed(2048)
A15085805 apt data collection completed(2049)
A15005501 apt data collection completed(2050)
A15083701 apt data collection completed(2051)
A15005603 apt data collection completed(2052)
A15005402 apt data collection completed(2053)
A15005401 apt data collection completed(2054)
A15005705 apt data collection completed(2055)
A15086007 apt data collection completed(2056)
A15086004 apt data collection completed(2057)
A15005001 apt data collection completed(2058)
A15005301 apt data collection completed(2059)
A15005602 apt data collection completed(2060)
A15096001 apt data collection completed(2061)
A15085404 apt data collection completed(2062)
A15086201 apt data collection completed(2063)
A15086202 apt data collection completed(2064)
A15010203 apt data collection completed(2065)
A15010202 apt data collection completed(2066)
A15010201 apt data collection completed(2067)

A15010303 apt data collection completed(2068)
A15010306 apt data collection completed(2069)
A15010302 apt data collection completed(2070)
A15010307 apt data collection completed(2071)
A15010304 apt data collection completed(2072)
A15010301 apt data collection completed(2073)
A15010305 apt data collection completed(2074)
A15086702 apt data collection completed(2075)
A15086601 apt data collection completed(2076)
A15086603 apt data collection completed(2077)
A15010501 apt data collection completed(2078)
A15010502 apt data collection completed(2079)
A15010602 apt data collection completed(2080)
A15010601 apt data collection completed(2081)
A15088915 apt data collection completed(2082)
A15088614 apt data collection completed(2083)
A15089307 apt data collection completed(2084)
A15001012 apt data collection completed(2085)
A15001019 apt data collection completed(2086)
A15001005 apt data collection completed(2087)
A15001016 apt data collection completed(2088)
A15076301 apt data collection completed(2089)
A15088208 apt data collection completed(2090)
A15088717 apt data collection completed(2091)
A15001020 apt data collection completed(2092)
A15089411 apt data collection completed(2093)
A15001003 apt data collection completed(2094)
A15001009 apt data collection completed(2095)
A15089421 apt data collection completed(2096)
A15089510 apt data collection completed(2097)
A15076302 apt data collection completed(2098)
A15001004 apt data collection completed(2099)
A15089513 apt data collection completed(2100)
A15001001 apt data collection completed(2101)
A15088918 apt data collection completed(2102)
A15088802 apt data collection completed(2103)
A15003001 apt data collection completed(2104)
A15003002 apt data collection completed(2105)
A10026816 apt data collection completed(2106)
A15003701 apt data collection completed(2107)
A15003802 apt data collection completed(2108)
A15003801 apt data collection completed(2109)
A14007002 apt data collection completed(2110)
A14007001 apt data collection completed(2111)
A14070901 apt data collection completed(2112)
A10027901 apt data collection completed(2113)
A14010003 apt data collection completed(2114)
A14010001 apt data collection completed(2115)
A14010002 apt data collection completed(2116)
A14082302 apt data collection completed(2117)
A14082601 apt data collection completed(2118)
A14004002 apt data collection completed(2119)
A14076401 apt data collection completed(2120)
A14004001 apt data collection completed(2121)
A14024001 apt data collection completed(2122)
A14024002 apt data collection completed(2123)
A14009001 apt data collection completed(2124)
A14006001 apt data collection completed(2125)
A14083101 apt data collection completed(2126)
A14002501 apt data collection completed(2127)
A14070301 apt data collection completed(2128)
A14070302 apt data collection completed(2129)
A14085101 apt data collection completed(2130)
A14085002 apt data collection completed(2131)
A14003007 apt data collection completed(2132)
A14003001 apt data collection completed(2133)
A10027908 apt data collection completed(2134)
A14072901 apt data collection completed(2135)
A14072702 apt data collection completed(2136)
A14003106 apt data collection completed(2137)
A14090902 apt data collection completed(2138)
A14003004 apt data collection completed(2139)
A14003104 apt data collection completed(2140)
A14003006 apt data collection completed(2141)
A14003101 apt data collection completed(2142)
A14003002 apt data collection completed(2143)
A14003008 apt data collection completed(2144)
A14003103 apt data collection completed(2145)
A14072701 apt data collection completed(2146)
A14003105 apt data collection completed(2147)
A14003003 apt data collection completed(2148)
A14085501 apt data collection completed(2149)
A14086101 apt data collection completed(2150)
A14086001 apt data collection completed(2151)
A14005001 apt data collection completed(2152)
A14001101 apt data collection completed(2153)
A14075201 apt data collection completed(2154)
A10026922 apt data collection completed(2155)
A10026759 apt data collection completed(2156)
A14001201 apt data collection completed(2157)
A14088201 apt data collection completed(2158)
A14001303 apt data collection completed(2159)
A14077902 apt data collection completed(2160)
A14021001 apt data collection completed(2161)
A10027071 apt data collection completed(2162)
A14077901 apt data collection completed(2163)
A14074101 apt data collection completed(2164)
A14019001 apt data collection completed(2165)
A12205001 apt data collection completed(2166)
A12271402 apt data collection completed(2167)
A12281801 apt data collection completed(2168)
A12281702 apt data collection completed(2169)
A12281701 apt data collection completed(2170)
A12205003 apt data collection completed(2171)
A12205004 apt data collection completed(2172)
A12282203 apt data collection completed(2173)
A12282201 apt data collection completed(2174)
A12276901 apt data collection completed(2175)
A12282102 apt data collection completed(2176)
A12283602 apt data collection completed(2177)
A12283603 apt data collection completed(2178)
A12283601 apt data collection completed(2179)
A10027816 apt data collection completed(2180)
A12284501 apt data collection completed(2181)
A12204002 apt data collection completed(2182)
A12275201 apt data collection completed(2183)
A12204001 apt data collection completed(2184)
A12204102 apt data collection completed(2185)
A12204003 apt data collection completed(2186)
A12204004 apt data collection completed(2187)
A12275202 apt data collection completed(2188)
A10028056 apt data collection completed(2189)
A12284701 apt data collection completed(2190)
A12204006 apt data collection completed(2191)
A12285703 apt data collection completed(2192)
A12275501 apt data collection completed(2193)
A12209001 apt data collection completed(2194)
A12287204 apt data collection completed(2195)
A12287203 apt data collection completed(2196)
A12287202 apt data collection completed(2197)
A12289401 apt data collection completed(2198)
A12208001 apt data collection completed(2199)
A12208104 apt data collection completed(2200)
A12208205 apt data collection completed(2201)
A12208101 apt data collection completed(2202)
A12208203 apt data collection completed(2203)
A12208102 apt data collection completed(2204)
A12208002 apt data collection completed(2205)
A12208103 apt data collection completed(2206)
A12208204 apt data collection completed(2207)
A12208105 apt data collection completed(2208)
A12289402 apt data collection completed(2209)
A12289501 apt data collection completed(2210)
A12201005 apt data collection completed(2211)
A12201001 apt data collection completed(2212)
A12201003 apt data collection completed(2213)
A12201002 apt data collection completed(2214)
A12290901 apt data collection completed(2215)
A12201004 apt data collection completed(2216)
A12201301 apt data collection completed(2217)
A12201102 apt data collection completed(2218)
A12201101 apt data collection completed(2219)
A12293002 apt data collection completed(2220)
A12201103 apt data collection completed(2221)
A10026834 apt data collection completed(2222)
A12294102 apt data collection completed(2223)
A41279927 apt data collection completed(2224)
A41279928 apt data collection completed(2225)
A41279931 apt data collection completed(2226)
A41279920 apt data collection completed(2227)
A41279921 apt data collection completed(2228)
A41279932 apt data collection completed(2229)
A41279913 apt data collection completed(2230)
A41279914 apt data collection completed(2231)
A41279912 apt data collection completed(2232)
A41279909 apt data collection completed(2233)
A41279910 apt data collection completed(2234)
A41279911 apt data collection completed(2235)
A41279906 apt data collection completed(2236)
A41279907 apt data collection completed(2237)
A12220004 apt data collection completed(2238)
A12220002 apt data collection completed(2239)
A41279901 apt data collection completed(2240)
A12220005 apt data collection completed(2241)
A12220003 apt data collection completed(2242)
A41279905 apt data collection completed(2243)
A41279902 apt data collection completed(2244)
A41279904 apt data collection completed(2245)
A12220001 apt data collection completed(2246)

A41279903 apt data collection completed(2247)
A41279908 apt data collection completed(2248)
A10026414 apt data collection completed(2249)
A41279916 apt data collection completed(2250)
A41279917 apt data collection completed(2251)
A41279918 apt data collection completed(2252)
A41279915 apt data collection completed(2253)
A41279923 apt data collection completed(2254)
A41279922 apt data collection completed(2255)
A41279925 apt data collection completed(2256)
A41279929 apt data collection completed(2257)
A41279930 apt data collection completed(2258)
A41279924 apt data collection completed(2259)
A10026842 apt data collection completed(2260)
A10027118 apt data collection completed(2261)
A10027105 apt data collection completed(2262)
A10026940 apt data collection completed(2263)
A11007001 apt data collection completed(2264)
A11052201 apt data collection completed(2265)
A11081503 apt data collection completed(2266)
A11008001 apt data collection completed(2267)
A10027708 apt data collection completed(2268)
A11081302 apt data collection completed(2269)
A11005401 apt data collection completed(2270)
A11087601 apt data collection completed(2271)
A11087602 apt data collection completed(2272)
A11055002 apt data collection completed(2273)
A11034001 apt data collection completed(2274)
A11041001 apt data collection completed(2275)
A11054101 apt data collection completed(2276)
A11054301 apt data collection completed(2277)
A11077101 apt data collection completed(2278)
A11084601 apt data collection completed(2279)
A11001203 apt data collection completed(2280)
A10026946 apt data collection completed(2281)
A10027162 apt data collection completed(2282)
A10080701 apt data collection completed(2283)
A10026881 apt data collection completed(2284)
A10026517 apt data collection completed(2285)
A10027364 apt data collection completed(2286)
A10078901 apt data collection completed(2287)
A10078902 apt data collection completed(2288)
A10045302 apt data collection completed(2289)
A10045301 apt data collection completed(2290)
A10045403 apt data collection completed(2291)
A10045401 apt data collection completed(2292)
A10045404 apt data collection completed(2293)
A10045001 apt data collection completed(2294)
A10045601 apt data collection completed(2295)
A10045402 apt data collection completed(2296)
A10045002 apt data collection completed(2297)
A10078103 apt data collection completed(2298)
A13302201 apt data collection completed(2299)
A10028201 apt data collection completed(2300)
A10085902 apt data collection completed(2301)
A10085903 apt data collection completed(2302)
A10071301 apt data collection completed(2303)
A10086301 apt data collection completed(2304)
A10044001 apt data collection completed(2305)
A10044002 apt data collection completed(2306)
A10086801 apt data collection completed(2307)
A10088101 apt data collection completed(2308)
A10088102 apt data collection completed(2309)
A10072501 apt data collection completed(2310)
A10095501 apt data collection completed(2311)
A10095502 apt data collection completed(2312)
A13123102 apt data collection completed(2313)
A13123101 apt data collection completed(2314)
A13123001 apt data collection completed(2315)
A13123002 apt data collection completed(2316)
A13176102 apt data collection completed(2317)
A13177701 apt data collection completed(2318)
A13120403 apt data collection completed(2319)
A13120704 apt data collection completed(2320)
A13183504 apt data collection completed(2321)
A13183405 apt data collection completed(2322)
A13188406 apt data collection completed(2323)
A13184107 apt data collection completed(2324)
A13120001 apt data collection completed(2325)
A13183502 apt data collection completed(2326)
A13184401 apt data collection completed(2327)
A13184502 apt data collection completed(2328)
A13181201 apt data collection completed(2329)
A13184301 apt data collection completed(2330)
A13175103 apt data collection completed(2331)
A13184208 apt data collection completed(2332)
A13183701 apt data collection completed(2333)
A13183202 apt data collection completed(2334)
A13181203 apt data collection completed(2335)
A13183303 apt data collection completed(2336)
A13120701 apt data collection completed(2337)
A10028033 apt data collection completed(2338)
A13183204 apt data collection completed(2339)
A13176801 apt data collection completed(2340)
A13114103 apt data collection completed(2341)
A13114201 apt data collection completed(2342)
A13185508 apt data collection completed(2343)
A13185501 apt data collection completed(2344)
A13184804 apt data collection completed(2345)
A13185507 apt data collection completed(2346)
A13185502 apt data collection completed(2347)
A13114106 apt data collection completed(2348)
A13114002 apt data collection completed(2349)
A13177501 apt data collection completed(2350)
A10026469 apt data collection completed(2351)
A13185402 apt data collection completed(2352)
A13184609 apt data collection completed(2353)
A13184610 apt data collection completed(2354)
A13122001 apt data collection completed(2355)
A13186401 apt data collection completed(2356)
A10027670 apt data collection completed(2357)
A13185602 apt data collection completed(2358)
A13122104 apt data collection completed(2359)
A13122002 apt data collection completed(2360)
A13186306 apt data collection completed(2361)
A13185603 apt data collection completed(2362)
A13185607 apt data collection completed(2363)
A13186305 apt data collection completed(2364)
A13170401 apt data collection completed(2365)
A13187306 apt data collection completed(2366)
A13176901 apt data collection completed(2367)
A13187201 apt data collection completed(2368)
A13187305 apt data collection completed(2369)
A13176902 apt data collection completed(2370)
A13113006 apt data collection completed(2371)
A13186801 apt data collection completed(2372)
A13187302 apt data collection completed(2373)
A13178101 apt data collection completed(2374)
A13186708 apt data collection completed(2375)
A13113004 apt data collection completed(2376)
A13113003 apt data collection completed(2377)
A13113001 apt data collection completed(2378)
A13186905 apt data collection completed(2379)
A13113002 apt data collection completed(2380)
A13187406 apt data collection completed(2381)
A13186503 apt data collection completed(2382)
A13187004 apt data collection completed(2383)
A13186504 apt data collection completed(2384)
A13186502 apt data collection completed(2385)
A13113008 apt data collection completed(2386)
A13113007 apt data collection completed(2387)
A10027775 apt data collection completed(2388)
A13186907 apt data collection completed(2389)
A13187203 apt data collection completed(2390)
A13187501 apt data collection completed(2391)
A13187702 apt data collection completed(2392)

In [44]:
apt_details = apt_details.drop_duplicates()

In [45]:
apt_details

,KAPT_CODE,KAPT_DONG_CNT,KAPT_USEDATE,KAPTD_WTIMESUB,SUBWAY_STATION,SUBWAY_LINE,CODE_HALL,KAPT_BCOMPANY,KAPTDA_CNT1,KAPTDA_CNT2,KAPTDA_CNT3,KAPTDA_CNT4
0,A13593901,4,2004-06-17,5~10분이내,대청,3호선,계단식,화엄건설,0,0,84,128
1,A13593908,8,1991-11-20,5분이내,대모산,중앙선,복도식,SH공사,1623,0,0,0
2,A13524006,13,1986-01-31,10~15분이내,매봉,3호선,계단식,현대산업개발(주),0,112,230,216
3,A13580602,9,1984-03-08,5~10분이내,구룡,"3호선, 분당선",계단식,경남건설,0,3,387,288
4,A13524009,11,1992-10-14,-,-,3호선,복도식,성원건설.진덕산업주식회사,1753,0,0,0
5,A13580801,30,1984-03-20,-,-,-,계단식,"대우,한라",1970,0,0,0
6,A13524004,5,1984-12-31,5~10분이내,도곡 구룡,"3호선, 분당선",혼합식,우성건설,0,0,285,120
7,A13580002,3,1987-09-21,5분이내,"개포동역,구룡역",분당선,혼합식,우성건설,0,261,0,0
8,A13580601,2,1991-01-25,5~10분이내,도곡,"3호선, 분당선",계단식,우성건설,0,232,0,0
9,A13524011,124,1982-06-04,10~15분이내,"매봉, 구룡","3호선, 분당선",계단식,대한주택공사,4975,65,0,0
10,A13580204,32,1982-11-30,10~15분이내,"도곡, 개포동","3호선, 분당선",계단식,주공,660,740,0,0
11,A13580103,25,1982-11-30,5~10분이내,개포동,중앙선,계단식,한국주택공사,1160,0,0,0
12,A13580003,58,1982-11-30,5~10분이내,"대모산,개포동",중앙선,계단식,대한주택공사,2840,0,0,0
13,A13599402,6,1983-10-26,5~10분이내,개포동역,분당선,복도식,대한주택공사,190,750,0,0
14,A13599303,9,1983-10-26,5~10분이내,"대모산입구역, 개포동역",분당선,혼합식,현대건설(주),220,840,0,0
15,A13599301,8,1983-10-26,5분이내,"개포,대모산",분당선,복도식,주택공사,180,720,0,0
16,A13524005,6,1984-04-20,5~10분이내,"매봉, 구룡","3호선, 분당선",계단식,현대산업개발(주),0,0,208,208
17,A13580001,5,1986-03-31,5분이내,"구룡,개포동",분당선,계단식,현대건설(주),0,54,36,108
18,A13594007,6,1992-10-14,5~10분이내,"대모산,대청","3호선, 중앙선",복도식,삼익건설,822,0,0,0
19,A13583301,4,2003-12-24,5~10분이내,학동역.선정릉역,"7호선, 9호선",계단식,동부건설,0,76,84,0
20,A13582002,6,1985-08-03,10~15분이내,-,7호선,계단식,동산토건(주),0,380,120,48
21,A13501004,6,1997-07-04,10~15분이내,신사,3호선,혼합식,신동아건설,273,219,152,0
22,A13501001,4,2004-06-02,10~15분이내,강남구청,"7호선, 분당선",계단식,동양고속건설주식회사,0,0,0,203
23,A13572601,1,2012-08-17,5분이내,-,7호선,복도식,한신공영개발(주),236,0,0,0
24,A13501002,1,2004-11-26,5~10분이내,학동,7호선,복도식,대우건설,260,0,0,0
25,A13501006,4,2014-12-08,5분이내,선정릉역,"9호선, 분당선",타워형,대림산업(주),34,222,112,0
26,A13528105,14,1983-12-17,5분이내,"도곡역, 대치역","3호선, 분당선",계단식,우성건설,0,330,600,210
27,A10026924,4,2017-06-20,5~10분이내,-,분당선,계단식,에스케이건설(주),4,104,131,0
28,A13528101,3,1983-11-01,5분이내,대치,3호선,계단식,-,0,140,60,0
29,A13528001,1,2004-02-23,5분이내,선릉,2호선,복도식,대우건설,210,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2363,A13185607,14,1996-11-04,-,망우(중앙선),분당선,혼합식,건영,192,921,0,0
2364,A13186305,9,1996-03-27,5~10분이내,망우(중앙선),"7호선, 경의선, 경춘선",혼합식,"LG건설(주), 쌍용건설(주)",0,858,0,0
2365,A13170401,3,2003-12-01,10~15분이내,망우(중앙선),"7호선, 분당선, 경의선, 공항철도",혼합식,한일건설,0,454,50,0
2366,A13187306,8,1996-03-11,10~15분이내,봉화산,6호선,복도식,(주)건영,1432,0,0,0
2367,A13176901,16,1996-03-13,5분이내,봉화산역,6호선,복도식,대주건설,1609,0,0,0
2368,A13187201,8,1995-12-22,5분이내,봉화산,6호선,혼합식,"두산건설,화성산업",0,763,0,0
2369,A13187305,10,1996-06-21,5~10분이내,봉화산,6호선,복도식,진흥,1315,0,0,0
2370,A13176902,2,1996-06-21,5~10분이내,봉화산,"6호선, 7호선, 경춘선",복도식,진흥기업(주),335,0,0,0
2371,A13113006,4,2007-02-16,5~10분이내,상봉,7호선,계단식,경남기업,0,214,0,0
2372,A13186801,1,1999-01-29,5분이내,망우(중앙선),"7호선, 중앙선",혼합식,다우종합건설,66,73,13,0
2373,A13187302,6,1996-03-13,5~10분이내,봉화산,"6호선, 7호선",복도식,대명건설,804,0,0,0
2374,A13178101,15,2010-01-08,5~10분이내,봉화산,7호선,혼합식,태영건설,714,393,219,0
2375,A13186708,9,1993-02-05,5~10분이내,봉화산,"6호선, 경춘선",혼합식,(주)동성,442,417,188,0
2376,A13113004,6,1997-05-07,15~20분이내,봉화산,6호선,혼합식,(주)동성,306,242,252,0
2377,A13113003,4,1997-07-25,5~10분이내,망우,"6호선, 7호선",혼합식,(주)동성건설,270,124,84,0
2378,A13113001,1,1999-04-27,10~15분이내,"망우역,중화역,봉화산역 등","6호선, 7호선, 중앙선, 경의선, 경춘선",혼합식,(주)동성,148,66,21,0
2379,A13186905,2,1992-04-24,5~10분이내,"망우(중앙선), 상봉역(7호선,경춘선)","7호선, 중앙선, 경춘선",복도식,라이프건설,195,82,0,0
2380,A13113002,3,2000-06-28,5~10분이내,망우(중앙선),"분당선, 경춘선",혼합식,벽산건설(주),156,80,48,0
2381,A13187406,6,1998-11-27,10~15분이내,"망우, 상봉, 봉화산역","6호선, 7호선",혼합식,새한건설(주),212,228,92,0
2382,A13186503,2,1997-01-31,10~15분이내,망우,"7호선, 분당선, 중앙선",혼합식,석탑건설,125,117,0,0
2383,A13187004,5,1994-09-29,10~15분이내,"중화, 망우","7호선, 경춘선",계단식,성원건설,0,876,0,0
2384,A13186504,5,2004-02-13,10~15분이내,망우,"6호선, 중앙선",계단식,영풍건설,0,260,0,0
2385,A13186502,3,2005-04-04,10~15분이내,망우,분당선,계단식,(주)우남건설,0,134,19,0
2386,A13113008,16,2014-06-18,15~20분이내,신내역,"6호선, 경춘선",혼합식,한신공영(주),808,504,90,0
2387,A13113007,23,2013-12-11,10~15분이내,도시철도,"6호선, 경춘선",혼합식,서울특별시 SH공사,1034,610,252,0
2388,A10027775,2,2015-10-29,5~10분이내,봉화산역,6호선,복도식,SD종합건설,222,0,0,0
2389,A13186907,5,1996-03-28,5~10분이내,망우(중앙선),"6호선, 분당선, 중앙선, 경춘선",계단식,중앙건설(주),0,704,0,0
2390,A13187203,17,1995-12-06,5분이내,봉화산,"6호선, 7호선",계단식,진로,0,0,770,48
2391,A13187501,1,1991-04-29,5분이내,중화,"7호선, 분당선",혼합식,극동건설,0,156,0,0
2392,A13187702,9,1997-10-11,-,상봉,"7호선, 중앙선, 경춘선",혼합식,한신공영,892,652,0,0

In [46]:
apt_details.to_sql('apt_info_tbl', kb_db, index=False, if_exists='append' )

In [41]:
# apt 거래 내역 정보 
def readAptData( dongcode, danjicode, year, quarter ) :
    url = "http://rt.molit.go.kr/rtApt.do?cmd=getTradeAptLocal&dongCode=%d&danjiCode=ALL&srhYear=%d&srhPeriod=%d&gubunRadio2=1" % ( dongcode, year, quarter )
    response = urllib.urlopen(url)
    data = json.loads(response.read())
    apt_meta = pd.DataFrame(data['danjiList'])
    apt_data = pd.DataFrame(data['detailList'])
    return apt_meta, apt_data

In [49]:
with open('./MERGE/data_without_error_1203_full_name.txt', 'rb') as f:
    full = pickle.load(f)

In [87]:
full.columns.values

array(['deal_price', 'deal_year', 'deal_month', 'full_loc_code',
       'loc_code_x', 'dong', 'ji_bun', 'apt_name_y', 'area',
       'current_floor', 'total_unit', 'total_building', 'max_floor',
       'min_floor', 'total_parking', 'unit_parking', 'completed_date',
       'conv_lists', 'medi_lists', 'park_lists', 'road_lists',
       'kindergarten', 'elementary_school', 'middle_school',
       'high_school', 'university', 'etc_lists', 'S-Line1', 'S-Line2',
       'S-Line3', 'S-Line4', 'S-Line5', 'S-Line6', 'S-Line7', 'S-Line8',
       'S-Line9', 'S-LineBD', 'S-LineNBD', 'S-LineGC', 'S-LineJA',
       'S-LineAir', 'distance', 'full_address', 'price_yard', 'deal_date',
       'full_addr', 'entirelawcode', 'yearmonth', '법정동코드', '법정동명', '폐지여부',
       'transaction_year_month', 'transaction_date', 'year_of_completion',
       'exclusive_use_area', 'floor', 'latitude', 'longitude',
       'address_by_law', 'total_parking_capacity_in_site',
       'total_household_count_in_sites',
       'apartment_building_count_in_sites', 'tallest_building_in_sites',
       'lowest_building_in_sites', 'heat_type', 'heat_fuel', 'room_count',
       'bathroom_count', 'front_door_structure', 'transaction_real_price',
       'cont_rank', 'com_year', 'com_mon', 'avg_price', 'sub_num',
       'bldg_age', 'lv_fg'], dtype=object)

In [91]:
full[(full['full_address'] == '서울특별시 강남구 개포동 12') & (full['apt_name_y'] == '대청')]

        deal_price  deal_year  deal_month full_loc_code  loc_code_x  dong ji_bun apt_name_y  area  current_floor  total_unit  total_building  max_floor  min_floor  total_parking  unit_parking completed_date  conv_lists  medi_lists  park_lists  road_lists  kindergarten  elementary_school  middle_school  high_school  university  etc_lists  S-Line1  S-Line2  S-Line3  S-Line4  S-Line5  S-Line6  S-Line7  S-Line8  S-Line9  S-LineBD  S-LineNBD  S-LineGC  S-LineJA  S-LineAir  distance      full_address   price_yard  deal_date         full_addr  entirelawcode  yearmonth       법정동코드           법정동명 폐지여부  transaction_year_month transaction_date  year_of_completion  exclusive_use_area  floor   latitude   longitude  address_by_law  total_parking_capacity_in_site  total_household_count_in_sites  apartment_building_count_in_sites  tallest_building_in_sites  lowest_building_in_sites heat_type     heat_fuel  room_count  bathroom_count front_door_structure  transaction_real_price  cont_rank  com_year  com_mon  avg_price  sub_num  bldg_age     lv_fg
746575  159000000   2006       1           1168001       11680       1     12     대청         33    1              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  479.204340  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  1~10             1992                33.18               1      37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             159000000               350        1992      10       4792043    2        14        0.066667
746577  248000000   2006       1           1168001       11680       1     12     대청         39    5              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  627.371616  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  1~10             1992                39.53               5      37.494987  127.077138  1168010300      700.0                           822                             6                                  15.0                       13.0                      district  cogeneration  3.0         1.0             corridor             248000000               350        1992      10       6273716    2        14        0.333333
746579  333000000   2006       1           1168001       11680       1     12     대청         49    11             822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  667.870036  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  1~10             1992                49.86               11     37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             333000000               350        1992      10       6678700    2        14        0.733333
746581  247000000   2006       1           1168001       11680       1     12     대청         39    12             822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  624.841892  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  1~10             1992                39.53               12     37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             247000000               350        1992      10       6248418    2        14        0.800000
746583  247000000   2006       1           1168001       11680       1     12     대청         39    4              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  624.841892  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  1~10             1992                39.53               4      37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             247000000               350        1992      10       6248418    2        14        0.266667
746585  337000000   2006       1           1168001       11680       1     12     대청         51    8              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  659.233177  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                51.12               8      37.494987  127.077138  1168010300      700.0                           822                             6                                  15.0                       13.0                      district  cogeneration  2.0         1.0             corridor             337000000               350        1992      10       6592331    2        14        0.533333
746587  252000000   2006       1           1168001       11680       1     12     대청         39    8              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  637.490514  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                39.53               8      37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             252000000               350        1992      10       6374905    2        14        0.533333
746589  330000000   2006       1           1168001       11680       1     12     대청         49    6              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  661.853189  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                49.86               6      37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             330000000               350        1992      10       6618531    2        14        0.400000
746591  331000000   2006       1           1168001       11680       1     12     대청         49    9              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  663.858805  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                49.86               9      37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             331000000               350        1992      10       6638588    2        14        0.600000
746593  252000000   2006       1           1168001       11680       1     12     대청         39    12             822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  637.490514  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                39.53               12     37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             252000000               350        1992      10       6374905    2        14        0.800000
746595  440000000   2006       1           1168001       11680       1     12     대청         60    14             822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  733.333333  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                60.00               14     37.494987  127.077138  1168010300      700.0                           822                             6                                  15.0                       13.0                      district  cogeneration  2.0         1.0             corridor             440000000               350        1992      10       7333333    2        14        0.933333
746597  237200000   2006       1           1168001       11680       1     12     대청         39    15             822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  600.050594  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                39.53               15     37.494987  127.077138  1168010300      700.0                           822                             6                                  15.0                       13.0                      district  cogeneration  3.0         1.0             corridor             237200000               350        1992      10       6000505    2        14        1.000000
746599  440000000   2006       1           1168001       11680       1     12     대청         60    7              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  733.333333  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                60.00               7      37.494987  127.077138  1168010300      700.0                           822                             6                                  15.0                       13.0                      district  cogeneration  2.0         1.0             corridor             440000000               350        1992      10       7333333    2        14        0.466667
746601  257000000   2006       1           1168001       11680       1     12     대청         39    12             822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  650.139135  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                39.53               12     37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             257000000               350        1992      10       6501391    2        14        0.800000
746603  184000000   2006       1           1168001       11680       1     12     대청         33    5              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  554.550934  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                33.18               5      37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             184000000               350        1992      10       5545509    2        14        0.333333
746605  342000000   2006       1           1168001       11680       1     12     대청         49    7              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  685.920578  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                49.86               7      37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             342000000               350        1992      10       6859205    2        14        0.466667
746607  347000000   2006       1           1168001       11680       1     12     대청         49    6              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  695.948656  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                49.86               6      37.494686  127.075402  1168010300      1753.0                          1753                            11                                 15.0                       15.0                      district  cogeneration  2.0         1.0             corridor             347000000               350        1992      10       6959486    2        14        0.400000
746609  452500000   2006       1           1168001       11680       1     12     대청         60    9              822         6               15         13         700            0             1992.10        2           0           4           1           2             1                  0              1            0           1          0        0        1        0        0        0        0        0        0        1         0          0         0         0          580       서울특별시 강남구 개포동 12  754.166667  2006-01-01  서울특별시 강남구 개포동 12  서울특별시 강남구 개포동  200601     1168010300  서울특별시 강남구 개포동  존재   200601                  11~20            1992                60.00               9      37.494987  127.077138  1168010300      700.0                           822                             6                                  15.0                       13.0                      district  cogeneration  2.0         1.0             corridor             452500000               350        1992      10       7541666    2        14        0.600000

In [129]:
with open('./Dataset/Price/deal_whole_data.txt', 'rb') as f:
    price = pickle.load(f)

In [130]:
price

[{'거래금액': '29,500',
  '건축년도': '1983',
  '년': '2006',
  '법정동': '당주동',
  '아파트': '세종',
  '월': '1',
  '일': '11~20',
  '전용면적': '93.4',
  '지번': '100',
  '지역코드': '11110',
  '층': '6'},
 {'거래금액': '15,741',
  '건축년도': '1998',
  '년': '2006',
  '법정동': '익선동',
  '아파트': '운현신화타워',
  '월': '1',
  '일': '1~10',
  '전용면적': '57.18',
  '지번': '30-6',
  '지역코드': '11110',
  '층': '12'},
 {'거래금액': '23,198',
  '건축년도': '1998',
  '년': '2006',
  '법정동': '익선동',
  '아파트': '운현신화타워',
  '월': '1',
  '일': '1~10',
  '전용면적': '84.26',
  '지번': '30-6',
  '지역코드': '11110',
  '층': '6'},
 {'거래금액': '23,198',
  '건축년도': '1998',
  '년': '2006',
  '법정동': '익선동',
  '아파트': '운현신화타워',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.26',
  '지번': '30-6',
  '지역코드': '11110',
  '층': '14'},
 {'거래금액': '21,535',
  '건축년도': '1998',
  '년': '2006',
  '법정동': '익선동',
  '아파트': '운현신화타워',
  '월': '1',
  '일': '11~20',
  '전용면적': '78.23',
  '지번': '30-6',
  '지역코드': '11110',
  '층': '15'},
 {'거래금액': '21,500',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '명륜2가',
  '아파트': '아남3',
  '월': '1',
  '일': '11~20',
  '전용면적': '47.43',
  '지번': '237',
  '지역코드': '11110',
  '층': '6'},
 {'거래금액': '20,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '명륜2가',
  '아파트': '아남3',
  '월': '1',
  '일': '11~20',
  '전용면적': '44.37',
  '지번': '237',
  '지역코드': '11110',
  '층': '8'},
 {'거래금액': '16,800',
  '건축년도': '1992',
  '년': '2006',
  '법정동': '창신동',
  '아파트': '창신쌍용1',
  '월': '1',
  '일': '11~20',
  '전용면적': '54.7',
  '지번': '702',
  '지역코드': '11110',
  '층': '8'},
 {'거래금액': '16,500',
  '건축년도': '1993',
  '년': '2006',
  '법정동': '창신동',
  '아파트': '창신쌍용2',
  '월': '1',
  '일': '11~20',
  '전용면적': '64.66',
  '지번': '703',
  '지역코드': '11110',
  '층': '11'},
 {'거래금액': '28,000',
  '건축년도': '1993',
  '년': '2006',
  '법정동': '창신동',
  '아파트': '창신쌍용2',
  '월': '1',
  '일': '11~20',
  '전용면적': '106.62',
  '지번': '703',
  '지역코드': '11110',
  '층': '7'},
 {'거래금액': '19,200',
  '건축년도': '1993',
  '년': '2006',
  '법정동': '창신동',
  '아파트': '창신쌍용2',
  '월': '1',
  '일': '21~31',
  '전용면적': '79.87',
  '지번': '703',
  '지역코드': '11110',
  '층': '12'},
 {'거래금액': '15,950',
  '건축년도': '1992',
  '년': '2006',
  '법정동': '창신동',
  '아파트': '창신쌍용1',
  '월': '1',
  '일': '21~31',
  '전용면적': '54.7',
  '지번': '702',
  '지역코드': '11110',
  '층': '9'},
 {'거래금액': '10,500',
  '건축년도': '1998',
  '년': '2006',
  '법정동': '숭인동',
  '아파트': '하림빌라트',
  '월': '1',
  '일': '1~10',
  '전용면적': '47.63',
  '지번': '473',
  '지역코드': '11110',
  '층': '4'},
 {'거래금액': '17,500',
  '건축년도': '1996',
  '년': '2006',
  '법정동': '평창동',
  '아파트': '일성빌라트',
  '월': '1',
  '일': '21~31',
  '전용면적': '59.82',
  '지번': '145-5',
  '지역코드': '11110',
  '층': '1'},
 {'거래금액': '27,000',
  '건축년도': '1996',
  '년': '2006',
  '법정동': '평창동',
  '아파트': '일성빌라트',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.99',
  '지번': '145-5',
  '지역코드': '11110',
  '층': '1'},
 {'거래금액': '33,500',
  '건축년도': '1996',
  '년': '2006',
  '법정동': '평창동',
  '아파트': '일성빌라트',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.99',
  '지번': '145-5',
  '지역코드': '11110',
  '층': '4'},
 {'거래금액': '16,500',
  '건축년도': '1998',
  '년': '2006',
  '법정동': '신영동',
  '아파트': '대아파크빌',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.22',
  '지번': '254',
  '지역코드': '11110',
  '층': '13'},
 {'거래금액': '16,000',
  '건축년도': '1998',
  '년': '2006',
  '법정동': '신영동',
  '아파트': '대아파크빌',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.22',
  '지번': '254',
  '지역코드': '11110',
  '층': '9'},
 {'거래금액': '42,500',
  '건축년도': '2000',
  '년': '2006',
  '법정동': '무악동',
  '아파트': '현대',
  '월': '1',
  '일': '1~10',
  '전용면적': '84.92',
  '지번': '82',
  '지역코드': '11110',
  '층': '20'},
 {'거래금액': '41,500',
  '건축년도': '2000',
  '년': '2006',
  '법정동': '무악동',
  '아파트': '현대',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.92',
  '지번': '82',
  '지역코드': '11110',
  '층': '9'},
 {'거래금액': '26,700',
  '건축년도': '2000',
  '년': '2006',
  '법정동': '무악동',
  '아파트': '현대',
  '월': '1',
  '일': '11~20',
  '전용면적': '60',
  '지번': '82',
  '지역코드': '11110',
  '층': '13'},
 {'거래금액': '24,000',
  '건축년도': '2000',
  '년': '2006',
  '법정동': '무악동',
  '아파트': '현대',
  '월': '1',
  '일': '21~31',
  '전용면적': '60',
  '지번': '82',
  '지역코드': '11110',
  '층': '3'},
 {'거래금액': '56,500',
  '건축년도': '2000',
  '년': '2006',
  '법정동': '무악동',
  '아파트': '현대',
  '월': '1',
  '일': '21~31',
  '전용면적': '114.9',
  '지번': '82',
  '지역코드': '11110',
  '층': '9'},
 {'거래금액': '52,000',
  '건축년도': '2000',
  '년': '2006',
  '법정동': '무악동',
  '아파트': '현대',
  '월': '1',
  '일': '21~31',
  '전용면적': '114.9',
  '지번': '82',
  '지역코드': '11110',
  '층': '10'},
 {'거래금액': '9,000',
  '건축년도': '1968',
  '년': '2006',
  '법정동': '인현동2가',
  '아파트': '신성상가',
  '월': '1',
  '일': '21~31',
  '전용면적': '42.31',
  '지번': '192-30',
  '지역코드': '11140',
  '층': '7'},
 {'거래금액': '15,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '예장동',
  '아파트': '삼익',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.58',
  '지번': '9',
  '지역코드': '11140',
  '층': '4'},
 {'거래금액': '22,000',
  '건축년도': '2002',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '남산타운',
  '월': '1',
  '일': '1~10',
  '전용면적': '59.94',
  '지번': '844',
  '지역코드': '11140',
  '층': '1'},
 {'거래금액': '52,000',
  '건축년도': '2002',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '남산타운',
  '월': '1',
  '일': '1~10',
  '전용면적': '84.88',
  '지번': '844',
  '지역코드': '11140',
  '층': '15'},
 {'거래금액': '60,015',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '남산정은스카이',
  '월': '1',
  '일': '1~10',
  '전용면적': '143.049',
  '지번': '366-126',
  '지역코드': '11140',
  '층': '2'},
 {'거래금액': '62,500',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '신당푸르지오',
  '월': '1',
  '일': '1~10',
  '전용면적': '145.1',
  '지번': '850',
  '지역코드': '11140',
  '층': '2'},
 {'거래금액': '40,500',
  '건축년도': '1993',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '현대',
  '월': '1',
  '일': '11~20',
  '전용면적': '139.275',
  '지번': '840',
  '지역코드': '11140',
  '층': '4'},
 {'거래금액': '41,500',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '신당푸르지오',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.76',
  '지번': '850',
  '지역코드': '11140',
  '층': '10'},
 {'거래금액': '31,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '약수하이츠',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.88',
  '지번': '842',
  '지역코드': '11140',
  '층': '18'},
 {'거래금액': '31,900',
  '건축년도': '2002',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '남산타운',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '844',
  '지역코드': '11140',
  '층': '12'},
 {'거래금액': '24,600',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '삼성',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.98',
  '지번': '843',
  '지역코드': '11140',
  '층': '6'},
 {'거래금액': '21,000',
  '건축년도': '2000',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '약수넥스빌',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.93',
  '지번': '377-26',
  '지역코드': '11140',
  '층': '5'},
 {'거래금액': '66,750',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '신당푸르지오',
  '월': '1',
  '일': '11~20',
  '전용면적': '145.1',
  '지번': '850',
  '지역코드': '11140',
  '층': '10'},
 {'거래금액': '35,200',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '삼성',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.96',
  '지번': '843',
  '지역코드': '11140',
  '층': '10'},
 {'거래금액': '36,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '약수하이츠',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.88',
  '지번': '842',
  '지역코드': '11140',
  '층': '17'},
 {'거래금액': '44,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '삼성',
  '월': '1',
  '일': '11~20',
  '전용면적': '114.91',
  '지번': '843',
  '지역코드': '11140',
  '층': '18'},
 {'거래금액': '28,000',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '신당푸르지오',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.85',
  '지번': '850',
  '지역코드': '11140',
  '층': '3'},
 {'거래금액': '70,800',
  '건축년도': '2002',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '남산타운',
  '월': '1',
  '일': '11~20',
  '전용면적': '114.88',
  '지번': '844',
  '지역코드': '11140',
  '층': '15'},
 {'거래금액': '27,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '약수하이츠',
  '월': '1',
  '일': '11~20',
  '전용면적': '57.63',
  '지번': '842',
  '지역코드': '11140',
  '층': '6'},
 {'거래금액': '60,000',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '신당푸르지오',
  '월': '1',
  '일': '11~20',
  '전용면적': '114.48',
  '지번': '850',
  '지역코드': '11140',
  '층': '13'},
 {'거래금액': '28,900',
  '건축년도': '2002',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '남산타운',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '844',
  '지역코드': '11140',
  '층': '16'},
 {'거래금액': '24,500',
  '건축년도': '1993',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '현대',
  '월': '1',
  '일': '21~31',
  '전용면적': '79.11',
  '지번': '840',
  '지역코드': '11140',
  '층': '10'},
 {'거래금액': '37,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '삼성',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.96',
  '지번': '843',
  '지역코드': '11140',
  '층': '23'},
 {'거래금액': '21,000',
  '건축년도': '1993',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '현대',
  '월': '1',
  '일': '21~31',
  '전용면적': '66.6',
  '지번': '840',
  '지역코드': '11140',
  '층': '9'},
 {'거래금액': '40,500',
  '건축년도': '1993',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '현대',
  '월': '1',
  '일': '21~31',
  '전용면적': '122.275',
  '지번': '840',
  '지역코드': '11140',
  '층': '8'},
 {'거래금액': '38,600',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '삼성',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.96',
  '지번': '843',
  '지역코드': '11140',
  '층': '13'},
 {'거래금액': '23,800',
  '건축년도': '1993',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '현대',
  '월': '1',
  '일': '21~31',
  '전용면적': '79.11',
  '지번': '840',
  '지역코드': '11140',
  '층': '6'},
 {'거래금액': '38,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '약수하이츠',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.88',
  '지번': '842',
  '지역코드': '11140',
  '층': '9'},
 {'거래금액': '26,850',
  '건축년도': '1993',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '현대',
  '월': '1',
  '일': '21~31',
  '전용면적': '83.97',
  '지번': '840',
  '지역코드': '11140',
  '층': '13'},
 {'거래금액': '93,130',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '신당동',
  '아파트': '남산정은스카이',
  '월': '1',
  '일': '21~31',
  '전용면적': '142.109',
  '지번': '366-126',
  '지역코드': '11140',
  '층': '1'},
 {'거래금액': '6,500',
  '건축년도': '1971',
  '년': '2006',
  '법정동': '중림동',
  '아파트': '성요셉',
  '월': '1',
  '일': '1~10',
  '전용면적': '41.32',
  '지번': '149',
  '지역코드': '11140',
  '층': '4'},
 {'거래금액': '42,000',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '중림동',
  '아파트': '삼성사이버빌리지',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.93',
  '지번': '200',
  '지역코드': '11140',
  '층': '11'},
 {'거래금액': '46,900',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '중림동',
  '아파트': '삼성사이버빌리지',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.95',
  '지번': '200',
  '지역코드': '11140',
  '층': '14'},
 {'거래금액': '30,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '중림동',
  '아파트': '삼성사이버빌리지',
  '월': '1',
  '일': '21~31',
  '전용면적': '59.93',
  '지번': '200',
  '지역코드': '11140',
  '층': '3'},
 {'거래금액': '40,000',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '만리동1가',
  '아파트': 'SY파크힐',
  '월': '1',
  '일': '11~20',
  '전용면적': '148.62',
  '지번': '56-11',
  '지역코드': '11140',
  '층': '5'},
 {'거래금액': '18,000',
  '건축년도': '1980',
  '년': '2006',
  '법정동': '후암동',
  '아파트': '후암미주',
  '월': '1',
  '일': '21~31',
  '전용면적': '64.26',
  '지번': '423-1',
  '지역코드': '11170',
  '층': '3'},
 {'거래금액': '18,000',
  '건축년도': '1980',
  '년': '2006',
  '법정동': '후암동',
  '아파트': '후암미주',
  '월': '1',
  '일': '21~31',
  '전용면적': '63.44',
  '지번': '423-1',
  '지역코드': '11170',
  '층': '6'},
 {'거래금액': '78,500',
  '건축년도': '2004',
  '년': '2006',
  '법정동': '후암동',
  '아파트': '브라운스톤남산',
  '월': '1',
  '일': '21~31',
  '전용면적': '166.56',
  '지번': '458',
  '지역코드': '11170',
  '층': '5'},
 {'거래금액': '52,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '산천동',
  '아파트': '리버힐삼성',
  '월': '1',
  '일': '1~10',
  '전용면적': '114.48',
  '지번': '193',
  '지역코드': '11170',
  '층': '15'},
 {'거래금액': '51,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '산천동',
  '아파트': '리버힐삼성',
  '월': '1',
  '일': '1~10',
  '전용면적': '114.48',
  '지번': '193',
  '지역코드': '11170',
  '층': '10'},
 {'거래금액': '32,000',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '산천동',
  '아파트': '리버힐삼성',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.98',
  '지번': '193',
  '지역코드': '11170',
  '층': '2'},
 {'거래금액': '40,000',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '산천동',
  '아파트': '리버힐삼성',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.98',
  '지번': '193',
  '지역코드': '11170',
  '층': '9'},
 {'거래금액': '18,000',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '산천동',
  '아파트': '한강타운',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.69',
  '지번': '204',
  '지역코드': '11170',
  '층': '5'},
 {'거래금액': '22,400',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '산천동',
  '아파트': '리버힐삼성',
  '월': '1',
  '일': '21~31',
  '전용면적': '59.55',
  '지번': '193',
  '지역코드': '11170',
  '층': '12'},
 {'거래금액': '9,600',
  '건축년도': '1971',
  '년': '2006',
  '법정동': '원효로3가',
  '아파트': '금성',
  '월': '1',
  '일': '1~10',
  '전용면적': '30.84',
  '지번': '124-1',
  '지역코드': '11170',
  '층': '4'},
 {'거래금액': '43,500',
  '건축년도': '1977',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '산호',
  '월': '1',
  '일': '1~10',
  '전용면적': '78.06',
  '지번': '118-16',
  '지역코드': '11170',
  '층': '8'},
 {'거래금액': '27,500',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '강변삼성스위트',
  '월': '1',
  '일': '1~10',
  '전용면적': '59.94',
  '지번': '178',
  '지역코드': '11170',
  '층': '10'},
 {'거래금액': '62,500',
  '건축년도': '1977',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '산호',
  '월': '1',
  '일': '1~10',
  '전용면적': '113.77',
  '지번': '118-16',
  '지역코드': '11170',
  '층': '9'},
 {'거래금액': '29,850',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '강변삼성스위트',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '178',
  '지역코드': '11170',
  '층': '16'},
 {'거래금액': '47,000',
  '건축년도': '1977',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '산호',
  '월': '1',
  '일': '11~20',
  '전용면적': '86.12',
  '지번': '118-16',
  '지역코드': '11170',
  '층': '4'},
 {'거래금액': '28,600',
  '건축년도': '1971',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '풍전',
  '월': '1',
  '일': '11~20',
  '전용면적': '82.71',
  '지번': '109-4',
  '지역코드': '11170',
  '층': '2'},
 {'거래금액': '28,500',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '강변삼성스위트',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '178',
  '지역코드': '11170',
  '층': '18'},
 {'거래금액': '34,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '강변삼성스위트',
  '월': '1',
  '일': '11~20',
  '전용면적': '72.84',
  '지번': '178',
  '지역코드': '11170',
  '층': '17'},
 {'거래금액': '44,000',
  '건축년도': '1999',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '강변삼성스위트',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.9',
  '지번': '178',
  '지역코드': '11170',
  '층': '9'},
 {'거래금액': '27,500',
  '건축년도': '1971',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '풍전',
  '월': '1',
  '일': '11~20',
  '전용면적': '75.56',
  '지번': '109-4',
  '지역코드': '11170',
  '층': '1'},
 {'거래금액': '29,250',
  '건축년도': '1971',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '풍전',
  '월': '1',
  '일': '21~31',
  '전용면적': '81.72',
  '지번': '109-4',
  '지역코드': '11170',
  '층': '1'},
 {'거래금액': '21,000',
  '건축년도': '1971',
  '년': '2006',
  '법정동': '원효로4가',
  '아파트': '풍전',
  '월': '1',
  '일': '21~31',
  '전용면적': '67.04',
  '지번': '109-4',
  '지역코드': '11170',
  '층': '3'},
 {'거래금액': '35,000',
  '건축년도': '1987',
  '년': '2006',
  '법정동': '효창동',
  '아파트': '효창한신',
  '월': '1',
  '일': '11~20',
  '전용면적': '112.41',
  '지번': '5-145',
  '지역코드': '11170',
  '층': '1'},
 {'거래금액': '23,000',
  '건축년도': '1987',
  '년': '2006',
  '법정동': '효창동',
  '아파트': '효창한신',
  '월': '1',
  '일': '21~31',
  '전용면적': '60.4',
  '지번': '5-145',
  '지역코드': '11170',
  '층': '2'},
 {'거래금액': '24,000',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '효창동',
  '아파트': '아이딜',
  '월': '1',
  '일': '21~31',
  '전용면적': '79.06',
  '지번': '130-2',
  '지역코드': '11170',
  '층': '7'},
 {'거래금액': '28,000',
  '건축년도': '2002',
  '년': '2006',
  '법정동': '효창동',
  '아파트': '효창베네스',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.64',
  '지번': '272',
  '지역코드': '11170',
  '층': '9'},
 {'거래금액': '45,250',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '1~10',
  '전용면적': '84.69',
  '지번': '23',
  '지역코드': '11170',
  '층': '18'},
 {'거래금액': '40,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '1~10',
  '전용면적': '84.69',
  '지번': '23',
  '지역코드': '11170',
  '층': '12'},
 {'거래금액': '44,000',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '1~10',
  '전용면적': '84.69',
  '지번': '23',
  '지역코드': '11170',
  '층': '17'},
 {'거래금액': '59,300',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '1~10',
  '전용면적': '114.99',
  '지번': '23',
  '지역코드': '11170',
  '층': '22'},
 {'거래금액': '36,150',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.69',
  '지번': '23',
  '지역코드': '11170',
  '층': '6'},
 {'거래금액': '39,700',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.69',
  '지번': '23',
  '지역코드': '11170',
  '층': '16'},
 {'거래금액': '62,000',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '114.99',
  '지번': '23',
  '지역코드': '11170',
  '층': '18'},
 {'거래금액': '27,950',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '23',
  '지역코드': '11170',
  '층': '19'},
 {'거래금액': '27,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '23',
  '지역코드': '11170',
  '층': '21'},
 {'거래금액': '34,000',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.92',
  '지번': '23',
  '지역코드': '11170',
  '층': '1'},
 {'거래금액': '27,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '23',
  '지역코드': '11170',
  '층': '20'},
 {'거래금액': '25,750',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '23',
  '지역코드': '11170',
  '층': '4'},
 {'거래금액': '40,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.92',
  '지번': '23',
  '지역코드': '11170',
  '층': '16'},
 {'거래금액': '26,300',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '23',
  '지역코드': '11170',
  '층': '7'},
 {'거래금액': '27,200',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '59.94',
  '지번': '23',
  '지역코드': '11170',
  '층': '19'},
 {'거래금액': '38,750',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '11~20',
  '전용면적': '84.69',
  '지번': '23',
  '지역코드': '11170',
  '층': '17'},
 {'거래금액': '27,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '21~31',
  '전용면적': '59.94',
  '지번': '23',
  '지역코드': '11170',
  '층': '18'},
 {'거래금액': '27,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '21~31',
  '전용면적': '59.94',
  '지번': '23',
  '지역코드': '11170',
  '층': '18'},
 {'거래금액': '59,300',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '21~31',
  '전용면적': '114.99',
  '지번': '23',
  '지역코드': '11170',
  '층': '15'},
 {'거래금액': '39,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.92',
  '지번': '23',
  '지역코드': '11170',
  '층': '10'},
 {'거래금액': '27,500',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '21~31',
  '전용면적': '59.94',
  '지번': '23',
  '지역코드': '11170',
  '층': '17'},
 {'거래금액': '37,800',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.69',
  '지번': '23',
  '지역코드': '11170',
  '층': '13'},
 {'거래금액': '52,000',
  '건축년도': '2001',
  '년': '2006',
  '법정동': '도원동',
  '아파트': '삼성래미안',
  '월': '1',
  '일': '21~31',
  '전용면적': '114.99',
  '지번': '23',
  '지역코드': '11170',
  '층': '6'},
 {'거래금액': '22,000',
  '건축년도': '2005',
  '년': '2006',
  '법정동': '문배동',
  '아파트': '이안용산1차(103동)',
  '월': '1',
  '일': '1~10',
  '전용면적': '56.83',
  '지번': '11-29',
  '지역코드': '11170',
  '층': '3'},
 {'거래금액': '27,000',
  '건축년도': '2004',
  '년': '2006',
  '법정동': '문배동',
  '아파트': '삼라마이다스빌2',
  '월': '1',
  '일': '21~31',
  '전용면적': '84.44',
  '지번': '40-19',
  '지역코드': '11170',
  '층': '3'},
 {'거래금액': '95,000',
  '건축년도': '1998',

In [137]:
price = pd.DataFrame(price)

In [201]:
with open('/Users/tax_k/Projects/AI-DL/KB/Dataset/Information/deal_whole_data2.txt', 'rb') as f:
    addition = pickle.load(f)

In [202]:
addition[909: 942]

['거래금액',
 '건축년도',
 '년',
 '법정동',
 '아파트',
 '월',
 '일',
 '전용면적',
 '지번',
 '지역코드',
 '층',
 '거래금액',
 '건축년도',
 '년',
 '법정동',
 '아파트',
 '월',
 '일',
 '전용면적',
 '지번',
 '지역코드',
 '층',
 '거래금액',
 '건축년도',
 '년',
 '법정동',
 '아파트',
 '월',
 '일',
 '전용면적',
 '지번',
 '지역코드',
 '층']

In [203]:
del addition[909: 942]

In [151]:
addi = pd.DataFrame(addition[0], index=[0])

In [152]:
addi

      거래금액  건축년도     년  법정동              아파트   월      일    전용면적   지번   지역코드  층
0  140,000  2008  2018  사직동  광화문풍림스페이스본(9-1)  11  21~30  153.42  9-1  11110  7

In [155]:
cols = addi.columns.values

In [156]:
df_ = pd.DataFrame(columns=cols)

In [210]:
df_.iloc[2782]

거래금액    78,000
건축년도    2009
년       2018
법정동     북가좌동
아파트     DMC아이파크
월       12
일       1~10
전용면적    84.92
지번      458
지역코드    11410
층       11
Name: 936, dtype: object

In [219]:
del addition[937: 948]

In [230]:
del addition[946: 968]

In [231]:
for i in range(0, len(addition)):
    tmp = pd.DataFrame(addition[i], index=[i])
    df_ = pd.concat([df_, tmp])

In [233]:
df_ = df_.drop_duplicates()

In [234]:
df_

        거래금액  건축년도     년     법정동              아파트   월      일      전용면적       지번   지역코드   층
0    140,000  2008  2018  사직동     광화문풍림스페이스본(9-1)  11  21~30  153.42    9-1      11110  7
1    68,000   2006  2018  인의동     효성쥬얼리시티          11  1~10   84.64     48-2     11110  13
2    35,000   2017  2018  효제동     포레스트힐시티          11  21~30  35.8451   65-2     11110  13
3    47,800   1999  2018  명륜2가    아남3              11  1~10   44.37     237      11110  8
4    41,000   1993  2018  창신동     창신쌍용2            11  11~20  54.7      703      11110  11
5    8,450    1971  2018  행촌동     대성맨션             11  1~10   19.27     41-1     11110  1
6    79,000   2003  2018  평창동     크래스빌             11  11~20  187.9     46-1     11110  3
7    104,519  2009  2018  평창동     엘리시아             11  11~20  213.07    66-1     11110  4
9    170,000  2010  2018  남대문로5가  남산트라팰리스          11  11~20  142.23    827      11140  31
10   72,500   1999  2018  신당동     삼성               11  1~10   84.96     843      11140  2
11   16,000   2014  2018  신당동     신당아르브            11  1~10   18.08     160-5    11140  5
12   64,700   2002  2018  신당동     남산타운             11  1~10   59.94     844      11140  1
13   94,500   2011  2018  신당동     래미안하이베르          11  21~30  117       851      11140  15
14   17,400   2014  2018  흥인동     동대문 와이즈 캐슬       11  1~10   15.55     119      11140  14
15   92,000   2014  2018  흥인동     청계천 두산위브더제니스     11  1~10   116.6232  13-1     11140  7
16   115,000  2014  2018  흥인동     청계천 두산위브더제니스     11  11~20  124.2102  13-1     11140  22
17   112,000  2014  2018  흥인동     청계천 두산위브더제니스     11  11~20  124.3673  13-1     11140  17
18   79,000   2008  2018  황학동     롯데캐슬             11  1~10   84.89     2545     11140  25
19   86,500   2010  2018  황학동     황학아크로타워          11  1~10   130.939   2523     11140  12
20   17,000   1971  2018  중림동     성요셉              11  1~10   41.32     149      11140  3
21   77,750   2002  2018  후암동     화인               11  1~10   137.37    244-99   11170  2
22   166,000  2013  2018  동자동     센트레빌아스테리움서울      11  11~20  145.2     45       11170  27
23   16,500   1971  2018  도원동     제일1              11  1~10   45.29     3-4      11170  2
24   32,000   2018  2018  문배동     G&P용산파크          11  1~10   28.92     11-34    11170  12
25   32,000   2018  2018  문배동     G&P용산파크          11  1~10   28.92     11-34    11170  11
26   32,000   2018  2018  문배동     G&P용산파크          11  1~10   28.61     11-34    11170  12
27   32,000   2018  2018  문배동     G&P용산파크          11  1~10   28.28     11-34    11170  11
28   33,000   2018  2018  문배동     G&P용산파크          11  1~10   27.04     11-34    11170  13
29   32,500   2018  2018  문배동     G&P용산파크          11  1~10   28.28     11-34    11170  13
30   32,000   2018  2018  문배동     G&P용산파크          11  1~10   28.61     11-34    11170  10
..      ...    ...   ...  ...         ...          ..   ...     ...       ...      ...  ..
932  68,000   2009  2018  불광동     북한산힐스테이트1차아파트    12  1~10   84.734    635      11380  10
933  30,000   1993  2018  신사동     신사씨티             12  1~10   58.09     297      11380  6
934  153,000  2010  2018  진관동     제각말(푸르지오8단지)     12  1~10   134.19    154      11380  11
935  28,000   1987  2018  홍은동     유원               12  1~10   54.54     22       11410  13
936  78,000   2009  2018  북가좌동    DMC아이파크          12  1~10   84.92     458      11410  11
937  131,000  1987  2018  신정동     목동신시가지10         12  1~10   105.58    311      11470  8
938  33,800   2004  2018  목동      행복자              12  1~10   79.07     627-2    11470  2
939  99,000   2016  2018  마곡동     마곡엠밸리8단지         12  1~10   84.64     741      11500  2
940  50,000   1999  2018  방화동     한숲마을대림           12  1~10   84.83     862      11500  13
941  59,900   1994  2018  구로동     신도림현대            12  1~10   80.01     560      11530  8
942  50,000   2004  2018  구로동     삼성래미안            12  1~10   78.665    256-1    11530  21
943  44,000   1991  2018  독산동     한신               12  1~10   89.46     1093-4   11545  10
944  65,000   2014  2018  시흥동     남서울힐스테이트         12  1~10   84.786    1026     11545  24
945  46,500   2002  2018  시흥동     우방               12  1~10   114.89    1011     11545  3
946  89,000   2000  2018  서초동     서초4현대            12  1~10   64.26     1684     11650  11
947  21,800   2013  2018  서초동     서초동도시형생활주택       12  1~10   20.68     1451-89  11650  4
948  49,000   2017  2018  역삼동     (723-16)         12  1~10   31.42     723-16   11680  6
949  56,000   2003  2018  역삼동     노블스위트            12  1~10   78.94     747      11680  3
950  190,000  2008  2018  삼성동     삼성동힐스테이트 1단지     12  1~10   84.349    16-2     11680  11
951  208,000  2008  2018  대치동     대치아이파크           12  1~10   84.95     888      11680  17
952  190,000  2014  2018  논현동     아크로힐스논현          12  1~10   113.087   276-1    11680  9
953  89,000   2002  2018  논현동     우민               12  1~10   79.227    107-44   11680  6
954  62,500   1997  2018  문정동     문정동아             12  1~10   84.87     15       11710  8
955  105,000  1984  2018  문정동     현대1              12  1~10   123.61    3        11710  7
956  48,250   2001  2018  오금동     우방               12  1~10   59.92     138      11710  7
957  46,500   2018  2018  마천동     송파건원여미지아파트       12  1~10   51.764    21       11710  2
959  37,000   2018  2018  마천동     송파건원여미지아파트       12  1~10   51.764    21       11710  3
960  11,300   2013  2018  길동      강동큐브(2차)         12  1~10   15.12     415-13   11740  9
961  21,000   2016  2018  길동      율전에버그린아파트        12  1~10   27.35     394-17   11740  8
962  110,000  2008  2018  암사동     롯데캐슬퍼스트          12  1~10   133.97    414-2    11740  5

[958 rows x 11 columns]

In [149]:
bbb = addition

In [199]:
del bbb[909: 942]

In [195]:
lt = [1, 2, 3, 4]

In [196]:
lt[1:2]

[2]

In [197]:
del lt[1:2]

In [198]:
lt

[1, 3, 4]

In [173]:
bbb = pd.DataFrame(bbb, index=[0])

AttributeError: 'str' object has no attribute 'keys'

In [159]:
df_

        거래금액  건축년도     년     법정동              아파트   월      일      전용면적      지번   지역코드   층
0    140,000  2008  2018  사직동     광화문풍림스페이스본(9-1)  11  21~30  153.42    9-1     11110  7
1    68,000   2006  2018  인의동     효성쥬얼리시티          11  1~10   84.64     48-2    11110  13
2    35,000   2017  2018  효제동     포레스트힐시티          11  21~30  35.8451   65-2    11110  13
3    47,800   1999  2018  명륜2가    아남3              11  1~10   44.37     237     11110  8
4    41,000   1993  2018  창신동     창신쌍용2            11  11~20  54.7      703     11110  11
5    8,450    1971  2018  행촌동     대성맨션             11  1~10   19.27     41-1    11110  1
6    79,000   2003  2018  평창동     크래스빌             11  11~20  187.9     46-1    11110  3
7    104,519  2009  2018  평창동     엘리시아             11  11~20  213.07    66-1    11110  4
8    104,519  2009  2018  평창동     엘리시아             11  11~20  213.07    66-1    11110  4
9    170,000  2010  2018  남대문로5가  남산트라팰리스          11  11~20  142.23    827     11140  31
10   72,500   1999  2018  신당동     삼성               11  1~10   84.96     843     11140  2
11   16,000   2014  2018  신당동     신당아르브            11  1~10   18.08     160-5   11140  5
12   64,700   2002  2018  신당동     남산타운             11  1~10   59.94     844     11140  1
13   94,500   2011  2018  신당동     래미안하이베르          11  21~30  117       851     11140  15
14   17,400   2014  2018  흥인동     동대문 와이즈 캐슬       11  1~10   15.55     119     11140  14
15   92,000   2014  2018  흥인동     청계천 두산위브더제니스     11  1~10   116.6232  13-1    11140  7
16   115,000  2014  2018  흥인동     청계천 두산위브더제니스     11  11~20  124.2102  13-1    11140  22
17   112,000  2014  2018  흥인동     청계천 두산위브더제니스     11  11~20  124.3673  13-1    11140  17
18   79,000   2008  2018  황학동     롯데캐슬             11  1~10   84.89     2545    11140  25
19   86,500   2010  2018  황학동     황학아크로타워          11  1~10   130.939   2523    11140  12
20   17,000   1971  2018  중림동     성요셉              11  1~10   41.32     149     11140  3
21   77,750   2002  2018  후암동     화인               11  1~10   137.37    244-99  11170  2
22   166,000  2013  2018  동자동     센트레빌아스테리움서울      11  11~20  145.2     45      11170  27
23   16,500   1971  2018  도원동     제일1              11  1~10   45.29     3-4     11170  2
24   32,000   2018  2018  문배동     G&P용산파크          11  1~10   28.92     11-34   11170  12
25   32,000   2018  2018  문배동     G&P용산파크          11  1~10   28.92     11-34   11170  11
26   32,000   2018  2018  문배동     G&P용산파크          11  1~10   28.61     11-34   11170  12
27   32,000   2018  2018  문배동     G&P용산파크          11  1~10   28.28     11-34   11170  11
28   33,000   2018  2018  문배동     G&P용산파크          11  1~10   27.04     11-34   11170  13
29   32,500   2018  2018  문배동     G&P용산파크          11  1~10   28.28     11-34   11170  13
..      ...    ...   ...  ...         ...          ..   ...     ...       ...     ...  ..
879  43,357   1983  2018  길동      신동아              11  1~10   86.07     160     11740  9
880  11,800   2013  2018  길동      강동큐브(2차)         11  1~10   15.12     415-13  11740  6
881  30,600   1983  2018  길동      신동아              11  1~10   72.44     160     11740  12
882  34,000   2004  2018  길동      메트로아파텔           11  1~10   73.41     388-5   11740  10
883  12,000   2013  2018  길동      강동큐브(2차)         11  1~10   15.12     415-13  11740  12
884  49,800   2004  2018  길동      하나플러스            11  11~20  84.84     401-1   11740  6
885  56,200   1983  2018  길동      신동아              11  11~20  61.12     160     11740  1
886  11,500   2014  2018  길동      청광플러스원큐브3차       11  21~30  13.265    415-16  11740  8
887  12,500   2013  2018  길동      강동큐브             11  21~30  12.49     456-3   11740  17
888  69,000   1996  2018  둔촌동     주풍그린빌라트          11  1~10   186.76    622-12  11740  7
889  53,800   2005  2018  둔촌동     세양청마루            11  1~10   79.59     426     11740  15
890  64,800   1998  2018  둔촌동     신성둔촌미소지움1        11  1~10   59.78     546     11740  8
891  67,350   1998  2018  둔촌동     신성둔촌미소지움1        11  1~10   59.78     546     11740  17
892  59,000   1997  2018  둔촌동     초원동아             11  1~10   59.63     621     11740  8
893  149,500  1980  2018  둔촌동     둔촌주공1단지          11  11~20  88.26     170-1   11740  5
894  65,500   2000  2018  암사동     선사현대아파트          11  1~10   59.64     509     11740  7
895  100,000  2007  2018  암사동     프라이어팰리스          11  1~10   114.272   413     11740  4
896  93,800   2007  2018  암사동     프라이어팰리스          11  11~20  84.975    413     11740  21
897  53,500   1987  2018  성내동     현대               11  1~10   54.06     30-2    11740  1
898  62,000   1999  2018  성내동     성내동삼성아파트         11  1~10   59.88     590     11740  15
899  28,300   2004  2018  성내동     에스케이허브진          11  1~10   33.71     194     11740  4
900  57,000   2006  2018  성내동     동남드림빌            11  1~10   80.93     13-15   11740  8
901  33,800   2001  2018  성내동     탑건위너빌            11  11~20  63.54     463-1   11740  2
902  43,800   2004  2018  성내동     신성               11  21~30  80.51     423-15  11740  6
903  41,800   1999  2018  천호동     천호롯데             11  1~10   59.99     55-4    11740  4
904  89,900   2009  2018  천호동     강변그대가갤럭시         11  1~10   84.96     570     11740  13
905  16,800   2004  2018  천호동     두산위브센티움          11  1~10   31.37     414     11740  5
906  104,000  2015  2018  천호동     강동역 신동아 파밀리에     11  1~10   107.34    447-17  11740  2
907  90,000   2007  2018  천호동     강변그대가 리버뷰        11  21~30  84.97     568     11740  11
908  65,000   2011  2018  강일동     고덕리엔파크1단지        11  11~20  59.83     707     11740  10

[909 rows x 11 columns]

In [86]:
price[price['아파트'] == '삼익대청아파트']

            거래금액  건축년도     년  법정동      아파트  월      일   전용면적  지번   지역코드   층
4271      24,800  1992  2006  개포동  삼익대청아파트  1   1~10  39.53  12  11680   5
4295      33,700  1992  2006  개포동  삼익대청아파트  1  11~20  51.12  12  11680   8
4315      44,000  1992  2006  개포동  삼익대청아파트  1  11~20     60  12  11680  14
4321      23,720  1992  2006  개포동  삼익대청아파트  1  11~20  39.53  12  11680  15
4323      44,000  1992  2006  개포동  삼익대청아파트  1  11~20     60  12  11680   7
4357      45,250  1992  2006  개포동  삼익대청아파트  1  11~20     60  12  11680   9
4380      22,300  1992  2006  개포동  삼익대청아파트  1  21~31  39.53  12  11680  15
12246     25,700  1992  2006  개포동  삼익대청아파트  2   1~10  39.53  12  11680  10
12269     44,000  1992  2006  개포동  삼익대청아파트  2  11~20     60  12  11680   5
12270     41,000  1992  2006  개포동  삼익대청아파트  2  11~20     60  12  11680   1
12272     46,000  1992  2006  개포동  삼익대청아파트  2  11~20     60  12  11680  12
12280     24,250  1992  2006  개포동  삼익대청아파트  2  11~20  39.53  12  11680   3
12285     24,250  1992  2006  개포동  삼익대청아파트  2  11~20  39.53  12  11680  15
12331     35,000  1992  2006  개포동  삼익대청아파트  2  21~28  51.12  12  11680  10
12335     24,900  1992  2006  개포동  삼익대청아파트  2  21~28  39.53  12  11680  12
23292     24,500  1992  2006  개포동  삼익대청아파트  3   1~10  39.53  12  11680  10
23315     36,200  1992  2006  개포동  삼익대청아파트  3   1~10  51.12  12  11680   7
23333     45,000  1992  2006  개포동  삼익대청아파트  3   1~10     60  12  11680   7
23334     32,750  1992  2006  개포동  삼익대청아파트  3   1~10  51.12  12  11680  15
23368     35,500  1992  2006  개포동  삼익대청아파트  3  11~20  51.12  12  11680   9
23381     33,500  1992  2006  개포동  삼익대청아파트  3  11~20  51.12  12  11680  15
23397     35,400  1992  2006  개포동  삼익대청아파트  3  11~20  51.12  12  11680  10
23405     25,000  1992  2006  개포동  삼익대청아파트  3  11~20  39.53  12  11680  12
23407     26,000  1992  2006  개포동  삼익대청아파트  3  11~20  39.53  12  11680  10
23419     24,900  1992  2006  개포동  삼익대청아파트  3  11~20  39.53  12  11680  14
23454     25,000  1992  2006  개포동  삼익대청아파트  3  11~20  39.53  12  11680   7
23467     35,000  1992  2006  개포동  삼익대청아파트  3  21~31  51.12  12  11680  11
23468     33,000  1992  2006  개포동  삼익대청아파트  3  21~31  51.12  12  11680  15
23469     27,000  1992  2006  개포동  삼익대청아파트  3  21~31  39.53  12  11680   5
23503     35,150  1992  2006  개포동  삼익대청아파트  3  21~31  51.12  12  11680   4
...          ...   ...   ...  ...      ... ..    ...    ...  ..    ...  ..
950515    83,000  1992  2018  개포동  삼익대청아파트  1  21~31  39.53  12  11680  10
950525    98,000  1992  2018  개포동  삼익대청아파트  1  21~31  51.12  12  11680  12
960820   110,000  1992  2018  개포동  삼익대청아파트  2   1~10     60  12  11680  12
960832   111,000  1992  2018  개포동  삼익대청아파트  2   1~10     60  12  11680  11
960838   100,000  1992  2018  개포동  삼익대청아파트  2   1~10  51.12  12  11680   8
960843    89,000  1992  2018  개포동  삼익대청아파트  2  11~20  39.53  12  11680  12
970413    99,000  1992  2018  개포동  삼익대청아파트  3   1~10  51.12  12  11680  10
970423    98,500  1992  2018  개포동  삼익대청아파트  3   1~10  51.12  12  11680   3
970424    99,000  1992  2018  개포동  삼익대청아파트  3   1~10  51.12  12  11680  12
970429    87,500  1992  2018  개포동  삼익대청아파트  3  11~20  39.53  12  11680   9
970438    87,800  1992  2018  개포동  삼익대청아파트  3  11~20  39.53  12  11680   9
970456    90,000  1992  2018  개포동  삼익대청아파트  3  21~31  39.53  12  11680   5
980173   101,500  1992  2018  개포동  삼익대청아파트  5  21~31  51.12  12  11680  13
985350    92,900  1992  2018  개포동  삼익대청아파트  6  11~20  51.12  12  11680   2
991969    84,000  1992  2018  개포동  삼익대청아파트  7   1~10  39.53  12  11680   6
991975    86,000  1992  2018  개포동  삼익대청아파트  7   1~10  39.53  12  11680  12
991976   100,000  1992  2018  개포동  삼익대청아파트  7  11~20  51.12  12  11680   6
991993   108,000  1992  2018  개포동  삼익대청아파트  7  11~20     60  12  11680   5
992004    89,900  1992  2018  개포동  삼익대청아파트  7  21~31  39.53  12  11680  13
1005402   90,000  1992  2018  개포동  삼익대청아파트  8   1~10  39.53  12  11680   8
1005419   98,000  1992  2018  개포동  삼익대청아파트  8   1~10  51.12  12  11680   1
1005439  127,000  1992  2018  개포동  삼익대청아파트  8  11~20     60  12  11680   4
1005451   88,000  1992  2018  개포동  삼익대청아파트  8  11~20  39.53  12  11680   6
1005458  140,000  1992  2018  개포동  삼익대청아파트  8  11~20     60  12  11680  10
1005462  112,000  1992  2018  개포동  삼익대청아파트  8  21~31  51.12  12  11680   4
1005477   94,000  1992  2018  개포동  삼익대청아파트  8  21~31  39.53  12  11680   1
1005478  100,000  1992  2018  개포동  삼익대청아파트  8  21~31  39.53  12  11680  15
1012095  140,000  1992  2018  개포동  삼익대청아파트  9   1~10     60  12  11680   8
1012096  112,500  1992  2018  개포동  삼익대청아파트  9   1~10  39.53  12  11680  10
1012101  111,000  1992  2018  개포동  삼익대청아파트  9  11~20  39.53  12  11680   4

[700 rows x 11 columns]

In [235]:
price = pd.concat([price, df_])

In [236]:
price.columns = ['deal_price', 'build_y', 'deal_y', 'address_by_law', 'apt_name', 'deal_m', 'deal_d', 'supl_area', 'jibun','loc_code', 'floor']

In [237]:
price

    deal_price build_y deal_y address_by_law       apt_name deal_m deal_d supl_area    jibun loc_code floor
0    29,500     1983    2006   당주동            세종             1      11~20  93.4      100      11110    6
1    15,741     1998    2006   익선동            운현신화타워         1      1~10   57.18     30-6     11110    12
2    23,198     1998    2006   익선동            운현신화타워         1      1~10   84.26     30-6     11110    6
3    23,198     1998    2006   익선동            운현신화타워         1      11~20  84.26     30-6     11110    14
4    21,535     1998    2006   익선동            운현신화타워         1      11~20  78.23     30-6     11110    15
5    21,500     1999    2006   명륜2가           아남3            1      11~20  47.43     237      11110    6
6    20,000     1999    2006   명륜2가           아남3            1      11~20  44.37     237      11110    8
7    16,800     1992    2006   창신동            창신쌍용1          1      11~20  54.7      702      11110    8
8    16,500     1993    2006   창신동            창신쌍용2          1      11~20  64.66     703      11110    11
9    28,000     1993    2006   창신동            창신쌍용2          1      11~20  106.62    703      11110    7
10   19,200     1993    2006   창신동            창신쌍용2          1      21~31  79.87     703      11110    12
11   15,950     1992    2006   창신동            창신쌍용1          1      21~31  54.7      702      11110    9
12   10,500     1998    2006   숭인동            하림빌라트          1      1~10   47.63     473      11110    4
13   17,500     1996    2006   평창동            일성빌라트          1      21~31  59.82     145-5    11110    1
14   27,000     1996    2006   평창동            일성빌라트          1      21~31  84.99     145-5    11110    1
15   33,500     1996    2006   평창동            일성빌라트          1      21~31  84.99     145-5    11110    4
16   16,500     1998    2006   신영동            대아파크빌          1      11~20  59.22     254      11110    13
17   16,000     1998    2006   신영동            대아파크빌          1      11~20  59.22     254      11110    9
18   42,500     2000    2006   무악동            현대             1      1~10   84.92     82       11110    20
19   41,500     2000    2006   무악동            현대             1      11~20  84.92     82       11110    9
20   26,700     2000    2006   무악동            현대             1      11~20  60        82       11110    13
21   24,000     2000    2006   무악동            현대             1      21~31  60        82       11110    3
22   56,500     2000    2006   무악동            현대             1      21~31  114.9     82       11110    9
23   52,000     2000    2006   무악동            현대             1      21~31  114.9     82       11110    10
24   9,000      1968    2006   인현동2가          신성상가           1      21~31  42.31     192-30   11140    7
25   15,000     1999    2006   예장동            삼익             1      11~20  59.58     9        11140    4
26   22,000     2002    2006   신당동            남산타운           1      1~10   59.94     844      11140    1
27   52,000     2002    2006   신당동            남산타운           1      1~10   84.88     844      11140    15
28   60,015     2005    2006   신당동            남산정은스카이        1      1~10   143.049   366-126  11140    2
29   62,500     2005    2006   신당동            신당푸르지오         1      1~10   145.1     850      11140    2
..      ...      ...     ...   ...               ...        ..       ...     ...     ...        ...   ..
932  68,000     2009    2018   불광동            북한산힐스테이트1차아파트  12     1~10   84.734    635      11380    10
933  30,000     1993    2018   신사동            신사씨티           12     1~10   58.09     297      11380    6
934  153,000    2010    2018   진관동            제각말(푸르지오8단지)   12     1~10   134.19    154      11380    11
935  28,000     1987    2018   홍은동            유원             12     1~10   54.54     22       11410    13
936  78,000     2009    2018   북가좌동           DMC아이파크        12     1~10   84.92     458      11410    11
937  131,000    1987    2018   신정동            목동신시가지10       12     1~10   105.58    311      11470    8
938  33,800     2004    2018   목동             행복자            12     1~10   79.07     627-2    11470    2
939  99,000     2016    2018   마곡동            마곡엠밸리8단지       12     1~10   84.64     741      11500    2
940  50,000     1999    2018   방화동            한숲마을대림         12     1~10   84.83     862      11500    13
941  59,900     1994    2018   구로동            신도림현대          12     1~10   80.01     560      11530    8
942  50,000     2004    2018   구로동            삼성래미안          12     1~10   78.665    256-1    11530    21
943  44,000     1991    2018   독산동            한신             12     1~10   89.46     1093-4   11545    10
944  65,000     2014    2018   시흥동            남서울힐스테이트       12     1~10   84.786    1026     11545    24
945  46,500     2002    2018   시흥동            우방             12     1~10   114.89    1011     11545    3
946  89,000     2000    2018   서초동            서초4현대          12     1~10   64.26     1684     11650    11
947  21,800     2013    2018   서초동            서초동도시형생활주택     12     1~10   20.68     1451-89  11650    4
948  49,000     2017    2018   역삼동            (723-16)       12     1~10   31.42     723-16   11680    6
949  56,000     2003    2018   역삼동            노블스위트          12     1~10   78.94     747      11680    3
950  190,000    2008    2018   삼성동            삼성동힐스테이트 1단지   12     1~10   84.349    16-2     11680    11
951  208,000    2008    2018   대치동            대치아이파크         12     1~10   84.95     888      11680    17
952  190,000    2014    2018   논현동            아크로힐스논현        12     1~10   113.087   276-1    11680    9
953  89,000     2002    2018   논현동            우민             12     1~10   79.227    107-44   11680    6
954  62,500     1997    2018   문정동            문정동아           12     1~10   84.87     15       11710    8
955  105,000    1984    2018   문정동            현대1            12     1~10   123.61    3        11710    7
956  48,250     2001    2018   오금동            우방             12     1~10   59.92     138      11710    7
957  46,500     2018    2018   마천동            송파건원여미지아파트     12     1~10   51.764    21       11710    2
959  37,000     2018    2018   마천동            송파건원여미지아파트     12     1~10   51.764    21       11710    3
960  11,300     2013    2018   길동             강동큐브(2차)       12     1~10   15.12     415-13   11740    9
961  21,000     2016    2018   길동             율전에버그린아파트      12     1~10   27.35     394-17   11740    8
962  110,000    2008    2018   암사동            롯데캐슬퍼스트        12     1~10   133.97    414-2    11740    5

[1014408 rows x 11 columns]

In [107]:
bbb = price.head()

In [114]:
ccc = bbb.to_dict('index')

{'거래금액': '15,741',
 '건축년도': '1998',
 '년': '2006',
 '법정동': '익선동',
 '아파트': '운현신화타워',
 '월': '1',
 '일': '1~10',
 '전용면적': '57.18',
 '지번': '30-6',
 '지역코드': '11110',
 '층': '12'}

In [111]:
jsonstr = bbb.to_json(orient='index', force_ascii=False)

In [112]:
jsonstr

'{"0":{"거래금액":"29,500","건축년도":"1983","년":"2006","법정동":"당주동","아파트":"세종","월":"1","일":"11~20","전용면적":"93.4","지번":"100","지역코드":"11110","층":"6"},"1":{"거래금액":"15,741","건축년도":"1998","년":"2006","법정동":"익선동","아파트":"운현신화타워","월":"1","일":"1~10","전용면적":"57.18","지번":"30-6","지역코드":"11110","층":"12"},"2":{"거래금액":"23,198","건축년도":"1998","년":"2006","법정동":"익선동","아파트":"운현신화타워","월":"1","일":"1~10","전용면적":"84.26","지번":"30-6","지역코드":"11110","층":"6"},"3":{"거래금액":"23,198","건축년도":"1998","년":"2006","법정동":"익선동","아파트":"운현신화타워","월":"1","일":"11~20","전용면적":"84.26","지번":"30-6","지역코드":"11110","층":"14"},"4":{"거래금액":"21,535","건축년도":"1998","년":"2006","법정동":"익선동","아파트":"운현신화타워","월":"1","일":"11~20","전용면적":"78.23","지번":"30-6","지역코드":"11110","층":"15"}}'

In [104]:
with open('df.json', 'w', encoding='utf-8') as file:
    price.to_json(file, orient='index', force_ascii=False)

In [101]:
import json